<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-main-wrapper">
          <div class="row">
            <div class="col-lg-9">
              <div class="pages-content">
                <div class="content-dynamic">
                  <div class="title">
                    <h2 class="text-center">
                      {{
                        (sideMenu &&
                          sideMenu.active_child &&
                          sideMenu.active_child.title) ||
                        ""
                      }}
                    </h2>
                  </div>
                  <div class="devon">
                    <div
                      class="devon-type"
                      v-for="item in departments"
                      :key="item.id"
                    >
                      <h3 class="devon-type__title">
                        {{ (item && item.title) || "" }}
                      </h3>
                      <div
                        class="devon-item"
                        v-for="staff in item && item.staff"
                        :key="staff.id"
                      >
                        <div class="devon-item__image">
                          <img v-if="staff.img" :src="staff.img" alt="" />
                          <img v-else src="@/assets/images/avatar.png" alt="" />
                        </div>
                        <div class="devon-item__info">
                          <h4>
                            {{ (staff && staff.last_name) || "" }}
                            {{ (staff && staff.first_name) || "" }}
                            {{ (staff && staff.middle_name) || "" }}
                          </h4>
                          <h5>{{ (staff && staff.position) || "" }}</h5>
                          <a v-if="staff.phone" :href="'tel:' + staff.phone"
                            ><i class="fa fa-phone"></i> {{ staff.phone }}</a
                          >
                          <a v-if="staff.email" :href="'mailto:' + staff.email"
                            ><i class="fa fa-envelope"></i> {{ staff.email }}</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      departments: [],
      sideMenu: {},
    };
  },
  computed: {},
  async mounted() {
    this.loader = false;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "department"
    );
    this.departments = await this.$store.dispatch(
      "department/fetchDepartmentsList"
    );
    this.loader = true;
  },

  methods: {},
};
</script>

<style>
</style>
