<template>
  <section class="pages" v-if="loader">
    <div class="container">
      <div class="pages-wrapper news-view">
        <div class="row">
          <div class="col-xl-8">
            <div class="pages-content news-view-main">
              <div id="printMe">
                <h2>{{ (post && post.title) || "" }}</h2>
                <div class="news-view-header">
                  <ul>
                    <li>
                      <span>{{
                        (post && post.updated_at) || "" | dateTime
                      }}</span>
                      <span>{{
                        (post && post.updated_at) || "" | dateDay
                      }}</span>
                    </li>
                    <li>
                      <span
                        ><i class="icon-eye"></i>
                        {{ (post && post.views) || "" }}</span
                      >
                    </li>
                  </ul>
                  <!-- <nuxt-link
                    :to="
                      localePath({
                        path: `/news/category/${post &&
                          post.menu &&
                          post.menu.slug}`
                      })
                    "
                    >{{ post && post.menu && post.menu.title }}</nuxt-link
                  > -->
                </div>
                <!-- <client-only>
                  <swiper
                    v-if="items && items.length"
                    :options="swiperOptions"
                    :loadtheme="false"
                  >
                    <swiper-slide
                      v-for="(image, imageIndex) in items"
                      :key="imageIndex"
                    > -->



                <div
                  v-for="(item , indexImage) in photos"
                  :key="indexImage"
                  class="news-view-image"

                  :style="{
                    'background-image': 'url(' + item + ')',
                  }"
                  @click.prevent="index = indexImage"

                >
<!--                  <img :src="post && post.photo && $imageProxy(post.photo, 1000)" alt="not found" />-->
                  <img :src="item" alt="not found" />
                </div>
                <!-- </swiper-slide>
                    <div class="swiper-button-prev" slot="button-prev"></div>
                    <div class="swiper-button-next" slot="button-next"></div>
                    <div class="swiper-pagination" slot="pagination"></div>
                  </swiper>
                </client-only> -->
                <div class="news-view-content">
                  <div v-html="(post && post.content) || ''"></div>
                </div>
              </div>
              <div
                style="display:flex; justify-content: space-between; align-items: center;"
              >
                <div class="art-item-user mb">
                  <div class="art-item-user-image">
                    <img
                      :src="post && post.deputy && post.deputy.image"
                      alt=""
                    />
                  </div>
                  <h4>
                    <nuxt-link
                      :to="
                        localePath({
                          path: `/deputies/${post &&
                            post.deputy &&
                            post.deputy.slug}`
                        })
                      "
                      style="color:#000"
                    >
                      {{ post && post.deputy && post.deputy.last_name }}
                      {{ post && post.deputy && post.deputy.first_name }}
                      {{ post && post.deputy && post.deputy.middle_name }}
                    </nuxt-link>
                  </h4>
                </div>
                <a
                  class="art-download"
                  :href="post && post.file"
                  target="_blank"
                  download
                >
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.33301 17.3335V18.6668C1.33301 19.7277 1.75444 20.7451 2.50458 21.4953C3.25473 22.2454 4.27214 22.6668 5.33301 22.6668H18.6663C19.7272 22.6668 20.7446 22.2454 21.4948 21.4953C22.2449 20.7451 22.6663 19.7277 22.6663 18.6668V17.3335M17.333 12.0002L11.9997 17.3335M11.9997 17.3335L6.66634 12.0002M11.9997 17.3335V1.3335"
                      stroke="#007bff"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>

                  {{ $t("Download") }}</a
                >
              </div>
              <div
                class="tags"
                v-if="(post && post.tags && post.tags.length) || false"
              >
                <nuxt-link
                  v-for="item in (post && post.tags) || []"
                  :key="item.id"
                  :to="localePath('/tags/' + item.slug)"
                  class="tags-item"
                  >#{{ item && item.title }}</nuxt-link
                >
              </div>

              <!-- <AppComments :post="post" /> -->
              <div class="news-view__footer">
                <div class="news-view-share">
                  <span>{{ $t("share") }}:</span>

                  <UtilsArticleSocials :postProps="post || {}" />
                </div>
                <div class="news-view__print">
                  <span v-print="'printMe'" href="#">
                    <i class="fa fa-print"></i>
                    <span>{{ $t("print") }}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-12">
            <div class="art-right">
              <nuxt-link
                class="art-block"
                :to="
                  localePath({
                    path: '/articles/' + item.id
                  })
                "
                v-for="item in articles"
                :key="item.id"
              >
                <div class="art-block-image">
                  <img
                    :src="
                      item.photo ||
                        require(`~/assets/images/default/article_${$i18n.locale}.jpg`)
                    "
                  />
                </div>
                <div class="art-block-info">
                  <span>{{ (item && item.updated_at) || "" | dateDay }}</span>
                  <h3>{{ item.title }}</h3>
                  <div class="art-block-user">
                    <div class="art-block-user-image">
<!--                      <img :src="item.deputy && item.deputy.image && $imageProxy(item.deputy.image, 50)" alt="" />-->
                      <img :src="item.deputy && item.deputy.image" alt="" />
                    </div>
                    <h4>
                      {{
                        item.deputy &&
                          item.deputy.first_name +
                            " " +
                            item.deputy.last_name +
                            " " +
                            item.deputy.middle_name
                      }}
                    </h4>
                  </div>
                </div>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <CoolLightBox :items="photos" :index="index" @close="index = null">
    </CoolLightBox>
  </section>
</template>

<script>
import CoolLightBox from "vue-cool-lightbox";
import "vue-cool-lightbox/dist/vue-cool-lightbox.min.css";

export default {
  async asyncData({ route, store }) {
    let data = {
      swiperOptions: {
        slidesPerView: 1,
        spaceBetween: 0,
        speed: 1500,
        autoplay: { delay: 5000 },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        autoplay: {
          delay: 4000,
          disableOnInteraction: false
        },
        pagination: {
          el: ".swiper-pagination"
        }
        // loop: true,
      },
      post: {},
      metaProps: {
        TITLE: "",
        APP_BASE_IMG: {
          PATH: "",
          WIDTH: "600",
          HEIGHT: "400"
        },
        APP_BASE_URL: ""
      },
      items: []
    };

    try {
      // data.post = await store.dispatch(
      //   "posts/getPostDetail",
      //   route.params.slug
      // )
      // data.post = await axios({
      //   method: 'get',
      //   baseURL: 'https://oliymajlisapi.mdg.uz/api/v1',
      //   url: `/cms/post/${route.params.slug}`
      // });
      data.post = await store.dispatch(
        "articles/fetchArticlesHome",
        this.$route.params.id
      );
      if (data.post && data.post.images && data.post.images.length) {
        data.post.images.forEach(element => {
          data.items.push(element && element.file);
        });
      }
      data.metaProps.APP_BASE_URL =
        "https://oliymajlis.mdg.uz" + route.fullPath;
      data.metaProps.APP_BASE_IMG.PATH =
        data.post &&
        data.post.images &&
        data.post.images[0] &&
        data.post.images[0].file;
      data.metaProps.TITLE = data.post.title;
      data.metaProps.DESCRIPTION = data.post.title;

      return data;
    } catch (err) {
      console.log(err);
    }

    return data;
  },
  data() {
    return {
      photos: [],
      swiperOptions: {
        slidesPerView: 1,
        spaceBetween: 0,
        speed: 1500,
        autoplay: { delay: 5000 },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        autoplay: {
          delay: 4000,
          disableOnInteraction: false
        },
        pagination: {
          el: ".swiper-pagination"
        }
        // loop: true,
      },
      loader: true,
      post: {},
      shareData: [
        {
          network: "telegram",
          url: "https://oliymajlis.mdg.uz" + this.$route.path,
          title: "Parlament",
          description: "This is parlament web site",
          hashteg: "parlament,deputat",
          quote: "Parlament web site",
          image_url: require("@/assets/images/share/telegram.svg")
        },
        // {
        //   network: "instagram",
        //   url: "https://parliament1.mdg.uz" + this.$route.path,
        //   title: "Parlament",
        //   description: "This is parlament web site",
        //   hashteg: "parlament,deputat",
        //   quote: "Parlament web site",
        //   image_url: require("@/assets/images/share/instagram.svg")
        // },
        {
          network: "facebook",
          url: "https://oliymajlis.mdg.uz" + this.$route.path,
          title: "Parlament",
          description: "This is parlament web site",
          hashteg: "parlament,deputat",
          quote: "Parlament web site",
          image_url: require("@/assets/images/share/facebook.svg")
        },
        {
          network: "twitter",
          url: "https://oliymajlis.mdg.uz" + this.$route.path,
          title: "Parlament",
          description: "This is parlament web site",
          hashteg: "parlament,deputat",
          quote: "Parlament web site",
          image_url: require("@/assets/images/share/twitter.svg")
        }
      ],
      index: null,
      items: [],
      articles: [],
      metaProps: {
        TITLE: "",
        APP_BASE_IMG: {
          PATH: "",
          WIDTH: "600",
          HEIGHT: "400"
        },
        APP_BASE_URL: ""
      }
    };
  },
  components: {
    CoolLightBox
  },
  async mounted() {
    this.loader = false;
    this.articles = await this.$store.dispatch("articles/fethcArticles", {
      params: {
        limit: 7
      }
    });
    let index = this.articles.findIndex(el => {
      return el.id == this.$route.params.id;
    });
    this.articles.splice(index, 1);
   this.post = await this.$store.dispatch(
      "articles/fetchArticlesHome",
      this.$route.params.id
    );
   this.photos.push(this.post.photo)
    // this.metaProps.APP_BASE_URL = 'https://oliymajlis.mdg.uz' + this.$route.fullPath
    // this.metaProps.APP_BASE_IMG.PATH = (
    //   (this.post && this.post.images && this.post.images[0] && this.post.images[0].file)
    // )
    // this.metaProps.TITLE = this.post.title
    // this.metaProps.DESCRIPTION = this.post.title

    // if(this.post && this.post.images && this.post.images && this.post.images.length){
    //   this.post.images.forEach((element) => {
    //     this.items.push(element.file);
    //   });
    // }
    this.loader = true;

    // this.$nextTick(() => {
    //   this.$el.setAttribute("style", "height", `${this.$el.scrollHeight}px`);
    // });
  },

  methods: {
    defineImageArticle(article) {
      return (
        "https://oliymajlis.mdg.uz/" +
        (article &&
          article.images &&
          article.images[0] &&
          article.images[0].file)
      );
    }
  }
};
</script>

<style>
.art-item-user.small .art-item-user-image {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  flex: 0 0 50px;
}
.art-down {
  display: flex;
  align-items: center;
}
.art-download svg {
  margin-left: 5px;
  transform: translateY(-1px);
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none;
}
.art-item-user.mb {
  margin-bottom: 10px;
}
.art-item {
  min-height: 430px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.art-item-image {
  height: 205px;
}
.art-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.art-item-info {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}
.art-item-info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #959ab2;
  margin-bottom: 8px;
}
.art-item-info h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #323232;
}
.art-item-user {
  margin-top: auto;
  display: flex;
  align-items: center;
}
.art-item-user-image {
  flex: 0 0 80px;
  max-width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 8px;
}
.art-item-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.art-item-user h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0;
  color: #323232;
}
.art-block {
  display: flex;
  padding: 16px 0;
}
.art-block:not(:last-child) {
  border-bottom: 1px solid #e5e6e9;
}

.art-block-image {
  height: 100px;
  max-width: 150px;
  flex: 0 0 150px;
  border-block: 4px;
  margin-right: 16px;
}
.art-block-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.art-block-info {
  display: flex;
  flex-direction: column;
}
.art-block-info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #959ab2;
  margin-bottom: 8px;
}
.art-block-info h3 {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 600;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pages-art .art-left .row {
  margin: 0 -10px;
}
.pages-art .art-left .row > div {
  padding: 0 10px;
}
.art-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
}
.art-item-image {
  height: 205px;
}
.art-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.art-item-info {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding: 20px;
  background: #f5f7f9;
  min-height: 220px;
  border-radius: 4px;
  overflow: hidden;
}
.art-item-info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #959ab2;
  margin-bottom: 8px;
}
.art-item-info h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #323232;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.art-item-user-image {
  flex: 0 0 65px;
  max-width: 65px;
  height: 65px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 8px;
}
.art-item-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.art-item-user h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0;
  color: #323232;
}
.art .row {
  margin: 0 -10px;
}
.art .row > div {
  padding: 0 10px;
}
.art-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
}
.art-item-image {
  height: 205px;
}
.art-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.art-item-info {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding: 20px;
  background: #f5f7f9;
  min-height: 220px;
  border-radius: 4px;
  overflow: hidden;
}
.art-item-info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #959ab2;
  margin-bottom: 8px;
}
.art-item-info h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #323232;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.art-item-user-image {
  flex: 0 0 65px;
  max-width: 65px;
  height: 65px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 8px;
}
.art-item-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.art-item-user h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0;
  color: #323232;
}
.art-block {
  display: flex;
  padding: 16px 0;
  cursor: pointer;
}
.art-block:not(:last-child) {
  border-bottom: 1px solid #e5e6e9;
}
.art-block:last-child {
  padding-bottom: 0;
}
.art-block:first-child {
  padding-top: 0;
}

.art-block-image {
  height: 130px;
  max-width: 170px;
  flex: 0 0 170px;
  border-block: 4px;
  margin-right: 16px;
}
.art-block-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.art-block-info {
  display: flex;
  flex-direction: column;
}
.art-block-info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #959ab2;
  margin-bottom: 8px;
}
.art-block-info h3 {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 8px;
}
.art-block-user {
  display: flex;
  align-items: center;
}
.art-block-user-image {
  max-width: 50px;
  flex: 0 0 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}
.art-block-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.art-block-user h4 {
  font-size: 14px;
  line-height: 20px;
  color: #000;
  font-weight: 500;
  margin-bottom: 0;
}

@media (max-width: 1440px) {
}
@media (max-width: 575px) {
  .art-block {
    flex-wrap: wrap;
  }
  .art-block-image {
    max-width: unset;
    flex: unset;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .art-block-info {
    padding-top: 15px;
  }
  .art-block-info h3 {
    font-size: 14px;
    line-height: 20px;
  }
}
</style>
