<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <nuxt-link :to="localePath('/news')">{{
                (sideMenu && sideMenu.title) || ""
              }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                  ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main pages-art">
      <div class="container">
        <div class="pages-main-wrapper">
          <div class="row">
            <div class="col-lg-9">
              <div class="art-body">
                <div class="row">
                  <div class="col-xl-12 col-lg-12">
                    <div class="art-left">
                      <div class="row">
                        <div
                          class="col-xl-4 col-sm-6"
                          v-for="item in articles"
                          :key="item.id"
                        >
                          <nuxt-link
                            :to="'articles/' + item.id"
                            class="art-item"
                          >
                            <div class="art-item-image">
                              <img
                                :src="
                                  (item && item.photo) ||
                                    require('~/assets/images/default/article_' +
                                      $i18n.locale +
                                      '.jpg')
                                "
                                alt="not found"
                              />
                            </div>
                            <div class="art-item-info">
                              <span>{{
                                (item && item.updated_at) || "" | dateDay
                              }}</span>
                              <h3>{{ item.title }}</h3>
                              <div class="art-item-user">
                                <div class="art-item-user-image">
                                  <img
                                    :src="item.deputy && item.deputy.image"
                                    alt=""
                                  />
                                </div>
                                <h4>
                                  {{
                                    item.deputy &&
                                      item.deputy.first_name +
                                        " " +
                                        item.deputy.last_name +
                                        " " +
                                        item.deputy.middle_name
                                  }}
                                </h4>
                              </div>
                            </div>
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-xl-4 col-lg-12">
                    <div class="art-right">
                      <div
                        class="art-block"
                        v-for="item in articles2"
                        :key="item.id"
                      >
                        <div class="art-block-image">
                          <img
                            :src="
                              item.photo ||
                              require(`~/assets/images/default/article_${$i18n.locale}.jpg`)
                            "
                          />
                        </div>
                        <div class="art-block-info">
                          <span>10.02.2022</span>
                          <h3>{{ item.title }}</h3>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      defaultImage: require("~/assets/images/avatar.svg"),
      articles: [],
      sideMenu: {}
    };
  },
  async created() {
    this.articles = await this.$store.dispatch("articles/fethcArticles", {
      params: {
        limit: 10
      }
    });
  },
  async mounted() {
    this.loader = false;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "articles"
    );
    this.loader = true;
  },
  methods: {
    getSizeFile(val) {
      let newValue = null;
      if (val > 1024 * 1024 * 1024) {
        newValue = (val / (1024 * 1024 * 1024)).toFixed(3) + " " + "gb";
      } else if (val > 1024 * 1024) {
        newValue = (val / (1024 * 1024)).toFixed(3) + " " + "mb";
      } else if (val > 1024) {
        newValue = (val / 1024).toFixed(3) + " " + "kb";
      } else {
        newValue = val + " " + "bt";
      }
      return newValue;
    }
  }
};
</script>

<style scoped>
.pages-art .art-left .row {
  margin: 0 -10px;
}
.pages-art .art-left .row > div {
  padding: 0 10px;
}
.art-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
}
.art-item-image {
  height: 205px;
}
.art-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.art-item-info {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding: 20px;
  background: #f5f7f9;
  min-height: 220px;
  border-radius: 4px;
  overflow: hidden;
}
.art-item-info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #959ab2;
  margin-bottom: 8px;
}
.art-item-info h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #323232;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.art-item-user {
  margin-top: auto;
  display: flex;
  align-items: center;
  background: #f5f7f9;
}
.art-item-user-image {
  flex: 0 0 65px;
  max-width: 65px;
  height: 65px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 8px;
}
.art-item-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.art-item-user h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0;
  color: #323232;
}
@media (max-width: 1440px) {
  .art-item-info h3 {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 991px) {
  .pages-art .art-left .row {
    margin: 0 -7.5px;
  }
  .pages-art .art-left .row > div {
    padding: 0 7.5px;
  }
  .art-item-info {
    padding: 15px;
  }
}
@media (max-width: 575px) {
  .art-item-info {
    min-height: unset;
  }
  .art-item-info h3 {
    margin-bottom: 15px;
  }
}
</style>
