<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-main-wrapper">
          <div class="row">
            <div class="col-lg-3 order-lg-1 order-2">
              <div class="sidebar">
                <div class="row">
                  <div class="col-12">
                    <div class="sidebar-left">
                      <ul>
                        <li v-for="item in committees" :key="item.id">
                          <nuxt-link
                            :to="
                              localePath({
                                path: `/committees/${item.id}`,
                              })
                            "
                          >
                            {{ item.title }}
                          </nuxt-link>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-1">
              <div class="pages-content">
                <div class="content-dynamic">
                  <div class="title">
                    <h2>
                      <h2>{{ committeesDetail.title || "" }}</h2>
                    </h2>
                  </div>
                  <div class="deputies-row">
                    <div
                      class="deputies-col"
                      v-if="committeesDetail && committeesDetail.chairman"
                    >
                      <CardsLeadership
                        :image="
                          (committeesDetail &&
                            committeesDetail.chairman &&
                            committeesDetail.chairman.image) ||
                          require('~/assets/images/avatar.svg')
                        "
                        :title="
                          (committeesDetail &&
                            committeesDetail.chairman &&
                            committeesDetail.chairman.last_name) +
                          ' ' +
                          (committeesDetail &&
                            committeesDetail.chairman &&
                            committeesDetail.chairman.first_name) +
                          ' ' +
                          (committeesDetail &&
                            committeesDetail.chairman &&
                            committeesDetail.chairman.middle_name)
                        "
                        :text="
                          committeesDetail &&
                          committeesDetail.chairman &&
                          committeesDetail.chairman.work_place
                        "
                        :slug="
                          committeesDetail &&
                          committeesDetail.chairman &&
                          committeesDetail.chairman.slug
                        "
                      />
                    </div>
                    <div
                      class="deputies-col"
                      v-for="item in committeesDetail.sub_chairman"
                      :key="item.id"
                    >
                      <CardsLeadership
                        :image="
                          item.image || require('~/assets/images/avatar.svg')
                        "
                        :title="
                          item.last_name +
                          ' ' +
                          item.first_name +
                          ' ' +
                          item.middle_name
                        "
                        :text="item.work_place"
                        :slug="item.slug"
                      />
                    </div>
                    <div
                      class="deputies-col"
                      v-for="item in committeesDetail.members"
                      :key="item.id"
                    >
                      <CardsLeadership
                        :image="
                          item.image || require('~/assets/images/avatar.svg')
                        "
                        :title="
                          item.last_name +
                          ' ' +
                          item.first_name +
                          ' ' +
                          item.middle_name
                        "
                        :text="item.work_place"
                        :slug="item.slug"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 order-lg-3 order-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      committees: null,
      sideMenu: null,
      deputies: null,
    };
  },

  async created() {
    this.loader = false;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "committees"
    );
    this.committeesDetail = await this.$store.dispatch(
      "committees/getCommittetDetail",
      this.$route.params.id
    );
    this.committees = await this.$store.dispatch("committees/getCommitteList");
    this.loader = true;
  },
};
</script>

<style scoped>
</style>