<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="row">
            <div class="col-lg-9">
              <div class="pages-content leadership">
                <!-- <div class="leadership-chamber">
                  <div class="leadership-chamber-header title">
                    <h2>Кенгаш Законодательной палаты</h2>
                  </div>
                  <div class="leadership-chamber-body">
                    <p>
                      В целях эффективной организации деятельности
                      Законодательной палаты, осуществления координации работы
                      комитетов, организации предварительного рассмотрения
                      вопроса о планировании законопроектной работы образуется
                      Кенгаш Законодательной палаты.
                    </p>
                    <p>
                      Кенгаш Законодательной палаты собирается между заседаниями
                      палаты по мере необходимости.
                    </p>
                    <p>
                      В состав Кенгаша Законодательной палаты входят Спикер
                      Законодательной палаты, его заместители, руководители
                      фракций, председатели комитетов Законодательной палаты.
                    </p>
                    <p>
                      Кенгаш Законодательной палаты по вопросам, входящим в его
                      компетенцию, принимает постановления большинством голосов
                      от общего числа его членов.
                    </p>
                  </div>
                </div> -->
                <div class="leadership-wrapper">
                  <!-- <div class="leadership-header title">
                    <h2>Состав Кенгаша:</h2>
                  </div> -->
                  <!-- <div
                        class="col-xl-4 col-lg-6 col-md-6"
                        v-for="item in management"
                        :key="item.id"
                      >
                        <CardsLeadership
                          :image="
                            item.image || require('~/assets/images/avatar.svg')
                          "
                          :title="
                            item.last_name +
                            ' ' +
                            item.first_name +
                            ' ' +
                            item.middle_name
                          "
                          :slug="item.slug"
                          :text="item.work_place"
                        />
                      </div> -->
                  <div class="row">
                    <div class="col-md-12">
                      <nuxt-link
                        :to="
                          localePath({
                            path: `/deputies/${management.speaker.slug}`,
                          })
                        "
                        class="deputies-group-item"
                      >
                        <div
                          class="
                            deputies-group-item-image
                            deputies-group-item-image__managment
                          "
                        >
                          <img
                            :src="
                              (management &&
                                management.speaker &&
                                management.speaker.image) ||
                              require('~/assets/images/avatar.svg')
                            "
                            alt="not found"
                          />
                        </div>
                        <div class="deputies-group-item-info">
                          <h3>
                            {{
                              (management.speaker &&
                                management.speaker.last_name) +
                                " " +
                                (management.speaker &&
                                  management.speaker.first_name) +
                                " " +
                                (management.speaker &&
                                  management.speaker.middle_name) || ""
                            }}
                          </h3>
                          <p>
                            {{
                              (management.speaker &&
                                management.speaker.work_place) ||
                              ""
                            }}
                          </p>
                        </div>
                      </nuxt-link>
                    </div>
                    <div
                      class="col-md-12"
                      v-for="item in management.members"
                      :key="item.id"
                    >
                      <nuxt-link
                        :to="
                          localePath({
                            path: `/deputies/${item.slug}`,
                          })
                        "
                        class="deputies-group-item"
                      >
                        <div
                          class="
                            deputies-group-item-image
                            deputies-group-item-image__managment
                          "
                        >
                          <img
                            :src="
                              item.image ||
                              require('~/assets/images/avatar.svg')
                            "
                            alt="not found"
                          />
                        </div>
                        <div class="deputies-group-item-info">
                          <h3>
                            {{
                              item.last_name +
                                " " +
                                item.first_name +
                                " " +
                                item.middle_name || ""
                            }}
                          </h3>
                          <p>
                            {{ item.work_place || "" }}
                          </p>
                        </div>
                      </nuxt-link>
                    </div>
                  </div>
                  <!-- <div
                        class="col-lg-4"
                        v-for="item in faction_leaders"
                        :key="item.id"
                      >
                        <CardsLeadership
                          :image="
                            item.image || require('~/assets/images/avatar.svg')
                          "
                          :title="
                            item.last_name +
                            ' ' +
                            item.first_name +
                            ' ' +
                            item.middle_name
                          "
                          :id="item.id"
                          :text="item.work_place"
                        />
                      </div> -->

                  <!-- <div
                        class="col-lg-4"
                        v-for="item in committee_leaders"
                        :key="item.id"
                      >
                        <CardsLeadership
                          :image="
                            item.image || require('~/assets/images/avatar.svg')
                          "
                          :title="
                            item.last_name +
                            ' ' +
                            item.first_name +
                            ' ' +
                            item.middle_name
                          "
                          :id="item.id"
                          :text="item.work_place"
                        />
                      </div> -->
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      management: [],
      faction_leaders: [],
      committee_leaders: [],
      sideMenu: {},
    };
  },
  async created() {
    this.fetchData();
  },
  async mounted() {
    this.loader = false;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "kengash"
    );
    this.loader = true;
  },
  methods: {
    async fetchData() {
      this.loader = false;

      // let res = await this.$store.dispatch("members/fetchMembersList", {
      //   limit: this.limit,
      //   offset: this.offset,
      // });
      // this.members = { ...this.members, ...res };
      // this.offset += this.limit;
      // this.count = res && res.count;

      let res = await this.$store.dispatch("deputies/GetKengashList");
      this.management = res;

      this.loader = true;
    },
  },
};
</script>

<style>
</style>