<template>
  <div class="pages friendship-view" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-main-wrapper">
          <div class="row">
            <div class="col-lg-3 order-lg-1 order-2">
              <div class="sidebar">
                <div class="row">
                  <div class="col-12">
                    <div class="sidebar-left">
                      <ul>
                        <li v-for="item in friendship" :key="item.id">
                          <nuxt-link
                            :to="
                              localePath({
                                path: `/friendship/${item.id}`,
                              })
                            "
                          >
                            {{ item.title }}
                          </nuxt-link>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-1">
              <div class="pages-content">
                <div class="content-dynamic">
                  <div class="title">
                    <h2>
                      {{ (friendshipDetail && friendshipDetail.title) || "" }}
                    </h2>
                  </div>
                  <div class="deputies-group-row">
                    <div class="deputies-group-row-col">
                      <nuxt-link
                        :to="
                          localePath({
                            path: `/deputies/${
                              (friendshipDetail &&
                                friendshipDetail.leader &&
                                friendshipDetail.leader.slug) ||
                              ''
                            }`,
                          })
                        "
                        class="deputies-group-item"
                      >
                        <div class="deputies-group-item-image">
                          <img
                            :src="
                              (friendshipDetail &&
                                friendshipDetail.leader &&
                                friendshipDetail.leader.image) ||
                              require('~/assets/images/avatar.svg')
                            "
                            alt="not found"
                          />
                        </div>
                        <div class="deputies-group-item-info">
                          <h3>
                            {{
                              (friendshipDetail.leader &&
                                friendshipDetail.leader.last_name +
                                  " " +
                                  friendshipDetail.leader.first_name +
                                  " " +
                                  friendshipDetail.leader.middle_name) ||
                              ""
                            }}
                          </h3>
                          <h5>{{ $t("chairmanFriendship") }}</h5>
                          <p>
                            {{
                              (friendshipDetail &&
                                friendshipDetail.leader &&
                                friendshipDetail.leader.work_place) ||
                              ""
                            }}
                          </p>
                        </div>
                      </nuxt-link>
                    </div>
                  </div>

                  <div
                    class="content"
                    v-html="
                      (friendshipDetail && friendshipDetail.content) || ''
                    "
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 order-lg-3 order-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      friendship: null,
      sideMenu: null,
      deputies: null,
    };
  },

  async created() {
    this.loader = false;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "friendship"
    );
    this.friendshipDetail = await this.$store.dispatch(
      "friendship/getFriendshipDetail",
      this.$route.params.id
    );
    this.friendship = await this.$store.dispatch(
      "friendship/getFriendshipList"
    );
    this.loader = true;
  },
  mounted() {
  },
};
</script>

<style scoped>
</style>