<template>
  <div v-if="loading" class="news">
    <div class="container">
      <div class="news-wrapper">
        <div class="news-header title">
          <h2>{{ $t("News") }}</h2>
        </div>
        <div class="news-body">
          <div class="row">
            <div class="col-xl-8 col-lg-12">
              <div class="news-main">
                <div class="row">
                  <div
                    class="col-xl-4 col-lg-6 col-md-6"
                    v-for="(item,index) in news"
                    :key="item.id"
                    data-aos="fade-right"
                   :data-aos-delay="150 + index * 100"
                  >
                    <CardsNews
                      :slug="item.slug"
                      :category_slug="item.menu.slug"
                      :kind="item.menu.title"
                      :title="item.title"
                      :content="item.content"
                      :date="item.pub_date"
                      :image="item.image && item.image[0] && item.image[0].file"
                      line="vertical"
                    >
                    </CardsNews>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-12">
              <div class="news-right">
                <div
                  class="news-right-item"
                  v-for="item in news2"
                  :key="item.id"
                >
                  <CardsNews
                    :slug="item.slug"
                    :title="item.title"
                    :date="item.pub_date"
                    line="vertical3"
                    :image="item.image && item.image[0] && item.image[0].file"
                  >
                  </CardsNews>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="news-footer">
          <HomeNewsSidebar />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      news: [],
      news2: [],
      loading: true,
    };
  },
  async mounted() {
    this.loading = false;
    let res = await this.$store.dispatch("posts/getNews");
    this.news = res.slice(0, 6);
    let res2 = await this.$store.dispatch("posts/getNews");
    this.news2 = res2.slice(6, 12);
    this.loading = true;
  },
};
</script>

<style scoped>
.news-right-item {
  padding: 24px 0;
  border-bottom: 1px solid #e5e6e9;
}
.news-right-item:first-child {
  padding-top: 0;
}
.news-right-item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.news-main > .row {
  margin: -20px;
}
.news-main > .row > div {
  padding: 20px;
}

.news-main {
  position: relative;
}
/* .news-main::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  background-color: #dbdde9;
} */
.news-body {
  padding-bottom: 100px;
}

@media (max-width: 1650px) {
  .news-right-item {
    padding: 20px 0;
  }
  .news-main > .row {
    margin: -15px;
  }
  .news-main > .row > div {
    padding: 15px;
  }

  .news-body {
    padding-bottom: 40px;
  }
  .news-footer > .row {
    margin: 0 -15px;
  }
  .news-footer > .row > div {
    padding: 0 15px;
  }
}
@media (max-width: 1480px) {
  .news-main > .row {
    margin: -10px;
  }
  .news-main > .row > div {
    padding: 10px;
  }

  .news-body {
    padding-bottom: 30px;
  }
  .news-main::after {
    display: none;
  }
}
@media (max-width: 1199px) {
  .news-right-item {
    padding: 15px 0;
  }
  .news-right-item:first-child {
    padding-top: 15px;
  }
  .news-right-item:last-child {
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e6e9;
  }
  .news-right-item-info {
    align-items: center;
  }

  .news-right {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .news-right-item {
    width: calc(50% - 7.5px);
  }
}
@media (max-width: 991px) {
  .news-body > .row {
    margin: -15px 0;
  }
  .news-body > .row > div {
    padding: 15px 0;
  }
}
@media (max-width: 768px) {
  .news-right-item {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .news-right {
    margin-top: 0;
  }
  .news-right-item {
    padding: 12px 0;
  }
  .news-body {
    padding-bottom: 16px;
  }
}
</style>