<template>
  <div class="news-sidebar">
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <a
          class="sidebar-content"
          style="border-radius: 4px; overflow: hidden"
          href="https://qonun.gov.uz/ru/discuss/open-list/"
          target="_blank"
        >
          <div class="sidebar-content-image">
            <img
              :src="require('~/assets/images/yellow-logo.png')"
              alt="not found"
            />
          </div>
          <p>
            {{ $t("bannerTitle") }}
          </p>
        </a>
      </div>
      <div class="col-xl-3 col-lg-6">
        <nuxt-link
          :to="
            localePath({
              path: '/regulation',
            })
          "
          class="sidebar-content"
        >
          <div class="sidebar-content-image">
            <img src="~/assets/images/sidebar-content1.png" alt="" />
          </div>
          <p>
            {{ $t("HomeSideTitle1") }}
          </p>
        </nuxt-link>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="sidebar-content">
          <div class="sidebar-content-image">
            <img src="~/assets/images/sidebar-content2.png" alt="" />
          </div>
          <p>
            {{ $t("HomeSideTitle2") }}
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <nuxt-link
          :to="
            localePath({
              path: '/static/yoshlar-parlamenti-azolari',
            })
          "
          class="sidebar-parliament"
        >
          <div class="sidebar-parliament-header">
            <img src="~/assets/images/sidebar-other-image.png" alt="" />
            <p>
              {{ $t("HomeSideTitle3") }}
            </p>
          </div>
          <img src="~/assets/images/gerb.svg" alt="not found" />
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.sidebar-banner {
  height: 100%;
}
.sidebar-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.sidebar-content {
  background: #0b4aa8;
  border-radius: 4px;
  height: 230px;
  padding: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sidebar-content-image {
  margin-bottom: 16px;
}

.sidebar-content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
  margin-bottom: 0;
  text-align: center;
}
.sidebar-content p span {
  font-size: 17px;
}

.sidebar-parliament-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sidebar-parliament-header img {
  height: 64px;
}
.sidebar-parliament {
  position: relative;
  padding: 32px;
  background: #f5f7f9;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 230px;
}
.sidebar-parliament p {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color: #51576f;
  margin-top: 24px;
  text-align: center;
  margin-bottom: 0;
}
.sidebar-parliament > img {
  height: 193px;
  transform: translate(34px, 34px);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 1650px) {
  .sidebar-parliament {
    padding: 20px;
  }
}
@media (max-width: 1480px) {
  .sidebar-parliament > img {
    height: 160px;
  }
}
@media (max-width: 1330px) {
  .sidebar-parliament p {
    font-size: 15px;
    line-height: 21px;
  }
  .sidebar-parliament {
    padding: 20px;
  }
  .sidebar-content {
    padding: 20px;
  }
}
@media (max-width: 1199px) {
  .sidebar-content {
    height: 100%;
    padding: 15px;
  }
  .sidebar-parliament {
    height: 100%;
    padding: 15px;
  }
  .news-main::after {
    display: none;
  }
}
@media (max-width: 575px) {
  .sidebar-content {
    padding: 16px;
  }
  .sidebar-content-image {
    max-width: 60px;
    flex: 0 0 60px;
    margin-bottom: 8px;
  }
  .sidebar-parliament p {
    margin-top: 8px;
  }
}
/* sdsdsdsd */
</style>