<template>
  <header class="header">
    <div class="header-wrapper" ref="header">
      <div class="header-top">
        <div class="container">
          <div class="header-top-wrapper">
            <div class="header-logo">
              <nuxt-link :to="localePath({ path: '/' })">
                <img src="~/assets/images/logo.png" alt="not found" />
                <p v-html="$t('Logo')"></p
              ></nuxt-link>
            </div>
            <div class="header-mid">
              <ul>
                <li>
                  <a href="https://pro360.uz/oliy-majlis-new/" target="_blank" class="icon-360"></a>
                </li>
                <li>
                  <AppSpecialView />
                </li>
                <li>
                  <a
                    href="#!"
                    @click.prevent="openMobileWindow"
                    class="icon-mobile"
                  ></a>
                </li>
              </ul>
            </div>
            <div class="header-virtual">
              <nuxt-link :to="localePath({ path: '/requests' })">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                {{ $t("HeaderVirtual") }}
              </nuxt-link>
            </div>
            <div class="header-search" :class="{ active: isActive }">
              <input
                type="search"
                placeholder="Ma'lumot qidirsh"
                v-model.trim="searchText"
                v-on:keyup.enter="submitSearch"
                ref="searchInput"
              />
              <i class="icon-search" @click="submitSearch"></i>
              <span @click="OpenSearch">
                {{ $t("Search") }}
              </span>
            </div>

            <div class="header-lang">
              <LayoutsHeaderLang />
            </div>
            <div class="header-profile">
              <i class="icon-user"></i>
              <b-dropdown
                id="dropdown-1"
                :text="full_name"
                class="m-md-2"
                v-if="getAccessToken"
              >
                <b-dropdown-item @click="openProfile">
                  {{ $t("Profile") }}
                </b-dropdown-item>
                <b-dropdown-item @click="logout">
                  {{ $t("LogOut") }}
                </b-dropdown-item>
              </b-dropdown>
              <a
                href="#"
                @click.prevent="openProfile"
                class="header__login"
                v-else
                ><span> {{ $t("Login") }} </span></a
              >
            </div>
            <div class="header-navbar">
              <i class="icon-navbar" @click="OpenMenu"></i>
            </div>
          </div>
        </div>
      </div>
      <LayoutsHeaderMenuFull @CloseMenu="CloseMenu" v-if="windowWidth > 991" />
      <LayoutsHeaderMenuMobile @CloseMenu="CloseMenu" v-else />

      <div class="header-bottom">
        <div class="container">
          <div class="header-bottom-wrapper">
            <LayoutsHeaderMenu />
            <div class="header-bottom-navbar">
              <i class="icon-navbar" @click="OpenMenu"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <PopupsRegistration v-if="getRegistrationPopup" @sendMessage="getSmsCode" />
    <PopupsLogin v-if="getLoginPopup" @toRegistration="openRegistration" />
    <PopupsConfirmCode v-if="getConfirmPopup" />
    <PopupsConfirmResetCode v-if="getConfirmResetCode" />
    <PopupsPhone v-if="getPhonePopup" />
    <PopupsRecoveryPassword v-if="getRecoveryPopup" />
  </header>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {
    wrapper: {
      type: Object,
      default() {
        return null;
      },
    },
  },
  data() {
    return {
      locale: null,
      full_name: "",
      isActive: false,
      searchText: "",
      scrollPosition: null,
      headerHeight: null,
      windowWidth: null,
      lastScroll: 0,
    };
  },
  watch: {
    getAccessToken(val) {
      if (val) {
        this.getInformation();
      }
    },

    $route: {
      handler() {
        this.$refs.header.style["transform"] = "translateY(0)";
      },
    },
  },
  async mounted() {
    this.locale = this.$i18n.locales;
    this.getInformation();
    // if (process.client) {
    //   window.addEventListener("scroll", this.updateScroll);
    //   window.addEventListener("scroll", this.checkScroll, false);
    // }
    this.$nextTick(() => {
      this.headerHeight = this.$refs.header.clientHeight;
    });
    // if (process.client) {
    //   window.addEventListener("scroll", this.updateScroll);
    // }
    if (process.client) {
      this.windowWidth = window.innerWidth;
    }
  },

  beforeDestroy() {
    if (process.client) {
      window.removeEventListener("scroll", function () {});
    }
  },
  methods: {
    updateScroll() {
      if (process.client) {
        this.scrollPosition = window.scrollY;
      }
    },
    checkScroll() {
      let st = window.pageYOffset;

      if (st > this.lastScroll) {
        if (this.scrollPosition > this.headerHeight) {
          this.$refs.header.style["transform"] = "translateY(-100%)";
        }
      } else {
        if (this.scrollPosition > this.headerHeight) {
          this.$refs.header.style["transform"] = "translateY(0)";
        }
      }
      this.lastScroll = st <= 0 ? 0 : st;
    },
    async submitSearch() {
      if (this.searchText) {
        this.$router.push(`/search?title=${this.searchText}`);
        this.searchText = null;
      }
    },
    OpenSearch() {
      this.isActive = !this.isActive;
      this.$refs.searchInput.focus();
      this.searchText = "";
    },
    async getInformation() {
      if (localStorage.getItem("access_token")) {
        const { first_name, last_name } = await this.$store.dispatch(
          "profile/fetchInformation"
        );
        this.full_name = first_name ? `${first_name}` : "Войти";
      }
    },
    OpenMenu() {
      let wrapper = this.wrapper && this.wrapper.wrapper;
      setTimeout(function () {
        wrapper.classList.add("active");
      }, 500);
      wrapper.classList.add("menu-active");
    },
    CloseMenu() {
      let wrapper = this.wrapper && this.wrapper.wrapper;
      setTimeout(function () {
        wrapper.classList.remove("active");
      }, 0);
      wrapper.classList.remove("menu-active");
    },

    openMobileWindow() {
      const w = window.innerWidth;
      const h = window.innerHeight;
      window.open(
        "/",
        "mobileWindow_" + Math.random().toString().slice(2),
        "height=600, width=400, top=" +
          (h / 2 - 275) +
          ", left=" +
          (w / 2 - 225) +
          ", toolbar=0, location=0, menubar=0, directories=0, scrollbars=0, resizable=no, fullscreen=no"
      );
    },
    openProfile() {
      if (this.$store.getters["auth/getAccessToken"]) {
        this.$router.push("/profile");
      } else {
        this.$store.commit("auth/setLoginPopup", {
          value: true,
          isProfile: true,
        });
      }
    },

    openRegistration() {
      this.closePopup();
      this.isRegistrationPopup = true;
    },
    getSmsCode() {
      this.closePopup();
      this.isConfirmPopup = true;
    },
    logout() {
      this.$store.commit("auth/clearTokens");
      localStorage.removeItem("access_token", null);
      localStorage.removeItem("refresh_token", null);
      this.$router.push("/");
    },
  },

  computed: {
    ...mapGetters("auth", [
      "getRegistrationPopup",
      "getLoginPopup",
      "getConfirmPopup",
      "getPhonePopup",
      "getRecoveryPopup",
      "getAccessToken",
      "getConfirmResetCode",
    ]),
  },
};
</script>

<style scoped>
.header {
  position: relative;
  z-index: 999;
}

.header-top {
  position: relative;
  z-index: 3;
  background: white;
}
.header-bottom {
  position: relative;
  z-index: 1;
}

.header-top-wrapper {
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  height: 110px;
  justify-content: space-between;
}
.header-logo {
  position: relative;
  z-index: 999;
}
.header-logo a {
  display: flex;
  align-items: flex-end;
  transform: translateY(-7px);
}
.header-logo a img {
  height: 70px;
}
.header-logo a p {
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  color: #2c2d32;
  margin-bottom: 0;
  margin-left: 35px;
  text-transform: uppercase;
  transform: translateY(5px);
}
.header-mid {
  margin-left: auto;
  margin-right: 40px;
}
.header-navbar {
  display: none;
}
.header-mid ul {
  display: flex;
  align-items: center;
}

.header-mid ul li a {
  display: flex;
  align-items: center;
  font-size: 32px;
  color: #0b4aa8;
}
.header-mid ul li:nth-child(2) a {
  font-size: 28px;
}
.header-mid ul li:last-child a {
  font-size: 21px;
}
.header-mid ul li a i {
  display: flex;
  color: #0b4aa8;
  margin-right: 10px;
}
.header-mid ul li:first-child a i {
  font-size: 25px;
}
.header-mid ul li:not(:last-child) {
  margin-right: 24px;
}
.header-social ul {
  display: flex;
}
.header-social ul li:not(:last-child) {
  margin-right: 30px;
}
.header-social ul li a {
  color: #0b4aa8;
  font-size: 16px;
}
.header-social ul li:nth-child(2) a {
  font-size: 18px;
}
.header-social ul li:nth-child(3) a {
  font-size: 21px;
}
.header-lang ul {
  display: flex;
}
.header-lang ul li a {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: #959ab2;
}
.header-lang ul li:not(:last-child) {
  margin-right: 30px;
}
.header-lang ul li a.nuxt-link-exact-active.nuxt-link-active {
  color: #0b4aa8;
}
.header-bottom {
  background: #0b4aa8;
}
.header-bottom-wrapper {
  display: flex;
  align-items: center;
}
.header-bottom-navbar {
  margin-left: 45px;
}
.header-bottom-navbar i {
  color: white;
  cursor: pointer;
  font-size: 30px;
}
.header-search {
  position: relative;
  z-index: 1;
}
.header-search input {
  z-index: -1;
  position: absolute;
  background: transparent;
  outline: none;
  height: 36px;
  top: 50%;
  transform: translate(calc(-100% - 19px), -50%);
  background: white;
  z-index: 1;
  -webkit-appearance: none;
  width: 0;
  overflow: hidden;
  border: none;
  transition: all 0.3s ease-in-out;
}
.header-search.active input {
  width: 400px;
  padding: 0 12px;
  border: 1px solid #dbdde9;
}
.header-search.active span {
  padding-left: 0;
}
.header-search.active i {
  transform: translateX(-250%);
}
.header-search input[type="search"]::-webkit-search-decoration,
.header-search input[type="search"]::-webkit-search-cancel-button,
.header-search input[type="search"]::-webkit-search-results-button,
.header-search input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.header-search span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: #0b4aa8;
  padding-left: 24px;
  display: block;
  position: relative;
  z-index: 3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header-search i {
  position: absolute;
  left: 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.header-search,
.header-virtual {
  margin-right: 40px;
}
.header-search a,
.header-virtual a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search i,
.header-virtual i {
  color: #0b4aa8;
  font-size: 19px;
  font-weight: 500;
  margin-right: 6px;
}
.header-virtual i {
  transform: translateX(2px);
}
.header-search a,
.header-virtual a {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: #0b4aa8;
}

.header-profile {
  margin-left: 32px;
  display: flex;
  align-items: center;
}
.header-profile a {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: #0b4aa8;
}
.header-profile i {
  color: #0b4aa8;
  margin-right: 8px;
}

@media (max-width: 1330px) {
  .header-bottom-navbar {
    margin-left: 20px;
  }
  .header-search,
  .header-virtual {
    margin-right: 20px;
  }
  .header-profile {
    margin-left: 20px;
  }
  .header-mid {
    margin-right: 30px;
  }
  .header-mid ul li:not(:last-child) {
    margin-right: 15px;
  }
}
@media (max-width: 1199px) {
  .header-bottom-navbar i {
    font-size: 20px;
  }
  .header-search,
  .header-virtual {
    margin-right: 15px;
  }
  .header-mid ul li:not(:last-child) {
    margin-right: 15px;
  }
  .header-profile a,
  .header-lang span,
  .header-search span,
  .header-virtual a {
    font-size: 13px;
    line-height: 19px;
  }
  .header-mid ul li a {
    font-size: 28px;
  }
  .header-logo a p {
    font-size: 12px;
    line-height: 18px;
    margin-left: 15px;
  }
  .header-logo a img {
    height: 60px;
  }
  .header-search.active input {
    width: 305px;
    transform: translate(calc(-100% - 10px), -50%);
  }
  .header-search.active input::placeholder {
    font-size: 13px;
    line-height: 19px;
  }
}
@media (max-width: 991px) {
  .header-top-wrapper {
    flex-wrap: wrap;
    align-content: center;
    height: 140px;
  }
  .header-logo {
    position: absolute;
  }
  .header-search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    order: 1;
    height: 36px;
    align-items: center;
    overflow: hidden;
    margin-top: 15px;
  }
  .header-search i {
    right: 60px;
    left: unset;
  }
  .header-search input {
    bottom: 0;
    top: unset;
  }
  .header-search.active i {
    transform: translateX(-80%);
  }
  .header-search input {
    transform: translate(0);
  }
  .header-search.active input {
    transform: translateX(-70px);
  }
  .header-virtual {
    margin-left: auto;
  }
  .header-logo a p {
    font-size: 13px;
    line-height: 16px;
  }
  .header-bottom {
    display: none;
  }
  /* .header-mid {
    display: none;
  } */
  .header-navbar {
    display: block;
    margin-left: 16px;
  }
  .header-navbar i {
    font-size: 20px;
    color: #0b4aa8;
    display: flex;
  }
  .header-virtual {
    margin-left: 0;
  }
  .header-mid ul li {
    margin-right: 0 !important;
  }
  .header-mid ul li:not(:first-child) {
    display: none;
  }
  .header-mid {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .header-top-wrapper {
    height: 145px;
  }
  .header-logo a {
    flex-direction: column;
    align-items: center;
  }
  .header-logo a p {
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .header-virtual {
    display: none;
  }
  /* .header-lang {
    margin-left: auto;
  } */
  .header-search.active input {
    width: 250px;
  }
}
@media (max-width: 575px) {
  .header-mid {
    margin-left: 0;
  }
  .header-logo {
    position: relative;
  }
  .header-top-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    padding: 15px 0;
  }
  .header-lang {
    margin-left: 0;
  }
  .header-logo {
    width: 100%;
    margin-bottom: 8px;
  }
  .header-logo a {
    flex-direction: row;
    justify-content: center;
  }
  .header-logo a p {
    transform: translateY(14px);
    margin-left: 7.5px;
  }
  .header-search.active input {
    width: calc(100% - 70px);
  }
  .header-search {
    margin-top: 12px;
  }
  .header-search {
    display: none;
  }
}
@media (max-width: 450px) {
  .header-virtual {
    display: none;
  }
  .header-logo a img {
    height: 57px;
  }
  .header-logo a p {
    font-size: 10px;
    transform: translateY(9px);
    text-align: left;
  }

  .header__login {
    padding-left: 8px;
  }
}
</style>