<template>
  <div class="banner-bottom" v-if="isReady">
    <CoolLightBox :items="offlineList" :index="index" @close="index = null">
    </CoolLightBox>
    <CoolLightBox
      :items="liveList"
      :index="activeIndex"
      @close="activeIndex = null"
    >
    </CoolLightBox>
    <div class="banner-right">
      <div class="banner-videos" v-if="windowWidth >= 992">
        <a
          v-for="(item, imageIndex) in offlineList"
          :key="imageIndex"
          @click.prevent="index = imageIndex"
          target="_blank"
          class="banner-videos-item"
        >
          <div class="banner-videos-image">
<!--            <img-->
<!--              :src="item.image ? $imageProxy(item.image, 100) : defaultPhoto"-->
<!--              alt="not found"-->
<!--            />-->
            <img
              :src="item.image ? item.image : defaultPhoto"
              alt="not found"
            />
            <i class="icon-play"></i>
          </div>
          <div class="banner-videos-title">
            <span class="date"
              >{{ (item && item.stream_date) || "" | dateDay }} |
              {{ (item && item.stream_date) || "" | dateTime }}</span
            >
            <p>{{ item.title }}</p>
          </div>
        </a>
      </div>
      <div class="banner-live" v-if="liveList.length" ref="live">
        <a
          v-for="(item, index) of liveList"
          @click.prevent="activeIndex = index"
          :key="index"
        >
          <div class="banner-live-image">
            <img
              :src="item.image "

              alt="not found"
            />
            <i class="icon-play"></i>
          </div>
          <div class="banner-live-info">
            <span>{{ $t("LiveStream") }}</span>
            <!-- <strong class="date">{{ activeLink && activeLink.stream_date || "" | dateDay }} | {{ activeLink && activeLink.stream_date || "" | dateTime }}</strong> -->
            <p>{{ item.title }}</p>
          </div>
        </a>
      </div>
      <div class="banner-videos-carousel" v-if="windowWidth <= 991" ref="video">
        <client-only>
          <swiper :options="sliderOptions" :loadtheme="false">
            <swiper-slide v-for="item in offlineList" :key="item.id">
              <a :href="item.url" class="banner-videos-carousel-item">
                <div class="banner-videos-carousel-image">
<!--                  <img-->
<!--                    :src="item.image ? $imageProxy(item.image, 300) : defaultPhoto"-->
<!--                    alt="not found"-->
<!--                  />-->
                  <img
                    :src="item.image ? item.image : defaultPhoto"
                    alt="not found"
                  />
                  <i class="icon-play"></i>
                </div>
                <div class="banner-videos-carousel-info">
                  <span><i class="icon-video"></i></span>
                  <p>{{ item.title }}</p>
                </div>
              </a>
            </swiper-slide>
            <div class="swiper-button-prev" slot="button-prev"></div>
            <div class="swiper-button-next" slot="button-next"></div>
          </swiper>
        </client-only>
      </div>
    </div>
    <div class="banner-links">
      <div class="container">
        <ul>
          <li class="active">
            <nuxt-link
              :to="localePath({ path: `/events/category/palata-majlislari` })"
              v-html="$t('Banner2BottomTitle1')"
            ></nuxt-link>
          </li>
          <li>
            <nuxt-link
              :to="
                localePath({ path: `/events/category/fraksiya-yigilishlari` })
              "
              v-html="$t('Banner2BottomTitle2')"
            ></nuxt-link>
          </li>
          <li>
            <nuxt-link
              :to="
                localePath({
                  path: `/events/category/qomita-va-komissiya-yigilishlari`,
                })
              "
              v-html="$t('Banner2BottomTitle3')"
            ></nuxt-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import CoolLightBox from "vue-cool-lightbox";
import "vue-cool-lightbox/dist/vue-cool-lightbox.min.css";
export default {
  components: {
    CoolLightBox,
  },
  data() {
    return {
      index: null,
      activeIndex: null,
      offlineList: null,
      liveList: null,

      windowWidth: null,
      sliderOptions: {
        slidesPerView: 1,
        spaceBetween: 15,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        autoplay: {
          delay: 4000,
          disableOnInteraction: false,
        },
      },
      defaultPhoto: require("~/assets/images/default/article_oz.jpg"),
      isReady: false,
    };
  },
  async mounted() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
    this.liveList = await this.$store.dispatch(
      "livestream/fetchLiveStreamList",
      {
        is_active: true,
      }
    ) || [];
    if (this.liveList.length) {
      const { results } = await this.$store.dispatch(
        "livestream/fetchLiveStreamList",
        {
          limit: 3,
          is_active: false,
        }
      );
      this.offlineList = results;
    } else {
      const { results } = await this.$store.dispatch(
        "livestream/fetchLiveStreamList",
        {
          limit: 4,
          is_active: false,
        }
      );
      this.offlineList = results;
    }

    this.offlineList = this.offlineList.map((i) => ({
      ...i,
      src: i.url,
    }));
    this.isReady = true;
    this.liveList = this.liveList.map((i) => ({ ...i, src: i.url }));
    // this.activeLink = null;
    this.$nextTick(() => {
      if (this.liveList && this.liveList.length) {
        if (this.windowWidth <= 991 && this.$refs.video) {
          this.sliderOptions.slidesPerView = 1;
          this.$refs.video.style.width = "calc(50% - 7.5px)";
          if (this.liveList.length) {
            this.$refs.live.style.width = "calc(50% - 7.5px)";
          }
        }
      } else {
        if (this.$refs.video) {
          this.sliderOptions.slidesPerView = 2;
          this.$refs.video.style.width = "100%";
        }
      }
    });
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  methods: {
    handleResize() {
      this.windowWidth = window.innerWidth;
    },
  },
};
</script>

<style scoped>
.banner-videos-image i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  font-size: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  color: #0b4aa8;
  z-index: 3;
}
.banner-videos-image::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  z-index: 2;
}
.banner-videos-image i::before {
  transform: translateX(1.5px);
}
.banner-links {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 56px;
  z-index: 99;
}
.banner-links ul {
  display: flex;
}
.banner-links ul li.active a {
  color: #90c3ff;
}
.banner-links ul li {
  margin-right: 40px;
}
.banner-links ul li:last-child {
  margin-right: 0;
}
.banner-links ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.banner-links ul li p {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 0px;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 0;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}
.banner-right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(3, 8, 40, 0.2);
  backdrop-filter: blur(40px);
  width: 405px;
  padding: 32px 32px 0 32px;
}
.banner-videos {
  padding-bottom: 24px;
  /* border-bottom: 1px solid #ffffff; */
}
.banner-videos-item {
  display: flex;
  align-items: center;
}
.banner-videos-item:not(:last-child) {
  margin-bottom: 32px;
}
.banner-videos-image {
  max-width: 105px;
  flex: 0 0 105px;
  height: 80px;
  margin-right: 16px;
  position: relative;
  z-index: 1;
}

.banner-videos-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.banner-videos-item p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  max-height: 60px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.banner-videos-title span.date {
  color: #9bc2fb;
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
}
.banner-live {
  height: 180px;
  position: relative;
  cursor: pointer;
}
.banner-videos a {
  cursor: pointer;
}
.banner-live-image {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateX(calc(-100% - 32px));
  z-index: 2;
}
.banner-live-image i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  color: #0b4aa8;
  z-index: 3;
}
.banner-live-image i::before {
  transform: translateX(1.5px);
}
.banner-live-image::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  z-index: 2;
}
.banner-live-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.banner-live-info {
  z-index: 3;
  position: relative;
  padding: 24px 0;
  height: 100%;
  border-top: 1px solid #fff;
}

.banner-live-info span::before {
  content: "";
  max-width: 10px;
  flex: 0 0 10px;
  height: 10px;
  border-radius: 50%;
  background: #40d673;
  margin-right: 8px;
  animation: liveOpacity 2s infinite linear;
}
@keyframes liveOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.banner-live-info span {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #40d673;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.banner-live-info strong.date {
  color: #9bc2fb;
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
}
.banner-live-info p {
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  color: #f2f2f2;
  margin-bottom: 0;
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media (max-width: 1750px) {
  .banner-links ul {
    flex-direction: column;
  }
  .banner-links ul li {
    margin-bottom: 15px;
  }
}

@media (max-width: 1650px) {
  .banner-videos-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 1480px) {
  .banner-right {
    width: 350px;
    padding: 20px 20px 0 20px;
  }
  .banner-videos {
    padding-bottom: 20px;
  }
  .banner-videos-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .banner-videos-item p {
    font-size: 14px;
    line-height: 20px;
  }
  .banner-live-info {
    padding: 20px 0;
  }
  .banner-live-info p {
    font-size: 16px;
    line-height: 22px;
  }
  .banner-live-info span {
    margin-bottom: 20px;
  }
  .banner-live-image {
    transform: translateX(calc(-100% - 20px));
  }
  .banner-links ul li {
    margin-right: 30px;
  }
  .banner-links ul li a {
    font-size: 16px;
    display: block;
    line-height: 22px;
  }
}
@media (max-width: 1330px) {
  .banner-live-image {
    transform: unset;
  }
  .banner-live-image i {
    display: none;
  }
  .banner-live-info {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 991px) {
  .banner-links {
    bottom: 220px;
  }
  .banner-right {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  .banner-right::after {
    content: "";
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background: white;
  }
  .banner-live {
    width: calc(50% - 7.5px);
  }
  .banner-videos-carousel {
    width: calc(50% - 7.5px);
  }
  .banner-videos-carousel-item {
    display: block;
    position: relative;
    z-index: 1;
    height: 180px;
  }
  .banner-videos-carousel-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
  }
  .banner-videos-carousel-image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: 2;
  }
  .banner-videos-carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .banner-videos-carousel-info {
    position: relative;
    z-index: 3;
    height: 100%;
    width: 100%;
    padding: 20px 30px;
  }
  .banner-videos-carousel-info p {
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #f2f2f2;
  }
  .banner-videos-carousel-info span {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #40d673;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  .banner-videos-carousel-info span i {
    margin-right: 7.5px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .banner-links ul li {
    margin-right: 20px;
  }
  .banner-links ul li a {
    font-size: 15px;
    display: block;
    line-height: 22px;
  }
  .banner-videos-carousel-info p {
    font-size: 14px;
    line-height: 20px;
  }
  .banner-live-info p {
    font-size: 14px;
    line-height: 20px;
  }
  .banner-live-info span {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 14px;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: -7.5px;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: -7.5px;
  }
  .banner-live-info,
  .banner-videos-carousel-info {
    padding: 15px;
  }
  .banner-live-info p,
  .banner-videos-carousel-info p {
    /* font-size: 13px;
    line-height: 17px; */
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }
  .banner-videos-carousel-info span{
    font-size: 16px;
    justify-content: center;
}
}
@media (max-width: 450px) {
  .banner-right {
    flex-direction: column;
  }
  .banner-live {
    margin-bottom: 16px;
  }
  .banner-live,
  .banner-videos-carousel {
    width: 100% !important;
  }
  .banner-right::after {
    top: 50%;
    left: 15px;
    right: 15px;
    transform: translate(0, -50%);
    height: 1px;
    width: unset;
  }
  .banner-links {
    /* bottom: 400px; */
    bottom: 220px;
  }
  .banner-links ul {
    flex-wrap: wrap;
  }
  .banner-links ul li a {
    font-size: 13px;
    line-height: 18px;
  }
}
</style>
