<template>
  <div class="banner">
    <client-only>
      <swiper :options="swiperOptions" :loadtheme="false">
        <swiper-slide
          class="swiper-slide"
          v-for="slide in sliders"
          :key="slide.id"
        >
          <div
            class="banner-item"
            :style="{ backgroundImage: 'url(' + slide.banner + ')' }"
          >
            <div class="container">
              <div class="banner-wrapper">
                <div class="banner-main">
                  <h1 v-html="slide.title"></h1>
                  <div class="banner-main-content">
                    <p v-html="slide.content"></p>
                  </div>
                  <nuxt-link
                    :to="
                      localePath({
                        path: `/news/${slide.slug}`,
                      })
                    "
                  >
                    {{ $t("ReadMore") }} <i class="fa fa-angle-right"></i>
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper>
    </client-only>
    <HomeBannerBottom />
  </div>
</template>

<script>
export default {
  data() {
    return {
      swiperOptions: {
        slidesPerView: 1,
        spaceBetween: 10,
        loop: true,
        allowTouchMove: false,
        speed: 1500,
        effect: "fade",
        // fadeEffect: { crossFade: true },
        autoplay: { delay: 5000, disableOnInteraction: true },
      },
      slides: [
        {
          id: 1,
          banner: require("~/assets/images/banner1.jpg"),
        },
        {
          id: 2,
          banner: require("~/assets/images/banner2.jpg"),
        },
        {
          id: 3,
          banner: require("~/assets/images/banner3.jpg"),
        },
      ],
      sliders: null,
    };
  },
  async mounted() {
    let res = await this.$store.dispatch("slider/getSliderList");
    this.sliders = res;
    this.sliders = res.map((slide, index) => {
      return {
        ...slide,
        banner:
          (slide.image && slide.image.file) ||
          require("~/assets/images/banner3.jpg"),
      };
    });
  },
};
</script>


<style >
.banner {
  position: relative;
}
.banner-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.banner-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(2, 5, 33, 0.6);
  opacity: 0.9;
  z-index: -1;
}
.banner-wrapper {
  height: calc(100vh - 170px);
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 500px;
}
.banner-main h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  color: #ffffff;
  margin-bottom: 32px;
  transform: translateY(-50px);
  transition: all 0.3s ease;
  text-overflow: ellipsis;
  text-overflow: -moz-ellipsis;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  overflow: hidden;
}
.banner-main-content > p:not(:first-child) {
  display: none;
}
.banner-main-content p {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 40px;
  transform: translateY(-50px);
  transition: all 0.3s ease;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.banner-main a {
  font-weight: 500;
  font-size: 17px;
  line-height: 29px;
  color: #ffffff;
  transform: translateY(-50px);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  background: #0b4aa8;
  border-radius: 100px;
  padding: 10px 32px;
}
.banner-main a i {
  font-size: 14px;
  margin-left: 14px;
  display: flex;
}

.swiper-slide.swiper-slide-active .banner-main h1,
.swiper-slide.swiper-slide-active .banner-main a,
.swiper-slide.swiper-slide-active .banner-main p {
  transform: translateY(0);
}

@media (max-width: 1650px) {
  .banner-main h1 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 24px;
  }
  .banner-main {
    padding-right: 380px;
  }
}
@media (max-width: 1480px) {
  .banner-main {
    padding-right: 390px;
  }
}
@media (max-width: 1330px) {
  .banner-main {
    padding-right: 370px;
  }
  .banner-main h1 {
    font-size: 25px;
    line-height: 31px;
  }
  .banner-main p {
    font-size: 16px;
    line-height: 22px;
  }
  .banner-main h1 {
    margin-bottom: 16px;
  }
  .banner-main p {
    margin-bottom: 25px;
  }
}
@media (max-width: 1199px) {
  .banner-wrapper {
    height: calc(100vh - 155px);
  }

  .banner-main a {
    font-size: 15px;
    line-height: 22px;
    padding: 10px 25px;
  }
  .banner-main {
    padding-right: 350px;
  }
}
@media (max-width: 991px) {
  .banner-main {
    padding-right: 0;
  }
  .banner-wrapper {
    justify-content: center;
    padding-top: 0px;
    height: 580px;
    padding-bottom: 250px;
  }
}
@media (max-width: 575px) {
  .banner-main a {
    font-size: 12px;
    padding: 5px 12px;
  }
  .banner-main h1 {
    font-size: 18px;
    line-height: 24px;
  }
  .banner-main h1 {
    font-size: 16px;
    line-height: 22px;
  }
  .banner-main p {
    font-size: 14px;
    line-height: 20px;
  }
  .banner-wrapper {
    min-height: 650px;
  }
}
@media (max-width: 450px) {
  .banner-wrapper {
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 0;
  }
}
</style>
