<template>
  <div class="anons">
    <div class="container">
      <div class="anons-wrapper">
        <div class="anons-main">
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="anons-main-wrapper">
                <div class="anons-header title">
                  <h2>{{ $t("Events") }}</h2>
                  <nuxt-link
                    :to="
                      localePath({
                        path: '/events/',
                      })
                    "
                  >
                    {{ $t("AllView") }}
                    <i class="fa fa-angle-right"></i>
                  </nuxt-link>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="anons-calendar">
                      <AppCalendar place="home" />
                    </div>
                  </div>
                  <div
                    class="col-lg-4 col-md-6"
                    v-for="item in anons"
                    :key="item.id"
                  >
                    <nuxt-link
                      :to="
                        localePath({
                          path: `/news/${item.slug}`,
                        })
                      "
                      class="anons-item"
                    >
                      <div class="anons-item-header">
                        <span> {{ item.pub_date || "" | dateDay }} </span>
                        <span> {{ item.pub_date || "" | dateTime }} </span>
                      </div>
                      <h3>{{ item.title }}</h3>
                      <div class="anons-item-content">
                        <p v-html="item.content"></p>
                      </div>
                      <!-- <span> {{ place[$i18n.locale] }} </span> -->
                    </nuxt-link>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-12" v-if="false">
              <div class="home-survey">
                <HomeAnonsSurvey />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      anons: null,
      place: {
        ru: "Место: 1-зал",
        uz: "Joy: 1-zal",
        oz: "Жой: 1-зал",
        en: "Place: 1-hall",
        qr: "Место: 1-зал",
      },
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      let res = await this.$store.dispatch("posts/getPostsListInGroup", {
        params: {
          limit: 5,
          offset: 0,
        },
        group: "events",
      });
      this.anons = res.results;
    },
  },
};
</script>

<style>
.anons-main-wrapper > .row {
  margin: -20px;
}
.anons-main-wrapper > .row > div {
  padding: 20px;
}
/* 
.anons-main-wrapper
  > .row
  > div:not(:nth-child(1), :nth-child(2), :nth-child(3))
  .anons-item {
  padding: 16px 24px;
  height: 225px;
}
.anons-main-wrapper
  > .row
  > div:not(:nth-child(1), :nth-child(2), :nth-child(3))
  .anons-item-header {
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.anons-main-wrapper
  > .row
  > div:not(:nth-child(1), :nth-child(2), :nth-child(3))
  .anons-item
  h3 {
  margin-bottom: 8px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.anons-main-wrapper
  > .row
  > div:not(:nth-child(1), :nth-child(2), :nth-child(3))
  .anons-item-content
  p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #6c757d;
  margin-bottom: 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
} */
.anons-item {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #f5f7f9;
  border-radius: 4px;
  height: 367px;
}
.anons-item-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #dbdde9;
  margin-bottom: 18px;
}
.anons-item-header span {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #959ab2;
}
.anons-item h3 {
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #2c2d32;
  margin-bottom: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.anons-item-content p:not(:first-child) {
  display: none;
}
.anons-item-content p {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #2c2d32;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.anons-item > span {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #2c2d32;
  margin-top: auto;
}
.home-survey {
  height: 100%;
}
@media (max-width: 1650px) {
  .anons-calendar {
    height: 100%;
    background-color: #f5f7f9;
  }
  .anons-main-wrapper > .row {
    margin: -15px;
  }
  .anons-main-wrapper > .row > div {
    padding: 15px;
  }
}
@media (max-width: 1480px) {
  .anons-main-wrapper > .row {
    margin: -10px;
  }
  .anons-main-wrapper > .row > div {
    padding: 10px;
  }

  .anons-item {
    height: 330px;
    padding: 20px;
  }

  .anons-item h3,
  .anons-item p {
    font-size: 15px;
    line-height: 21px;
  }
  .anons-item-header span {
    font-size: 16px;
    line-height: 21px;
  }
  .anons-item > span {
    font-size: 15px;
    line-height: 21px;
  }
  .calendar.home .b-calendar-grid {
    height: auto !important;
  }
}
@media (max-width: 1330px) {
  .anons-main-wrapper
    > .row
    > div:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3))
    .anons-item {
    padding: 15px 20px;
  }
}
@media (max-width: 1199px) {
  .anons-main > .row {
    margin: -7.5px;
  }
  .anons-main > .row > div {
    padding: 7.5px;
  }
  .anons-main-wrapper > .row {
    margin: -7.5px;
  }
  .anons-main-wrapper > .row > div {
    padding: 7.5px;
  }
}

@media (max-width: 991px) {
  .home-survey {
    padding-top: 70px;
  }

  .anons-item {
    height: 310px;
  }
  .anons-main-wrapper
    > .row
    > div:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3))
    .anons-item-content
    p {
    -webkit-line-clamp: 3;
    font-size: 15px;
    line-height: 21px;
  }
  .anons-main-wrapper
    > .row
    > div:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3))
    .anons-item {
    height: 310px;
  }
  .anons-item h3 {
    margin-bottom: 16px;
  }
  .anons-main-wrapper
    > .row
    > div:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3))
    .anons-item
    h3 {
    margin-bottom: 16px;
  }
}
@media (max-width: 575px) {
  .anons-item-header span {
    font-size: 14px;
    line-height: 20px;
  }
  .anons-item {
    height: auto;
    padding: 15px;
  }
  .anons-main-wrapper
    > .row
    > div:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3))
    .anons-item {
    height: auto;
    padding: 15px;
  }
  .anons-item-header {
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  .anons-item h3 {
    margin-bottom: 12px;
  }
  .anons-main-wrapper
    > .row
    > div:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3))
    .anons-item-header {
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  .home-survey {
    padding-top: 0;
  }
}
</style>