<template>
  <div class="survey-wrapper">
    <div class="survey-header title">
      <h2>{{ $t("Survey") }}</h2>
    </div>
    <div class="survey-banner" v-if="goVote">
      <div class="survey-banner-image">
        <img src="~/assets/images/survey.png" alt="not found" />
      </div>
      <div class="survey-banner-title">
        <p>{{ $t("SurveyText") }}</p>
        <button class="btn" @click="onGoVote">
          {{ $t("SurveyYes") }}
        </button>
      </div>
    </div>
    <div class="survey-bottom" v-else>
      <div class="slider-navigation">
        <i class="fa fa-angle-left usefull-icon"></i>
        <i class="fa fa-angle-right usefull-icon"></i>
      </div>
      <div class="survey-body" v-if="surveys && surveys.length">
        <client-only>
          <swiper
            ref="mySwiper"
            :options="swiperOptions"
            :loadtheme="false"
            @slideChange="onSlide"
          >
            <swiper-slide v-for="(survey, index) in surveys" :key="survey.id">
              <div class="survey-item">
                <div class="survey-item-header">
                  <h3>
                    {{ $t("Survey") }} {{ index + 1 }}/{{
                      surveys && surveys.length
                    }}
                  </h3>
                </div>
                <div class="survey-item-body" v-if="survey && !survey.voted">
                  <h4>{{ survey.question }}</h4>
                  <ul>
                    <li
                      v-for="variant in survey.variants"
                      :key="variant.id"
                      @click="getId(variant)"
                    >
                      <input
                        type="radio"
                        :name="'survey' + survey.id"
                        :id="'variant' + variant.id"
                      />
                      <label :for="'variant' + variant.id">
                        <i></i>
                        {{ variant.text }}
                      </label>
                    </li>
                  </ul>
                </div>
                <div class="survey-item-result" v-else>
                  <button
                    @click="toBack(surveys[activeIndex])"
                    v-if="survey && survey.results && !survey.results.selected"
                  >
                    <i class="icon-arrow-left"></i> {{ $t("Back") }}
                  </button>
                  <ul
                    v-if="
                      survey.results.variants && survey.results.variants.length
                    "
                  >
                    <li
                      v-for="result in survey.results.variants"
                      :key="result.id"
                    >
                      <span
                        >{{ result.text }} -
                        {{
                              (
                                  (result.voices * 100) /
                                  survey.results.total_voices
                                ).toFixed(3) + '%',
                        }}</span
                      >
                      <div class="survey-item-result-bottom">
                        <i
                          class="icon-done"
                          v-if="survey.results.selected == result.id"
                        ></i>
                        <div class="degree">
                          <div
                            class="loading"
                            :style="{
                              width:
                                (
                                  (result.voices * 100) /
                                  survey.results.total_voices
                                ).toFixed(3) + '%',
                            }"
                          ></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <h5>
                    {{ $t("AllVotes") }}
                    {{ (survey.results && survey.results.total_voices) || 0 }}
                  </h5>
                </div>
              </div>
            </swiper-slide>
          </swiper>
        </client-only>
      </div>
      <div class="survey-body" v-else>
        <h6>Savol javob to'ldirilmoqda</h6>
      </div>
      <div class="survey-footer">
        <button
          @click="toVote(surveys[activeIndex])"
          :class="{
            disabled:
              (surveys[activeIndex] && surveys[activeIndex].voted) ||
              (!currentSurvey && !currentVariant),
          }"
        >
          {{ $t("Vote") }}
        </button>
        <button @click="getResult(surveys[activeIndex])">
          {{ $t("Results") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      swiperOptions: {
        allowTouchMove: false,
        slidesPerview: 1,
        navigation: {
          prevEl: ".fa-angle-left.usefull-icon",
          nextEl: ".fa-angle-right.usefull-icon",
        },
        // pagination: {
        //   el: ".swiper-pagination",
        //   clickable: true,
        // },
        effect: "fade",
        fadeEffect: { crossFade: true },
        autoplay: false,
        spaceBetween: 30,
        speed: 1000,
      },
      surveys: [],

      currentSurvey: null,
      currentVariant: null,

      activeIndex: "0",
      goVote: true,
    };
  },
  async mounted() {
    let data = await this.$store.dispatch("survey/fetchSurveyList") || [];
    data = data.map((el) => {
      return {
        ...el,
        voted: false,
        results: {},
      };
    });
    this.surveys = data;
  },
  methods: {
    onSlide() {
      this.activeIndex = this.swiper.$swiper.activeIndex;
    },
    toVote(currentSurvey) {
      if (this.currentSurvey && this.currentVariant && !currentSurvey.voted) {
        currentSurvey.voted = true;
        const data = {
          survey: this.currentSurvey,
          survey_variant: this.currentVariant,
        };
        this.$store.dispatch("survey/voteSurvey", data);
        this.getResult(currentSurvey);
      } else if (
        currentSurvey.voted &&
        !Object.keys(currentSurvey.results).length
      ) {
        currentSurvey.voted = false;
      } else if (
        !currentSurvey.voted &&
        !this.currentVariant &&
        !this.currentSurvey
      ) {
        currentSurvey.voted = true;
        // ("worked");
      }
    },
    toBack(currentSurvey) {
      currentSurvey.voted = false;
    },

    async getResult(currentSurvey) {
      if (currentSurvey.voted && this.currentSurvey && this.currentVariant) {
        let data = await this.$store.dispatch(
          "survey/fetchResults",
          currentSurvey.id
        );
        data.selected = this.currentVariant;
        currentSurvey.results = data;
        this.currentVariant = null;
        this.currentSurvey = null;
      } else if (!currentSurvey.voted) {
        currentSurvey.voted = true;
        let data = await this.$store.dispatch(
          "survey/fetchResults",
          currentSurvey.id
        );
        currentSurvey.results = data;
      }
    },

    getId(item) {
      this.currentSurvey = item.survey;
      this.currentVariant = item.id;
    },
    onGoVote() {
      this.goVote = false;
    },
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper;
    },
  },
};
</script>

<style>
.survey-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.survey-bottom {
  height: 100%;
  position: relative;
}
.survey-body {
  position: relative;
}
.survey-bottom .slider-navigation {
  position: absolute;
  right: 24px;
  top: 22px;
  z-index: 2;
}
.survey-bottom {
  background: #f5f7f9;
  border-radius: 4px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.survey-item {
  height: 527px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.survey-item::-webkit-scrollbar-track {
  background: rgba(219, 221, 233, 0.48);
  border-radius: 4px;
}
.survey-item::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}
.survey-item::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background: #b3bee0;
  border-radius: 4px;
}
.survey-item-header h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #959ab2;
}
.survey-item-header {
  padding-bottom: 16px;
  border-bottom: 1px solid #dbdde9;
}
.survey-item-body {
  padding-top: 16px;
}
.survey-item-body h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #2c2d32;
  margin-bottom: 24px;
}
.survey-item-body ul li {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
  width: max-content;
}
.survey-item-body ul li:last-child {
  margin-bottom: 0;
}
.survey-item-body ul li input {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  user-select: none;
}
.survey-item-body ul li label {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #6c757d;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  margin: 0;
}
.survey-item-body ul li label i {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #6c757d;
}
.survey-item-body ul li label i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background: #0b4aa8;
  transform: translate(-50%, -50%);
  display: none;
}
.survey-item-body ul li input:checked ~ label {
  color: #0b4aa8;
}
.survey-item-body ul li input:checked ~ label i {
  border-color: #0b4aa8;
}
.survey-item-body ul li input:checked ~ label i::after {
  display: block;
}

.survey-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.survey-footer button {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6c757d;
  width: calc(50% - 8px);
  height: 44px;
  cursor: pointer;
}
.survey-footer button:first-child.disabled {
  background-color: gray;
  pointer-events: none;
}
.survey-footer button:first-child {
  color: white;
  background: #0b4aa8;
  border-radius: 4px;
  border: none;
  outline: none;
}
.survey-footer button:last-child {
  background: transparent;
  outline: none;
  border: 1px solid #6c757d;
  border-radius: 4px;
}
.survey-item-result {
  padding-top: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.survey-item-result button {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #2c2d32;
  display: flex;
  width: max-content;
  border: none;
  outline: none;
  background-color: transparent;
  align-items: center;
  margin-bottom: 14px;
}
.survey-item-result button i {
  margin-right: 8px;
}
.survey-item-result ul li {
  margin-bottom: 20px;
}
.survey-item-result ul li:last-child {
  margin-bottom: 0;
}
.survey-item-result ul li span {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #6c757d;
  margin-bottom: 8px;
  display: block;
}
.survey-item-result-bottom {
  display: flex;
  align-items: center;
}
.survey-item-result-bottom i {
  font-size: 13px;
  margin-right: 8px;
  color: #00933b;
}
.survey-item-result-bottom .degree {
  background: #dee2e6;
  border-radius: 2px;
  height: 16px;
  width: 100%;
}
.survey-item-result-bottom .degree .loading {
  background: #3469b8;
  height: 100%;
}
.survey-item-result h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2c2d32;
  margin-top: auto;
  margin-bottom: 8px;
}

.survey-banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 632px;
  /* background-color: #f5f7f9; */
}
.survey-banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.survey-banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.survey-banner-title {
  padding-bottom: 32px;
  position: relative;
  z-index: 2;
}
.survey-banner {
  padding: 0 20px;
  position: relative;
}
.survey-banner p {
  text-align: center;
  color: #ffffff;
}
.survey-banner button {
  background: #ffffff;
  border-radius: 4px;
  padding: 12px 61px;
  color: #0b4aa8;
  align-items: center;
}
.survey-banner button:hover {
  /* color: #fff; */
  color: #0b4aa8;
}
.swiper-pagination {
  right: 0;
}
.swiper-pagination span {
  margin-left: 4px;
}
.swiper-pagination span.swiper-pagination-bullet-active {
  background-color: #3469b8;
}
</style>
