@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qsj3y');
  src:  url('fonts/icomoon.eot?qsj3y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qsj3y') format('truetype'),
    url('fonts/icomoon.woff?qsj3y') format('woff'),
    url('fonts/icomoon.svg?qsj3y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-360:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-circle-left:before {
  content: "\e902";
}
.icon-circle-right:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-done:before {
  content: "\e905";
}
.icon-earth:before {
  content: "\e906";
}
.icon-eye:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-gallery:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-link:before {
  content: "\e90b";
}
.icon-mobile:before {
  content: "\e90c";
}
.icon-navbar:before {
  content: "\e90d";
}
.icon-pause-button:before {
  content: "\e90e";
}
.icon-play:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e910";
}
.icon-remove:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-sunglasses:before {
  content: "\e913";
}
.icon-telegram:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e915";
}
.icon-url:before {
  content: "\e916";
}
.icon-user:before {
  content: "\e917";
}
.icon-video:before {
  content: "\e918";
}
.icon-vk:before {
  content: "\e919";
}
.icon-youtube:before {
  content: "\e91a";
}
