<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active">
              <nuxt-link :to="localePath('/events')">{{
                (sideMenu && sideMenu.title) || ""
              }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-main-wrapper">
          <div class="row">
            <div class="col-lg-8 col-xl-9">
              <div class="news-wrapper">
                <div class="news-main">
                  <CardsNews
                    line="horizontal"
                    v-for="item in news"
                    :key="item.id"
                    :image="
                      (item.image && item.image[0] && item.image[0].file) ||
                      require(`~/assets/images/default/article_${$i18n.locale}.jpg`)
                    "
                    :title="item.title"
                    :content="item.content"
                    :date="item.pub_date"
                    :slug="item.slug"
                  />
                </div>
                <button
                  class="load-more"
                  v-if="count > (news && news.length)"
                  @click="fetchData"
                >
                  {{ $t("LoadMore") }}
                </button>
              </div>
            </div>
            <div class="col-lg-4 col-xl-3">
              <AppSidebar :sideMenu="sideMenu">
                <AppCalendar />
              </AppSidebar>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      news: [],
      limit: 12,
      offset: 0,
      sideMenu: {},
      count: 0,
    };
  },
  async mounted() {
    this.loader = false;
    this.fetchData();
    // this.news = await this.$store.dispatch(
    //   "posts/getPostsListInSlug",
    //   this.$route.params.slug
    // );
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInSlug",
      this.$route.params.slug
    );
    this.loader = true;
  },
  methods: {
    async fetchData() {
      let res = await this.$store.dispatch("posts/getPostsListInSlug", {
        params: {
          limit: this.limit,
          offset: this.offset,
        },
        slug: this.$route.params.slug,
      });
      this.news = [...this.news, ...res.results];
      this.offset += this.limit;
      this.count = res.count;
    },
  },
};
</script>

<style scoped>
</style>