<template>
  <div class="appeals-list">
    <PopupsResponce v-if="getRequestsPopup" :data="responce" />
    <div class="appeals-list__header title">
      <h2>{{ $t("RequestList") }}</h2>
      <div class="appeals-list__filter">
        <b-form-select v-model="selected">
          <!-- This slot appears above the options from 'options' prop -->

          <b-form-select-option :value="null">{{
            $t("all")
          }}</b-form-select-option>
          <b-form-select-option value="1">{{
            $t("StatusAccepted")
          }}</b-form-select-option>
          <b-form-select-option value="2">{{
            $t("StatusUnder")
          }}</b-form-select-option>
          <b-form-select-option value="3">{{
            $t("StatusClosed")
          }}</b-form-select-option>
        </b-form-select>
      </div>
    </div>
    <nuxt-link
      class="appeals-list__item"
      v-for="(item, i) of appeals"
      :key="i"
      :to="
        localePath({
          path: `/requests/${item.id}/`,
        })
      "
    >
      <!-- @click="openModal(item)" -->

      <h4>{{ getType(item.appeal_type) }}</h4>
      <p class="ellipsis">
        {{ item.content }}
      </p>
      <div class="card__info__footer">
        <span class="text-blue">{{ $t("Status") }}:</span>
        <span>{{ getStatus(item.status) }}</span>
      </div>
    </nuxt-link>
  </div>
</template>
<script>
export default {
  props: {
    userId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      selected: null,
      appeals: null,
      responce: null,
      persons: [
        { value: 1, text: this.$t("toOLiyMajlis") },
        { value: 2, text: this.$t("toSpiker") },
        {
          value: 3,
          text: this.$t("toAssistantSpeaker"),
        },
        { value: 4, text: this.$t("toFraction") },
        { value: 6, text: this.$t("toCommittee") },
        { value: 7, text: this.$t("toDeputy") },
        { value: 5, text: this.$t("toCommission") },
      ],
    };
  },
  async created() {
    this.appeals = await this.$store.dispatch("profile/fetchAppealsList", {});
  },
  methods: {
    getStatus(status) {
      if (status == 1) {
        return this.$t("StatusAccepted");
      } else if (status == 2) {
        return this.$t("StatusUnder");
      } else {
        return this.$t("StatusClosed");
      }
    },
    getType(val) {
      const obj = this.persons.find((e) => e.value == val);
      return obj.text;
    },
  },
  watch: {
    async selected(val) {
      this.appeals = await this.$store.dispatch("profile/fetchAppealsList", {
        status: val,
      });
    },
  },
  computed: {
    getRequestsPopup() {
      return this.$store.getters["requests/getRequestsPopup"];
    },
  },
};
</script>
<style>
.ellipsis {
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}
</style>
