<template>
  <b-form :class="{ is_not_auth: !isAuth }" @submit.prevent="submit">
    <b-form-group class="request-form">
      <div class="row">
        <div class="col-lg-12">
          <label for="name">{{ $t("FormName") }}</label>
          <b-form-input
            v-model="form.full_name"
            :placeholder="$t('FormNamePlaceholder')"
            id="name"
            :class="{
              invalid: $v.form.full_name.$dirty && !$v.form.full_name.required,
            }"
          ></b-form-input>
          <small
            v-if="$v.form.full_name.$dirty && !$v.form.full_name.required"
            class="text-danger"
            >{{ $t("enterName") }}</small
          >
        </div>
        <div class="col-lg-12">
          <label for="region">{{ $t("FormRegion") }}</label>
          <b-form-select
            v-model="form.region"
            :options="allRegions"
            id="region"
            :class="{
              invalid: $v.form.region.$dirty && !$v.form.region.required,
            }"
          >
            <template #first>
              <b-form-select-option :value="null" disabled>{{
                $t("FormRegionPlaceholder")
              }}</b-form-select-option>
            </template>
          </b-form-select>
          <small
            v-if="$v.form.region.$dirty && !$v.form.region.required"
            class="text-danger"
            >{{ $t("selectRegion") }}</small
          >
        </div>
        <div class="col-lg-12">
          <label for="district">{{ $t("FormDistrict") }}</label>
          <b-form-select
            v-model="form.district"
            :options="allDistricts"
            id="district"
            :class="{
              invalid: $v.form.district.$dirty && !$v.form.district.required,
            }"
          >
            <template #first>
              <b-form-select-option :value="null" disabled>{{
                $t("FormDistrictPlaceholder")
              }}</b-form-select-option>
            </template>
          </b-form-select>
          <small
            v-if="$v.form.district.$dirty && !$v.form.district.required"
            class="text-danger"
            >{{ $t("selectArea") }}</small
          >
        </div>
        <!-- <div class="col-lg-6">
                        <label for="passport">{{ $t("FormPassport") }}</label>
                        <b-form-input
                          v-model="form.passport"
                          placeholder="AA XXXXXXXX"
                          id="passport"
                          :class="{
                            invalid:
                              $v.form.passport.$dirty &&
                              !$v.form.passport.required,
                          }"
                        ></b-form-input>
                        <small
                          v-if="
                            $v.form.passport.$dirty &&
                            !$v.form.passport.required
                          "
                          class="text-danger"
                          >{{ $t("enterPasport") }}</small
                        >
                      </div> -->
        <div class="col-lg-6">
          <label for="address">{{ $t("FormAddress") }}</label>
          <b-form-input
            v-model="form.address"
            :placeholder="$t('FormAddressPlaceholder')"
            id="address"
          ></b-form-input>
          <small
            v-if="$v.form.address.$dirty && !$v.form.address.required"
            class="text-danger"
            >{{ $t("enterAddress") }}</small
          >
        </div>
        <div class="col-lg-6">
          <label for="telephone">{{ $t("FormPhone") }}</label>
          <b-form-input
            v-model="form.phone_number"
            placeholder="+998"
            v-mask="'+998#########'"
            id="telephone"
            :class="{
              invalid:
                $v.form.phone_number.$dirty && !$v.form.phone_number.required,
            }"
          ></b-form-input>
          <small
            v-if="$v.form.phone_number.$dirty && !$v.form.phone_number.required"
            class="text-danger"
            >{{ $t("enterPhone") }}</small
          >
        </div>
        <div class="col-lg-6">
          <label for="email">{{ $t("FormEmail") }}</label>
          <b-form-input
            v-model="form.email"
            :placeholder="$t('FormEmailPlaceholder')"
            id="email"
            :class="{
              invalid: $v.form.email.$dirty && !$v.form.email.email,
            }"
          ></b-form-input>
          <!-- <small
                          v-if="$v.form.email.$dirty && !$v.form.email.required"
                          class="text-danger"
                          >Пожалуйста введите ваш email</small
                        > -->
          <small
            class="text-danger"
            v-if="$v.form.email.$dirty && !$v.form.email.email"
          >
            {{ $t("validEmail") }}
          </small>
        </div>

        <!-- <div class="col-lg-6">
                        <label for="birthday">{{ $t("FormBirthday") }}</label>
                        <b-form-input
                          v-model="form.birth_date"
                          placeholder="ДД/ММ/ГГ"
                          id="birthday"
                          :class="{
                            invalid:
                              $v.form.birth_date.$dirty &&
                              !$v.form.birth_date.required,
                          }"
                        ></b-form-input>
                        <small
                          v-if="
                            $v.form.birth_date.$dirty &&
                            !$v.form.birth_date.required
                          "
                          class="text-danger"
                          >Пожалуйста выберите вашу дату рождения</small
                        >
                      </div> -->
        <!-- <div class="col-lg-6">
                        <label for="status">{{ $t("FormStatus") }}</label>
                        <b-form-select
                          v-model="form.applicant_status"
                          :options="allStatus"
                          id="status"
                          :class="{
                            invalid:
                              $v.form.applicant_status.$dirty &&
                              !$v.form.applicant_status.required,
                          }"
                        >
                          <template #first>
                            <b-form-select-option :value="null" disabled>{{
                              $t("FormStatusPlaceholder")
                            }}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <small
                          v-if="
                            $v.form.applicant_status.$dirty &&
                            !$v.form.applicant_status.required
                          "
                          class="text-danger"
                          >Пожалуйста выберите вашу статус</small
                        >
                      </div> -->
        <div class="col-lg-12 form_file">
          <label for="file">{{ $t("FormFile") }}</label>
          <b-form-file
            id="file"
            v-model="form.attachments"
            placeholder="Файл не выбран"
            :browse-text="$t('open')"
          >
            <template slot="file-name" slot-scope="{ names }">
              <b-badge variant="dark">{{ names[0] }}</b-badge>
              <b-badge v-if="names.length > 1" variant="dark" class="ml-1">
                + {{ names.length - 1 }} More files
              </b-badge>
            </template>
            <h1>s</h1>
          </b-form-file>
        </div>
        <!-- <div class="col-lg-12">
                        <button class="add"><i class="icon-plus"></i></button>
                      </div> -->
        <div class="col-lg-12">
          <label for="to">{{ $t("FormTo") }}</label>
          <b-form-select
            v-model="form.appeal_type"
            :placeholder="$t('FormToPlaceholder')"
            :options="persons"
            id="to"
            :class="{
              invalid:
                $v.form.appeal_type.$dirty && !$v.form.appeal_type.required,
            }"
          ></b-form-select>
          <small
            v-if="$v.form.appeal_type.$dirty && !$v.form.appeal_type.required"
            class="text-danger"
            >{{ $t("requiredField") }}</small
          >
        </div>
        <!-- assistans  -->
        <div class="col-lg-12" v-if="getWhom == 3">
          <label for="to">{{ $t("FormTo") }}</label>
          <b-form-select
            v-model="form.whom"
            :placeholder="$t('FormToPlaceholder')"
            :options="assistans"
            id="to"
          ></b-form-select>
          <!-- <small
                          v-if="$v.form.whom.$dirty && !$v.form.whom.required"
                          class="text-danger"
                          >{{ $t("requiredField") }}</small
                        > -->
        </div>
        <!-- fractions  -->
        <div class="col-lg-12" v-if="getWhom == 4">
          <label for="to">{{ $t("FormTo") }}</label>
          <b-form-select
            v-model="form.whom"
            :placeholder="$t('FormToPlaceholder')"
            :options="fractions"
            id="to"
          ></b-form-select>
          <!-- <small
                          v-if="$v.form.whom.$dirty && !$v.form.whom.required"
                          class="text-danger"
                          >{{ $t("requiredField") }}</small
                        > -->
        </div>
        <!-- commission  -->
        <div class="col-lg-12" v-if="getWhom == 5">
          <label for="to">{{ $t("FormTo") }}</label>
          <b-form-select
            v-model="form.whom"
            :placeholder="$t('FormToPlaceholder')"
            :options="commissions"
            id="to"
          ></b-form-select>
          <!-- <small
                          v-if="$v.form.whom.$dirty && !$v.form.whom.required"
                          class="text-danger"
                          >{{ $t("requiredField") }}</small
                        > -->
        </div>
        <!-- committee  -->
        <div class="col-lg-12" v-if="getWhom == 6">
          <label for="to">{{ $t("FormTo") }}</label>
          <b-form-select
            v-model="form.whom"
            :placeholder="$t('FormToPlaceholder')"
            :options="committees"
            id="to"
          ></b-form-select>
          <!-- <small
                          v-if="$v.form.whom.$dirty && !$v.form.whom.required"
                          class="text-danger"
                          >{{ $t("requiredField") }}</small
                        > -->
        </div>
        <!-- deputies  -->
        <div class="col-lg-12" v-if="getWhom == 7">
          <label for="to">{{ $t("FormTo") }}</label>
          <b-form-select
            v-model="form.whom"
            :placeholder="$t('FormToPlaceholder')"
            :options="deputies"
            id="to"
          ></b-form-select>
          <!-- <small
                          v-if="$v.form.whom.$dirty && !$v.form.whom.required"
                          class="text-danger"
                          >{{ $t("requiredField") }}</small
                        > -->
        </div>

        <div class="col-lg-12">
          <label for="text">{{ $t("FormText") }}</label>
          <b-form-textarea
            v-model="form.content"
            :placeholder="$t('FormText')"
            rows="8"
            :class="{
              invalid: $v.form.content.$dirty && !$v.form.content.required,
            }"
          ></b-form-textarea>
          <small
            v-if="$v.form.content.$dirty && !$v.form.content.required"
            class="text-danger"
            >{{ $t("requiredField") }}</small
          >
        </div>
        <div class="col-lg-12">
          <button class="submit" :disabled="!isAuth">
            {{ $t("Send") }}
          </button>
        </div>
      </div>
    </b-form-group>
  </b-form>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";
export default {
  props: {
    info: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      form: {
        full_name: "",
        region: null,
        district: null,
        // passport: null,
        address: null,
        email: null,
        // birth_date: null,
        // applicant_status: 1,
        appeal_type: null,
        content: null,
        attachments: null,
        phone_number: null,
        whom: "",
      },
      allRegions: [],
      allDistricts: [],
      persons: [
        { value: 1, text: this.$t("toOLiyMajlis") },
        { value: 2, text: this.$t("toSpiker") },
        {
          value: 3,
          text: this.$t("toAssistantSpeaker"),
        },
        { value: 4, text: this.$t("toFraction") },
        { value: 6, text: this.$t("toCommittee") },
        { value: 7, text: this.$t("toDeputy") },
        { value: 5, text: this.$t("toCommission") },
      ],
      assistans: null,
      commissions: null,
      fractions: null,
      committees: null,
      deputies: null,
      // allStatus: [
      //   { text: "ishsiz", value: 1 },
      //   { text: "ishsiz", value: 1 },
      //   { text: "ishsiz", value: 1 },
      // ],
    };
  },
  validations: {
    form: {
      full_name: { required },
      region: { required },
      district: { required },
      email: { email },
      phone_number: { required },
      content: { required },
      appeal_type: { required },
      address: { required },
    },
  },
  mounted() {
    this.form = {
      ...this.info,
      phone_number: this.info.username,
      full_name: `${this.info.last_name} ${this.info.first_name} ${this.info.middle_name}`,
      applicant: this.info.id,
    };
  },
  async created() {
    const regions = await this.$store.dispatch("requests/fetchAllRegions");
    regions.forEach((i) => {
      this.allRegions.push({ ...i, text: i.title, value: i.id });
    });
  },
  methods: {
    async submit(val) {
      try {
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
        } else {
          if (!this.form.attachments) {
            delete this.form.attachments;
          }
          if (this.form.appeal_type == 4) {
            this.form.fraction = this.form.whom;
            delete this.form.whom;
          } else if (this.form.appeal_type == 5) {
            this.form.commission = this.form.whom;
            delete this.form.whom;
          } else if (this.form.appeal_type == 6) {
            this.form.committee = this.form.whom;
            delete this.form.whom;
          }
          let form = this.form;
          let f = new FormData();
          if (form.phone_number) {
            form.phone_number = form.phone_number.replace("+", "");
          }
          Object.keys(form).forEach((k) => {
            k != "attachments" && f.append(k, form[k]);
            k == "attachments" && f.append(k, form[k], form[k].name);
          });

          const res = await this.$axios.post("/appeals/create/", f);
          if (res.status == 200 || res.status == 201) {
            this.$toast.success(this.$t("successText"));
            // this.$router.go();
            this.$emit("toAppealsList");
            this.$v.$reset();
          } else {
            console.dir(res);
            const data = res.response.data;
            Object.keys(data).forEach((i) => {
              throw new Error(data[i][0]);
            });
          }
        }
      } catch (error) {
        console.dir(error);
        this.$toast.error(this.$t(error.message));

        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
          return;
        }
      }
    },
    async getAllDistricts(id) {
      const districts = await this.$store.dispatch(
        "requests/fetchRegionDetail",
        id
      );
      this.allDistricts = [];
      districts.districts.forEach((i) => {
        this.allDistricts.push({ ...i, text: i.title, value: i.id });
      });
    },
  },
  computed: {
    regionId() {
      return this.form.region;
    },
    isAuth() {
      return this.$store.getters["auth/getAccessToken"];
    },
    getWhom() {
      return this.form.appeal_type;
    },
  },
  watch: {
    regionId(val) {
      if (val) {
        this.getAllDistricts(val);
      }
    },
    async getWhom(val) {
      if (val == 3) {
        let assistans = await this.$store.dispatch(
          "requests/fetchSpeakerAssistant"
        );
        console.log(assistans, "assistans");
        // assistans && assistans.shift();
        this.assistans = assistans.sub_speakers.map((i) => ({
          ...i,
          text: i.first_name + " " + i.last_name + " " + i.middle_name,
          value: i.id,
        }));
      } else if (val == 4) {
        const fractions = await this.$store.dispatch(
          "requests/fetchFractionsList"
        );
        this.fractions = fractions.map((i) => ({
          ...fractions,
          text: i.title,
          value: i.id,
        }));
      } else if (val == 5) {
        const commissions = await this.$store.dispatch(
          "requests/fetchCommissionsList"
        );
        this.commissions = commissions.map((i) => ({
          ...i,
          text: i.title,
          value: i.id,
        }));
      } else if (val == 6) {
        const committe = await this.$store.dispatch(
          "requests/fetchCommitteList"
        );
        this.committees = committe.map((i) => ({
          ...i,
          text: i.title,
          value: i.id,
        }));
      } else if (val == 7) {
        const deputies = await this.$store.dispatch("requests/fetchDeputies");
        this.deputies = deputies.map((i) => ({
          ...i,
          text: `${i.last_name} ${i.first_name} ${i.middle_name}`,
          value: i.id,
        }));
      }
    },
  },
};
</script>

<style>
.request-form > div > .row {
  margin: -16px -20px;
}
.request-form > div > .row > div {
  padding: 16px 20px;
}
.request-form input {
  height: 48px;
  border: 1px solid #dbdde9;
  border-radius: 4px;
  background-color: transparent;
  background-color: white;
}
.request-form select {
  height: 48px;
  border: 1px solid #dbdde9;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 500;
  background-color: white;
}

.request-form textarea {
  border: 1px solid #dbdde9;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding: 14px 16px;
  background-color: white;
}
.request-form textarea::placeholder,
.request-form input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #cacbcf;
}
.request-form label {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #2c2d32;
}
.request-form .custom-file-label {
  background-color: white;
  border: 1px solid #dbdde9;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.request-form .custom-file-input {
  height: 100%;
}
.request-form .custom-file-label span {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #080b22;
}
.request-form .custom-file-label > span {
  padding-left: 12px;
}
.request-form .custom-file-label .badge {
  text-align: left;
}
.custom-file-input:lang(en) ~ .custom-file-label::before {
  content: "\e912";
  font-family: "icomoon";
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #cacbcf;
  width: 40px;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  background: #ffffff;
  border-radius: 4px;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Выбрать файл";
}
.request-form .custom-file-label::after {
  height: calc(1.5em + 0.75rem + 3px);
  padding: 0;
  top: 4px;
  right: 4px;
  bottom: 4px;
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  padding: 0px 32px;
  background: #3469b8;
  border-radius: 4px;
}
.request-form .custom-file {
  height: 48px;
  cursor: pointer;
}
.request-form button.add {
  display: block;
  width: auto;
  background-color: transparent;
  background: #3469b8;
  border-radius: 4px;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.request-form button.add i {
  font-size: 18px;
  color: white;
}
.request-form button.submit {
  background: #3469b8;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 12px 40px;
}
@media (max-width: 1650px) {
  .request-form > div > .row {
    margin: -10px -15px;
  }
  .request-form > div > .row > div {
    padding: 10px 15px;
  }
}
@media (max-width: 1480px) {
  .request-form > div > .row {
    margin: -10px -10px;
  }
  .request-form > div > .row > div {
    padding: 10px 10px;
  }
}
@media (max-width: 1199px) {
  .request-form input {
    font-size: 14px;
  }
  .request-form .custom-file,
  .request-form input,
  .request-form select {
    height: 40px;
  }
  .request-form .custom-file-label::after {
    height: unset;
    top: 2px;
    bottom: 2px;
    right: 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}
</style>