<template>
  <div class="personal-information">
    <h2>{{ $t("PersonalInfo") }}</h2>
    <p>
      {{ $t("PersonalInfoSub") }}
    </p>
    <b-form @submit.prevent="onSubmit" class="form">
      <b-row>
        <b-col md="6">
          <div class="form__item">
            <b-form-group
              id="input-group-2"
              :label="$t('EnterFirstname')"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="form.first_name"
                :placeholder="$t('EnterFirstname')"
                :class="{
                  invalid:
                    $v.form.first_name.$dirty && !$v.form.first_name.required,
                }"
              ></b-form-input>
              <small
                v-if="$v.form.first_name.$dirty && !$v.form.first_name.required"
                class="text-danger"
                >{{ $t("EnterFirstnameDescription") }}</small
              >
            </b-form-group>
          </div>
        </b-col>
        <b-col md="6">
          <div class="form__item">
            <b-form-group
              id="input-group-2"
              :label="$t('EnterLastname')"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="form.last_name"
                :placeholder="$t('EnterLastname')"
              ></b-form-input>
              <small
                v-if="$v.form.last_name.$dirty && !$v.form.last_name.required"
                class="text-danger"
                >{{ $t("EnterLastnameDescription") }}</small
              >
            </b-form-group>
          </div>
        </b-col>
        <b-col md="6">
          <div class="form__item">
            <b-form-group
              id="input-group-2"
              :label="$t('EnterMiddlename')"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="form.middle_name"
                :placeholder="$t('EnterMiddlename')"
                :class="{
                  invalid:
                    $v.form.middle_name.$dirty && !$v.form.middle_name.required,
                }"
              ></b-form-input>
              <small
                v-if="
                  $v.form.middle_name.$dirty && !$v.form.middle_name.required
                "
                class="text-danger"
                >{{ $t("EnterMiddlenameDescription") }}</small
              >
            </b-form-group>
          </div>
        </b-col>
        <b-col md="6">
          <div class="form__item">
            <b-form-group
              id="input-group-2"
              :label="$t('EnterGender')"
              label-for="input-2"
            >
              <b-form-select
                v-model="form.gender"
                class="mb-3"
                :class="{
                  invalid: $v.form.gender.$dirty && !$v.form.gender.required,
                }"
              >
                <!-- This slot appears above the options from 'options' prop -->
                <template #first>
                  <b-form-select-option :value="null" disabled>{{
                    $t("SelectGender")
                  }}</b-form-select-option>
                </template>

                <!-- These options will appear after the ones from 'options' prop -->
                <b-form-select-option value="M">{{
                  $t("Man")
                }}</b-form-select-option>
                <b-form-select-option value="F">{{
                  $t("Woman")
                }}</b-form-select-option>
              </b-form-select>
              <small
                v-if="$v.form.gender.$dirty && !$v.form.gender.required"
                class="text-danger"
                >{{ $t("EnterGenderDescription") }}</small
              >
            </b-form-group>
          </div>
        </b-col>
        <b-col md="6">
          <div class="form__item">
            <b-form-group
              id="input-group-2"
              :label="$t('EnterAddress')"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="form.address"
                :placeholder="$t('EnterAddress')"
                :class="{
                  invalid: $v.form.address.$dirty && !$v.form.address.required,
                }"
              ></b-form-input>
              <small
                v-if="$v.form.address.$dirty && !$v.form.address.required"
                class="text-danger"
                >{{ $t("EnterAddressDescription") }}</small
              >
            </b-form-group>
          </div>
        </b-col>

        <b-col md="6">
          <div class="form__item">
            <b-form-group
              id="input-group-2"
              :label="$t('EnterBirthDate')"
              label-for="input-2"
            >
              <input
                type="date"
                v-model="form.birth_date"
                class="form__item__tel"
              />
            </b-form-group>
          </div>
        </b-col>
        <b-col md="6">
          <div class="form__item">
            <b-form-group
              id="input-group-2"
              :label="$t('EnterNumber')"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="form.phone"
                type="tel"
                v-mask="'+998#########'"
                :placeholder="$t('EnterNumber')"
                :class="{
                  invalid: $v.form.phone.$dirty && !$v.form.phone.required,
                }"
              ></b-form-input>
              <small
                v-if="$v.form.phone.$dirty && !$v.form.phone.required"
                class="text-danger"
                >{{ $t("EnterNumber") }}</small
              >
            </b-form-group>
          </div>
        </b-col>
        <b-col md="6">
          <div class="form__item">
            <b-form-group
              id="input-group-2"
              :label="$t('EnterEmail')"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="form.email"
                :placeholder="$t('EnterEmail')"
                type="email"
                :class="{
                  invalid:
                    ($v.form.email.$dirty && !$v.form.email.required) ||
                    ($v.form.email.$dirty && !$v.form.email.email),
                }"
              ></b-form-input>
              <small
                v-if="$v.form.email.$dirty && !$v.form.email.required"
                class="text-danger"
                >{{ $t("EnterEmailDescription1") }}</small
              >
              <small
                class="text-danger"
                v-else-if="$v.form.email.$dirty && !$v.form.email.email"
              >
                {{ $t("EnterEmailDescription2") }}
              </small>
            </b-form-group>
          </div>
        </b-col>
      </b-row>
      <div class="form__buttons">
        <button class="btn btn-save">{{ $t("Save") }}</button>
        <button class="btn">{{ $t("ChangePassword") }}</button>
      </div>
    </b-form>
  </div>
</template>
<script>
import { required, email } from "vuelidate/lib/validators";
export default {
  props: {
    info: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      form: {
        gender: null,
        first_name: "",
        last_name: "",
        middle_name: "",
        birth_date: "",
        email: "",
        address: "",
        phone: "",
      },
    };
  },
  validations: {
    form: {
      gender: { required },
      first_name: { required },
      last_name: { required },
      middle_name: { required },
      birth_date: { required },
      email: { required, email },
      address: { required },
      phone: { required },
    },
  },
  mounted() {
    this.form = this.info;
  },
  methods: {
    async onSubmit(val) {
      try {
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
          return;
        } else {
          if (this.form.phone) {
            this.form.phone = this.form.phone.replace("+", "");
          }
          await this.$axios.patch(`/account/user/me/update/`, this.form);
          this.$v.$reset();
        }
      } catch (error) {
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
          return;
        }
      }
    },
  },
};
</script>
<style>
.form__item div {
  padding: 0;
  margin: 0;
}
.form__item {
  margin-bottom: 24px;
}
.form__item__tel {
  display: block;
  width: 100%;
  height: 48px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s;
}
.form__item__tel:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.form__buttons button {
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  text-align: center;
  height: 48px;
  margin-right: 20px;
}
.btn-save {
  background: #3469b8;
  color: #fff;
  border: 1px solid #3469b8;
}
.btn-save:hover {
  color: #fff;
}
.personal-information h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #2c2d32;
  margin-bottom: 8px;
}
.personal-information p {
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  max-width: 650px;
}
@media (max-width: 575px) {
  .form__buttons button {
    height: 40px;
    margin-bottom: 8px;
  }
}
</style>
