<template>
  <div class="request-sidebar">
    <div class="request-sidebar-statistic"></div>
    <div class="request-sidebar-check">
      <form action="">
        <label for="check"
          >{{$t("SidebarCheck")}}</label
        >
        <b-form-input v-model="check" id="check"></b-form-input>
        <button>{{$t("SidebarChechBtn")}}</button>
      </form>
    </div>
    <div class="request-sidebar-info">
      <div class="request-sidebar-info-item">
        <h3>{{$t("SidebarDear")}}</h3>
        <p>
          {{$t("SidebarText")}}
        </p>
      </div>
      <div class="request-sidebar-info-item">
        <h3>{{$t("SidebarAdressTitle")}}</h3>
        <p>{{$t("SidebarAdress")}}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      check: null,
    };
  },
};
</script>

<style>
.request-sidebar {
  padding: 30px 20px;
  min-height: 120px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgb(10 74 168 / 8%);
  border-radius: 4px;
}
.request-sidebar-statistic {
  height: 300px;
  border-bottom: 1px solid #dbdde9;
}
.request-sidebar-check {
  padding: 32px 0;
  border-bottom: 1px solid #DBDDE9;
}
.request-sidebar-check label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #2c2d32;
  margin-bottom: 8px;
}
.request-sidebar-check input {
  height: 48px;
  background: #ffffff;
  border: 1px solid #dbdde9;
  border-radius: 4px;
  margin-bottom: 16px;
}
.request-sidebar-check button {
  background: #3469b8;
  border-radius: 4px;
  color: white;
  padding: 12px 0;
  width: 100%;
  border: none;
  outline: none;
}
.request-sidebar-info {
    padding-top: 32px;
}
.request-sidebar-info-item {
  margin-bottom: 40px;
}
.request-sidebar-info-item:last-child {
  margin-bottom: 0;
}
.request-sidebar-info-item h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #2c2d32;
  margin-bottom: 12px;
}
.request-sidebar-info-item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #2c2d32;
}
</style>