<template>
  <section class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <nuxt-link :to="localePath('/gallery')">{{
                $t("Gallery")
              }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ title || "" }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="row" v-if="items && items.length">
            <div
              class="col-lg-3"
              v-for="(image, imageIndex) in items"
              :key="imageIndex"
            >
              <a
                href="#"
                @click.prevent="index = imageIndex"
                class="gallery-item gallery-item__view"
              >
                <article class="gallery-item__image">
                  <img :src="image" />
                </article>
              </a>
            </div>
          </div>
          <div v-else>
            <p class="text-center">{{ $t("emptyGallery") }}</p>
          </div>
        </div>
      </div>
    </main>
    <client-only>
      <CoolLightBox :items="items" :index="index" @close="index = null">
      </CoolLightBox>
    </client-only>
  </section>
</template>

<script>
import CoolLightBox from "vue-cool-lightbox";
import "vue-cool-lightbox/dist/vue-cool-lightbox.min.css";

export default {
  data() {
    return {
      loader: true,
      index: null,
      title: "",
      items: [],
    };
  },
  components: {
    CoolLightBox,
  },
  mounted() {
    this.loader = false;
    this.fetchData();
    this.loader = true;
  },
  methods: {
    async fetchData() {
      let res = await this.$store.dispatch(
        "gallery/getAllPhotos",
        this.$route.params.slug
      );
      res.photos.forEach((element) => {
        this.items.push(element.photo);
      });
      this.title = res.title;
    },
  },
};
</script>

<style scoped>
</style>