<template>
  <div v-if="loading" class="art">
    <div class="container">
      <div class="art-wrapper">
        <div class="art-header title">
          <h2>{{ $t("DeputyArticles") }}</h2>
        </div>
        <div class="art-body">
          <div class="row">
            <div class="col-xl-8 col-lg-12">
              <div class="art-left">
                <div class="row">
                  <div
                    class="col-lg-4 col-sm-6"
                    v-for="(item,index) in articles"
                    :key="item.id"
                     data-aos="fade-right"
                   :data-aos-delay="150 + index * 100"
                  >
                    <nuxt-link
                      class="art-item"
                      :to="
                        localePath({
                          path: '/articles/' + item.id,
                        })
                      "
                    >
                      <div class="art-item-image">
                        <img
                          :src="
                            (item && item.photo) ? item.photo :
                            require('~/assets/images/default/article_' +
                              $i18n.locale +
                              '.jpg')
                          "
                          alt="not found"
                        />
                      </div>
                      <div class="art-item-info">
                        <span
                          ><span>{{
                            (item && item.updated_at) || "" | dateDay
                          }}</span></span
                        >
                        <h3>{{ item.title }}</h3>
                        <div class="art-item-user">
                          <div class="art-item-user-image">
<!--                            <img-->
<!--                              :src="item.deputy && item.deputy.image && $imageProxy(item.deputy.image, 65)"-->
<!--                              alt=""-->
<!--                            />-->
                            <img
                              :src="item.deputy && item.deputy.image"
                              alt=""
                            />
                          </div>
                          <h4>
                            {{
                              item.deputy &&
                              item.deputy.last_name +
                                " " +
                                item.deputy.first_name +
                                " " +
                                item.deputy.middle_name
                            }}
                          </h4>
                        </div>
                      </div>
                    </nuxt-link>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-12">
              <div class="art-right">
                <nuxt-link
                  class="art-block"
                  :to="
                    localePath({
                      path: '/articles/' + item.id,
                    })
                  "
                  v-for="item in articles2"
                  :key="item.id"
                >
                  <div class="art-block-image">
<!--                    <img-->
<!--                      :src="-->
<!--                        item.photo ? $imageProxy(item.photo, 170) :-->
<!--                        require(`~/assets/images/default/article_${$i18n.locale}.jpg`)-->
<!--                      "-->
<!--                    />-->
                    <img
                      :src="
                        item.photo ? item.photo :
                        require(`~/assets/images/default/article_${$i18n.locale}.jpg`)
                      "
                    />
                  </div>
                  <div class="art-block-info">
                    <span>{{ (item && item.updated_at) || "" | dateDay }}</span>
                    <h3>{{ item.title }}</h3>
                    <div class="art-block-user">
                      <div class="art-block-user-image">
<!--                        <img :src="item.deputy && item.deputy.image && $imageProxy(item.deputy.image, 50)" alt="" />-->
                        <img :src="item.deputy && item.deputy.image" alt="" />
                      </div>
                      <h4>
                        {{
                          item.deputy &&
                          item.deputy.last_name +
                            " " +
                            item.deputy.first_name +
                            " " +
                            item.deputy.middle_name
                        }}
                      </h4>
                    </div>
                  </div>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      articles: [],
      articles2: [],
      loading: true,
    };
  },
  async mounted() {
    this.loading = false;
    let res = await this.$store.dispatch("articles/fethcArticles", {
      params: {
        offset: 0,
        limit: 6,
      },
    });
    console.log(res);
    this.articles = res;
    let res2 = await this.$store.dispatch("articles/fethcArticles", {
      params: {
        offset: 6,
        limit: 12,
      },
    });
    console.log(res2);
    this.articles2 = res2;
    this.loading = true;
  },
};
</script>

<style scoped>
.art .row {
  margin: 0 -10px;
}
.art .row > div {
  padding: 0 10px;
}
.art-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
}
.art-item-image {
  /* height: 205px; */
  height: 231px;
}
.art-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.art-item-info {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding: 20px;
  background: #f5f7f9;
  min-height: 220px;
  border-radius: 4px;
  overflow: hidden;
}
.art-item-info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #959ab2;
  margin-bottom: 8px;
}
.art-item-info h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #323232;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.art-item-user {
  margin-top: auto;
  display: flex;
  align-items: center;
  background: #f5f7f9;
}
.art-item-user-image {
  flex: 0 0 65px;
  max-width: 65px;
  height: 65px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 8px;
}
.art-item-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.art-item-user h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0;
  color: #323232;
}
.art-block {
  display: flex;
  padding: 16px 0;
  cursor: pointer;
}
.art-block:not(:last-child) {
  border-bottom: 1px solid #e5e6e9;
}
.art-block:last-child {
  padding-bottom: 0;
}
.art-block:first-child {
  padding-top: 0;
}

.art-block-image {
  /* height: 130px; */
  height: 126px;
  max-width: 170px;
  flex: 0 0 170px;
  border-block: 4px;
  margin-right: 16px;
}
.art-block-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.art-block-info {
  display: flex;
  flex-direction: column;
}
.art-block-info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #959ab2;
  margin-bottom: 8px;
}
.art-block-info h3 {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 8px;
}
.art-block-user {
  display: flex;
  align-items: center;
}
.art-block-user-image {
  max-width: 50px;
  flex: 0 0 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}
.art-block-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.art-block-user h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

@media (max-width: 1440px) {
  .art-item-info {
    min-height: 200px;
  }
  .art-item-info h3 {
    font-size: 14px;
    line-height: 20px;
  }
  .art-item-user-image {
    flex: 0 0 45px;
    max-width: 45px;
    height: 45px;
  }
}
@media (max-width: 1199px) {
  .art-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .art-block {
    width: calc(50% - 10px);
  }
}
@media (max-width: 991px) {
  .art-block-image {
    height: 140px;
    flex: 0 0 140px;
    max-width: 140px;
  }
  .art-block {
    width: calc(50% - 7.5px);
  }
  .art .row {
    margin: 0 -7.5px;
  }
  .art-item {
    margin-bottom: 15px;
  }
  .art .row > div {
    padding: 0 7.5px;
  }
}
@media (max-width: 768px) {
  .art-block {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .art-block {
    flex-direction: column;
  }
  .art-block-image {
    flex: unset;
    max-width: unset;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .art-block-info {
    padding: 15px;
    background: #f5f7f9;
  }
  .art-item-user-image,
  .art-block-user-image {
    max-width: 65px;
    flex: 0 0 65px;
    height: 65px;
  }
  .art-item-info h3 {
    margin-bottom: 20px;
  }
  .art-block-info h3 {
    margin-bottom: 20px;
  }
  .art-item-info {
    padding: 15px;
    min-height: unset;
  }
}
</style>
