<template>
  <div class="media">
    <div class="container">
      <div class="media-wrapper">
        <div class="media-header title">
          <h2>{{ $t("Media") }}</h2>
          <nuxt-link :to="localePath('/gallery')"
            >{{ $t("AllView") }} <i class="fa fa-angle-right"></i
          ></nuxt-link>
        </div>

        <div class="media-main">
          <div class="row">
            <div class="col-lg-6">
              <div class="media-main-video">
                <client-only>
                  <swiper :options="galleryOptions" :loadtheme="false">
                    <swiper-slide v-for="item in videos" :key="item.id">
                      <nuxt-link
                        :to="
                          localePath({
                            path: `/videos/${item.id}`,
                          })
                        "
                        class="media-main-video-item"
                      >
                        <i class="icon-video"></i>
                        <img
                          :src="
                            item.poster ? item.poster :
                            require(`~/assets/images/default/article_${$i18n.locale}.jpg`)
                          "
                          alt="not found">
<!--                        /> <img-->
<!--                          :src="-->
<!--                            item.poster ? $imageProxy(item.poster, 800) :-->
<!--                            require(`~/assets/images/default/article_${$i18n.locale}.jpg`)-->
<!--                          "-->
<!--                          alt="not found"-->
<!--                        />-->
                      </nuxt-link>
                    </swiper-slide>
                  </swiper>
                </client-only>
              </div>
            </div>
            <div class="col-lg-6">
              <div
                class="media-gallery"
                v-if="photos && photos.results && photos.results.length"
              >
                <nuxt-link
                  class="media-gallery-image"
                  v-for="(item, index) in photos.results"
                  :key="item.id"
                  :to="
                    localePath({
                      path: `/gallery/${item.slug}`,
                    })
                  "
                >
                  <CardsSliderGallery
                    :gallery="
                      item.photos && item.photos.length
                        ? item.photos
                        : [
                            {
                              id: 1,
                              photo: require(`~/assets/images/default/article_${$i18n.locale}.jpg`),
                            },
                          ]
                    "
                    :delay="500 + index * 500"
                  />
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <client-only>
      <CoolLightBox :items="videos" :index="index" @close="index = null">
      </CoolLightBox>
    </client-only>
  </div>
</template>

<script>
import CoolLightBox from "vue-cool-lightbox";
import "vue-cool-lightbox/dist/vue-cool-lightbox.min.css";
export default {
  components: {
    CoolLightBox,
  },
  data() {
    return {
      index: null,
      photoIndex: null,
      videos: [],
      galleryOptions: {
        slidesPerView: 1,
        spaceBetween: 10,
        loop: false,
        speed: 800,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
      },
      photos: null,
    };
  },
  async mounted() {
    this.photos = await this.$store.dispatch("gallery/getPhotosList", {
      params: {
        limit: 4,
      },
    });
    const data = await this.$store.dispatch("gallery/getVideosList", {
      params: {
        limit: 3,
      },
    });
    this.videos = data && data.results;
    console.log(this.videos);
  },
};
</script>

<style scoped>
</style>
