<template>
  <div class="others">
    <div class="container">
      <div class="others-wrapper">
        <div class="row">
          <div class="col-lg-3" data-aos="fade-left" data-aos-delay="450">
            <a href="https://lpri.uz/" class="others-item" target="_blank">
              <img src="~~/assets/images/others1.jpg" alt="not found" />
              <div class="others-item-info">
                <img src="~/assets/images/others-logo1.png" alt="not found" />
                <!-- <h4>{{ $t("UsefulTitle0") }}</h4> -->
                <p v-html="$t('Usefultext0')"></p>
              </div>
            </a>
          </div>
          <div class="col-lg-3" data-aos="fade-left" data-aos-delay="350">
            <a href="http://fundngo.uz/" class="others-item" target="_blank">
              <img src="~/assets/images/others3.jpg" alt="not found" />
              <div class="others-item-info">
                <img src="~/assets/images/others-logo3.png" alt="not found" />
                <!-- <h4>{{ $t("UsefulTitle2") }}</h4> -->
                <p v-html="$t('Usefultext2')"></p>
              </div>
            </a>
          </div>
          <div class="col-lg-3" data-aos="fade-left" data-aos-delay="250">
            <a
              href="http://www.ombudsman.uz/"
              class="others-item"
              target="_blank"
            >
              <img src="~/assets/images/others_ombudsman.jpg" alt="not found" />
              <div class="others-item-info">
                <img src="~/assets/images/others-logo2.png" alt="not found" />
                <!-- <h4>{{ $t("UsefulTitle3") }}</h4> -->
                <p v-html="$t('Usefultext3')"></p>
              </div>
            </a>
          </div>
          <div class="col-lg-3" data-aos="fade-left" data-aos-delay="150">
            <a
              href="http://www.ombudsman.uz/oz/managements/bolalar-ombudsmani-2"
              class="others-item"
              target="_blank"
            >
              <img src="~/assets/images/others2.jpg" alt="not found" />
              <div class="others-item-info">
                <img src="~/assets/images/bola-logo.png" alt="not found" />
                <!-- <h4>{{ $t("UsefulTitle3") }}</h4> -->
                <p v-html="$t('Usefultext4')"></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style scoped>
.others-item {
  display: block;
  height: 260px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.others-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: -1;
}
.others-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.others-item-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px;
  z-index: 1;
}
.others-item-info img {
  margin-bottom: 12px;
  height: 52px;
}
.others-item-info h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 7px;
}
.others-item-info p {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 0;
}

@media (max-width: 1650px) {
  .others-item-info p {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@media (max-width: 1330px) {
  .others-item-info {
    padding: 20px;
  }
}
@media (max-width: 991px) {
  .others-wrapper > .row {
    margin: -7.5px 0;
  }
  .others-wrapper > .row > div {
    padding: 7.5px 0;
  }
}
@media (max-width: 575px) {
  .others-item-info p {
    font-size: 14px;
    line-height: 20px;
  }
  .others-item-info h4 {
    font-size: 18px;
    line-height: 24px;
  }
  .others-item-info{
      padding: 20px 15px;
  }
  .others-item{
      height: 210px;
  }
}
</style>
