<template>
  <div class="usefull">
    <div class="container">
      <div class="usefull-wrapper">
        <div class="usefull-header title">
          <h2>{{ $t("UsefulLinks") }}</h2>
          <div class="slider-navigation">
            <i class="fa fa-angle-left usefull-icon"></i>
            <i class="fa fa-angle-right usefull-icon"></i>
          </div>
        </div>
        <div class="usefull-main">
          <client-only>
            <swiper :options="usefullOptions" :loadtheme="false">
              <swiper-slide v-for="item in useful" :key="item.id">
                <a :href="item.link" class="usefull-item" target="_blank">
                  <img
                    :src="item.photo || require('~/assets/images/usefull5.png')"
                    alt="not found"
                  />
                  <h3 v-html="item.title"></h3>
                  <span> {{ item.url }} </span>
                </a>
              </swiper-slide>
            </swiper>
          </client-only>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      usefullOptions: {
        slidesPerView: 5,
        spaceBetween: 40,
        loop: true,
        speed: 1500,
        autoplay: { delay: 5000, disableOnInteraction: false },
        navigation: {
          prevEl: ".fa-angle-left.usefull-icon",
          nextEl: ".fa-angle-right.usefull-icon",
        },
        breakpoints: {
          2000: {
            slidesPerView: 5,
            spaceBetween: 40,
          },
          1650: {
            slidesPerView: 5,
            spaceBetween: 40,
          },
          1480: {
            spaceBetween: 30,
            slidesPerView: 4,
          },
          1200: {
            spaceBetween: 20,
            slidesPerView: 4,
          },
          992: {
            spaceBetween: 15,
            slidesPerView: 3,
          },
          768: {
            spaceBetween: 15,
            slidesPerView: 2,
          },
          0: {
            spaceBetween: 15,
            slidesPerView: 1,
          },
        },
      },
      useful: [],
    };
  },
  async mounted() {
    let list = await this.$store.dispatch("useful/getUsefulList");
    this.useful = list || [];
    this.useful.forEach((i) => {
      i.link = i.url;
      i.url = i.url.replace(/https:\/\//gi, "");
      i.url = i.url.replace(/http:\/\//gi, "");
      i.url.includes("www.") ? (i.url = i.url) : (i.url = "www." + i.url);
    });
  },
};
</script>

<style scoped>
.usefull-item {
  display: flex;
  flex-direction: column;
  background: #f5f7f9;
  border-radius: 4px;
  align-items: center;
  height: 307px;
  padding: 24px;
}
.usefull-item img {
  height: 104px;
}
.usefull-item h3 {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #2c2d32;
  margin-top: 24px;
}
.usefull-item span {
  margin-top: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #0b4aa8;
}
.usefull-navigation {
  display: flex;
  align-items: center;
}
.usefull-navigation i {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  background: #3469b8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 22px;
}
.usefull-navigation i:last-child {
  margin-right: 0;
}
@media(max-width: 1650px) {
  .usefull-item {
    padding: 20px;
  }
}
@media(max-width: 575px){
  .usefull-item{
    padding: 16px;
    height: 255px;
  }
  .usefull-item img{
      height: 90px;
  }
  .usefull-item h3{
      margin-top: 12px;
  }
}
</style>
