<template>
  <nuxt-link
    class="article-card"
    :to="
      localePath({
        path: `/articles/${slug}/`,
      })
    "
  >
    <div class="article-card-image">
      <img :src="image" alt="not found" />
    </div>
    <div class="article-card-info">
      <h3>{{ title }}</h3>
      <h4>
        {{ author }}
      </h4>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    slug: {
      type: String,
      default() {
        return null;
      },
    },
    image: {
      type: String,
      default() {
        return require("~/assets/images/default/article_" +
          $i18n.locale +
          ".jpg");
      },
    },
    title: {
      type: String,
      default() {
        return null;
      },
    },
    author: {
      type: String,
      default() {
        return null;
      },
    },
  },
};
</script>

<style>
.article-card {
  display: flex;
  margin-bottom: 32px;
}
.article-card-image {
  max-width: 150px;
  flex: 0 0 150px;
  height: 200px;
  margin-right: 24px;
}
.article-card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.article-card-info h3 {
  font-size: 20px;
  line-height: 26px;
  color: #323232;
  font-weight: 600;
  margin-bottom: 16px;
}
.article-card-info h4 {
  font-size: 20px;
  line-height: 26px;
  color: #323232;
  font-weight: 500;
  margin-bottom: 0;
}
</style>