<template>
  <nuxt-link
    :to="
      localePath({
        path: `/deputies/${slug}/`,
      })
    "
    class="deputy-item"
  >
    <div class="deputy-item__image" :class="{ 'no-image': !image }">
      <img
        :src="image || require('~/assets/images/avatar.svg')"
        alt="not found"
      />
      <div class="deputy-item__socials">
        <a v-if="web" :href="web || ''" target="_blank">
          <i class="icons icon-earth"></i>
        </a>
        <a v-if="fb_account" :href="fb_account || ''" target="_blank">
          <i class="icons icon-facebook"></i>
        </a>
        <a v-if="tg_account" :href="tg_account || ''" target="_blank">
          <i class="icons icon-telegram"></i>
        </a>
        <a v-if="inst_account" :href="inst_account || ''" target="_blank">
          <i class="icons icon-instagram"></i>
        </a>
        <a v-if="youtube" :href="youtube || ''" target="_blank">
          <i class="icons icon-youtube"></i>
        </a>
      </div>
    </div>
    <div class="deputy-item__info">
      <h2 class="deputy-item__title">{{ title }}</h2>
      <div class="deputy-item__text">
        <strong>{{ $t("DeputyConstituency") }}:</strong>
        <span
          >{{ okrug && okrug.okrug_number }} - {{ okrug && okrug.title }}
        </span>
      </div>
      <div class="deputy-item__text">
        <strong>{{ $t("DeputyFractionMembership") }}:</strong>
        <span>{{ fraction }}</span>
      </div>
      <div class="deputy-item__text">
        <strong>{{ $t("DeputyCommitetMembership") }}:</strong>
        <span>{{ committee }}</span>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    slug: {
      type: String,
      default() {
        return null;
      },
    },
    image: {
      type: String,
      default() {
        return null;
      },
    },
    title: {
      type: String,
      default() {
        return null;
      },
    },
    okrug: {
      type: String,
      default() {
        return "";
      },
    },
    fraction: {
      type: String,
      default() {
        return "";
      },
    },
    committee: {
      type: String,
      default() {
        return "";
      },
    },
    web: {
      type: String,
      default() {
        return null;
      },
    },
    fb_account: {
      type: String,
      default() {
        return null;
      },
    },
    tg_account: {
      type: String,
      default() {
        return null;
      },
    },
    inst_account: {
      type: String,
      default() {
        return null;
      },
    },
    youtube: {
      type: String,
      default() {
        return null;
      },
    },
  },
};
</script>

<style scoped>
.deputy-item {
  display: flex;
  width: 100%;
  height: 336px;
  padding: 24px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 64, 123, 0.08);
  border-radius: 2px;
  margin-bottom: 40px;
  transition: all 0.25s ease-in-out;
}
.deputy-item:hover {
  box-shadow: 0 0 0 rgba(0, 64, 123, 0);
  border: 1px solid #dfedff;
}
.deputy-item__image {
  flex: 0 0 156px;
  max-width: 156px;
  overflow: hidden;
  margin-right: 24px;
}
.deputy-item__image img {
  width: 100%;
  height: 188px;
  object-fit: cover;
  object-position: center;
}
.deputy-item__info {
  width: 100%;
}
.deputy-item__title {
  font-weight: 600;
  font-size: 19px;
  line-height: 22px;
  color: #0a4aa8;
  margin-bottom: 12px;
}
.deputy-item__text {
  margin-bottom: 12px;
}
.deputy-item__text strong {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000821;
}
.deputy-item__text span {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #616677;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.deputy-item__socials {
  padding: 12px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.deputy-item__socials a {
  margin: 0 4px;
  color: #0a4aa8;
}
@media (max-width: 1650px) {
  .deputy-item {
    margin-bottom: 30px;
  }
}
@media (max-width: 1480px) {
  .deputy-item {
    margin-bottom: 20px;
    padding: 20px;
  }
  .deputy-item__image {
    margin-right: 20px;
  }
}
@media (max-width: 1199px) {
  .deputy-item {
    padding: 15px;
  }
  .deputy-item__image {
    margin-right: 15px;
    flex: 0 0 125px;
    max-width: 125px;
    height: 170px;
  }
  .deputy-item__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  .deputy-item__text strong {
    font-size: 14px;
    line-height: 20px;
  }
  .deputy-item__text span {
    font-size: 13px;
    line-height: 18px;
  }
  .deputy-item__text {
    margin-bottom: 8px;
  }
  .deputy-item {
    height: 310px;
  }
}
@media (max-width: 768px) {
  .deputy-item {
    height: unset;
    min-height: 230px;
  }
}
@media (max-width: 450px) {
  .deputy-item {
    flex-wrap: wrap;
  }
  .deputy-item__image {
    max-width: unset;
    flex: unset;
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .deputy-item__image img {
    height: auto;
  }
}
</style>