<template>
  <nuxt-link
    :to="
      localePath({
        path: type == 'gallery' ? `/gallery/${slug}` : `/videos/${id}`,
      })
    "
    class="gallery-item"
    :title="title"
  >
    <article class="gallery-item__image">
      <img :src="photo" :alt="title" />
      <i v-if="type != 'video'" class="icons icon-gallery"></i>
      <i v-else class="icons icon-video"></i>
    </article>
    <div class="gallery-item__title">
      <span class="date">{{ date || "" | dateDay }}</span>
      <p>{{ title }}</p>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    id: {
      type: Number || String,
      default() {
        return null;
      },
    },
    slug: {
      type: String,
      default() {
        return "/";
      },
    },
    title: {
      type: String,
      default() {
        return "";
      },
    },
    date: {
      type: String,
      default() {
        return "";
      },
    },
    photo: {
      type: String,
      default() {
        return require("@/assets/images/default/article_uz.jpg");
      },
    },
    type: {
      type: String,
      default() {
        return "gallery";
      },
    },
  },
};
</script>

<style scoped>
</style>
