<template>
  <nuxt-link
    :to="
      localePath({
        path: `/deputies/${slug}/`,
      })
    "
    class="leadership-item"
    :class="position"
  >
    <div class="leadership-image" :class="{ 'no-image': !image }">
<!--      <img-->
<!--        :src="image ? $imageProxy(image, 64) : require('~/assets/images/avatar.svg')"-->
<!--        alt="not found"-->
<!--      />-->
      <img
        :src="image ? image : require('~/assets/images/avatar.svg')"
        alt="not found"
      />
    </div>
    <div class="leadership-info">
      <h3>{{ title }}</h3>
      <p>{{ text }}</p>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    slug: {
      type: String,
      default() {
        return null;
      },
    },
    image: {
      type: String,
      default() {
        return null;
      },
    },
    title: {
      type: String,
      default() {
        return null;
      },
    },
    text: {
      type: String,
      default() {
        return null;
      },
    },
    position: {
      type: String,
      default() {
        return "big";
      },
    },
  },
};
</script>

<style>
.leadership-item.big .leadership-image {
  height: 365px;
  margin-bottom: 28px;
  background-color: #fff;
}
.leadership-item.big .no-image {
  padding: 24px 24px 0 24px;
}
.leadership-item.big img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.leadership-item.big {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.leadership-item.big h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2c2d32;
  margin-bottom: 8px;
}
.leadership-item.big p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #959ab2;
  margin-bottom: 0;
}
.leadership-item.mini {
  display: flex;
  padding: 16px 0;
  border-bottom: 0.6px solid #dbdde9;
  align-items: center;
}
.leadership-item.mini .leadership-image {
  max-width: 64px;
  flex: 0 0 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
  background-color: #fff;
}
.leadership-item.mini img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center top;
  object-position: center top;
}
.leadership-item.mini h3 {
  /* font-weight: 500;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #2c2d32; */
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 17px;
    line-height: 20px;
    color: #2c2d32;
}
.leadership-item.mini p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #2c2d32;
  margin-bottom: 0;
}
@media(max-width: 575px) {
  .leadership-item.big h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .leadership-item.big p {
    font-size: 14px;
    line-height: 20px;
  }
   .leadership-item.mini {
      display: block;
      padding: 12px 0;
  }
}
</style>
