<template>
  <client-only>
    <div class="news-item" :class="line">
      <nuxt-link
        :to="
          localePath({
            path: `/news/${slug}`,
          })
        "
        class="news-image"
      >
<!--        <img :src="$imageProxy(image, 300)" alt="not found" />-->
        <img :src="image" alt="not found" />
      </nuxt-link>
      <div
        class="news-info"
        v-if="line == 'vertical2' || line == 'vertical' || line == 'horizontal'"
      >
        <nuxt-link
          :to="
            localePath({
              path: `/news/category/${category_slug}`,
            })
          "
          class="news-info-category"
        >
          {{ kind }}
        </nuxt-link>
        <nuxt-link
          :to="
            localePath({
              path: `/news/${slug}`,
            })
          "
          class="news-info-contents"
        >
          <ul v-if="line == 'vertical2'">
            <li>
              <span>{{ date || "" | dateTime }}</span>
              <span>{{ date || "" | dateDay }}</span>
            </li>
            <li>
              <span><i class="icon-eye"></i>{{ views }}</span>
            </li>
          </ul>
          <h3>{{ title }}</h3>
          <div class="news-info-text">
            <p v-html="content"></p>
          </div>
          <small v-if="line != 'vertical2'"> {{ date || "" | dateDay }} </small>
        </nuxt-link>
      </div>
      <nuxt-link
        v-if="line == 'vertical3'"
        :to="
          localePath({
            path: `/news/${slug}`,
          })
        "
        class="news-info2"
      >
        <span>{{ date || "" | dateDay }}</span>
        <h4>{{ title }}</h4>
      </nuxt-link>
    </div>
  </client-only>
</template>

<script>
// import ShareNetwork from "vue-"
export default {
  props: {
    slug: {
      type: String,
      default() {
        return "/";
      },
    },
    category_slug: {
      type: String,
      default() {
        return "/";
      },
    },
    kind: {
      type: String,
      default() {
        return null;
      },
    },
    title: {
      type: String,
      default() {
        return null;
      },
    },
    content: {
      type: String,
      default() {
        return null;
      },
    },
    date: {
      type: String,
      default() {
        return "24.08.2021";
      },
    },
    views: {
      type: [String, Number],
      default() {
        return "0";
      },
    },
    image: {
      type: String,
      default() {
        return require(`@/assets/images/default/article_oz.jpg`);
      },
    },
    line: {
      type: String,
      default() {
        return null;
      },
    },
  },
};
</script>

<style>
/* global */
.news-item {
  cursor: pointer;
  position: relative;
  display: flex;
}
.news-item ul {
  display: none;
}
.news-image img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.news-info {
  display: flex;
  flex-direction: column;
}

.news-info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #3469b8;
}
.news-info-text p {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #2c2d32;
  margin-bottom: 0;
  -webkit-line-clamp: 2;
}
.news-info-text p:not(:first-child) {
  display: none;
}
.news-info h3 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #2c2d32;
}
.news-info small {
  margin-top: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #959ab2;
}
/* global */
/* vertical */
.vertical.news-item .news-info {
  display: flex;
  flex-direction: column;
}
.vertical.news-item .news-info .news-info-category {
  margin-bottom: 16px;
}
.vertical.news-item .news-info-contents h3 {
  margin-bottom: 12px;
}
.vertical.news-item {
  flex-direction: column;
}
.vertical.news-item .news-image {
  height: 205px;
  margin-bottom: 22px;
  border-radius: 4px;
  overflow: hidden;
}
.vertical.news-item .news-info-category {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #0b4aa8;
}
.vertical.news-item .news-info-contents {
  height: 143px;
  display: flex;
  flex-direction: column;
}
.vertical.news-item .news-info-contents small {
  margin-top: auto;
}
/* vertical */
/* vertical2 */
.vertical2.news-item {
  flex-direction: column;
}
.vertical2.news-item .news-image {
  margin: 0;
  margin-bottom: 12px;
  overflow: hidden;
  border-radius: 4px;
}
.vertical2.news-item ul {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.vertical2.news-item ul li:first-child {
  border-right: 1px solid #959ab2;
  padding-right: 24px;
  margin-right: 24px;
  line-height: 16px;
}
.vertical2.news-item ul li {
  display: flex;
  align-items: center;
}
.vertical2.news-item ul li:first-child span:first-child {
  margin-right: 5px;
}
.vertical2.news-item ul li span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #959ab2;
  display: flex;
  margin: 0;
  align-items: center;
}
.vertical2.news-item ul li span i {
  font-size: 16px;
  display: flex;
  margin-right: 6px;
}
.vertical2.news-item .news-info h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2c2d32;
}
/* vertical2 */
/* horizontal */
.horizontal.news-item {
  padding: 32px 0;
  border-top: 1px solid #dbdde9;
}
.horizontal.news-item .news-image {
  max-width: 270px;
  flex: 0 0 270px;
  height: 190px;
  margin-right: 32px;
}

.horizontal.news-item .news-info .news-info-contents {
  display: flex;
  flex-direction: column;
  height: 190px;
}
.horizontal.news-item .news-info .news-info-contents h3 {
  margin-top: 0;
  margin-bottom: 10px;
  -webkit-line-clamp: 2;
}
.horizontal.news-item .news-info .news-info-contents .news-info-text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #2c2d32;
  -webkit-line-clamp: 3;
}
.horizontal.news-item .news-info span {
  margin-top: auto;
}
.horizontal.news-item .news-info .news-info-category {
  display: none;
}

/* vertical3 */
.vertical3.news-item .news-info2 {
}

.vertical3.news-item span {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  color: #959ab2;
  display: block;
}
.vertical3.news-item {
  height: 100px;
}
.vertical3.news-item h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000821;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.vertical3.news-item .news-image {
  max-width: 150px;
  flex: 0 0 150px;
  margin-right: 16px;
  overflow: hidden;
  border-radius: 4px;
}

/* vertical3 */

@media (max-width: 1650px) {
  .vertical.news-item .news-image {
    margin-bottom: 15px;
  }
  .vertical.news-item .news-info .news-info-category {
    margin-bottom: 15px;
  }
  .horizontal.news-item .news-image {
    margin-right: 30px;
  }
  .horizontal.news-item {
    padding: 30px 0;
  }
}
@media (max-width: 1480px) {
  .horizontal.news-item .news-image {
    margin-right: 20px;
  }
  .horizontal.news-item {
    padding: 20px 0;
  }
}
@media (max-width: 1330px) {
  .horizontal.news-item .news-info .news-info-contents .news-info-text p {
    font-size: 16px;
    line-height: 22px;
  }
  .news-info small {
    font-size: 15px;
  }
  .news-info h3 {
    font-size: 17px;
    line-height: 23px;
  }
  .news-info-text p {
    font-size: 16px;
    line-height: 22px;
  }
  .vertical.news-item .news-info-contents {
    height: 140px;
  }
  .vertical2.news-item .news-info h3 {
    font-size: 14px;
    line-height: 20px;
  }
  .news-view-content p {
    font-size: 14px;
    line-height: 22px;
  }
  .comments h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .news-view-share span {
    font-size: 14px;
    line-height: 20px;
  }
  .news-view__print span {
    font-size: 14px;
    line-height: 20px;
  }
  .news-view-main h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .news-view-header a,
  .news-view-header ul li span {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 1199px) {
  .horizontal.news-item .news-info .news-info-contents {
    height: 160px;
  }
  .horizontal.news-item .news-image {
    max-width: 240px;
    flex: 0 0 240px;
    height: 160px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .vertical3.news-item h4 {
    font-size: 14px;
    line-height: 20px;
  }
  .vertical3.news-item {
    align-items: center;
    height: auto;
  }
  .vertical3.news-item .news-image {
    height: 110px;
  }
}
@media (max-width: 768px) {

  .vertical.news-item .news-image {
    height: auto;
  }
  .horizontal.news-item .news-image {
    max-width: 250px;
    flex: 0 0 250px;
  }
}
@media (max-width: 575px) {
  .news-item.horizontal {
    flex-direction: column;
  }
  .horizontal.news-item .news-image {
    margin: 0;
    flex: unset;
    max-width: unset;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  .news-info h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .news-info-text p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media(max-width: 450px) {
  .vertical3.news-item .news-image {
    height: 70px;
    max-width: 100px;
    flex: 0 0 100px;
  }
  .vertical3.news-item h4 {
    font-size: 13px;
    line-height: 17px;
  }
  .vertical3.news-item span {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;
  }
  .vertical3.news-item .news-image {
    margin-right: 15px;
  }
}
/* horizontal */
</style>
