<template>
  <div class="gallery-slider">
    <swiper ref="mySwiper" :options="swiperOptions" :loadtheme="false">
      <swiper-slide v-for="item in gallery" :key="item.id">
        <div class="gallery-slider-image">
<!--          <img :src="item.photo && $imageProxy(item.photo, 380)" alt="not found" />-->
          <img :src="item.photo" alt="not found" />
          <i class="icon-gallery"></i>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
export default {
  props: {
    gallery: {
      type: Array,
      default() {
        return null;
      },
    },
    delay: {
      type: Number,
      default() {
        return null;
      },
    },
  },
  data() {
    return {
      swiperOptions: {
        slidesPerView: 1,
        spaceBetween: 10,
        loop: true,
        allowTouchMove: false,
        speed: this.delay,
        effect: "fade",
        fadeEffect: { crossFade: true },
        autoplay: { delay: 5000, disableOnInteraction: false },
      },
    };
  },
  methods: {},
  computed: {},
};
</script>

<style scoped>
.gallery-slider {
  display: block;
}
.gallery-slider-image {
  height: 230px;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}
.gallery-slider-image::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  z-index: 2;
}
.gallery-slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-slider-image i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  font-size: 55px;
  color: white;
}
@media (max-width: 1650px) {
  .gallery-slider-image {
    height: 235px;
  }
}
@media (max-width: 1480px) {
  .gallery-slider-image {
    height: 240px;
  }
}
@media (max-width: 575px) {
  .gallery-slider-image {
    height: 210px;
  }
  .gallery-slider-image i{
    font-size: 38px;
  }
}
</style>
