<template>
  <div class="news-view" v-if="loader">
    <div class="container">
      <div class="news-view-wrapper">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="news-view-main">
              <h2>{{ post.title || "" }}</h2>
              <div class="news-view-header">
                <ul>
                  <li>
                    <span>{{ (post && post.pub_date) || "" | dateTime }}</span>
                    <span>{{ (post && post.pub_date) || "" | dateDay }}</span>
                  </li>
                  <li>
                    <span
                      ><i class="icon-eye"></i>
                      {{ (post && post.views) || "" }}</span
                    >
                  </li>
                </ul>
                <nuxt-link
                  :to="
                    localePath({
                      path: `/news/category/${
                        post && post.menu && post.menu.slug
                      }`,
                    })
                  "
                  >{{ post && post.menu && post.menu.title }}</nuxt-link
                >
              </div>
              <!-- <div class="news-view-image"> -->
              <client-only>
                <swiper :options="swiperOptions" :loadtheme="false">
                  <swiper-slide
                    class="swiper-slide"
                    v-for="item in post.images"
                    :key="item.id"
                  >
                    <div class="news-view-image">
                      <img
                        class="big-image"
                        :src="
                          item.file || '~/assets/images/default/article_uz.jpg'
                        "
                      />
                      <img
                        :src="
                          item.file || '~/assets/images/default/article_uz.jpg'
                        "
                        alt="not found"
                      />
                    </div>
                  </swiper-slide>
                </swiper>
              </client-only>

              <div class="news-view-content">
                <div v-html="post.content || ''"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="news-view-right">
              <h2>Похожие новости</h2>
              <div class="news-similar">
                <div class="row">
                  <div
                    class="col-lg-12"
                    v-for="item in post.similar_posts"
                    :key="item.id"
                  >
                    <CardsNews
                      line="vertical2"
                      :slug="item.slug"
                      :image="
                        (item.image && item.image[0] && item.image[0].file) ||
                        require('~/assets/images/default/article_ru.jpg')
                      "
                      :title="item.title"
                      :views="item.views"
                      :date="item.pub_date"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { directive } from "vue-awesome-swiper";
export default {
  directives: {
    swiper: directive,
  },
  data() {
    return {
      loader: true,
      swiperOptions: {
        slidesPerView: 1,
        spaceBetween: 10,
        speed: 1500,
        autoplay: { delay: 5000 },
      },
      post: {},
    };
  },
  async mounted() {
    this.loader = false;
    // this.news = this.$store.getters["news/GetHomeNews"];
    this.post = await this.$store.dispatch(
      "posts/getPostDetail",
      this.$route.params.slug
    );
    this.loader = true;
  },
  filters: {
    dateDay(value) {
      let day = (value += "").split("T");
      return value ? (day[0] += "").split("-").reverse().join(".") : "";
    },
    dateTime(value) {
      let time = (value += "").split("T");
      return value ? (time[1] += "").split("+")[0] : "";
    },
  },
};
</script>

<style>
</style>