<template >
  <div class="calendar" :class="place">
    <b-calendar
      :date-info-fn="dateClass"
      v-model="value"
      @context="onContext"
      v-bind="labels[locale] || {}"
      :locale="$i18n.locale"
    >
    </b-calendar>
  </div>
</template>
<script>
export default {
  props: {
    place: {
      type: String,
      default() {
        return null;
      },
    },
  },
  data() {
    return {
      value: "",
      context: null,
      locale: "",
      labels: {
        uz: {
          weekdayHeaderFormat: "Tohir",
          labelPrevDecade: "Tohir",
          labelPrevYear: "Tohir",
          labelPrevMonth: "Tohir",
          labelCurrentMonth: "Tohir",
          labelNextMonth: "Tohir",
          labelNextYear: "Tohir",
          labelNextDecade: "Tohir",
          labelToday: "Tohir",
          labelSelected: "Tohir",
          labelNoDateSelected: "Tohir",
          labelCalendar: "Tohir",
          labelNav: "Tohir",
          labelHelp: "Tohir",
        },
        ru: {
          weekdayHeaderFormat: "Tohir1",
          labelPrevDecade: "Tohir2",
          labelPrevYear: "Tohir3",
          labelPrevMonth: "Tohir4",
          labelCurrentMonth: "Tohir5",
          labelNextMonth: "Tohir6",
          labelNextYear: "Tohir7",
          labelNextDecade: "Tohir8",
          labelToday: "Tohir9",
          labelSelected: "Tohir10",
          labelNoDateSelected: "Tohir",
          labelCalendar: "Tohir",
          labelNav: "Tohir",
          labelHelp: "Tohir",
        },
      },
      uz: ["Ya", "Du", "Se", "Cho", "Pa", "Ju", "Sha"],
      oz: ["Як", "Ду", "Се", "Чо", "Па", "Жу", "Ша"],
      MonthUz: [
        "Yanvar",
        "Fevral",
        "Mart",
        "Aprel",
        "May",
        "Iyun",
        "Iyul",
        "Avgust",
        "Sentabr",
        "Oktabr",
        "Noyabr",
        "Dekabr",
      ],
      MonthOz: [
        "Январ",
        "Феврал",
        "Март",
        "Aпрел",
        "Май",
        "Июн",
        "Июл",
        "Aвгуст",
        "Сентабр",
        "Октабр",
        "Ноябр",
        "Декабр",
      ],

      month: new Date().getMonth(),
      year: new Date().getFullYear(),
      specialDays: [2, 6, 7, 8, 3, 5],
      currentMonth: new Date().getMonth(),
      currentYear: new Date().getFullYear()
    };
  },
  methods: {
    dateClass(ymd, date) {
      let day = date.getDate();
      let month = new Date(ymd).getMonth();
      let year = new Date(ymd).getFullYear();
      month = ++month;
      let resMonth = this.month;
      resMonth = ++resMonth;
      return this.specialDays.includes(day) &&
        resMonth == month &&
        this.year == year
        ? "table-info"
        : "";
    },
    onContext(ctx) {
      this.context = ctx;
      this.currentMonth = new Date(ctx.activeYMD).getMonth()
      this.currentYear = new Date(ctx.activeYMD).getFullYear()
    },
    setToday() {
      const now = this.value ? this.value : new Date();

      this.value = new Date(now.getFullYear(), now.getMonth(), now.getDate());
    },
    // toPrev() {
    //   const now = this.value ? new Date(this.value) : new Date();
    //   const month = now.getMonth() - 1;
    //   this.value = new Date(now.getFullYear(), month, now.getDate());
    // },
    // toNext() {
    //   const now = this.value ? new Date(this.value) : new Date();
    //   const month = now.getMonth() + 1;
    //   this.value = new Date(now.getFullYear(), month, now.getDate());
    // },
    defineMonth(month) {
      return (
        (month == "January" && 0) ||
        (month == "February" && 1) ||
        (month == "March" && 2) ||
        (month == "April" && 3) ||
        (month == "May" && 4) ||
        (month == "June" && 5) ||
        (month == "July" && 6) ||
        (month == "August" && 7) ||
        (month == "September" && 8) ||
        (month == "October" && 9) ||
        (month == "November" && 10) ||
        (month == "December" && 11)
      );
    },
  },
  mounted() {
    // this.$route.path &&
    //   this.$route.path.split("/") &&
    //   this.$route.path.split("/")[1] == "events" &&
    //   this.getEventDates();

    if (this.$i18n.locale == "uz") {
        document
          .getElementsByClassName("text-truncate")
          .forEach((el, index) => {
            el.innerHTML = `${this.uz[index]}`;
          });
    } else if (this.$i18n.locale == "oz") {
      document
        .getElementsByClassName("text-truncate")
        .forEach((el, index) => {
          el.innerHTML = `${this.oz[index]}`;
        });
    }
    if (this.$i18n.locale == "uz") {
      let tagText = document.getElementsByClassName(
        "b-calendar-grid-caption"
      )[0].innerHTML;
      let monthNumber = +tagText.split(" ")[1].split("M")[1];
      tagText = `${tagText.split(" ")[0]} - yil ${this.MonthUz[this.currentMonth]}`;
      document.getElementsByClassName(
        "b-calendar-grid-caption"
      )[0].innerHTML = tagText;
      document.getElementsByClassName("b-calendar-grid-caption")[0].style[
        "text-transform"
      ] = "unset";
    } else if (this.$i18n.locale == "oz") {
        let tagText = document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML;
        // console.log('tagText', tagText);
        // let monthNumber = this.defineMonth(tagText.split(" ")[0]);
        // console.log('month', monthNumber);
        tagText = `${
          // tagText.split(" ")[0].charAt(0).toUpperCase() +
          this.MonthOz[this.currentMonth]
          // tagText.split(" ")[0].slice(1)
        // } ${tagText.split(" ")[1]} - йил`;
        } ${this.currentYear} - йил`;
        document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML = tagText;
        document.getElementsByClassName("b-calendar-grid-caption")[0].style[
          "text-transform"
        ] = "unset";
      }



    let btns = document.getElementsByClassName("btn-outline-secondary");
    // console.log("btns", Array.from(btns)[1], Array.from(btns)[3]);
    Array.from(btns)[1].addEventListener("click", () => {
      // console.log(this.currentMonth, "clicked", document.getElementsByClassName("text-truncate"), document.getElementsByClassName("b-calendar-grid-caption")[0].innerHTML)
      if (this.$i18n.locale == "uz") {
        document
          .getElementsByClassName("text-truncate")
          .forEach((el, index) => {
            el.innerHTML = `${this.uz[index]}`;
          });
      } else if (this.$i18n.locale == "oz") {
        document
          .getElementsByClassName("text-truncate")
          .forEach((el, index) => {
            el.innerHTML = `${this.oz[index]}`;
          });
      }
      if (this.$i18n.locale == "uz") {
        let tagText = document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML;
        let monthNumber = +tagText.split(" ")[1].split("M")[1];
        tagText = `${this.currentYear} - yil ${this.MonthUz[this.currentMonth]}`;
        document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML = tagText;
        document.getElementsByClassName("b-calendar-grid-caption")[0].style[
          "text-transform"
        ] = "unset";
      } else if (this.$i18n.locale == "oz") {
        let tagText = document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML;
        // console.log('tagText', tagText);
        // let monthNumber = this.defineMonth(tagText.split(" ")[0]);
        // console.log('month', monthNumber);
        tagText = `${
          // tagText.split(" ")[0].charAt(0).toUpperCase() +
          this.MonthOz[this.currentMonth]
          // tagText.split(" ")[0].slice(1)
        // } ${tagText.split(" ")[1]} - йил`;
        } ${this.currentYear} - йил`;
        document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML = tagText;
        document.getElementsByClassName("b-calendar-grid-caption")[0].style[
          "text-transform"
        ] = "unset";
      }

    });
    Array.from(btns)[2].addEventListener("click", () => {
      // console.log(this.currentMonth, "clicked", document.getElementsByClassName("text-truncate"), document.getElementsByClassName("b-calendar-grid-caption")[0].innerHTML)
      if (this.$i18n.locale == "uz") {
        document
          .getElementsByClassName("text-truncate")
          .forEach((el, index) => {
            el.innerHTML = `${this.uz[index]}`;
          });
      } else if (this.$i18n.locale == "oz") {
        document
          .getElementsByClassName("text-truncate")
          .forEach((el, index) => {
            el.innerHTML = `${this.oz[index]}`;
          });
      }
      if (this.$i18n.locale == "uz") {
        let tagText = document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML;
        // let monthNumber = +tagText.split(" ")[1].split("M")[1];
        tagText = `${this.currentYear} - yil ${this.MonthUz[this.currentMonth]}`;
        document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML = tagText;
        document.getElementsByClassName("b-calendar-grid-caption")[0].style[
          "text-transform"
        ] = "unset";
      } else if (this.$i18n.locale == "oz") {
        let tagText = document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML;
        // console.log('tagText', tagText);
        // let monthNumber = this.defineMonth(tagText.split(" ")[0]);
        // console.log('month', monthNumber);
        tagText = `${
          // tagText.split(" ")[0].charAt(0).toUpperCase() +
          this.MonthOz[this.currentMonth]
          // tagText.split(" ")[0].slice(1)
        // } ${tagText.split(" ")[1]} - йил`;
        } ${this.currentYear} - йил`;
        document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML = tagText;
        document.getElementsByClassName("b-calendar-grid-caption")[0].style[
          "text-transform"
        ] = "unset";
      }

    });

    Array.from(btns)[3].addEventListener("click", () => {
      // console.log(this.currentMonth, "clicked", document.getElementsByClassName("text-truncate"), document.getElementsByClassName("b-calendar-grid-caption")[0].innerHTML)
      if (this.$i18n.locale == "uz") {
        document
          .getElementsByClassName("text-truncate")
          .forEach((el, index) => {
            el.innerHTML = `${this.uz[index]}`;
          });
      } else if (this.$i18n.locale == "oz") {
        document
          .getElementsByClassName("text-truncate")
          .forEach((el, index) => {
            el.innerHTML = `${this.oz[index]}`;
          });
      }
      if (this.$i18n.locale == "uz") {
        let tagText = document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML;
        // let monthNumber = +tagText.split(" ")[1].split("M")[1];
        tagText = `${this.currentYear} - yil ${this.MonthUz[this.currentMonth]}`;
        document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML = tagText;
        document.getElementsByClassName("b-calendar-grid-caption")[0].style[
          "text-transform"
        ] = "unset";
      } else if (this.$i18n.locale == "oz") {
        let tagText = document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML;
        // console.log('tagText', tagText);
        // let monthNumber = this.defineMonth(tagText.split(" ")[0]);
        // console.log('month', monthNumber);
        tagText = `${
          // tagText.split(" ")[0].charAt(0).toUpperCase() +
          this.MonthOz[this.currentMonth]
          // tagText.split(" ")[0].slice(1)
        // } ${tagText.split(" ")[1]} - йил`;
        } ${this.currentYear} - йил`;
        document.getElementsByClassName(
          "b-calendar-grid-caption"
        )[0].innerHTML = tagText;
        document.getElementsByClassName("b-calendar-grid-caption")[0].style[
          "text-transform"
        ] = "unset";
      }

    });

  },
  watch: {
    async context(val) {
      let month = new Date(val.activeYMD).getMonth();
      let year = new Date(val.activeYMD).getFullYear();
      this.month = month;
      this.year = year;
      let group = this.$route.fullPath.includes("news") ? "news" : "events";

      const { days } = await this.$store.dispatch("calendar/getEvents", {
        pub_year: year,
        pub_month: ++month,
        menu_group: group,
      });
      this.specialDays = days || [];
      if (val.selectedYMD) {
        this.$router.push(`/${group}?date=${val.selectedYMD}`);
      }
    },
  },
};
</script>
<style >
.table-info,
.table-info > th,
.table-info > td {
  background-color: #ecf4ff;
}
</style>
