<template >
  <div class="comments">
    <h3>{{ $t("comments") }}:</h3>
    <ul>
      <li class="comments__item">
        <div class="comments__item__avatar">
          <figure>
            <img src="@/assets/images/avatar.png" alt="" />
          </figure>
        </div>
        <div class="comments__item__form">
          <textarea
            class="comment"
            id="comment"
            rows="1"
            @input="autoResize"
            @focus="onFocus"
            v-model="comment_text"
            :placeholder="$t('leaveComment')"
          ></textarea>
          <div class="btns-comment" v-if="commentBtns">
            <button class="btn btn-back" @click="commentCancelBtns">
              {{ $t("cancel") }}
            </button>
            <button class="btn btn-send" @click="addComment">
              {{ $t("leaveComment") }}
            </button>
          </div>
        </div>
      </li>
      <li class="comments__item" v-for="item in post.comments" :key="item">
        <div class="comments__item__avatar">
          <figure>
            <img src="@/assets/images/avatar.png" alt="" />
          </figure>
        </div>
        <div class="comments__item__info">
          <span class="date">
            {{ item.created_at | dateDay }}
          </span>
          <h4>{{ item.author.last_name }} {{ item.author.first_name }}</h4>
          <p class="comments__item__info__body">{{ item.content }}</p>
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    post: {
      type: Object,
      require: true,
    },
  },
  data() {
    return {
      commentBtns: false,
      comment_text: "",
    };
  },
  methods: {
    onFocus() {
      if (this.$store.getters["auth/getAccessToken"]) {
        this.commentBtns = true;
      } else {
        this.$store.commit("auth/setLoginPopup", {
          value: true,
          isProfile: false,
        });
      }
    },
    // for resolve conflicts
    autoResize(event) {
      event.target.style.height = "auto";
      event.target.style.height = `${event.target.scrollHeight}px`;
    },
    commentCancelBtns() {
      this.commentBtns = false;
      this.comment_text = "";
    },
    async addComment() {
      try {
        await this.$axios.post("/cms/post/comment/create/", {
          post: this.post.id,
          content: this.comment_text,
        });
        this.$toast.success(this.$t("successComment"));
        this.comment_text = null;
      } catch (e) {
        console.log(e);
        this.$toast.error(this.$t("errorComment"));
      }
    },
  },
};
</script>
<style >
</style>