<template>
  <div class="loader">
    <div class="loader-image">
      <img
        style="height: 100px; margin-bottom: 15px"
        src="~/assets/images/loader.svg"
        alt=""
      />
      <br />
      <img src="/logo.png" alt="" />
      <br />
      <br />
      <h3 v-html="$t('Logo')"></h3>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999;
}
.loader-image {
  text-align: center;
}
.loader h3 {
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #2c2d32;
  margin-bottom: 0;
}
</style>