<template>
  <div
    class="pages-banner"
    :style="{
      backgroundImage: 'url(' + banners[bannerId].image + ')',
    }"
  ></div>
</template>

<script>
export default {
  data() {
    return {
      bannerId: 0,
      banners: [
        {
          id: 1,
          image: require("~/assets/images/pages-banner0.jpg"),
        },
        // ,
        // {
        //   id: 2,
        //   image: require("~/assets/images/pages-banner1.jpg"),
        // },
      ],
    };
  },
  watch: {
    $route: {
      handler() {
        this.bannerId = Math.floor(Math.random() * this.banners.length);
      },
    },
  },

  mounted() {
    this.bannerId = Math.floor(Math.random() * this.banners.length);
  },
};
</script>

<style scoped>
.pages-banner {
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 350px;
  flex: 0 0 350px;
}
@media (max-width: 991px) {
  .pages-banner {
    max-height: 250px;
    flex: 0 0 250px;
  }
}
@media (max-width: 768px) {
  .pages-banner {
    max-height: 200px;
    flex: 0 0 200px;
  }
}
@media (max-width: 575px) {
  .pages-banner {
    max-height: 150px;
    flex: 0 0 150px;
  }
}
</style>