<template>
  <div class="sidebar" v-if="!loading">
    <div class="row">
      <div
        class="col-12"
        v-if="sideMenu && sideMenu.children && sideMenu.children.length"
      >
        <div class="sidebar-menu">
          <ul>
            <li v-for="item in sideMenu.children" :key="item.id">
              <nuxt-link
                :class="{
                  active:
                    item.id ==
                    (sideMenu.active_child && sideMenu.active_child.id),
                }"
                :to="
                  item && item.children && item.children.length
                    ? localePath({
                        path: '/',
                      })
                    : localePath({
                        path: defineLink(item),
                      })
                "
                v-if="!item.child"
              >
                {{ item.title }}
              </nuxt-link>
            </li>
          </ul>
        </div>
      </div>
      <slot> </slot>
      <div
        class="col-12"
        v-if="!($route.path.includes('deputies') && $route.params.id)"
      >
        <nuxt-link
          :to="
            localePath({
              path: `/requests`,
            })
          "
          class="sidebar-content"
        >
          <img
            :src="require('~/assets/images/pages-usefull1.png')"
            alt="not
          found"
          />
          <div class="sidebar-content-info">
            <h4>{{ $t("HeaderVirtual") }}</h4>
          </div></nuxt-link
        >
      </div>
      <div class="col-12" v-for="item in usefull" :key="item.id">
        <a
          v-if="item.external"
          :href="item.link"
          class="sidebar-content"
          target="_blank"
        >
          <img :src="item.image" alt="not found" />
          <div class="sidebar-content-info">
            <h4>{{ item.title }}</h4>
            <p v-if="item.text" v-html="item.text"></p>
          </div>
        </a>
        <nuxt-link
          v-else
          :to="
            localePath({
              path: item.link,
            })
          "
          class="sidebar-content"
        >
          <img :src="item.image" alt="not found" />
          <div class="sidebar-content-info">
            <h4>{{ item.title }}</h4>
            <p v-if="item.text" v-html="item.text"></p>
          </div>
        </nuxt-link>
      </div>
      <div class="col-12">
        <a :href="contact && contact.telegram_link" class="social__item">
          <img src="~/assets/images/telegram.svg" alt="not found" />
          <p>{{ $t("SubscribeTelegram") }}</p>
        </a>
      </div>
      <div class="col-12">
        <a :href="contact && contact.youtube_link" class="social__item">
          <img src="~/assets/images/youtube.svg" alt="not found" />
          <p>{{ $t("SubscribeYouTube") }}</p>
        </a>
      </div>
      <div v-if="fraction && fraction.length">
        <div class="col-12 p0" v-for="item in fraction" :key="item.id">
          <nuxt-link
            :to="
              localePath({
                path: '/fractions/' + item.id,
              })
            "
            class="sidebar-content"
          >
            <img :src="item.image" alt="not found" />
            <div class="sidebar-content-info">
              <h4>{{ item.title }}</h4>
              <p v-if="item.text" v-html="item.text"></p>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    sideMenu: {
      type: Object,
      default() {
        return null;
      },
    },
    submenu: {
      type: Array,
      default() {
        return null;
      },
    },
    fraction: {
      type: Array,
      default() {
        return null;
      },
    },
    id: {
      type: Number,
      default() {
        return null;
      },
    },
  },

  data() {
    return {
      usefull: [
        {
          id: 1,
          title: this.$t("UsefulTitle2"),
          text: this.$t("Usefultext3"),
          image: require("~/assets/images/pages-usefull2.png"),
          link: "https://ombudsman.gov.uz/",
          external: true,
        },
        {
          id: 2,
          title: this.$t("UsefulTitle3"),
          text: this.$t("Usefultext2"),
          image: require("~/assets/images/pages-usefull3.png"),
          link: "https://fundngo.uz/",
          external: true,
        },
        {
          id: 3,
          title: this.$t("UsefulTitle4"),
          text: this.$t("Usefultext4"),
          image: require("~/assets/images/pages-usefull4.png"),
          link: "/regulation",
          external: false,
        },
        {
          id: 4,
          title: this.$t("UsefulTitle5"),
          text: this.$t("Usefultext5"),
          image: require("~/assets/images/pages-usefull5.png"),
          link: "/normative_concepts",
          external: false,
        },
      ],
      contact: null,
      loading: false,
    };
  },
  methods: {
    defineLink(item) {
      if (item.isCustom) {
        return item.slug;
      } else {
        let path =
          item && item.group && item.has_category
            ? `/${item.group}/category/${item.slug}`
            : item && item.group && !item.has_category
            ? `/${item.group}`
            : `/static/${item.slug}`;
        return path;
      }
    },
  },
  async mounted() {
    this.loading = true;
    this.contact = await this.$store.dispatch("contacts/getContactsInfo", 1);
    this.loading = false;
  },
};
</script>

<style scoped>
</style>
