<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <nuxt-link :to="localePath('/news')">{{
                (sideMenu && sideMenu.title) || ""
              }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="pages-main">
      <div class="container">
        <div class="pages-main-wrapper">
          <div class="row">
            <div class="col-lg-9">
              <div class="pages-content">
                <!-- <div class="title">
                  <h2>Подкасты</h2>
                </div> -->
                <div class="podcast__active">
                  <div class="podcast__active__left">
                    <div class="podcast__active__poster">
                      <img src="~/assets/images/poster.png" alt="not found" />
                    </div>
                    <div class="podcast__active__player">
                      <button @click="toPrev">
                        <img
                          src="~/assets/images/player/Vector.svg"
                          alt="not found"
                        />
                      </button>
                      <div class="playIcon" @click="onPlay">
                        <i class="icon-play" v-if="!isPlay"></i>
                        <i class="icon-pause-button" v-else></i>
                      </div>
                      <button @click.prevent="toNext">
                        <img
                          src="~/assets/images/player/Vector-2.svg"
                          alt="not found"
                        />
                      </button>
                      <a
                        :href="activePodcast && activePodcast.file"
                        download="download"
                        target="_blank"
                      >
                        <img
                          src="~/assets/images/player/Vector-3.svg"
                          alt="not found"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="podcast__active__right">
                    <div class="podcast__active__header">
                      <div class="podcast__active__date">
                        {{
                          activePodcast && activePodcast.created_at | dateTime
                        }}
                        {{
                          activePodcast && activePodcast.created_at | dateDay
                        }}
                      </div>
                      <div class="podcast__active__views">
                        |
                        {{ activePodcast && activePodcast.listening_count }}
                      </div>
                    </div>
                    <div class="podcast__active__title">
                      <h3>
                        {{ activePodcast && activePodcast.title }}
                      </h3>
                    </div>
                    <div class="podcast__active__duration">
                      {{ audioDuration | toMinute }}
                    </div>
                  </div>
                </div>
                <div
                  class="podcast__item"
                  v-for="item in podcasts"
                  :key="item.id"
                  :class="{
                    active:
                      item.id == ((activePodcast && activePodcast.id) || null),
                  }"
                >
                  <div class="podcast__item__left">
                    <div class="icon" @click="onClick(item.id)">
                      <i class="icon-play"></i>
                    </div>
                  </div>
                  <div class="podcast__item__right">
                    <div class="podcast__item__header">
                      <div class="podcast__item__header__date">
                        {{ item.created_at | dateTime }}
                        {{ item.created_at | dateDay }}
                      </div>
                      <div class="podcast__item__header__views">
                        | {{ item.listening_count }}
                      </div>
                    </div>
                    <h3 class="podcast__item__title">
                      {{ item.title }}
                    </h3>
                    <p class="podcast__item__description">
                      {{ item.description }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      podcasts: [],
      sideMenu: {},
      activePodcast: null,
      isPlay: false,
      myTrack: null,
      loader: true,
      globalId: null,
      audioDuration: null,
      interval: null,
    };
  },
  async mounted() {
    this.loader = false;
    this.podcasts = await this.$store.dispatch("podcasts/fetchPodcastsList");
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "podcasts"
    );
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "podcasts"
    );
    this.activePodcast = await this.$store.dispatch(
      "podcasts/fetchPodcastsById",
      this.podcasts[0].id
    );
    this.globalId = this.podcasts[0].id;
    this.audioDuration = this.activePodcast.duration_audio;
    this.myTrack = new Audio(this.activePodcast.file);
    this.loader = true;
  },
  methods: {
    onPlay() {
      if (this.audioDuration <= 0) {
        clearInterval(this.interval);
        this.audioDuration = this.activePodcast.duration_audio;
      }
      if (this.myTrack) {
        if (!this.isPlay) {
          this.myTrack.play();
          this.isPlay = true;
          this.interval = setInterval(() => {
            if (this.audioDuration > 0) {
              this.audioDuration = Math.round(this.audioDuration);
              this.audioDuration--;
            }
          }, 1000);
        } else {
          this.myTrack.pause();
          this.isPlay = false;
          clearInterval(this.interval);
        }
      }
    },
    async onClick(id) {
      this.globalId = id;
      if (this.myTrack) {
        this.isPlay = false;
        this.myTrack.pause();
      }

      this.activePodcast = await this.$store.dispatch(
        "podcasts/fetchPodcastsById",
        id
      );
      this.myTrack = new Audio(this.activePodcast.file);
      this.audioDuration = this.activePodcast.duration_audio;
      clearInterval(this.interval);
      this.onPlay();
    },
    async toNext() {
      let index = this.podcasts.findIndex((i) => i.id == this.globalId);
      if (this.podcasts.length - 1 > index) {
        this.myTrack.pause();

        index = index + 1;
        this.activePodcast = await this.$store.dispatch(
          "podcasts/fetchPodcastsById",
          this.podcasts[index].id
        );
        this.audioDuration = this.activePodcast.duration_audio;
        this.globalId = this.podcasts[index].id;
        this.myTrack = new Audio(this.activePodcast.file);
        this.isPlay = false;
        clearInterval(this.interval);
        this.onPlay();
      }
    },
    async toPrev() {
      let index = this.podcasts.findIndex((i) => i.id == this.globalId);
      if (index > 0) {
        this.myTrack.pause();

        index = index - 1;
        this.activePodcast = await this.$store.dispatch(
          "podcasts/fetchPodcastsById",
          this.podcasts[index].id
        );
        this.audioDuration = this.activePodcast.duration_audio;
        this.globalId = this.podcasts[index].id;
        this.myTrack = new Audio(this.activePodcast.file);
        this.isPlay = false;
        clearInterval(this.interval);
        this.onPlay();
      }
    },
  },
  watch: {
    audioDuration(val) {
      if (val <= 0) {
        this.isPlay = false;
      }
    },
  },
  filters: {
    toMinute: function (s) {
      const dtFormat = new Intl.DateTimeFormat("en-GB", {
        timeStyle: "medium",
        timeZone: "UTC",
      });

      return dtFormat.format(new Date(s * 1e3));
    },
  },
};
</script>
<style>
</style>