.gallery-item {
  overflow: hidden;
  display: flex;
  position: relative;
  border-radius: 4px;
  margin-bottom: 40px;
  cursor: pointer;
}

.gallery-item__image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery-item__image.video::after {
  display: none;
}

.gallery-item__image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 240px;
}

.gallery-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.25s ease-in-out;
}

.gallery-item__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.25s ease-in-out;
  z-index: 0;
}

.gallery-item:hover .gallery-item__image img {
  transform: scale(1.12);
}

.gallery-item__view .gallery-item__image::after {
  background: transparent;
}

.gallery-item__image i.icons {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  color: #ffffff;
  z-index: 1;
  font-size: 45px;
}

.gallery-item:hover .gallery-item__image::after {
  background: rgba(0, 0, 0, 0);
}

.gallery-item__title {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 16px;
}

.gallery-item__title span.date {
  font-size: 13px;
  display: block;
  font-weight: 600;
  color: #afb7c4;
  margin-bottom: 4px;
}

.gallery-item__title p {
  color: #ffffff;
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.load-more {
  width: 100%;
  height: 60px;
  background: transparent;
  border: 1px solid #dbdde9;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #2c2d32;
  transition: all 0.25s ease-in-out;
}

.load-more:hover {
  background: #f0f6ff;
}

.full-menu-main-right::-webkit-scrollbar-track,
.full-menu-main-left::-webkit-scrollbar-track {
  background: #9db7dc;
  border-radius: 4px;
}

.full-menu-main-right::-webkit-scrollbar,
.full-menu-main-left::-webkit-scrollbar {
  width: 4px;
  background-color: #9db7dc;
}

.full-menu-main-left::-webkit-scrollbar-thumb,
.full-menu-main-left::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  background: #3c6eb9;
  border-radius: 4px;
}

.full-menu-main-left ul li span:hover,
.full-menu-main-left ul li a:hover {
  color: #ffffff;
}

.news-info span:first-child {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #2c2d32;
}

.news-info p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #2c2d32;
}

.news-info span:last-child {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #959ab2;
  margin-top: 28px;
  display: block;
}

.news-button {
  width: 100%;
  height: 60px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #2c2d32;
  margin-top: 60px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #dbdde9;
  outline: none;
}

.pages-wrapper.news-view {
  /* padding-top: 40px; */
}

.news-view-main {
  background: #fff;
  padding: 32px;
  box-shadow: 0 4px 8px rgba(10, 74, 168, 0.08);
  border-radius: 4px;
}

.news-view-main h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #2c2d32;
  margin-bottom: 24px;
}

.news-view-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.news-view-header a {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #0b4aa8;
}

.news-view-header ul {
  display: flex;
}

.news-view-header ul li span {
  font-weight: 500;
  padding-right: 25px;
  font-size: 18px;
  line-height: 24px;
  color: #959ab2;
  display: flex;
  align-items: center;
}

.news-view-header ul li span i {
  display: flex;
  margin-right: 5px;
}

.news-view-header ul li {
  margin-right: 24px;
  display: flex;
  align-items: center;
}

.news-view-header ul li::after {
  content: "";
  display: inline-block;
  height: calc(100% - 7px);
  width: 1px;
  background: #959ab2;
}

.news-view-header ul li:last-child::after {
  display: none;
}

.news-view-header ul li:first-child span:first-child {
  margin-right: 5px;
}

.news-view-image-content {
  height: 540px;
  overflow: hidden;
  position: relative;
}

.news-view-image {
  margin-bottom: 24px;
  width: 100%;
  height: 540px;
  background-size: cover;
  background-position: center center;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 1;
}

.news-view-image {
  border-bottom: 4px solid #0a4aa8;
  margin-bottom: 24px;
}

.news-view-image::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(3, 8, 40, 0.2);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  cursor: pointer;
}

.news-view-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.news-view-image-title {
  display: flex;
  margin-top: 8px;
  justify-content: center;
}

.news-view-image-title span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #878b90;
  font-style: italic;
}

.news-view-content p {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #2c2d32;
  margin-bottom: 16px;
}

.sidebar-news h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.2px;
  color: #212121;
  margin-bottom: 24px;
}

/* right */

.news-similar-image {
  height: 194px;
  margin-bottom: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.news-similar-image img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.news-similar-item {
  display: flex;
  flex-direction: column;
}

.sidebar-news .row {
  margin: -12px 0;
}

.sidebar-news .row > div {
  padding: 12px 0;
}

.news-similar-item ul {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.news-similar-item ul li:first-child {
  border-right: 1px solid #959ab2;
  padding-right: 24px;
  margin-right: 24px;
  line-height: 16px;
}

.news-similar-item ul li {
  display: flex;
  align-items: center;
}

.news-similar-item ul li:first-child span:first-child {
  margin-right: 5px;
}

.news-similar-item ul li span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #959ab2;
  display: flex;
  align-items: center;
}

.news-similar-item ul li span i {
  font-size: 16px;
  display: flex;
  margin-right: 6px;
}

.news-similar-item p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #2c2d32;
  margin-bottom: 0;
}

img.big-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  filter: blur(10px) !important;
}

.news-view__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-view-share {
  display: flex;
  align-items: center;
}

.news-view-share span {
  font-size: 18px;
  font-weight: 500;
  padding: 2px 4px;
  /* margin-right: 10px; */
}

.ya-share2__container {
  margin-left: 8px;
}

.news-view-share a {
  display: flex;
  margin: 0 5px;
}

.news-view__print {
}

.news-view__print span {
  cursor: pointer;
  height: 38px;
  display: flex;
  align-items: center;
  background: #f2f4f7;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 17px;
  color: #0a4aa8;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.news-view__print a i {
  margin-right: 5px;
}

.news-view__print a span {
}

.news-view__print a:hover {
  background: #0a4aa8;
  color: #f2f4f7;
}

.horizontal.news-item:first-child {
  border-top: 0;
  padding-top: 0;
}

/* SpecialView */

.glasses {
  display: flex;
  align-items: center;
}

.glasses .dropdown-menu {
  padding: 15px 20px;
  cursor: auto;
  margin-top: 10px;
  right: -60px !important;
  left: auto !important;
  transform: translate(0, 30px) !important;
}

.glasses .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -15px;
  border: 8px solid transparent;
  border-bottom: 8px solid #fff;
  right: 60px;
}

.glasses .dropdown-toggle {
  background: none !important;
  border: none;
  box-shadow: none !important;
  outline: none;
  padding: 0;
  display: flex;
  align-items: center;
  color: #0b4aa8 !important;
  font-size: 28px;
}

.glasses .dropdown-toggle::after {
  content: "\e913";
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  border: 0 !important;
}

.glasses-title {
  font-size: 20px;
  color: #0b4aa8;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.glasses-subtitle {
  font-size: 17px;
  color: #7e7e7e;
  padding-top: 5px;
  display: block;
}

.glasses-images {
  width: 220px;
  padding: 15px 0;
}

.glasses-images__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2.5px;
  margin-left: -2.5px;
}

.glasses-images__col {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 2.5px;
}

.glasses-images__item {
  width: 100%;
  height: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  border: 2px solid #0b4aa8;
  cursor: pointer;
}

.glasses-images__item--normal {
  background-color: #0b4aa8;
}

.glasses-images__item--white {
  background-color: #dedede;
}

.glasses-images__item--dark {
  background-color: #3e3e3e;
}

.glasses-images__item--noImage {
  border-color: #0b4aa8;
  background-repeat: no-repeat;
  background-position: 12px center;
}

.glasses-images__item--noImage.setImage {
  background-position: -40px center;
}

.specialDark {
  filter: grayscale(100%) invert(100%);
}

.specialDark img {
  filter: grayscale(100%) invert(100%);
}

.specialDark .home-slider .item.swiper-slide .scale-in {
  filter: grayscale(100%) invert(100%);
}

.specialNoImage img {
  display: none !important;
}

.specialNoImage div {
  background-image: none !important;
}

.specialWhite {
  filter: grayscale(100%);
}

.sv-dd ul.dropdown-menu {
  margin-top: 0;
  border: 1px solid #ecf2f7;
}

/* Tags */

.tags {
  margin-bottom: 24px;
}

.tags-item {
  font-size: 17px;
  line-height: 23px;
  color: #0b4aa8;
  margin-right: 16px;
}

/* Comments */

.comments {
  margin-bottom: 24px;
}

.comments ul {
  /* padding: 24px 20px;
    background: #f8fbff;
    border: 1px solid #e5eaf1; */
}

.comments h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #212121;
  margin-bottom: 24px;
}

.comments__item {
  display: flex;
  margin-bottom: 16px;
}

.comments__item:last-child {
  margin-bottom: 0;
}

.comments__item__avatar {
  flex: 0 0 36px;
  max-width: 36px;
  margin-right: 16px;
}

.comments__item__avatar figure {
  border: 1px solid #c1d2e8;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.comments__item__avatar figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.comments__item__info {
  width: 100%;
}

.comments__item__info span.date {
  font-size: 11px;
  line-height: 1;
  color: #808fa4;
  display: block;
  margin-bottom: 4px;
}

.comments__item__info h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.comments__item__info p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}

.comments__item__info__body {
}

/* animation */

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.comment {
  width: 100%;
  padding: 0 16px 8px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 15px;
  outline: none;
  overflow: hidden;
  resize: none;
  border-bottom: 1px solid #c1d2e8;
}

.comment:focus {
  border-bottom: 2px solid #0a4aa8;
}

.comments__item__form {
  width: 100%;
}

.btns-comment {
  display: flex;
  justify-content: flex-end;
}

.btns-comment .btn-back {
  height: 38px;
  display: flex;
  align-items: center;
  background: #f2f4f7;
  border-radius: 4px;
  padding: 0 16px;
  font-size: 16px;
  color: #0a4aa8;
  font-weight: 400;
}

.btns-comment .btn-send {
  height: 38px;
  display: flex;
  align-items: center;
  background: #0a4aa8;
  border-radius: 4px;
  padding: 0 16px;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  margin-left: 8px;
}

/* Popups */

.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.popup-main {
  position: relative;
  width: 100%;
  max-width: 532px;
  background: #f5f7f9;
  padding: 64px;
  border-radius: 4px;
}

.popup-main__registration {
  max-width: 976px;
}

.popup-x {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
}

.popup-head {
  margin-bottom: 32px;
}

.popup-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
  color: #00264d;
}

.popup-subtitle {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #2c2d32;
}

.popup-body {
}

.popup-form {
}

.popup-urls {
  display: flex;
  justify-content: center;
  margin-top: -8px;
  margin-bottom: 16px;
}

.popup-urls__item {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #00264d;
}

.popup-btns {
}

.popup-btn {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #3469b8;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  border-style: none;
  transition: all 0.25s ease-in-out;
}

.popup-btn__outline {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3d3d3d;
  border: 1px solid #e0e0e0;
  background: transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  border-style: solid;
  margin-top: 16px;
  transition: all 0.25s ease-in-out;
}

.popup-btn__outline:hover {
  color: #3469b8;
  border-color: #3469b8;
}

.popup-body ul {
  margin-bottom: 16px;
}

.popup-body ul li {
  display: flex;
  margin-bottom: 8px;
}

.popup-body ul li span {
  width: 40%;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #2c2d32;
}

.popup-body ul li a {
  color: #00264d;
}

.popup-body ul li small {
  width: 60%;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #33343b;
}

/* Forms */

.form-group {
  margin-bottom: 24px;
}

.form-group label {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  margin-bottom: 8px;
  color: #2c2d32;
}

input.form-control {
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 1px solid #dbdde9;
  box-sizing: border-box;
  outline: none;
  box-shadow: none !important;
  border-radius: 4px;
}

select.custom-select {
  box-shadow: none !important;
  width: 100%;
  height: 48px;
}

.form-control::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #cacbcf;
}

/* Regulations */

.regulation {
}

.regulation-status {
  margin-bottom: 48px;
}

.regulation-status__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 84px 0 32px;
  background: #ffffff;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  box-shadow: 0 4px 8px rgba(10, 74, 168, 0.08);
  margin-right: 24px;
  transition: all 0.25s ease-in-out;
}

.regulation-status__item:hover {
  box-shadow: 0 8px 16px rgba(10, 74, 168, 0.16);
}

.regulation-status__title {
}

.regulation-status__title h2 {
  font-size: 22px;
  line-height: 25px;
  color: #0a4aa8;
  margin: 0;
}

.regulation-status__count {
  min-width: 100px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  position: absolute;
  top: 50%;
  right: -24px;
  transform: translateY(-50%);
  font-style: normal;
  font-size: 25px;
  color: #fff;
  background-color: #0a4aa8;
  line-height: 1;
  padding: 8px;
}

.non-active .regulation-status__title h2 {
  color: #d16f6f;
}

.active .regulation-status__title h2 {
  color: #43b581;
}

.non-active .regulation-status__count {
  background-color: #d16f6f;
}

.active .regulation-status__count {
  background-color: #43b581;
}

.btn-secondary:focus {
  background-color: transparent !important;
}

.btn.active {
  box-shadow: none !important;
}

.regulation-item {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.regulation-item__image {
  flex: 0 0 110px;
  width: 110px;
  height: 110px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(10, 74, 168, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  transition: all 0.25s ease-in-out;
}

.regulation-item__image img {
}

.regulation-item:hover .regulation-item__image {
  box-shadow: 0 8px 16px rgba(10, 74, 168, 0.16);
}

.regulation-item__title {
}

.regulation-item__title h3 {
  font-size: 20px;
  line-height: 28px;
  color: #373737;
  transition: all 0.25s ease-in-out;
}

.regulation-item:hover .regulation-item__title h3 {
  color: #0a4aa8;
}

.regulation-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 64px;
}

.regulation-title__type {
  display: flex;
  align-items: center;
}

.regulation-title__type > a {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #cacbcf;
  padding-bottom: 12px;
  border-bottom: 3px solid transparent;
  margin-right: 56px;
  transition: all 0.25s ease-in-out;
}

.regulation-title__type > a.active {
  color: #2c2d32;
  border-bottom: 3px solid #0b4aa8;
}

.regulation-title__type > a:hover {
  color: #2c2d32;
}

.regulation-title__month {
  display: flex;
  align-items: center;
}

.regulation-title__month .form-group {
  margin-left: 24px;
  margin-bottom: 0;
}

.regulation-filter {
  margin-bottom: 16px;
}

.filter-row {
  margin: 0 -12px;
  display: flex;
}

.filter-col {
  width: 100%;
  padding: 0 12px;
}

.filter-col__id {
  flex: 0 0 184px;
  width: 184px;
}

.filter-col__btn {
  flex: 0 0 160px;
  width: 160px;
}

.filter-col .form-group {
  width: 100%;
}

.filter-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 48px;
  background: #3469b8;
  border-radius: 4px;
  margin-top: 27px;
  border-style: none;
}

.nowrap {
  white-space: nowrap;
}

.regulation-table {
}

.regulation-table table {
  font-size: 16px;
  line-height: 24px;
  color: #2c2d32;
}

.regulation-table thead {
  background: #f9f8f8;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #2c2d32;
}

.regulation-table thead th {
  height: 72px;
}

.regulation-table th {
  padding: 16px;
}

.regulation-table td {
  font-weight: 500;
  padding: 16px;
  border-bottom: 1px solid #ebebeb;
}

.regulation-table a.table-url {
  margin: 0;
  color: #3469b8;
}

.regulation-table .table-name {
}

.regulation-table .table-name span {
  padding: 4px 12px;
  display: flex;
  align-items: center;
  max-width: fit-content;
  font-size: 14px;
  height: 24px;
  color: #ffffff;
  background: #d16f6f;
  border-radius: 4px;
  margin-bottom: 8px;
}

.regulation-table .table-name span.active {
  background: #43b581;
}

.searchWord {
  background-color: #ffff00;
  color: #222;
}

/* Search */

.search-wrapper {
  background: #fff;
  padding: 32px;
  box-shadow: 0 4px 8px rgb(10 74 168 / 8%);
  border-radius: 4px;
}

.search-row {
}

.search-item {
  display: block;
  margin-bottom: 32px;
}

.search-item__title {
  margin-bottom: 8px;
}

.search-item__title h2 {
  font-size: 23px;
  line-height: 27px;
  color: #0a4aa8;
  margin-bottom: 0;
}

.search-item__field {
  font-size: 19px;
  color: #2c2d32;
  line-height: 25px;
}

.request-form .custom-file-label span {
  background-color: transparent !important;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #cce4f2 !important;
}

.social__item {
  height: 85px;
  padding: 30px 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgb(10 74 168 / 8%);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.social__item img {
  height: 45px;
}

.social__item a {
  color: #3469b8;
}

.social__item p {
  margin-bottom: 0;
  padding-left: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3469b8;
}

.text-url {
  margin-bottom: 16px;
}

.text-url span {
  font-weight: 500;
  color: #2c2d32;
}

.podcast__active {
  display: flex;
  background-image: url("../images/podcast-bg.png");
  padding: 32px 0 36px 40px;
  margin-bottom: 40px;
}

.podcast__active__poster {
  margin-bottom: 28px;
  width: 241px;
  height: 185px;
  border-radius: 4px;
}

.podcast__active__poster img {
  width: 100%;
  height: 100%;
}

.podcast__active__player {
  width: 248px;
  display: flex;
  justify-content: space-between;
}

.podcast__active__player button {
  border: none;
  outline: none;
  background: transparent;
}

.podcast__active__right {
  padding-left: 24px;
}

.podcast__active__header {
  display: flex;
  margin-bottom: 10px;
}

.podcast__active__date {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #dad3da;
}

.podcast__active__views {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #dad3da;
  padding-left: 14px;
}

.podcast__active__title {
  margin-bottom: 10px;
}

.podcast__active__title h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  max-width: 735px;
}

.podcast__active__duration {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.podcast__item {
  background: #ffffff;
  display: flex;
  padding: 20px 0 20px 44px;
  margin-bottom: 24px;
}

.podcast__item__left i {
  width: 40px;
  height: 40px;
  background: #6d6d6d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.podcast__item__left i::before {
  transform: translateX(2px);
}

.podcast__item__header {
  display: flex;
  margin-bottom: 10px;
}

.podcast__item__header__date {
  color: #959ab2;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.podcast__item__header__views {
  color: #959ab2;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-left: 14px;
}

.podcast__item__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #2c2d32;
  max-width: 735px;
  margin-bottom: 10px;
}

.podcast__item__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #929295;
  max-width: 90%;
}

.podcast__item__right {
  margin-left: 51px;
}

.podcast__item__left .icon {
  padding-top: 38px;
}

.playIcon i {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(4, 9, 42, 0.5);
}

.playIcon i.icon-play::before {
  transform: translateX(2px);
}

.podcast__active__player a {
  display: flex;
}

.podcast__item.active .podcast__item__left i {
  color: #fff;
  background: #3296f2;
}

.podcast__item.active .podcast__item__right h3 {
  color: #3296f2;
}

.text-url a {
  font-size: 16px;
  line-height: 21px;
  display: inline-block;
  color: #396dbb;
  transition: all 0.2s ease-in-out;
}

.text-url a:hover {
  color: #578bd8;
}

.text-error {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  min-height: 48px;
  background: #f3dede;
  color: #e23333;
  border-left: 3px solid #e23333;
  margin-bottom: 16px;
  font-weight: 500;
}

.devon {
}

.devon-type {
  padding-bottom: 24px;
}

.devon-type:last-child {
  padding-bottom: 0;
}

.devon-type__title {
  font-weight: 600;
  font-size: 27px;
  line-height: 32px;
  color: #2c2d32;
  text-align: center;
  margin-bottom: 0;
}

.devon-item {
  padding: 20px 0;
  border-bottom: 1px solid #dae9ff;
  display: flex;
  align-items: center;
}

.devon-item:last-child {
  border: 0;
}

.devon-item__image {
  flex: 0 0 200px;
  max-width: 200px;
  height: 220px;
  margin-right: 24px;
}

.devon-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.devon-item__info {
  width: 100%;
}

.devon-item__info h4 {
  font-size: 24px;
  margin-bottom: 8px;
  line-height: 27px;
  color: #0a4aa8;
}

.devon-item__info h5 {
  margin-bottom: 16px;
}

.devon-item__info a {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 19px;
  color: #0a4aa8;
}

.devon-item__info a i.fa {
  font-size: 20px;
  margin-right: 8px;
}

.deputies-group-item {
  margin-bottom: 20px;
  height: calc(100% - 20px);
}

.deputies-group-item-image__managment {
  max-width: 132px;
  flex: 0 0 132px;
  height: 164px;
  margin-right: 20px;
}

.commission_view .deputies-group-item {
  padding: 0;
  box-shadow: none;
  background-color: transparent;
}

/* mobile search */

.mobile-menu-search {
  position: relative;
  height: 32px;
  background-color: white;
  border-radius: 2px;
  width: calc(100% - 20px);
  margin-bottom: 15px;
}

.mobile-menu-search input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 15px;
}

.mobile-menu-search i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #0b4aa8;
}

.mobile-menu-search input[type="search"]::-webkit-search-decoration,
.mobile-menu-search input[type="search"]::-webkit-search-cancel-button,
.mobile-menu-search input[type="search"]::-webkit-search-results-button,
.mobile-menu-search input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.sidebar .highcharts-container {
  width: 100% !important;
  height: auto !important;
}

.sidebar .highcharts-root {
  width: 100% !important;
}
.news-sidebar .row > div:first-child .sidebar-content-image {
  flex: unset;
  max-width: 100%;
  width: 90%;
  margin: 0 auto 16px auto;
}


