@media (max-width: 1650px) {
  .regulation-filter .form-group {
    margin-bottom: 0;
  }
  .gallery-item {
    margin-bottom: 30px;
  }
  .sidebar > .row {
    margin: -15px 0;
  }
  .sidebar > .row > div {
    padding: 15px 0;
  }
  .regulation-status__count {
    min-width: 80px;
    height: 35px;
    font-size: 20px;
  }
  .regulation-status__item {
    padding: 0 84px 0 24px;
  }
  .regulation-status__title h2 {
    font-size: 18px;
    line-height: 23px;
  }
  .regulation-table td {
    font-size: 14px;
  }
  .highcharts-root {
    width: 100% !important;
    height: 350px !important;
  }
  .slider-navigation i {
    width: 32px;
    height: 32px;
  }
  .news-view-main h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .survey-page .row {
    margin: -15px;
  }
  .survey-page .row > div {
    padding: 15px;
  }
  .news-view-main {
    padding: 30px;
  }
  .leadership-body .row {
    margin: -15px;
  }
  .leadership-body .leadership-item.big .leadership-image {
    margin-bottom: 10px;
  }
  .leadership-body .row > div {
    padding: 15px;
  }
  .container {
    max-width: 1440px;
  }
  .title {
    margin-bottom: 30px;
  }
  .row {
    margin: 0 -15px;
  }
  .row > div {
    padding: 0 15px;
  }
  .media-gallery-image {
    width: calc(50% - 15px);
    border-radius: 4px;
    overflow: hidden;
  }
  .regulation-title__type > a,
  .title h2 {
    font-size: 26px;
    line-height: 32px;
  }
  .fractions-header-image {
    margin-right: 30px;
  }
}

@media (max-width: 1480px) {
  .deputies-group {
    margin-bottom: 20px;
  }
  .deputies-group-row-col:not(:last-child) {
    margin-bottom: 20px;
  }
  .deputies-group h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .deputies-group-content p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .regulation-filter .form-group input.form-control {
    height: 48px;
    margin-bottom: 0;
  }
  .sidebar > .row {
    margin: -10px 0;
  }
  .sidebar > .row > div {
    padding: 10px 0;
  }
  .gallery-item {
    margin-bottom: 20px;
  }
  .container {
    max-width: 100%;
  }
  .calendar.home .b-calendar-inner {
    height: 327px;
  }
  .b-calendar-grid-caption {
    font-size: 14px;
  }
  .calendar .b-calendar-nav {
    right: 10px;
  }
  .highcharts-root {
    height: 330px !important;
  }
  .highcharts-container {
    height: 350px !important;
  }
  .b-calendar .b-calendar-grid-body .col[data-date] .btn {
    height: 35px !important;
    width: 35px !important;
    line-height: 35px !important;
  }
  .b-calendar-grid-body,
  .b-calendar-grid-weekdays {
    padding: 0 20px;
  }
  .leadership-header-clear .btn,
  .leadership-header-search .btn {
    height: 40px;
    font-size: 14px;
  }
  input.form-control {
    height: 40px;
  }
  select.custom-select {
    height: 40px;
  }
  .appeals-list__header select.custom-select {
    margin-bottom: 0 !important;
  }
  .wrapper {
    min-height: calc(100vh + 520px);
  }
  .slider-navigation i {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
  .news-view-main h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .news-view-header ul li span {
    font-size: 16px;
  }
  .news-view-header a {
    font-size: 16px;
  }
  .news-view-main {
    padding: 20px;
  }
  .survey-page .row {
    margin: -10px;
  }
  .survey-page .row > div {
    padding: 10px;
  }
  .leadership-body .row {
    margin: -10px;
  }
  .leadership-body .row > div {
    padding: 10px;
  }
  .deputies-row {
    margin: 0 -15px;
  }
  .deputies-col {
    padding: 0 15px;
  }
  .content-static {
    padding: 20px;
  }
  .content-static p {
    font-size: 16px;
    line-height: 22px;
  }
  .sidebar-left,
  .sidebar-menu {
    padding: 20px;
  }
  .survey-page .survey-item {
    padding: 20px;
  }
  .sidebar > .row {
    margin: -10px 0;
  }
  .title {
    margin-bottom: 20px;
  }
  .row {
    margin: 0 -10px;
  }
  .row > div {
    padding: 0 10px;
  }
  .media-gallery-image {
    width: calc(50% - 10px);
  }
  .content-dynamic {
    padding: 20px;
  }
}

@media (max-width: 1330px) {
  .regulation-status__title h2 {
    font-size: 16px;
    line-height: 20px;
  }
  .regulation-table thead th {
    font-size: 14px;
    line-height: 18px;
  }
  .regulation-status__item {
    padding: 0 70px 0 15px;
  }
  .highcharts-root {
    height: 250px !important;
  }
  .highcharts-container {
    height: 280px !important;
  }
  .b-calendar .b-calendar-grid-body .col[data-date] .btn {
    height: 30px !important;
    width: 30px !important;
    line-height: 30px !important;
  }
  .b-calendar .b-calendar-grid-body .col[data-date] .btn {
    font-size: 13px;
  }
  .leadership-header {
    flex-wrap: wrap;
  }
  .leadership-header.title h2 {
    width: 100%;
  }
  .leadership-header.title {
    margin: -7.5px;
  }
  .leadership-header.title > div {
    margin-left: 0;
  }
  .gallery-item {
    margin-bottom: 15px;
  }
  .survey-page .row {
    margin: -7.5px;
  }
  .survey-page .row > div {
    padding: 7.5px;
  }
  .survey-page .survey-item {
    padding: 15px;
  }
  .leadership-header.title > * {
    padding: 7.5px;
  }
  .sidebar-content > img {
    margin-right: 0;
  }
  .leadership-header-search,
  .leadership-header-select {
    width: calc(100% / 12 * 6);
  }
  /* .sidebar-content {
    flex-wrap: wrap;
  } */
  .sidebar-content-info {
    width: 100%;
  }
  .sidebar-content img {
    margin-bottom: 8px;
  }
  .sidebar-content h4 {
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper {
    min-height: calc(100vh + 528px);
  }
  .leadership-body .leadership-item.big .leadership-image {
    height: 260px;
  }
  .leadership-header {
    padding-bottom: 20px;
  }
  .deputies-row {
    flex-wrap: wrap;
  }
  .deputies-col {
    width: 100%;
    margin-bottom: 20px;
  }
  .deputies-col .leadership-item.big .leadership-image {
    height: auto;
    margin-bottom: 10px;
  }
  .sidebar-content {
    padding: 20px;
  }
  .b-calendar-grid-body,
  .b-calendar-grid-weekdays {
    padding: 0 20px;
  }
  .regulation-title__type > a,
  .title h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .title > a {
    font-size: 16px;
    line-height: 22px;
  }
  .title > a i {
    margin-left: 10px;
    font-size: 20px;
  }
  .media-gallery-image i,
  .media-main-video-item i {
    font-size: 40px;
  }
}

@media (max-width: 1199px) {
  .survey-bottom {
    padding: 25px !important;
  }
  .sidebar-content p {
    font-size: 14px;
    line-height: 20px;
  }
  .social__item p {
    font-size: 14px;
    line-height: 20px;
  }
  .load-more {
    font-size: 16px;
  }
  .news-sidebar .row {
    margin: -7.5px;
  }
  .news-sidebar .row > div {
    padding: 7.5px;
  }

  .regulation-status__title h2 {
    font-size: 14px;
    line-height: 18px;
  }
  .regulation-status__count {
    min-width: 70px;
  }
  .header-profile .dropdown {
    margin: 0 !important;
  }
  .header-profile .dropdown .btn {
    padding: 0;
  }
  .header-profile .dropdown-menu {
    padding: 2px 0;
  }
  .header-profile .dropdown-item {
    padding: 2px 5px;
  }
  .header-profile .dropdown-menu {
    width: 100px;
  }
  .sidebar-left ul li:not(:last-child) {
    margin-bottom: 12px;
  }
  .sidebar-request h5 {
    font-size: 16px;
    line-height: 20px;
  }
  .sidebar-request h4 {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  .appeals-list__header.title h2 {
    font-size: 18px;
  }
  .calendar .b-calendar-grid {
    height: 300px !important;
  }
  .custom-select {
    font-size: 14px;
  }
  .wrapper {
    min-height: calc(100vh + 610px);
  }
  .news-view-content p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .news-view-header {
    margin-bottom: 16px;
  }
  .leadership-body .leadership-item.big .leadership-image {
    height: 340px;
  }
  .sidebar-news h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .sidebar-left ul li a,
  .sidebar-menu ul li a {
    font-size: 15px;
    line-height: 21px;
  }
  .sidebar-left ul li,
  .sidebar-menu ul li {
    margin-bottom: 12px;
  }
  .row {
    margin: 0 -7.5px;
  }
  .row > div {
    padding: 0 7.5px;
  }
  .media-gallery-image {
    width: calc(50% - 7.5px);
  }
  .search-wrapper {
    padding: 15px;
  }
}

@media (max-width: 991px) {
  .news-view-main {
    padding: 15px;
  }
  .survey-bottom {
    padding: 20px !important;
  }
  .banner-live-info {
    border-top: none !important;
  }
  .content {
    max-width: 100%;
    overflow-y: auto;
  }
  .content table {
    width: 100% !important;
  }
  .modal-header .close {
    padding: 0;
    margin: 0;
    float: unset;
  }
  .okrugs-modal-content {
    max-height: 550px;
  }
  #modal-1 .modal-header {
    padding: 15px 7.5px 15px 7.5px;
  }
  .okrugs-modal-deputy,
  .modal-title {
    margin-bottom: 20px;
  }
  #modal-1 .modal-dialog {
    max-width: 750px;
  }
  .modal-body {
    padding: 30px 15px 30px 30px;
  }
  .regulation-table,
  .regulation-table-container {
    overflow-x: auto;
  }
  .regulation-status__item {
    margin-bottom: 15px;
  }
  .regulation-table .table-name span {
    white-space: nowrap;
    margin-right: 10px;
  }
  .sidebar-request {
    margin-bottom: 24px;
  }
  .popup-main {
    padding: 30px;
    max-width: 450px;
  }
  .load-more {
    font-size: 16px;
  }
  .b-calendar-grid-body {
    padding: 20px;
  }
  .pages {
    padding-top: 40px;
  }
  .wrapper {
    min-height: calc(100vh + 707px);
  }
  .leadership-body .leadership-item.big .leadership-image {
    height: 430px;
  }
  .deputies-col {
    width: 50%;
    padding: 0 10px;
  }
  .deputies-col .leadership-item.big .leadership-image {
    height: 400px;
  }
  .sidebar-content {
    justify-content: flex-start;
  }
  .sidebar-left,
  .sidebar-menu,
  .content-static {
    padding: 15px;
  }
  .sidebar {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .container {
    max-width: 100%;
  }
  .media-main-video {
    margin-bottom: 15px;
  }
  .media-gallery {
    margin: -7.5px;
  }
  .media-gallery-image {
    padding: 7.5px;
    background: none;
    width: 50%;
  }
  .media-gallery-active::before,
  .media-gallery-image::before {
    top: 7.5px;
    bottom: 7.5px;
    right: 7.5px;
    left: 7.5px;
  }
  .calendar-btn-group {
    margin-right: 25px;
  }
  .b-calendar-grid-caption {
    padding: 30px 0 18px 50px !important;
  }
}

@media (max-width: 768px) {
  .deputies-group h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .content-dynamic {
    padding: 15px;
  }
  .deputies-group-item {
    padding: 15px;
  }
  .deputies-group-item-image {
    margin-right: 15px;
  }
  .deputies-group-item-info p {
    font-size: 16px;
    line-height: 22px;
  }
  .modal-body {
    padding: 20px 17px 20px 20px;
  }
  .okrugs-modal-deputy a {
    display: block;
  }
  .okrugs-deputy-image {
    margin-bottom: 8px;
  }
  .okrugs-deputy-info h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .modal-title {
    font-size: 24px;
    line-height: 30px;
  }
  .gallery-item__image {
    height: auto;
  }
  .regulation-table th,
  .regulation-table td {
    padding: 8px;
  }
  .news-view-main h2 {
    font-size: 18px !important;
    line-height: 24px !important;
  }
  .wrapper {
    min-height: calc(100vh + 812px);
  }
  .news-view-header ul li span {
    font-size: 14px;
  }
  .news-view-header a {
    font-size: 14px;
  }
  .news-view__footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .news-view-share {
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
  }
  .news-view-share span {
    font-size: 16px;
  }
  .sidebar-news h2 {
    font-size: 16px;
  }
  .news-view__print span {
    font-size: 16px;
  }
  .leadership-body .leadership-item.big .leadership-image {
    height: auto;
  }
  .content-static img {
    width: 100%;
    height: auto;
  }
  .regulation-filter .filter-row {
    flex-wrap: wrap;
  }
  .regulation-filter .filter-row .form-group {
    margin-bottom: 16px;
  }
  /* .regulation-title {
        flex-wrap: wrap;
    } */
  /* .regulation-title__month {
        width: 100%;
    } */
  .regulation-title__month .form-group {
    margin-left: 8px;
    /* margin-right: 24px; */
  }
  .regulation-title {
    margin-bottom: 24px;
  }
  .regulation-title__type > a,
  .title h2 {
    font-size: 16px;
    line-height: 22px;
  }
  .filter-col__id {
    flex: unset;
    width: 100%;
  }
  .filter-btn,
  .regulation-filter .form-group input.form-control {
    height: 38px;
    margin-top: 0;
  }
  .regulation-table a.table-url {
    font-size: 14px;
  }
  .news-view-image {
    height: 450px;
  }
}

@media (max-width: 575px) {
  .news-view-main h2 {
    font-size: 16px !important;
    line-height: 22px !important;
    margin-bottom: 15px !important;
  }
  .leadership-item.mini .leadership-image {
    margin-bottom: 10px !important;
  }
  .survey-bottom {
    padding: 15px !important;
  }
  .highcharts-root {
    height: auto !important;
  }
  .banner-live-info span {
    justify-content: center;
  }
  .deputies-group-item {
    display: block;
  }
  .deputies-group-item-image {
    margin-bottom: 16px;
  }
  .deputies-group-item-info h3 {
    margin-bottom: 8px;
  }
  .news-view-image {
    height: 400px;
  }
  .news-view-header a,
  .news-view-header ul li span {
    margin-top: auto;
  }
  .news-view-header {
    flex-wrap: wrap;
  }
  .content-static {
    max-width: 100%;
    overflow-x: auto;
  }
  .popup-main {
    max-width: 380px;
    padding: 15px;
  }
  .popup-btn__outline {
    height: 40px;
  }
  .popup-title {
    font-size: 18px;
    line-height: 24px;
  }
  .popup-head {
    margin-bottom: 18px;
  }
  .form-group {
    margin-bottom: 16px;
  }
  .load-more {
    font-size: 14px;
  }
  .b-calendar-grid-body {
    padding: 0px 20px 20px 20px;
  }
  .b-calendar .b-calendar-grid-body .col[data-date] .btn {
    height: 35px !important;
    width: 35px !important;
  }
  .b-calendar-grid-caption {
    padding: 15px !important;
  }
  .b-calendar-footer {
    right: -7px;
    top: 12px;
  }
  .sidebar-left ul li a,
  .sidebar-menu ul li a,
  .sidebar-content h4,
  .sidebar-content p {
    font-size: 14px;
    line-height: 20px;
  }
  .deputies-col {
    width: 100%;
    padding: 0 10px;
  }
  .deputies-col .leadership-item.big .leadership-image {
    height: auto;
  }
  .breadcrumb {
    margin-bottom: 30px;
  }
  .pages {
    padding: 30px 0;
  }
  .breadcrumb-item a,
  .breadcrumb-item span,
  .breadcrumb-item {
    font-size: 14px;
  }
  .media-main-video-item {
    height: 210px;
  }
  .media-gallery-image {
    width: 100%;
    height: auto;
  }
  .title {
    margin-bottom: 15px;
  }
  .regulation-title__type > a,
  .title h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .title > a {
    font-size: 13px;
    line-height: 19px;
  }
  .content-static p {
    font-size: 14px;
    line-height: 20px;
  }
  .vertical.news-item {
    display: block !important;
  }
  .vertical.news-item .news-image {
    margin-bottom: 12px !important;
    display: block !important;
  }
  .vertical.news-item .news-info .news-info-category {
    margin-bottom: 8px !important;
  }
  .vertical.news-item .news-info-contents small {
    margin-top: 8px !important;
    display: block;
  }
  .vertical.news-item .news-info-contents {
    height: auto !important;
    display: block !important;
  }
  .modal-body {
    padding: 15px 5px 15px 15px;
  }
  .okrugs-modal-content {
    max-height: 400px;
    min-height: 400px;
    padding-right: 10px;
  }
}

@media (max-width: 450px) {
  .deputies-group-item-info h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .deputies-group-item-image {
    height: auto;
    max-width: unset;
    flex: unset;
    width: 100%;
  }
  .okrugs-deputy-image {
    height: auto;
    max-height: unset;
    min-height: unset;
    max-width: unset;
    flex: unset;
    width: 100%;
  }
  .modal-title {
    font-size: 20px;
    line-height: 26px;
  }
  .news-view-image {
    height: 330px;
  }
  .regulation-title__type {
    margin-bottom: 8px;
  }
  .regulation-title__month .form-group {
    margin-left: 0;
    margin-right: 8px;
  }
  .regulation-title {
    flex-wrap: wrap;
  }
  .regulation-title__type > a {
    padding-bottom: 5px;
  }
  .regulation-title__type > a,
  .title h2 {
    /* font-size: 14px;
        line-height: 20px; */
    font-size: 19px;
    line-height: 23px;
    font-weight: 600;
  }
  .appeals-list__header.title h2 {
    margin-bottom: 8px;
  }
  .leadership-header-search,
  .leadership-header-select {
    width: calc(100% / 12 * 12);
  }
  .btns-comment .btn-back,
  .btns-comment .btn-send {
    font-size: 14px;
  }
  .btns-comment .btn-back {
    padding: 0 8px;
  }
  .content-static table td {
    padding: 8px 0;
  }
  .content-static table td p {
    font-size: 7px;
    line-height: 10px;
  }
  .content-static table td h5 {
    font-size: 8px;
  }
  .content-static h4 {
    font-size: 13px;
  }
}

/* survey */

@media (max-width: 1650px) {
  .survey-item {
    height: 516px;
  }
  .survey-banner {
    height: 620px;
  }
}

@media (max-width: 1480px) {
  .survey-item {
    height: 471px;
  }
  .survey-banner {
    height: 575px;
  }
  .survey-bottom {
    padding: 20px;
  }
}

@media (max-width: 1330px) {
  .survey-banner button {
    font-size: 13px;
    padding: 10px 40px;
  }
}

@media (max-width: 1199px) {
  .survey-wrapper {
    padding-top: 55px;
  }
  .survey-banner-image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
}

@media (max-width: 575px) {
  .banner-links {
    display: none !important;
  }
  .survey-wrapper {
    padding-top: 24px;
  }
  .survey-bottom {
    padding: 16px;
  }
  .survey-bottom .slider-navigation {
    right: 16px;
    top: 11px;
  }
  .survey-banner {
    height: 265px;
  }
  .survey-item-body h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 16px;
  }
  .survey-item {
    height: 410px;
  }
}

/* survey */
