* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {}

.row {
    margin: 0 -20px;
}

.row>div {
    padding: 0 20px;
}

a,
a:hover {
    text-decoration: none;
}

.container {
    max-width: 1610px;
    padding: 0 15px;
}

.invalid {
    border-color: red !important;
}

body {
    font-family: "Montserrat", sans-serif;
    /* font-family: 'Effra', sans-serif; */
    background-color: #f8fbff;
}

.wrapper {
    min-height: calc(100vh + 536px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper.active .pages {
    max-height: 100vh;
    flex: 0 0 100vh;
}

.wrapper.active {
    height: 100vh;
    min-height: unset;
    overflow: hidden;
}

.wrapper.active .mobile-menu {
    visibility: visible;
    opacity: 1;
    position: fixed;
}

.wrapper.menu-active .mobile-menu-wrapper {
    transform: translateX(0);
}

.mobile-menu {
    transition: visibility 0.2s ease-in-out 500ms, opacity 0.2s ease-in-out 500ms;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.mobile-menu-wrapper {
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
}

.wrapper.menu-active .full-menu {
    transform: translateY(0);
}

.full-menu {
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
}

.pages {
    padding-top: 60px;
    padding-bottom: 56px;
    min-height: calc(100vh - 496px);
}

.sidebar-content {
    padding: 24px 16px;
    min-height: 120px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(10, 74, 168, 0.08);
    border-radius: 4px;
}

.title {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #2c2d32;
}

.title>a {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #959ab2;
    display: flex;
    align-items: center;
}

.title>a i {
    display: flex;
    margin-left: 17px;
    font-size: 22px;
}

.p0 {
    padding: 0;
}


/* ------------------- CALENDAR -------------------------------------------*/

.calendar {
    position: relative;
    width: 100%;
}

.b-calendar {
    width: 100% !important;
}

.b-calendar-inner {
    width: 100% !important;
    padding: 15px 0 20px 0;
}

.calendar-nav {
    border: none;
    background-color: transparent;
    outline: none;
}

.calendar .b-calendar-inner {
    background-color: #fff;
    box-shadow: 0 4px 8px rgb(10 74 168 / 8%);
    border-radius: 4px;
}

.calendar .b-calendar-nav {
    position: absolute;
    top: 40px;
    right: 20px;
    margin: 0;
}

.calendar.home .b-calendar-nav {
    top: 25px;
}

.b-calendar .b-calendar-nav button:last-child,
.b-calendar .b-calendar-nav button:first-child {
    display: none;
}

.b-calendar-grid-caption,
.btn-outline-secondary {
    color: #3469b8;
}

.calendar.home .b-calendar-grid-caption,
.calendar.home .btn-outline-secondary {
    color: #959ab2;
}

.calendar.home .btn-outline-secondary:hover {
    color: #3469b8;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
    box-shadow: none !important;
}

.btn-outline-secondary:hover {
    background-color: transparent !important;
    color: #3469b8 !important;
}

.calendar .b-calendar-grid {
    background-color: transparent;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

.calendar.home .b-calendar-grid {
    background-color: transparent;
}

.calendar.home .b-calendar-inner {
    background-color: #f5f7f9;
    box-shadow: unset;
    height: 367px;
}

.calendar .b-calendar-header {
    display: none;
}


/* .calendar .b-calendar-nav {
    display: none !important;
} */

.calendar .small {
    display: none;
}

.b-calendar-grid-caption {
    display: flex;
    padding: 15px 26px !important;
    text-transform: capitalize;
}

.b-calendar-grid-body,
.b-calendar-grid-weekdays {
    padding: 0 30px;
}

.b-calendar-grid-weekdays {
    border-bottom: unset !important;
}

.b-calendar-grid-weekdays small {
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    font-weight: 600;
    font-size: 13px;
    color: #3469b8;
    text-transform: capitalize;
}

.b-calendar-footer {
    margin: 0 !important;
    position: absolute;
    right: 30px;
    top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-btn-group button:first-child {
    margin-right: 15px;
}

.calendar-btn-group {
    display: flex;
}

.calendar-btn-group button {
    position: relative;
    color: #f9f8f8;
    font-size: 1px;
}

.calendar-btn-group button:first-child::before {
    content: "\f104";
}

.calendar-btn-group button:last-child::before {
    content: "\f105";
}

.calendar-btn-group button::before {
    color: #000000;
    font-family: "fontawesome";
    font-size: 20px;
    position: absolute;
    display: flex;
}

.b-calendar .b-calendar-grid-body .col[data-date] .btn {
    height: 40px !important;
    width: 40px !important;
    margin: 0 !important;
    border-radius: 10px !important;
    padding: 0 !important;
    line-height: 40px !important;
    font-weight: 600;
    font-size: 15px;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    background: #3469b8 !important;
    box-shadow: 0px 0px 30px rgba(123, 97d, 255, 0.2) !important;
}

.calendar .form-control {
    border: none !important;
}


/* calendar */

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #0b4aa8;
    outline: none;
}

.dropdown-toggle:active {
    background-color: transparent !important;
}

.dropdown-toggle:hover {
    background-color: transparent;
    color: #0b4aa8;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    background-color: transparent;
    color: #0b4aa8;
    box-shadow: none;
}


/* .fade-leave-active до версии 2.1.8 */

.breadcrumb {
    padding: 0;
    margin-bottom: 40px;
    background: transparent;
}

.breadcrumb-item a,
.breadcrumb-item span,
.breadcrumb-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    color: #2c2d32;
}

.breadcrumb-item a {
    color: #3469b8;
}

.content-dynamic {
    background: #fff;
    padding: 32px;
    box-shadow: 0 4px 8px rgba(10, 74, 168, 0.08);
    border-radius: 4px;
}

.friendship-view .content-dynamic {
    margin-bottom: 24px;
}

.friendship-view .deputies-group-item {
    padding: 0;
    box-shadow: none;
}

.content-static {
    background: #fff;
    padding: 32px;
    box-shadow: 0 4px 8px rgba(10, 74, 168, 0.08);
    border-radius: 4px;
}

.content-static p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #2c2d32;
    margin-bottom: 16px;
}

.content-static h1,
.content-static h2,
.content-static h3,
.content-static h4,
.content-static h5,
.content-static h6 {
    margin-bottom: 8px;
}

.content-static ul li {
    margin-bottom: 8px;
}

.content-static table td {
    padding: 8px 16px;
    line-height: 21px;
}

.content-static table td p {
    margin-bottom: 4px;
}

.media-main {
    position: relative;
}

.media-header-nav {
    display: flex;
}

.media-header-nav a {
    margin-right: 68px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #2c2d32;
    padding-bottom: 16px;
    position: relative;
    cursor: pointer;
}

.media-header-nav a::after {
    content: "";
    height: 3px;
    left: 0;
    bottom: -1px;
    background: #3296f2;
    position: absolute;
    width: 0;
    transition: all 0.2s ease-in-out;
}

.media-header-nav a.active::after {
    width: 100%;
}

.media-header-nav a:last-child {
    margin-right: 0;
}

.media-gallery {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    cursor: pointer;
}

.media-gallery-image {
    width: calc(50% - 20px);
}

.media-gallery-active {
    position: relative;
    height: 500px;
}

.media-gallery-active img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.media-gallery-active::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    z-index: 2;
}

.media-gallery-active::after {
    font-size: 80px;
}

.media-gallery-image img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.media-main-video-item {
    height: 500px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.media-gallery-image i,
.media-main-video-item i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    font-size: 55px;
    color: white;
}

.media-main-video-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    transform: translateY(-30px);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: white;
    cursor: pointer;
}


/* paddings */


/* paddings */

.svg-animate-img svg {
    width: 100%;
    height: 100%;
}

.sidebar>.row {
    margin: -15px 0;
}

.sidebar>.row>div {
    padding: 15px 0;
}

.sidebar-left {
    padding: 32px;
    background: #0a4aa8;
    border-radius: 4px;
}

.sidebar-left ul li:not(:last-child) {
    margin-bottom: 20px;
}

.sidebar-left ul li a {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.sidebar-left ul li a.active,
.sidebar-left ul li a.nuxt-link-active,
.sidebar-left ul li a:hover {
    color: #a2c7ff;
}

.okrugs-modal-deputy {
    margin-bottom: 40px;
}

.okrugs-modal-deputy a {
    display: flex;
}

.okrugs-deputy-image {
    max-width: 200px;
    flex: 0 0 200px;
    min-height: 200px;
    margin-right: 24px;
    max-height: 240px;
}

.okrugs-deputy-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.okrugs-deputy-info h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #0a4aa8;
    margin-bottom: 4px;
}

.okrugs-deputy-info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #767f9b;
    margin-bottom: 12px;
}

.okrugs-deputy-info p:last-child {
    margin-bottom: 0;
}

.okrugs-deputy-info h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000821;
    margin-bottom: 4px;
}

#modal-1 .modal-footer {
    display: none;
}

#modal-1 .modal-dialog {
    max-width: 770px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
}

.okrugs-modal-content {
    min-height: 500px;
    max-height: 700px;
    overflow-y: auto;
    padding-right: 15px;
}

.okrugs-modal-content::-webkit-scrollbar-track {
    background: rgba(219, 221, 233, 0.48);
    border-radius: 4px;
}

.okrugs-modal-content::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
}

.okrugs-modal-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background: #b3bee0;
    border-radius: 4px;
}


/* #modal-1 .modal-content {
  min-height: 660px;
} */

#modal-1 .modal-header {
    position: absolute;
    right: 0;
    z-index: 99;
    border: none;
}

#modal-1 .modal-header .close {
    font-size: 40px;
    color: #3469b8;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sidebar-content>img {
    height: 60px;
    margin-right: 0;
    margin-bottom: 8px;
}

.sidebar-content h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #3469b8;
}

.sidebar-content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2c2d32;
    margin-bottom: 0;
}

.sidebar-menu {
    padding: 32px;
    background: #0a4aa8;
    border-radius: 4px;
}

.sidebar-menu ul {
    display: flex;
    flex-direction: column;
}

.sidebar-menu ul li {
    margin-bottom: 20px;
}

.sidebar-menu ul li:last-child {
    margin-bottom: 0;
}

.sidebar-menu ul li a {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.sidebar-menu ul li a.nuxt-link-active,
.sidebar-menu ul li a:hover {
    color: #a2c7ff;
}

.sidebar-content-image {
    max-width: 80%;
    flex: 0 0 80px;
    height: 100%;
    margin-bottom: 8px;
}

.fractions-header-info ul li a {
    color: #0a4aa8;
}

.fractions .sidebar-content-image {
    margin-right: 15px;
}

.sidebar-content-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.fractions-header {
    margin-bottom: 40px;
}

.fractions-header-image {
    max-width: 150px;
    flex: 0 0 150px;
    height: 150px;
    margin-right: 40px;
}

.fractions-header-image img {
    height: 100%;
    object-position: center;
    object-fit: contain;
    width: 100%;
}

.fractions-body {
    margin-bottom: 40px;
}

.modal-body {
    padding: 40px 25px 40px 40px;
}

.modal-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #2c2d32;
    margin-bottom: 40px;
}

.deputies-row {
    margin: 0 -20px;
    display: flex;
    flex-wrap: wrap;
}

.deputies-col {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}


/* leadership */

.leadership-chamber {
    margin-bottom: 55px;
}

.leadership-chamber p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #2c2d32;
    margin-bottom: 25px;
}

.leadership-chamber p:last-child {
    margin-bottom: 0;
}

.leadership-header {
    display: flex;
    align-items: center;
}

.leadership-header.title {
    justify-content: unset;
}

.leadership-header.title h2 {
    margin-right: auto;
}

.leadership-header.title>div {
    margin-left: 15px;
}

.leadership-body {
    padding-bottom: 50px;
    min-height: 300px;
}

.leadership-body .row {
    margin: -30px -20px;
}

.leadership-body .row>div {
    padding: 30px 20px;
}

.leadership-body2 {
    margin-top: 50px;
}

.leadership-header-search {
    display: flex;
}

.leadership-header-search input.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    box-shadow: none;
    border: 1px solid #ced4da;
}

.leadership-header-clear .btn,
.leadership-header-search .btn {
    background: #0a4aa8;
    color: #ffff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 48px;
}

.leadership-header-clear .btn {
    border-radius: 4px;
}


/* leadership */

.leadership-chamber {
    margin-bottom: 55px;
}

.leadership-chamber p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #2c2d32;
    margin-bottom: 25px;
}

.leadership-chamber p:last-child {
    margin-bottom: 0;
}

.leadership-body {
    padding-bottom: 50px;
}

.leadership-body .row {
    margin: -30px -20px;
}

.leadership-body .row>div {
    padding: 30px 20px;
}

.leadership-body2 {
    margin-top: 50px;
}

.slider-navigation {
    display: flex;
    align-items: center;
}

.slider-navigation i {
    width: 36px;
    height: 36px;
    margin-right: 8px;
    background: #3469b8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 19px;
}

.slider-navigation i:last-child {
    margin-right: 0;
}

.leadership-header-search,
.leadership-header-select {
    width: calc(100% / 12 * 2.5);
}


/* animation */

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse";
}

.sidebar-request h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}

.sidebar-request h4 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #2c2d32;
    padding-bottom: 24px;
    border-bottom: 1px solid #dbdde9;
    margin-bottom: 24px;
}

.card__info__footer {
    display: flex;
    justify-content: flex-end;
}

.appeals-list__item {
    padding: 16px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgb(10 74 168 / 8%);
    border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 24px;
    cursor: pointer;
    display: block;
}

.appeals-list__item h4 {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #2c2d32;
}

.appeals-list__item p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #2c2d32;
}

.card__info__footer span {
    font-size: 14px;
    line-height: 16px;
    padding-right: 5px;
}

.card__info__footer span:last-child {
    padding-right: 0;
}

.text-blue {
    color: #3469b8;
}

.appeals-list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* surveys */

.survey-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.survey-bottom {
    height: 100%;
    position: relative;
}

.survey-body {
    position: relative;
}

.survey-bottom .slider-navigation {
    position: absolute;
    right: 24px;
    top: 22px;
    z-index: 2;
}

.survey-bottom {
    background: #f5f7f9;
    border-radius: 4px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.survey-item {
    height: 527px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.survey-item::-webkit-scrollbar-track {
    background: rgba(219, 221, 233, 0.48);
    border-radius: 4px;
}

.survey-item::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
}

.survey-item::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background: #b3bee0;
    border-radius: 4px;
}

.survey-item-header h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #959ab2;
}

.survey-item-header {
    padding-bottom: 16px;
    border-bottom: 1px solid #dbdde9;
}

.survey-item-body {
    padding-top: 16px;
}

.survey-item-body h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2c2d32;
    margin-bottom: 24px;
}

.survey-item-body ul li {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 16px;
    width: max-content;
}

.survey-item-body ul li:last-child {
    margin-bottom: 0;
}

.survey-item-body ul li input {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    user-select: none;
}

.survey-item-body ul li label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #6c757d;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    margin: 0;
}

.survey-item-body ul li label i {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #6c757d;
}

.survey-item-body ul li label i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background: #0b4aa8;
    transform: translate(-50%, -50%);
    display: none;
}

.survey-item-body ul li input:checked~label {
    color: #0b4aa8;
}

.survey-item-body ul li input:checked~label i {
    border-color: #0b4aa8;
}

.survey-item-body ul li input:checked~label i::after {
    display: block;
}

.survey-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.survey-footer button {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6c757d;
    width: calc(50% - 8px);
    height: 44px;
    cursor: pointer;
}

.survey-footer button:first-child.disabled {
    background-color: gray;
    pointer-events: none;
}

.survey-footer button:first-child {
    color: white;
    background: #0b4aa8;
    border-radius: 4px;
    border: none;
    outline: none;
}

.survey-footer button:last-child {
    background: transparent;
    outline: none;
    border: 1px solid #6c757d;
    border-radius: 4px;
}

.survey-item-result {
    padding-top: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.survey-item-result button {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #2c2d32;
    display: flex;
    width: max-content;
    border: none;
    outline: none;
    background-color: transparent;
    align-items: center;
    margin-bottom: 14px;
}

.survey-item-result button i {
    margin-right: 8px;
}

.survey-item-result ul li {
    margin-bottom: 20px;
}

.survey-item-result ul li:last-child {
    margin-bottom: 0;
}

.survey-item-result ul li span {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #6c757d;
    margin-bottom: 8px;
    display: block;
}

.survey-item-result-bottom {
    display: flex;
    align-items: center;
}

.survey-item-result-bottom i {
    font-size: 13px;
    margin-right: 8px;
    color: #00933b;
}

.survey-item-result-bottom .degree {
    background: #dee2e6;
    border-radius: 2px;
    height: 16px;
    width: 100%;
}

.survey-item-result-bottom .degree .loading {
    background: #3469b8;
    height: 100%;
}

.survey-item-result h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2c2d32;
    margin-top: auto;
    margin-bottom: 8px;
}

.survey-banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 632px;
    /* background-color: #f5f7f9; */
}

.survey-banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.survey-banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.survey-banner-title {
    padding-bottom: 32px;
    position: relative;
    z-index: 2;
}

.survey-banner {
    padding: 0 20px;
    position: relative;
}

.survey-banner p {
    text-align: center;
    color: #ffffff;
}

.survey-banner button {
    background: #ffffff;
    border-radius: 4px;
    padding: 12px 61px;
    color: #0b4aa8;
    align-items: center;
}

.survey-banner button:hover {
    /* color: #fff; */
    color: #0b4aa8;
}

.swiper-pagination {
    right: 0;
}

.swiper-pagination span {
    margin-left: 4px;
}

.swiper-pagination span.swiper-pagination-bullet-active {
    background-color: #3469b8;
}


/* survey */


/* survey page */

.survey-page .survey-item {
    background: #ffffff;
    box-shadow: 0 4px 8px rgb(10 74 168 / 8%);
    border-radius: 4px;
    padding: 24px 32px;
}

.survey-page .survey-item-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.survey-page .survey-footer {
    margin-top: auto;
}

.survey-page .row {
    margin: -20px;
}

.survey-page .row>div {
    padding: 20px;
}

.survey-page .survey-item {
    height: auto;
}

.survey-page .survey-item-body ul,
.survey-page .survey-item-result ul {
    margin-bottom: 16px;
}

.survey-page .survey-footer {
    justify-content: unset;
}

.survey-page .survey-footer button {
    width: max-content;
    margin-right: 16px;
    padding: 8px 16px;
}


/* .survey-page .survey-item-body,
.survey-page .survey-item-result {
  min-height: 350px;
} */


/* survey page */

.deputies-group h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #2c2d32;
    margin-bottom: 16px;
}

.deputies-group {
    margin-bottom: 24px;
    padding: 24px;
}

.deputies-group-item {
    display: flex;
    padding: 24px;
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 64, 123, 0.08);
    border-radius: 4px;
}

.deputies-group-item-image {
    max-width: 156px;
    flex: 0 0 156px;
    height: 188px;
    margin-right: 24px;
}

.deputies-group-row-col:not(:last-child) {
    margin-bottom: 24px;
}

.deputies-group-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.deputies-group-item-info h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #0a4aa8;
    margin-bottom: 24px;
}

.deputies-group-item-info h5,
.deputies-group-item-info p {
    font-weight: 500;
    font-size: 18px;
    line-height: 145%;
    color: #767f9b;
    margin-bottom: 0;
}

.deputies-group-item-info h5 {
    margin-bottom: 8px;
}

.deputies-group-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #2c2d32;
    margin-bottom: 16px;
}

table thead th {
    border-bottom: 2px solid #dee2e6;
}

table td,
table th {
    border: 1px solid #dee2e6;
}