<template>
  <div class="pages fractions" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-main-wrapper">
          <div class="row">
            <div class="col-lg-3">
              <div class="sidebar">
                <div class="row">
                  <div class="col-12" v-for="item in fractions" :key="item.id">
                    <nuxt-link
                      :to="
                        localePath({
                          path: `/fractions/${item.id}`,
                        })
                      "
                      class="sidebar-content"
                    >
                      <div class="sidebar-content-image">
                        <img :src="item.image" alt="not found" />
                      </div>
                      <p>{{ item.title }}</p>
                    </nuxt-link>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="pages-content">
                <div class="content-dynamic fractions">
                  <div class="title">
                    <h2>
                      {{ (fractionsDetail && fractionsDetail.title) || "" }}
                    </h2>
                  </div>
                  <div class="fractions-header">
                    <div class="fractions-header-image">
                      <img :src="fractionsDetail.image" alt="not found" />
                    </div>
                    <div class="fractions-header-info">
                      <ul>
                        <li>
                          <span>Fraksiya sayti:</span
                          ><a :href="fractionsDetail.url || ''">
                            {{ fractionsDetail.url || "-" }}
                          </a>
                        </li>
                        <li>
                          <span>Fraksiya rahbari:</span
                          ><a href="#">
                            {{
                              (leader &&
                                `${leader.last_name} ${leader.first_name} ${leader.middle_name}`) ||
                              "-"
                            }}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div
                    class="fractions-body"
                    v-html="fractionsDetail.content"
                  ></div>
                  <div class="deputies-row">
                    <div class="deputies-col" v-if="leader">
                      <CardsLeadership
                        :image="leader.image"
                        :slug="leader.slug"
                        :title="
                          leader.last_name +
                          ' ' +
                          leader.first_name +
                          ' ' +
                          leader.middle_name
                        "
                        :text="leader.work_place"
                      />
                    </div>
                    <div
                      class="deputies-col"
                      v-for="item in fractionsDetail.deputies"
                      :key="item.id"
                    >
                      <CardsLeadership
                        :image="item.image"
                        :slug="item.slug"
                        :title="
                          item.last_name +
                          ' ' +
                          item.first_name +
                          ' ' +
                          item.middle_name
                        "
                        :text="item.work_place"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      sideMenu: {},
      fractions: null,
      fractionsDetail: null,
      posts: null,
      leader: null,
    };
  },
  async mounted() {},
  async created() {
    this.loader = false;

    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "fractions"
    );
    this.fractions = await this.$store.dispatch("fractions/GetFractionList");
    const posts = await this.$store.dispatch("posts/getPostsListInSlug", {
      slug: "fraksiyalar-va-deputatlar-guruhi",
    });
    this.fractionsDetail = await this.$store.dispatch(
      "fractions/fetchFractionDetail",
      this.$route.params.id
    );
    this.leader = this.fractionsDetail.leader;
    this.posts = posts[0];
    this.loader = true;
  },

  methods: {},
};
</script>

<style>
.fractions-header {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .fractions-deputies-col {
    width: 50%;
    padding: 0 10px;
  }
  .fractions-deputies-col .leadership-item.big .leadership-image {
    height: 365px;
  }
}
@media (max-width: 768px) {
  .fractions-deputies-col {
    width: 100%;
    padding: 0 10px;
  }
  .fractions-deputies-col .leadership-item.big .leadership-image {
    height: auto;
  }
}
@media (max-width: 575px) {
  .fractions-header {
    flex-wrap: wrap;
    margin-bottom: 20px;

    justify-content: center;
  }
  .fractions-header-image {
    margin-right: 16px;
    margin-bottom: 10px;
  }
  .fractions-header-info ul li span,
  .fractions-header-info ul li a,
  .fractions-body p {
    font-size: 14px;
    line-height: 20px;
  }
}
</style>