<template>
  <div class="pages fractions" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-main-wrapper">
          <div class="row">
            <div class="col-lg-3 order-lg-1 order-2">
              <div class="sidebar">
                <div class="row">
                  <div class="col-12" v-for="item in fractions" :key="item.id">
                    <nuxt-link
                      :to="
                        localePath({
                          path: `/fractions/${item.id}`,
                        })
                      "
                      class="sidebar-content"
                    >
                      <div class="sidebar-content-image">
                        <img :src="item.image" alt="not found" />
                      </div>
                      <p>{{ item.title }}</p>
                    </nuxt-link>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-1">
              <div class="pages-content">
                <div class="content-static commissions">
                  <div class="title">
                    <h2>{{ (post && post.title) || "" }}</h2>
                  </div>
                  <div
                    class="content-static-text"
                    v-html="(post && post.content) || ''"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 order-lg-3 order-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      sideMenu: {},
      fractions: null,
      post: null,
    };
  },
  async mounted() {},
  async created() {
    this.loader = false;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "fractions"
    );

    this.fractions = await this.$store.dispatch("fractions/GetFractionList");
    const post = await this.$store.dispatch("posts/getPostsListInSlug", {
      slug: "fraksiyalar",
    });
    this.post = post[0];
    this.loader = true;
  },

  methods: {},
};
</script>

<style>
</style>