<template>
  <div class="pages" v-if="!loading">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ $t("Search") }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="search-wrapper">
          <div class="search-row" v-for="(item, i) of searchResult" :key="i">
            <nuxt-link class="search-item" :to="item.path">
              <div v-if="item.title" class="search-item__title">
                <h2>{{ item.title }}</h2>
              </div>
              <div class="search-item__field" v-html="item.field[0]"></div>
            </nuxt-link>
          </div>
          <button
            class="load-more"
            v-if="
              count > (searchResult && searchResult.length) &&
              searchResult.length
            "
            @click="fetchSearch"
          >
            {{ $t("LoadMore") }}
          </button>
        </div>
      </div>
    </main>
  </div>
</template>
<script>
export default {
  data() {
    return {
      searchResult: [],
      loading: false,
      limit: 12,
      offset: 0,
      count: 0,
    };
  },
  async mounted() {
    // await this.fetchResults();
  },
  methods: {
    async fetchResults() {
      let searchResult = await this.$store.dispatch(
        "search/fetchSearchResult",
        {
          title: this.$route.query.title,
          limit: this.limit,
          offset: this.offset
        }
      );
      searchResult = {
        ...searchResult,
        results: searchResult.results.map(i => {
          let category = "";
          if (i.class_name == "Post") {
            category = "news";
          } else if (i.class_name == "VideoGallery") {
            category = "videos";
          } else if (i.class_name == "PhotoGallery") {
            category = "gallery";
          } else if (i.class_name == "Deputy") {
            category = "deputies";
          } else {
            category = "static";
          }
          return {
            ...i,
            path: category + "/" + i.slug,
          };
        }),
      };
      this.searchResult = [...this.searchResult, ...searchResult.results];
      this.offset += this.limit;
      this.count = searchResult.count;
    },
    async fetchSearch() {
      this.offset = 0;
      let searchResult = await this.$store.dispatch(
        "search/fetchSearchResult",
        {
          title: this.$route.query.title,
          limit: this.limit,
          offset: this.offset,
        }
      );
      searchResult = {
        ...searchResult,
        results: searchResult.results.map((i) => {
          let category = "";
          if (i.class_name == "Post") {
            category = "news";
          } else if (i.class_name == "VideoGallery") {
            category = "videos";
          } else if (i.class_name == "PhotoGallery") {
            category = "gallery";
          } else if (i.class_name == "Deputy") {
            category = "deputies";
          } else {
            category = "static";
          }
          return {
            ...i,
            path: category + "/" + i.slug
          };
        })
      };
      this.searchResult = [...this.searchResult, ...searchResult.results];
      this.offset += this.limit;
      this.count = searchResult.count;
    },
    async fetchLoadMore() {
      let searchResult = await this.$store.dispatch(
        "search/fetchSearchResult",
        {
          title: this.$route.query.title,
          limit: this.limit,
          offset: this.offset
        }
      );
      searchResult = {
        ...searchResult,
        results: searchResult.results.map(i => {
          let category = "";
          if (i.class_name == "Post") {
            category = "news";
          } else if (i.class_name == "VideoGallery") {
            category = "videos";
          } else if (i.class_name == "PhotoGallery") {
            category = "gallery";
          } else if (i.class_name == "Deputy") {
            category = "deputies";
          } else {
            category = "static";
          }
          return {
            ...i,
            path: category + "/" + i.slug
          };
        })
      };
      this.searchResult = [...this.searchResult, ...searchResult.results];
      this.offset += this.limit;
      this.count = searchResult.count;
    }
  },
  watch: {
    "$route.query": {
      immediate: true,
      handler(newVal) {
        this.searchResult = [];
        this.fetchResults();
        // make actions with newVal.page
      }
    }
  }
};
</script>
<style>
</style>
