<template>
  <main class="full-menu">
    <div class="container">
      <div class="full-menu-wrapper">
        <div class="full-menu-close" @click="CloseMenu">
          <i class="icon-close"></i>
        </div>
        <div class="full-menu-main">
          <div class="full-menu-main-left">
            <ul>
              <li
                v-for="item in menu"
                :key="item.id"
                @click="activeIndex = item.id"
                :class="{ active: activeIndex == item.id }"
              >
                <nuxt-link
                  :to="
                    item && item.children && item.children.length
                      ? localePath({
                          path: '/',
                        })
                      : localePath({
                          path: defineLink(item),
                        })
                  "
                  v-if="!item.child"
                >
                  {{ item.title }}
                  <i
                    v-if="item && item.children && item.children.length"
                    class="fa fa-angle-right"
                  >
                  </i>
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="full-menu-main-right">
            <ul v-if="childMenu && childMenu.children">
              <li v-for="child in childMenu.children" :key="child.id">
                <nuxt-link
                  :to="
                    localePath({
                      path: defineLink(child),
                    })
                  "
                >
                  {{ child.title }}
                </nuxt-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  data() {
    return {
      menu: [],
      activeIndex: 1,
    };
  },
  watch: {
    $route: {
      handler() {
        this.$emit("CloseMenu");
      },
    },
  },
  methods: {
    CloseMenu() {
      this.$emit("CloseMenu");
    },
    defineLink(item) {
      let path =
        item && item.group && item.has_category
          ? `/${item.group}/category/${item.slug}`
          : item && item.group && !item.has_category
          ? `/${item.group}`
          : `/static/${item.slug}`;
      return path;
    },
  },
  computed: {
    childMenu() {
      return this.menu.filter((i) => i.id === this.activeIndex)[0];
    },
  },
  async mounted() {
    this.menu = await this.$store.dispatch("menu/GetMenu");
  },
};
</script>

<style>
.full-menu {
  height: 100vh;
  background: #0b4aa8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding-top: 110px;
}

.full-menu-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.full-menu-close {
  top: 18px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.full-menu-close i {
  color: white;
  transition: all 0.4s ease-in-out;
  display: block;
}
.full-menu-close:hover i {
  transform: rotate(180deg);
}
.full-menu-main {
  display: flex;
  padding: 60px 0;
}
.full-menu-main-left {
  width: 50%;
  /* border-right: 2px solid #3c6eb9; */
  overflow-y: auto;
  height: calc(100vh - 230px);
}
.full-menu-main-right {
  width: 50%;
  height: calc(100vh - 230px);
  overflow-y: auto;
}
.full-menu-main-left ul {
  padding-right: 54px;
}
.full-menu-main-right ul {
  padding-left: 40px;
}
.full-menu-main-left ul li {
  margin-bottom: 24px;
}
.full-menu-main-left ul li:last-child {
  margin-bottom: 0;
}
.full-menu-main-left ul li span,
.full-menu-main-left ul li a {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #9db7dc;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}
.full-menu-main-left ul li span i,
.full-menu-main-left ul li a i {
  margin-left: 5px;
}
.full-menu-main-left ul li.active a {
  color: white;
}
.full-menu-main-left ul li span i {
  margin-left: auto;
  font-size: 34px;
}
.full-menu-main-right ul li {
  margin-bottom: 24px;
}
.full-menu-main-right ul li:last-child {
  margin-bottom: 0;
}
.full-menu-main-right ul li a {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  display: block;
  transition: all 0.2s ease-in-out;
}
.full-menu-main-right ul li:hover a {
  color: #9db7dc;
}
.full-menu-main-right ul li a.nuxt-link-exact-active.nuxt-link-active {
  color: #9db7dc;
}
@media (max-width: 1330px) {
  .full-menu-main-left ul li span,
  .full-menu-main-left ul li a {
    font-size: 22px;
    line-height: 28px;
  }
  .full-menu-main-right ul li,
  .full-menu-main-left ul li {
    margin-bottom: 16px;
  }
  .full-menu-main-right ul li a {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 991px) {
  .full-menu-main-left ul li span,
  .full-menu-main-left ul li a {
    font-size: 18px;
    line-height: 24px;
  }
  .full-menu-main-right ul li a {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 768px) {
  .full-menu {
    padding-top: 145px;
  }
  .full-menu-main-right,
  .full-menu-main-left {
    height: calc(100vh - 265px);
  }
  .full-menu-main-left ul li span,
  .full-menu-main-left ul li a {
    font-size: 16px;
    line-height: 22px;
  }
  .full-menu-main-right ul li a {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 575px) {
  .full-menu-close {
    top: 9px;
  }
  .full-menu-close i {
    font-size: 12px;
  }
  .full-menu-main-left ul {
    padding-right: 15px;
  }
  .full-menu-main-right ul {
    padding-left: 15px;
  }

  .full-menu-main-right ul li,
  .full-menu-main-left ul li {
    margin-bottom: 8px;
  }
  .full-menu-main-left ul li span,
  .full-menu-main-left ul li a {
    font-size: 14px;
    line-height: 20px;
  }
  .full-menu-main-right ul li a {
    font-size: 12px;
    line-height: 18px;
  }
  .full-menu-main-right,
  .full-menu-main-left {
    height: calc(100vh - 205px);
  }
  .full-menu-main {
    padding: 30px 0;
  }
}
@media (max-width: 450px) {
  .full-menu-main-left ul {
    padding-right: 7.5px;
  }
}
</style> 