<template>
  <div class="header-menu">
    <ul>
      <LayoutsHeaderMenuRecursive
        v-for="item in menu"
        :arr="item"
        :key="item.id"
        :isChild="item.isChild"
        :title="item.title"
      />
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      menu: [],
    };
  },
  async mounted() {
    let res = await this.$store.dispatch("menu/GetMenu");
    this.menu = res.slice(0, 6);
  },
};
</script>

<style>
.header-menu {
  display: flex;
  /* padding: 0 60px; */
  width: 100%;
  height: 100%;
}

.header-menu > ul {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  padding-right: 150px;
}
.header-menu > ul > li > span,
.header-menu > ul > li > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.header-menu > ul > li:hover > span,
.header-menu > ul > li:hover > a {
  color: #a2c7ff;
}
.header-menu > ul > li > span {
  display: flex;
  align-items: center;
  user-select: none;
}
.header-menu > ul > li span,
.header-menu > ul > li a {
  position: relative;
  cursor: pointer;
}
.header-menu > ul > li span > i,
.header-menu > ul > li a > i {
  font-size: 17px !important;
  margin-left: 10px !important;
}
.header-menu ul li ul span i,
.header-menu ul li ul a i {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%) rotate(-90deg);
}
.header-menu > ul > li {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  height: 60px;
}

.header-menu > ul > li ul {
  position: absolute;
  background-color: #0f4390;
  min-width: 285px;
  max-width: 320px;
  padding: 5px 0;
  border-radius: 0px 0 5px 5px;
}
.header-menu > ul > li > ul {
  top: 60px;
}
.header-menu > ul > li > ul li ul {
  left: 100%;
}

.header-menu > ul > li ul li {
  padding: 0 20px;
  transition: all 0.2s ease-in-out;
}
.header-menu > ul > li ul li:hover {
  padding: 0 15px 0 25px;
}
.header-menu > ul > li ul li:last-child span,
.header-menu > ul > li ul li:last-child a {
  border: none;
}
.header-menu > ul > li ul li span,
.header-menu > ul > li ul li a {
  color: #fff;
  opacity: 0.9;
  font-size: 15px;
  border-bottom: 1px solid rgba(231, 243, 255, 0.2);
  text-decoration: none;
  line-height: 19px;
  padding: 12px 0;
  display: block;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.header-menu > ul > li ul li a:hover {
  color: #a2c7ff;
}
@media (max-width: 1650px) {
  .header-menu > ul {
    padding-right: 20px;
  }
}

@media (max-width: 1480px) {
  .header-menu > ul > li span > i,
  .header-menu > ul > li a > i {
    margin-left: 3px !important;
  }
  .header-menu > ul > li ul li span,
  .header-menu > ul > li ul li a,
  .header-menu > ul > li > span,
  .header-menu > ul > li > a {
    font-size: 14px;
  }
}
@media (max-width: 1330px) {
  .header-menu > ul > li span > i,
  .header-menu > ul > li a > i {
    font-size: 15px !important;
    margin-left: 5px !important;
  }
}
@media (max-width: 1199px) {
  .header-menu > ul > li ul li {
    padding: 0 15px;
  }
  .header-menu > ul > li ul li span, .header-menu > ul > li ul li a {
    padding: 8px 0;
  }
  .header-menu > ul > li ul {
    min-width: 245px;
    max-width: 250px;
  }
  .header-menu > ul > li > ul {
    top: 45px;
  }
  .header-menu > ul > li ul li span,
  .header-menu > ul > li ul li a,
  .header-menu > ul > li > span,
  .header-menu > ul > li > a {
    font-size: 11px !important;
    margin-left: 3px !important;
  }
  .header-menu > ul > li {
    height: 45px;
  }
  .header-menu > ul {
    padding-right: 0px;
  }
}
</style>
