<template>
  <div class="mobile">
    <div class="mobile-menu" @click="onClick"></div>
    <div class="mobile-menu-wrapper">
      <i class="icon-close" @click="closeMenu"></i>
      <div class="mobile-menu-list">
        <div class="mobile-menu-search">
          <input
            type="search"
            :placeholder="$t('SearchText')"
            v-model.trim="searchText"
            v-on:keyup.enter="submitSearch"
            ref="searchInput"
          />
          <i class="icon-search" @click="submitSearch"></i>
        </div>
        <div class="mobile-menu-list-wrapper" :class="{ active: isActive }">
          <ul>
            <li>
              <nuxt-link
                :to="
                  localePath({
                    path: '/requests',
                  })
                "
              >
                {{ $t("HeaderVirtual") }}
              </nuxt-link>
            </li>
            <li v-for="item in menu" :key="item.id" @click="OpenSub(item)">
              <span v-if="item.children && item.children.length">
                {{ item.title }}
                <i class="fa fa-angle-right"></i>
              </span>
              <nuxt-link
                :to="
                  item && item.children && item.children.length
                    ? localePath({
                        path: '/',
                      })
                    : localePath({
                        path: defineLink(item),
                      })
                "
                v-else
              >
                {{ item.title }}</nuxt-link
              >
            </li>
          </ul>
          <ul>
            <li @click="CloseSub">
              <span> <i class="fa fa-angle-left"></i> {{ SubMenuTitle }} </span>
            </li>
            <li v-for="item in SubMenu" :key="item.id">
              <nuxt-link
                :to="
                  localePath({
                    path: defineLink(item),
                  })
                "
              >
                {{ item.title }}
              </nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      menu: [],
      SubMenu: [],
      SubMenuTitle: [],
      isActive: false,
      searchText: "",
    };
  },
  watch: {
    $route: {
      handler() {
        this.$emit("CloseMenu");
        setTimeout(() => {
          this.isActive = false;
        }, 300);
      },
    },
  },

  async mounted() {
    this.menu = await this.$store.dispatch("menu/GetMenu");
  },
  methods: {
    onClick(e) {
      if (e.target.classList[0] == "mobile-menu") {
        this.$emit("CloseMenu");
        setTimeout(() => {
          this.isActive = false;
        }, 300);
      }
    },
    closeMenu() {
      this.$emit("CloseMenu");
      setTimeout(() => {
        this.isActive = false;
      }, 300);
    },
    defineLink(item) {
      let path =
        item && item.group && item.has_category
          ? `/${item.group}/category/${item.slug}`
          : item && item.group && !item.has_category
          ? `/${item.group}`
          : `/static/${item.slug}`;
      return path;
    },
    OpenSub(item) {
      if (item && item.children && item.children.length) {
        this.SubMenu = item.children;
        this.SubMenuTitle = item.title;
      }
      setTimeout(() => {
        this.isActive = true;
      }, 100);
    },
    CloseSub() {
      this.isActive = false;
    },

    async submitSearch() {
      if (this.searchText) {
        this.$router.push(`/search?title=${this.searchText}`);
        this.searchText = null;
      }
    },
    OpenSearch() {
      this.isActive = !this.isActive;
      this.$refs.searchInput.focus();
      this.searchText = "";
    },
  },
};
</script>

<style>
.mobile {
  position: relative;
  z-index: 2;
  width: 0;
  height: 0;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 140px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.mobile-menu-wrapper {
  max-width: 400px;
  width: 100%;
  height: 100vh;
  background-color: #0b4aa8;
  position: fixed;
  padding: 60px 0px 20px 20px;
}
.mobile-menu-wrapper > i {
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.mobile-menu-list-wrapper {
  height: calc(100vh - 300px);
  padding-right: 20px;
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}
.mobile-menu-list-wrapper ul {
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 20px;
}
/* .mobile-menu-list-wrapper ul:first-child {
} */

.mobile-menu-list-wrapper ul:last-child {
  transform: translateX(calc(100% + 20px));
}
.mobile-menu-list-wrapper.active ul:first-child {
  transform: translateX(-100%);
}
.mobile-menu-list-wrapper.active ul:last-child {
  transform: translateX(0);
}
.mobile-menu-list-wrapper.active ul:last-child li:first-child span {
  text-align: center;
  justify-content: center;
  position: relative;
  color: #9db7dc;
}
.mobile-menu-list-wrapper.active ul:last-child li:first-child span i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #9db7dc;
}
.mobile-menu-wrapper ul li a,
.mobile-menu-wrapper ul li span {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
@media (max-width: 768px) {
  .mobile-menu {
    padding-top: 145px;
  }
}
@media (max-width: 575px) {
  .mobile-menu {
    padding-top: 176px;
  }
  .mobile-menu-wrapper ul li a,
  .mobile-menu-wrapper ul li span {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 450px) {
  .mobile-menu {
    padding-top: 173px;
  }
}
@media (max-width: 337px) {
  .mobile-menu {
    padding-top: 180px;
  }
}
</style>