<template>
  <li>
    <span v-if="arr.children && arr.children.length">
      {{ title }}
      <i class="fa fa-angle-down"></i>
    </span>
    <nuxt-link
      v-else
      :to="
        localePath({
          path: defineLink(arr),
        })
      "
    >
      {{ title }}
    </nuxt-link>
    <ul v-if="arr.children && arr.children.length">
      <Recursive
        v-for="item in arr.children"
        :arr="item"
        :title="item.title"
        :key="item.id"
      />
    </ul>
  </li>
</template>

<script>
export default {
  name: "Recursive",
  props: {
    arr: {
      type: Object,
      default() {
        return {};
      },
    },
    link: {
      type: [String, Object],
      default: () => "/",
    },
    title: {
      type: String,
      default: () => "/",
    },
  },
  data() {
    return {};
  },
  methods: {
    defineLink(item) {
      return item && item.group && item.has_category
        ? `/${item.group}/category/${item.slug}`
        : item && item.group && !item.has_category
        ? `/${item.group}`
        : `/static/${item.slug}`;
    },
  },
};
</script>

<style scoped>
li > ul {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 998;
}

li:hover > ul {
  visibility: visible;
  opacity: 1;
  position: absolute;
}
</style>
