<template>
  <div class="map">
    <div class="container">
      <div class="map-wrapper">
        <div class="map-header title">
          <h2>{{ $t("InteractiveMap") }}</h2>
          <div class="map-header-nav">
            <a @click="getRegion" :class="[activeTab === 1 ? 'active' : '']">{{
              $t("ByRegion")
            }}</a>
            <a
              @click="getFractionList"
              :class="[activeTab === 2 ? 'active' : '']"
              >{{ $t("ByFractions") }}</a
            >
            <a
              @click="getCommitteeList"
              :class="[activeTab === 3 ? 'active' : '']"
              >{{ $t("ByCommittees") }}</a
            >
          </div>
        </div>
        <div class="map-main">
          <div class="row">
            <div class="col-xl-8 col-lg-7">
              <div class="tab-contents">
                <div
                  class="tab-contents-item"
                  :class="{ active: activeTab == 1 }"
                >
                  <div class="tab-contents-map-wrapper">
                    <div
                      class="tab-contents-map"
                      :class="{ active: regionChosed }"
                    >
                      <HomeMapRegion
                        @change="gotoUzb"
                        @getDeputiesByDistrict="getDeputiesByDistrict"
                        @getDeputyList="getDeputyList"
                        @getSubdistrictByDistrict="getSubdistrictByDistrict"
                        :districs="districs"
                        :regionId="chosedId"
                      />
                    </div>
                    <div
                      class="tab-contents-map"
                      :class="{ active: !regionChosed }"
                    >
                      <HomeMapUzbekistan
                        @change="chooseRegion"
                        @getDeputiesByRegion="getDeputiesByRegion"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="tab-contents-item"
                  :class="{ active: activeTab == 2 }"
                >
                  <div class="tab-contents-item-wrapper">
                    <ul v-if="fractionList.length">
                      <li
                        v-for="item in fractionList"
                        :key="item.id"
                        @click="getFractionDeputies(item.id)"
                        :class="{ active: item.id === activeFraction }"
                      >
                        <div class="faction-image">
                          <img :src="item.image" alt="logo" />
                        </div>
                        <span> {{ item.title }} </span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div
                  class="tab-contents-item"
                  :class="{ active: activeTab == 3 }"
                >
                  <div class="tab-contents-item-wrapper">
                    <ul v-if="committeeList.length">
                      <li
                        v-for="item in committeeList"
                        :key="item.id"
                        @click="getCommitteeDeputies(item.id)"
                        :class="{ active: item.id === activeCommittee }"
                      >
                        <span> {{ item.title }} </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-5">
              <div class="map-main-sidebar">
                <div class="map-sidebar-header">
                  <h3>{{ $t("Deputies") }}</h3>
                  <div class="map-sidebar-select" v-if="selectActive">
                    <b-form-select
                      v-model="subdistrictSelected"
                      :options="subdistrictOptions"
                    >
                      <template #first>
                        <b-form-select-option :value="null" disabled
                          >Maxallangizni tanlang</b-form-select-option
                        >
                      </template>
                    </b-form-select>
                  </div>
                </div>

                <ul @scroll="onScroll">
                  <li v-for="item in deputyList" :key="item.id">
                    <CardsLeadership
                      :image="item.image"
                      position="mini"
                      :title="
                        item.last_name +
                        ' ' +
                        item.first_name +
                        ' ' +
                        item.middle_name
                      "
                      :text="item.work_place"
                      :slug="item.slug"
                    />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activeTab: 1,
      activeCard: 2,
      activeFraction: null,
      activeCommittee: null,
      isActive: false,
      selectActive: false,
      districs: [],
      deputyList: [],
      fractionList: [],
      committeeList: [],
      districtSelected: null,
      fractionDeputies: [],
      committeeDeputies: [],

      chosedId: null,
      regionChosed: false,
      subdistrictSelected: null,
      subdistrictOptions: [],
      limit: 20,
      offset: 0,
      isLoading: false,
    };
  },
  mounted() {
    this.getDeputyList();
  },
  watch: {
    activeTab() {
      this.activeFraction = null;
      this.activeCommittee = null;
      this.chosedId = null;
      this.districtSelected = null;
      this.regionChosed = false;
      this.deputyList = [];
      this.offset = 0;
      this.getDeputyList();
    },
    subdistrictSelected(val) {
      this.deputyList = [];
      this.offset = 0;
      this.getDeputyList();
    },
    regionChosed(val) {
      if (!val) {
        this.selectActive = false;
      }
    },
    chosedId() {
      this.districtSelected = null;
      this.subdistrictSelected = null;
      this.deputyList = [];
      this.offset = 0;
      this.getDeputyList();
    },
    districtSelected() {
      this.subdistrictSelected = null;
      this.deputyList = [];
      this.offset = 0;
      this.getDeputyList();
    },
    activeFraction() {
      this.deputyList = [];
      this.offset = 0;
      this.getDeputyList();
    },
    activeCommittee() {
      this.deputyList = [];
      this.offset = 0;
      this.getDeputyList();
    },
  },

  methods: {
    async onScroll(e) {
      console.log(e);
      if (
        e.target.scrollHeight - (e.target.scrollTop + e.target.scrollWidth) <
          200 &&
        !this.isLoading
      ) {
        await this.getDeputyList();
      }
    },
    getRegion() {
      this.activeTab = 1;
    },
    async getDeputyList() {
      if (this.activeFraction && this.activeCommittee) {
        this.regionChosed = false;
      }

      // this.activeTab = 1;
      this.isLoading = true;
      const { results } = await this.$store.dispatch("map/getDeputyList", {
        region: this.chosedId,
        district: this.districtSelected,
        sub_district: this.subdistrictSelected,
        committee: this.activeCommittee,
        fraction: this.activeFraction,
        limit: this.limit,
        offset: this.offset,
      });
      this.deputyList = [...this.deputyList, ...results];
      this.offset += this.limit;
      if (
        this.districtSelected &&
        this.deputyList &&
        this.deputyList.length > 1
      ) {
        this.selectActive = true;
      } else if (this.subdistrictSelected) {
        this.selectActive = true;
      } else {
        this.selectActive = false;
      }
      this.isLoading = false;
    },
    async getFractionList() {
      this.activeTab = 2;
      this.activeFraction = null;
      this.fractionList = await this.$store.dispatch("map/getFractionList");
      // this.deputyList = await this.$store.dispatch("map/getDeputyList");
    },
    async getCommitteeList() {
      this.activeTab = 3;
      this.activeCommittee = null;
      this.committeeList = await this.$store.dispatch("map/getCommitteeList");
      // this.deputyList = await this.$store.dispatch("map/getDeputyList");
    },
    getDeputiesByRegion(value) {
      this.deputyList = value;
    },
    getDeputiesByDistrict(value) {
      this.districtSelected = value;
    },
    getSubdistrictByDistrict(value) {
      value.forEach((element) => {
        element.value = element.id;
        element.text = element.title;
        delete element.title;
      });
      this.subdistrictOptions = value;
    },
    async getDeputiesBySubdistrict(id) {
      this.deputyList = await this.$store.dispatch(
        "map/getDeputiesBySubdistrict",
        id
      );
    },

    async getFractionDeputies(id) {
      // this.deputyList = await this.$store.dispatch(
      //   "map/getDeputiesByFraction",
      //   id
      // );
      this.activeFraction = id;
    },
    async getCommitteeDeputies(id) {
      // this.deputyList = await this.$store.dispatch(
      //   "map/getDeputiesByCommittee",
      //   id
      // );
      this.activeCommittee = id;
    },

    changeCard(id) {
      this.activeCard = id;
    },

    async chooseRegion(value) {
      this.chosedId = value;
      this.regionChosed = true;
      const districs = await this.$store.dispatch(
        "map/getDistrictByRegion",
        value
      );
      this.districs = districs.districts;
    },
    gotoUzb() {
      this.isActive = false;
      this.regionChosed = false;
      this.chosedId = null;
      this.subdistrictSelected = null;
      this.districtSelected = null;
      setTimeout(() => {
        this.chosedId = null;
      }, 500);
    },
  },
};
</script>

<style scoped>
.tab-contents-item-wrapper ul {
  height: 700px;
  overflow-y: auto;
}
.tab-contents-item-wrapper ul::-webkit-scrollbar-track {
  background: rgba(219, 221, 233, 0.48);
  border-radius: 4px;
}
.tab-contents-item-wrapper ul::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}
.tab-contents-item-wrapper ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background: #b3bee0;
  border-radius: 4px;
}
.tab-contents-map-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.tab-contents-map-wrapper > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}
.tab-contents-map-wrapper > div:first-child {
  transform: translateX(-100%) scale(0.7);
}
.tab-contents-map-wrapper > div:last-child {
  transform: translateX(100%) scale(0.7);
}
.tab-contents-map-wrapper > div.active {
  transform: translateX(0) scale(1);
}
.map-header.title {
  border-bottom: 1px solid #dbdde9;
}
.map-header.title h2 {
  width: 100%;
  margin-bottom: 40px;
}
.map-header-nav {
  display: flex;
}
.map-header-nav a {
  margin-right: 68px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #2c2d32;
  padding-bottom: 27px;
  position: relative;
  cursor: pointer;
}
.map-header-nav a:last-child {
  margin-right: 0;
}
.map-header-nav a.active::after {
  width: 100%;
}
.map-header-nav a::after {
  content: "";
  height: 3px;
  left: 0;
  bottom: -1px;
  background: #0b4aa8;
  position: absolute;
  width: 0;
  transition: all 0.2s ease-in-out;
}
.tab-contents {
  height: 700px;
  position: relative;
}

.tab-contents > div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5 s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.tab-contents > div.active {
  visibility: visible;
  opacity: 1;
}

.tab-contents-item ul li {
  padding: 24px 0 24px 24px;
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
  transition: all 0.2s linear;
  border-bottom: 0.6px solid #dbdde9;
}
.tab-contents-item ul li:last-child {
  border-bottom: none;
}
.tab-contents-item ul li span {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2c2d32;
  padding-right: 24px;
}
.tab-contents-item ul li.active span {
  color: #0b4aa8;
}
.tab-contents-item-wrapper {
  /* background: #f5f7f9; */
  background: #f5f9ff;
  border-radius: 4px;
  height: 100%;
}
.tab-contents-item-wrapper ul li {
  display: flex;
  align-items: center;
}
.tab-contents-item-wrapper ul li .faction-image {
  max-width: 80px;
  flex: 0 0 80px;
  height: 80px;
  margin-right: 15px;
}
.tab-contents-item-wrapper ul li .faction-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.map-sidebar-header {
  padding: 0 24px;
}
.map-main-sidebar h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #2c2d32;
}
.map-main-sidebar {
  padding: 24px 0px 24px 0;
  background: #f5f9ff;
  border-radius: 4px;
}
.map-sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: space-between;
}
.map-sidebar-header h3 {
  white-space: nowrap;
}

.map-main-sidebar ul {
  padding: 0 24px 0 24px;
  height: 600px;
  overflow-y: auto;
}
.map-main-sidebar ul li {
  display: flex;
}
.map-main-sidebar ul::-webkit-scrollbar-track {
  background: rgba(219, 221, 233, 0.48);
  border-radius: 4px;
}
.map-main-sidebar ul::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}
.map-main-sidebar ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background: #b3bee0;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .tab-contents {
    height: 600px;
  }
  .map-main > .row {
    margin: -7.5px 0;
  }
  .map-main > .row > div {
    padding: 7.5px 0;
  }
}
@media (max-width: 575px) {
  .tab-contents {
    height: 460px;
  }
  .tab-contents-item-wrapper ul {
    height: 460px;
    overflow-y: auto;
  }
  .map-header.title h2 {
    margin-bottom: 16px;
  }
  .map-main-sidebar ul {
    padding: 0 15px;
  }
  .leadership-item.mini .leadership-image {
    margin-bottom: 8px;
  }
  .map-sidebar-header {
    padding: 0 15px;
  }
  .tab-contents-item ul li {
    padding: 12px 0 12px 15px;
    display: block;
  }
  .tab-contents-item-wrapper ul li .faction-image {
    height: auto;
    margin-bottom: 10px;
  }
  .tab-contents-item ul li span {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #2c2d32;
    padding-right: 15px;
    display: block;
  }
}
@media (max-width: 450px) {
  .map-header-nav a {
    font-size: 13px;
    line-height: 17px;
    padding-bottom: 15px;
    padding-right: 10px;
    margin-right: 0;
  }
}
</style>
