<template>
  <div class="uzbekistan-map">
    <div class="uzbekistan-map-wrapper">
      <div class="uzbekistan-map-inner-wrapper">
        <div v-show="!loading" ref="svgMapCnt" class="svg-map-cnt active">
          <!-- <svg
            ref="svgMap"
            version="1.1"
            class="svg-map"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            @mouseover="onMouseOver"
            @mouseout="removeTooltipBloacks" -->
          <svg
            ref="svgMap"
            version="1.1"
            class="svg-map"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 792.5 516.9"
            xml:space="preserve"
            style="
              transform: matrix(1, 0, 0, 1, 0, 0);
              fill: #a1b9db; !important;
            "
          >
            <!-- <defs>
              <filter id="border" x="0" y="0" width="100%" height="100%"> -->
            <!--outside-stroke-->
            <!-- <feFlood flood-color="#fff" result="outside-color" />
                <feMorphology in="SourceAlpha" operator="dilate" radius="1" />
                <feComposite
                  in="outside-color"
                  operator="in"
                  result="outside-stroke"
                /> -->
            <!--fill-area-->
            <!-- <feMorphology in="SourceAlpha" operator="erode" radius="1" />
                <feComposite
                  in="SourceGraphic"
                  operator="in"
                  result="fill-area"
                /> -->
            <!--merge graphics-->
            <!-- <feMerge>
                  <feMergeNode in="outside-stroke" />
                  <feMergeNode in="fill-area" />
                </feMerge>
              </filter>
            </defs> -->

            <!-- Orol dengizi -->
            <path
              d="M134.4 7.10001L131 13.5L130 16.9L129.4 20.7L131.4 23.5L132.4 26.5L130.6 29.1L127.8 34.3L126.4 36.5L128.6 35.5L130.2 33.5L131.6 32.5L135.4 33.1L137.8 33.7L138 36.9L135.2 37.3L135 45.6L133 44.6L131.2 45L129.4 47L130 49.4L133.2 52L136.2 53.8L135.2 57V61L133.8 64L131 65L129.2 64L128 61.2H126.4V64.6L127.6 66.2L127.8 72.4L128.2 76.4L131.2 78.2L133.4 75.8L135.8 71.6L137.6 67.6L140 66.2L143 67.8L145.4 67L144.6 64.2L143.4 61.6L142.6 57L143.2 54.4L144.6 53L146.4 52.8H148.6L149.6 48.6L152.4 42.6L155.6 37.2L157.6 31.4L157.2 23.7L214 64.7L210.1 65.1L211.1 67.1L212.7 68.5L213.7 69.9L212.9 73.7L210.1 78.7L205.5 83.3L199.3 88.3L197.7 91.7L198.7 93.5L197.5 95.3H194.1L193.5 97.9L186.4 100.7L181.6 102.3L176.6 103.3L173 102.1L171 102.7L167.2 103.5L166 102.5L163.6 101.1L160 103.3L155.6 103.1L149.6 102.5L146.6 102.1L144 99.9L138.8 99.1L137 97.3L134.8 96.3L133.8 92.7L136.6 90.9L138.4 88.7L137.6 85.1L136 84.1L133.4 85.3L128.4 86.9L126.6 87.7L124.2 87.5L122.6 87.9L121.6 89.9L119.6 89.3L117 87.3L114 87.1L110 85.5L107 84.1L104.8 81.5L102.6 76.3L102.2 71.1L105.2 62.6L105.6 60L103.6 56.4L102.4 53.6L102.2 47.6L102.6 43L104.6 37.6L107.6 32.8L108.8 27.2L111.4 24.6L111.6 18.8L113.6 15.6L117.4 12.2L117.6 7.40001L119.2 4.20001L119.4 0.700012"
              fill="#a1b9db"
              :class="{ chosen: chosen_id == 9 }"
              v-b-tooltip.hover
              :title="getRegionName(9)"
              @click="regionClick(9)"
            />
            <path
              d="M751.3 320.4L751.2 316.8L750.9 316L746.9 314.7L744.6 314.2L744.4 314.4H744.1L734.8 312.8L732.6 309.3L732 308.7L729 307.1L724.8 306.5L724.6 308L721.6 303.5L723.5 302.3L721.3 299.6L723.3 297.7L724.5 296.9L733.1 294.7H736.8L737.4 295L738.1 295.6L741.4 296.3L742.9 296.4L747.8 296L748.3 295.7L748.7 295.2L750 289.3L750.2 289.4H750.9L753.7 288L754.5 287.8L755.7 286.9L756.8 285.7L757.5 285.6L757.7 285.8L759 286.2L760 286.9H760.9L761.7 287.3L762.6 287.2L763.4 287.4L764.1 287.7L764.4 288.9L764.3 289.5L763.5 291V291.2L763.7 291.4H763.9L764.4 290.7H764.6H764.8L765.3 290.9L765.7 291.3L767 293.6L767.6 294.3L767.8 296.3L768.6 296.8L769.8 297.2L771.1 297.8L772.7 298.4L773.2 298.2L775 298.5L775.9 298.1L776.8 297.9L777.5 298.1L779.7 297.5H780.4L781.2 298L782.7 299.7L783.1 300.7L783.3 300.8L784 301H784.5L785.2 300.7L785.4 300.4L786 300.1L786.4 299.6H787L787.3 299.4L787.1 298.9L786.5 298.5L786.2 298L786.6 296.6L786.8 296.4H787.2L788.2 297.9L789.1 298.1L790.2 298.9L791.2 298.4L792.7 298.5L793.1 298.9L793.3 299.9L792.9 301.6L792.5 302.2L792 302.5L789.1 303.7L787.4 303.9L786.8 304.8L785.6 305.6L784.2 306.4L783.4 306.6V306.8L782.5 307L781.2 307.7L780.2 308.7L778.7 309.2L777.6 309.1L776.8 309.2L776.5 309.6V309.9L776.6 310.3L777 310.8V311.1L776.3 311.7L776.2 312.1L776.4 314.8L776.3 315.9L775.6 316.1L775.1 315.8L774.1 314.8L772.6 314.5L772.3 314.9V315.7L771.4 316.3L771.3 316.5L771.1 317.9L770.5 319L769.8 319.2H769.4L768 318.1L766.5 318L765.8 317.6L764.9 316.7L764.4 316.5L763.7 316.8H763.5L762.1 315.1L761.6 314.1L760.2 312.9L759.8 312.7L758.8 313.1H757.7L757.3 313.6L757.5 313.9L758.6 314.3L758.9 314.6L759.4 315.6L760.4 315.9L760.8 316.5V317L760.5 317.4L759.5 317.5L759.2 317.7L759 318.2L759.1 318.7L760.2 318.6L760.5 319L760.7 320.5L761.2 321L761.4 321.8L760.3 324.5L760.6 325.3L760.5 325.9L760.3 326.1L760 326.2L758.5 325.8L758 325.5L756.5 323.9L755.8 323.4L755.5 323.3L754.7 323.6L754.4 323.4L753.9 322.7L753.6 322.5H752.7L752.4 322.4L752.2 322L752.5 320.9L752.4 320.6L751.9 320.3L751.3 320.4Z"
              fill="#a1b9db"
              @click="regionClick(1)"
              :class="{ chosen: chosen_id == 1 }"
              v-b-tooltip.hover
              :title="getRegionName(1)"
            />
            <path
              d="M421.3 383.4L417.5 387L414.1 389.2L413.5 389.3L409.1 394L408.7 395L408.8 395.9L409.5 397.1L410.3 398L411.1 399.2L411.3 399.7L411 400.3L392.9 406.9L387.3 413.1L385.2 410.8H384.8L383.6 411.1L381.5 412.3L380.5 412.6H379.5L378.1 412.4L377.2 412L374.2 409.6L371.3 407.6L364.5 402.4L362.7 401.2L358 397.8L356.7 396.5L355.6 395.1L355.3 394.5L354.9 394.1L354.1 392.9L350.5 389.4L348.5 387.3L344.5 384.5L340.1 381.9L335.6 378.8L331.4 376L321.1 368.7L314.1 363.9L299.8 353.4L298.6 352.3L297.7 351L297.5 350.5L297.3 349.6L297.4 349.1L297.1 348.4L297 346.6L295.6 344.5V343.9L296.3 342.7L296.4 340.1L296 339.1L295.9 337.9L295.3 335.9L295.2 334.8L295 334V333.4L295.4 332.5V331.5L294.6 330.2L293.4 329.2L292.7 328.1L292.6 327.6L293.1 326.1L293.4 324.6V324.3L292.1 323.8L290.8 323L289.5 321.5L288.2 320.9L286.9 320L286.5 319.4L292.8 311.8L297.4 306.7L298.2 302.9V301.4L297.5 300.3L291.6 293.6L288.4 290.3L299.3 285.2L285.5 266L286.1 265.7L289.8 264.8L303.3 261.6L304.3 261.5L307.6 268.2L309 270.3L311.1 272.6L313.5 274.1L317 276L318.6 277.6L320.7 282L322.1 287.1L322.7 288.5L323.6 288.4L324.1 288H326.1L329.3 288.9L334.7 291.2L343.2 295.8L353 301.5L355.1 303.2L355.7 304.2L356 305.7L355.5 307.9L358.9 307.8L361.5 307.6L362 307.4L367.4 295.2L368.4 294.1L370.6 292.9L371.5 293L373.2 294.9L373.3 302.5L389.5 304.4L389.7 303.9L390.5 299.4L391.1 299.2L396.1 298.6L399.9 298.5L402.2 298.1L403.3 295.4L404 293.3L404.5 293.1L405.5 293.3L406.3 296.1L408.4 306.2L409.5 307.3L410.3 307.7L411.3 308L419.9 309.2L425.8 309.8L433.8 310.9L432.4 320.2L428.4 323L428.2 324L426.7 328.1L423.3 332.2L422.7 332.8L421.8 333.2L417.9 333L415 332.5L413 331.5L412.2 330.7L410.2 329.4L408.1 329.3L407 329.8L406.6 330.4L407 333.7L406.5 338.1L405.2 343.8L402.7 348.6L400.6 351.1L396.2 353.8L395.3 354.1L393.9 356.8L398.2 362.6L399.4 363.7L406.5 366.4L407.6 366.5L410.8 365.7L415.7 369.4L420.1 378.8L420.5 379.9L421.3 383.4Z"
              fill="#a1b9db"
              @click="regionClick(2)"
              :class="{ chosen: chosen_id == 2 }"
              v-b-tooltip.hover
              :title="getRegionName(2)"
            />
            <path
              d="M673.8 332.4L673.9 331.7L673.7 331.2L673 330.5L670.1 329.2L668.5 328.9L667.5 328.5H667L666.1 328.9H665.7L665.2 328.7L664.9 328.3L664.4 327.2L664.1 326.9L663.8 326.8L663.6 326.1L662.7 324.3L662.6 323.7L662.7 323.5L663.5 323.3L664.5 322.5L665.7 322.3L666.8 321.7L668.8 321H669.6L670.1 320.6L670.2 319.8L670.6 319.4L670.7 318.5L670.9 318.1L671.3 317.9L671.9 317.8L672.7 317.9L673.2 317.5H673.9L674.3 317.3L675.2 316.2L676.3 314L676.7 313.6L677.4 313.4L678.1 312.7L678.6 312.5L678.8 312.2L679.2 312.1L679.6 311.6L680.6 311.4L681 311.7H681.3V311L681.1 310L681.4 309.8L681.7 310.1H682.4L682.8 309.5L683.1 308.5L683.7 308L683.8 307.7L684.1 307.6L684.4 307.3L689.3 306L692.7 305.4L699.5 305.3V305.5L699.1 306L697.7 307.7L698.5 309.7L700.4 311.6L706 314.3L706.4 314.4L707.2 314L710.2 311.1L711 310.1L711.7 308.6L712.9 307.8L717 305.6L720.4 304.6L723.4 309.1L723.6 307.6L727.8 308.2L730.8 309.8L731.4 310.4L733.6 313.9L742.9 315.5H743.2L743.4 315.3L745.7 315.8L749.7 317.1L750 317.9L750.1 321.5H749.6L748.5 321.2L748.1 321.3L747.6 322.7L747.3 323.2L746.7 323.8L746.2 324L745.8 324.1L745.2 323.9L744.3 323.3L743.8 324.3L744.3 326L744.2 326.3L743.6 327L743.5 327.6L743.2 328L741.8 328.4L740.8 329.7L740.3 330.1L739.5 331.2L738.3 331.7L737.4 332.6L737.3 332.9L737.5 333.4L738.5 333.6L739.5 334.5L739.4 335L738.3 336L737.8 337.1L737.5 337.4L736.8 337.7H736.2L734.9 336.8L732.9 336.3L732.4 336.7L732.3 337.2V337.5L733 338.6V339.1L732.2 339.6H731.7L729.2 341.2L727.9 341.6L727 342.3L726.7 342.4L726.4 342.3L725.9 341.4L725.5 340.9L725.3 340.8L724.9 340.4L724.7 340L724.9 338.1L724.7 337.3L724 336.4L723.5 336L722.7 335.9L721.5 336L721.4 336.8L721.6 338.2L721.4 339.2L721.5 339.8L721.4 340H721.1L720.3 339H719.3L718.8 339.2L717.9 338.6L716.1 337.8L715.9 337.3L716.1 335.9L715.9 335.4H714.6L713.1 335L712.5 334.5L711.4 333.3L711 333L710.5 332.9L710 333.1L709.4 333.2L709.2 332.9L709.3 332.5L709 332.2L707.5 332.8L706.7 332.9L706.4 332.8L706.2 332.5V331.5L704.7 331.6L703.7 331.3L702.7 331.2L701.9 331.3L700.5 331.8H699.5L698.9 332L696.3 333.8L694.3 334.2L692.2 335.1L691.7 335.4L691.6 335.7L691.9 336.6L691.8 337.6L689.4 337.7L687.4 338.1L687.1 338L685.4 339.3L682.9 340.4L681.3 340.7L679.9 340.8L676.8 341.5L676 341.2L674.8 339.1L675 338L674.3 337.6L673.8 336.7L673.9 336.6L674 335.3L674.4 334.3L673.9 332.5L673.8 332.4Z"
              fill="#a1b9db"
              @click="regionClick(3)"
              :class="{ chosen: chosen_id == 3 }"
              v-b-tooltip.hover
              :title="getRegionName(3)"
            />
            <path
              d="M580.6 374.7L580.1 375L579.9 376.5L579.6 377.5L578.8 378.2L577.7 377.8L576.5 378.1L573.5 377.6L571.6 378.4L571.2 378.3L570.4 377.5L569.9 377.3L568.5 377L566.7 376.8L565.4 376.9L564.5 377.2L563.8 377.1L562.8 376.5L562.1 376.6L559.9 376.4L558.9 375.9L558.2 375.7L557.1 375.8L556.5 375.7L555.4 374.8L554.5 374.4L553.1 374.3L552.2 374.4L550.3 373.6L549.3 372.7L547.9 372.6L545.5 371L544.8 371.4L543.6 371.7L541.7 370.9H541.3L540.4 371.9L539.3 372.3L538.7 372.8L537.8 374.3L537.2 374.5H535.8L531.8 376L531.7 376.7L531.9 378.3L531.5 378.8L529.3 378.3L528.8 378.4L528.5 379.2V380.5L528.8 381L524.3 377.2L523.3 376.2L522.6 375.2L522.4 374.2V370L522.5 369.6L525.7 364.4L526.5 363.5L527.2 363L529.4 362L530.9 361.6L532.2 361.5L532.1 360.5L531 354.5L530.8 354.3L518.9 351.8L514.1 351.4L512 350.6L506.2 346.7L505.8 343L505.9 342.6L507.1 342.3L507.3 342.1L507.8 340.8L507.9 340L506.5 337.2L504.6 335.5L503.8 331.4L503.7 327.5L503.8 326.7L504.6 324.9V323.8L503.6 321.6L499 321.5L491.2 320.6L491.9 318.8L496.3 310.2L499.4 304.9L499.7 304.2L498.1 297.3L497.9 296.8L497.6 296.6L493.3 295.6L492.3 295L491.6 293.7L490.5 283.1L497.2 282.9L497.5 280H497.7L498.2 275.2L515.6 276.5L520.2 277H522.9L523.7 277.6L524.6 277.7L525.9 277.3L527.2 277.1L542.6 277.6L544 278.9L544.9 279.1L546.9 281.6L550.2 284.7L551.7 283.4L552.5 284.6L555.5 282.6L556.9 283.9L557.5 283.6L558.3 284.1L555.8 284.6L554.4 286.1L555.8 289.6L554.3 291.1L554.4 296.3L550.3 296.4L549.6 298.7L551 300.7L553.4 301.4L559.2 304.8L562.8 308.8L566.6 310.1L567 310.5L566.8 313.3L566.5 313.9L564.6 313.8L562.5 314.3L562 319.2L562.2 319.5L564.3 318.5L564.6 318.4L564.8 318.6L564.6 319.4L563.8 321.4L558.8 332.4L558.6 333.9L558.8 334.9L559.1 335.8L559.8 336.8H560.1L566.6 337.1L571.2 336.9L575.2 336.1L577.5 335.3L584.6 333.7L584.9 334.4L583.9 340.8L582.4 341.1L582.3 341.2L579.4 342L579.2 342.6L580.1 343.4L582.7 344.9H583.9L586.1 344.4L587.4 343.8L590.3 343L591.5 342.5L594.9 341.6L596.6 341.4L599.8 341.3L600.6 341.9L601 343.2L601.5 345.6L601.2 346.3L600.4 346.4L598.9 346H598H597.2L595.7 346.4L594.5 347.3L594.3 348.3L594.1 348.4L593.6 348.1L593.3 346.8L592.6 345.7L591.9 345.6L591.3 345.8L591.1 346.1V346.6L591.4 347.2L592.3 348.1V348.7L591.9 350.1V350.4L593.4 351.8L596 355L596.5 356.1V356.9L596.3 357.6L595.6 358.3L594.8 358.4L594.2 358.1L593.6 357.2L593.5 355.4L592.2 352.2L591.5 351.3L591.1 351.2L590.6 351.4L590.5 351.8L590.6 352.9L591.6 354.9L592.4 356.8V357.5L592 358.3L591.6 358.6L590.7 358.8L590.4 359.2L590.1 360.6L589.9 360.8L589.4 360.9L588.8 360.5L588.5 359.2L587.7 358.3L587.2 358.2L585.7 359.4L585.2 359.1L584 359L583.9 360.1L584.2 361.8L583.9 363.1L583.4 364L583.1 364.9L582.8 365.5L582.2 365.8H581.6L581.2 366.3L581.5 366.9L583.4 369.6L583.1 371.3L580.7 374L580.6 374.7Z"
              fill="#a1b9db"
              @click="regionClick(4)"
              :class="{ chosen: chosen_id == 4 }"
              v-b-tooltip.hover
              :title="getRegionName(4)"
            />
            <path
              d="M749.3 281.1L748.8 280.3L748.3 280L747.8 279.9L747.3 280.1L746.3 279.7H745.5L743.6 281.1L743.3 281.2L742.6 280.9L740.9 279.8L739.8 279.5L738.6 279.4L737.4 280.2L736.9 280H736.3L734.7 279.4L734.4 279V278.1L733.8 278L733.4 277.8L733.3 277.6L733.9 275.6L734.8 274L735.6 273.2L736.1 272.4L736.7 271V270.7L735.6 270.1L734.8 269.1L734.5 268.5L734.6 267.2L734.5 266.8L734.1 266.5L733.7 266.7L733.4 267.3L732.6 267.5L732.3 267.3L732.2 267.1L732.5 265.8L731.9 264.7L730.5 263.3L729.5 261.1L729.1 261L729 261.1L728.9 262.8L728.7 263.1L728.4 263.2L728.2 262.8L728.1 262.1L727.8 261.8H727.4L726.8 262.3L726.7 262.7L727.1 263.4L727 264L726.7 264.2L726.3 263.9L725.9 263.2L725.8 262.7L725.9 262.3L726.7 261.2L727.2 260.4L727.3 259.9L727.1 258.5L727.2 258.2L727.1 257.5L727.5 256.6L727.2 256L726.1 255.9L725.7 256L724.9 256.7L724.1 258.1L723.7 258.6L722.4 259L722.2 259.4V259.8L722.5 260L723.6 260.1L724.2 260.3L724.7 261.1L724.8 261.8L724.5 263L724.1 263.8V264.2L724.9 265.4L724.6 266.1L723.9 266.8L723.5 267.5L723.2 268.5H723L722.6 268.2L722.3 268.5L722 269.2L721.4 269.7L721.2 270.3H721L720.7 271.3L720.3 271.6L719.7 271.4L719.1 270.7L718.7 270.5H717.8L717.4 270.9L716.7 271L715.9 270.5L715.6 270.6L714.2 272.3V272.7L714.5 273.5L714.2 274.4V274.9L714.4 275.3L715.3 275.7L715.6 276.4L714.7 278.4L714.4 280.4L713.7 282V282.4L712.7 283.5H712.2L711.9 283.3L711.7 283L711.5 281.2L711.3 280.7L710.5 279.9L710.1 279.7H709.6L709.1 280L708.8 280.4L708.6 281.8L708.2 282.6L707.4 283.4L706.9 283.5L706.5 283.4L706.4 283.1L706.6 280.7L706.3 279.3L706 278.9L705 278.3H704.7L704.1 278.6L704 279V279.5L703.7 279.7L703.4 279.6L703 278.5H702.7L702.4 278.8L701.9 279.5H701.4L701.1 279.6L700.3 280.5L699.8 280.8H699.4L698.2 280.4L697.8 280L697.2 279L696.4 278.8L695.2 278H694.6L691.9 279.8L691.3 279.6L690.8 278.4L689.9 277.5L689 277L688.4 276.1L687.9 275.6H687.6L686.9 275.9L686.4 276.6L685.6 278.7L685.3 279.1L685 279.3L684.1 278.9L683.6 278.3L683.4 277.4V276.3L684.1 275.3L684.3 274.7L684.2 274.3L683.6 273.4L683.3 272.7L683.2 270.9L683.6 270L683.9 268.8L683.4 266.8L680.9 262.7L680.5 261.5L680.3 261.3L679.1 261H678.8L677.7 261.9L676.5 261.8L675 262.3L674 263.1L673.6 263.8L671.9 265.2H669.8L669.3 264.7L668.6 266.6L665.6 270.7L666.3 278L668.2 280.6L668.9 281.9L669.1 284.2V286L668.9 286.9L669.1 287.3H669.6L670.3 287.7L670.6 288.4L671.7 289.3L671.8 289.9L672.1 290.1L673 291.3H673.7L674.2 292.7L675.2 294L675.6 294.9L676.7 296.5L677.2 297.7H677.5L677.6 298.1L678.6 298.9L679.2 300.3L680 300.6L680.5 301.1L681.2 302.1L680.7 302.5L680.5 302.4L680.2 302.6L680.3 302.9L680.1 303.2L679.7 303.3L679.1 303L678.6 301.8L678.2 303V303.7L678.5 304.3L679.3 304.1L680.5 304.2L681.3 304.7L681 304.9H681.9L682.3 305.1L683.3 306L683.5 306.5L683.8 306.4L684.1 306.1L689 304.8L692.4 304.2L699.2 304.1V304.3L698.8 304.8L697.4 306.5L698.2 308.5L700.1 310.4L705.7 313.1L706.1 313.2L706.9 312.8L709.9 309.9L710.7 308.9L711.5 307.4L712.7 306.6L716.8 304.4L720.2 303.4L722.1 302.2L719.9 299.5L721.9 297.6L723.1 296.8L731.7 294.6H735.4L736 294.9L736.7 295.5L740 296.3L741.5 296.4L746.4 296L746.9 295.7L747.3 295.2L748.6 289.3L748.2 289L747.7 288.4L747.9 288.1L749.2 287.8L749.7 287.4L750.2 286.4L749.7 285.6L749.3 281.1ZM678.9 295.8L675.7 291.5L674.5 290.6H673.5L673.3 289.9L673.6 289.4L674.3 288.8L674 289.2L675.2 289.7L676.7 291.5L678.4 293.9L679 295.5L678.9 295.8Z"
              fill="#a1b9db"
              @click="regionClick(7)"
              :class="{ chosen: chosen_id == 7 }"
              v-b-tooltip.hover
              :title="getRegionName(7)"
            />
            <path
              d="M498.4 275L497.9 279.8H497.7L497.4 282.7L490.7 282.9L491.8 293.5L492.5 294.8L493.5 295.4L497.8 296.4L498.1 296.6L498.3 297.1L499.9 304L499.6 304.7L496.5 310L492.1 318.6L491.4 320.4L490 317L488.1 314.3L487.1 313.2L486.5 312.9L484.4 314.8L482 316.1L480.6 316.2L478.8 315.9L477.8 315.1L476.8 313.6L475.6 313.5L474.5 313.7L473.6 314.8L471.5 319.5L470.9 324.4L471.2 324.8L471.7 325L472.1 325.7L471.9 328L471 334.1L470.1 335.4L467.8 341.5L468 342.5L468.8 342.6L470.2 341.7L471 341.8L471.2 342.3L471.1 343.4L470.7 344L467.2 347.3L465.6 348.1L456.7 350L455.5 349.8L450.1 347.5L448 346.4L447.5 345.4L446.5 343.9L441 341.8L440 341.6L439.5 341.9L439.1 342.5L439 343V344L438.6 349.8L436.8 355.3L436.1 356.6L435.6 356.9H435L432.1 356L431.1 355.5L422.5 358.4L422 358.8L421.9 359.2L422.2 360L423.7 361.5L424.7 362.3L425.6 363.8L427 369L426.8 370L426.3 371.5L425.1 373.8V374.4L425.3 375.2L426.1 377L428.2 380.8L427.8 381.2L427.3 381.4L424.7 381.8L423.3 382.2L422.5 382.6L421.3 383.4L421 380L420.6 378.9L416.2 369.5L411.3 365.8L408.1 366.6L407 366.5L399.9 363.8L398.7 362.7L394.4 356.9L395.8 354.2L396.7 353.9L401.1 351.2L403.2 348.7L405.7 343.9L407 338.2L407.5 333.8L407.1 330.5L407.5 329.9L408.6 329.4L410.7 329.5L412.7 330.8L413.5 331.6L415.5 332.6L418.4 333.1L422.3 333.3L423.2 332.9L423.8 332.3L427.2 328.2L428.7 324.1L428.9 323.1L432.9 320.3L434.3 311L426.3 309.9L420.4 309.3L411.8 308.1L410.8 307.8L410 307.4L408.9 306.3L406.8 296.2L406 293.4L405 293.2L404.5 293.4L403.8 295.5L402.7 298.2L400.4 298.6L396.6 298.7L391.6 299.3L391 299.5L390.2 304L390 304.5L373.8 302.6L373.7 295L372 293.1L371.1 293L368.9 294.2L367.9 295.3L362.5 307.5L362 307.7L359.4 307.9L356 308L356.5 305.8L356.2 304.3L355.6 303.3L353.5 301.6L343.7 295.9L335.2 291.3L329.8 289L326.6 288.1H324.6L324 288L323.1 288.1L322.5 286.7L321.1 281.6L319 277.2L317.4 275.6L313.9 273.7L311.5 272.2L309.4 269.9L308 267.8L304.7 261.1L303.7 261.2L290.2 264.4L286.5 265.3L285.9 265.6L265 236.9L277.9 229.8L271.2 217.7L272.5 201.9L300.2 149.7L284.8 145.5L278.9 135L321.3 126.7L341.8 123.1L345.3 123.8L348.3 124.2L358 125.3L363.9 125.7L366.3 126.1L380.5 127.2L394.1 127.9L394.3 127.7H395.2L405.7 122.5L412.7 119.4L417.1 117.2L419.2 116.7L420.3 116.6L422 116.7L422.8 117L423.6 117.6L424.6 118.7L430.3 131.3L432.3 133.2L435.9 136.9L446.8 146.6L448.3 152.7L454.9 174.1L467.5 168.2L467.9 199.5V206.7L467.3 206.5L464.9 205.3H464.6L464.5 211.9L463.6 213L463.3 229.6L463.4 231.7L487.5 234.6L491 274.3L498.4 275Z"
              fill="#a1b9db"
              @click="regionClick(8)"
              :class="{ chosen: chosen_id == 8 }"
              v-b-tooltip.hover
              :title="getRegionName(8)"
            />
            <path
              d="M421.3 383.4L422.5 382.6L423.3 382.2L424.7 381.8L427.3 381.4L427.8 381.2L428.2 380.8L428.9 381L446.4 381.5L447.9 381.3L449.2 380.8L450.6 379.7L450.8 379.4V379.1L455.1 380L458.4 383.8L461.2 388.4L461.3 389.9L461.5 390.1L462.2 390.4L465.3 391.2H466.8L469 389.8L472.3 388.1L479.8 386.2L480.4 386.4L481.6 387.2L483.2 388.6L484.8 389.7L485.5 390H485.8L489.4 388.4L490.2 387.4L491.3 385.6L492.1 384.6L492.9 384.3L494.1 384.2L502.7 385.7L503.3 386.4L503.8 387.7L503.7 389L503.2 390.7L503.3 391.3L503.6 391.8L504.5 392.3L506.4 392.4L510.3 392.2L511.1 392L511.5 391.5L511.6 391.1L511.5 389.3L511.9 388.8H512.8L517.3 390.1L519.9 391.2L523.7 392.4L525.4 392.7L526.4 392.5L526.8 394.1L528.2 396.5L528.9 397.3L529.9 397.8L531.7 398.2L532.3 398.6L533.1 398.9H533.9L534.9 398.7L536 398.9L537 399.4L537.7 401.1L538.3 401.3L539.9 401.4L540.2 401.7V402.3L539.9 402.8L539.7 405.3L540.1 406.6L540.2 408.6L540.6 409.2L540 410L539 410.6L535 410.8L534.1 411.1L533.6 411.4L532.9 412L532.4 412.8L532.3 413.2L532.8 416.3L533.8 418.4L534.2 418.9L534.4 419.4L534.5 423.6L533.2 427.9L532.7 427.7L531.3 426.3L530.3 426L528.9 425.9L527.8 426.2L527.3 426.5L526.7 427.1L525.9 428.4L524.7 430.6L515.8 439.5L515.1 442.9L514.9 444.4L514.5 445.8L514 446.7L511.6 449.1L509.8 450.4L506.3 452.3L494.7 464.4L494.3 465.7L493.3 470L493.6 470.9L491.2 468.1L490.2 467.4L488.7 466.8L485.5 466.4L482.9 467.2L482.3 467.3L481 467L479.8 465.9L477 464.3L475.2 462.2L473.9 459.9L473.4 459.6L471.5 459.5L468 458.5L467.4 458.1L466.9 457.1L465.7 456.7L464.8 456.6L464 455.8L463.5 455.6L462.1 455.7L461.3 455.4L460.4 454.8L458.5 452.8L457.6 452.6H456.5L455.5 452.9L454.8 454.3L454.2 454.2L454.1 454.3L453.9 454.9L453.5 455.1H453L448.3 454.1L438.4 450.2L436.4 449.1L430 445L428.1 443.5L425.4 441L417.8 433.4L417.2 433L414.5 431.7L411 430.4L408.1 429L406.4 427.7L406 427L397 421.5L394.3 419.6L388.8 414.5L387.6 413.2L393.2 407L411.3 400.4L411.6 399.8L411.4 399.3L410.6 398.1L409.8 397.2L409.1 396L409 395.1L409.4 394.1L413.8 389.4L414.4 389.3L417.8 387.1L421.3 383.4Z"
              fill="#a1b9db"
              @click="regionClick(5)"
              :class="{ chosen: chosen_id == 5 }"
              v-b-tooltip.hover
              :title="getRegionName(5)"
            />
            <path
              d="M157.4 23.7L157.8 31.4L155.8 37.2L152.6 42.6L149.8 48.6L148.8 52.8H146.6L144.8 53L143.4 54.4L142.8 57L143.6 61.6L144.8 64.2L145.6 67L143.2 67.8L140.2 66.2L137.8 67.6L136 71.6L133.6 75.8L131.4 78.2L128.4 76.4L128 72.4L127.8 66.2L126.6 64.6V61.1H128.2L129.4 63.9L131.2 64.9L134 63.9L135.4 60.9V56.9L136.4 53.7L133.4 51.9L130.2 49.3L129.6 46.9L131.4 44.9L133.2 44.5L135.2 45.5L135.4 37.2L138.2 36.8L138 33.6L135.6 33L131.8 32.4L130.4 33.4L128.8 35.4L126.6 36.4L128 34.2L130.8 29L132.6 26.4L131.6 23.4L129.6 20.6L130 17L131 13.6L134.4 7.19999L157.4 23.7ZM119.1 0.299988L118.9 3.79999L117.3 6.99999L117.1 11.8L113.3 15.2L111.3 18.4L111.1 24.2L108.5 26.8L107.3 32.4L104.3 37.2L102.3 42.6L101.9 47.2L102.1 53.2L103.3 56L105.3 59.6L104.9 62.2L101.9 70.7L102.3 75.9L104.5 81.1L106.7 83.7L109.7 85.1L113.7 86.7L116.7 86.9L119.3 88.9L121.3 89.5L122.3 87.5L123.9 87.1L126.3 87.3L128.1 86.5L133.1 84.9L135.7 83.7L137.3 84.7L138.1 88.3L136.3 90.5L133.5 92.3L134.5 95.9L136.7 96.9L138.5 98.7L143.7 99.5L146.3 101.7L149.3 102.1L155.3 102.7L159.7 102.9L163.3 100.7L165.7 102.1L166.9 103.1L170.7 102.3L172.7 101.7L176.3 102.9L181.3 101.9L186.1 100.3L193.2 97.5L193.8 94.9H197.2L198.4 93.1L197.4 91.3L199 87.9L205.2 82.9L209.8 78.3L212.6 73.3L213.4 69.5L212.4 68.1L210.8 66.7L209.8 64.7L213.7 64.4L235.4 80.1L237.6 87.2L243.7 93.3L250.1 101L250.4 101.6L251 102.2L253.5 105.2L259.2 112.2L276 133.1L277.6 134.7L278.1 134.8L284 145.3L299.4 149.5L271.7 201.7L270.4 217.5L277.1 229.6L264.2 236.7L285.1 265.4L298.9 284.6L288 289.7L285.5 290.9L284.9 290.7L284.6 290.5L280 283.1L278.5 280.3L270.5 271.5L267.4 269.6L263.9 267.7L255 265.6H252V266L250.6 266.8L249.8 267.7L248.6 270L248.1 271.9L247.4 272.7H245.9L243.6 271.3L243.3 270.1L242.9 269.2L240.9 266.9L240.2 266.3L239.5 266L237.3 265.6L236 265L230 260.5L221.8 253.2L220.2 251.7L216.8 247.8L211.6 243L210.9 242.7L210.2 242.1L209.8 241.6L206.7 236.2L206.3 233.7V231.1L206.1 230.5L205.7 230L200.4 228.9L196.1 230.3L194.2 231.1L191.5 236.3L191.3 235.8L190.8 235.2L190.2 234.8L187.8 234L187 233.5L185.2 231.3H185V231L184.1 231.2L182.8 230L182.6 229.2L182.8 228.9L183.4 228.5L186.2 228.3L186.6 227.9L186.4 227.1L185.9 226.4L185.5 225.4L185.3 224.5L185.1 222.2L183.8 220.6V219.9L184 219.4L185.1 218.8L185.5 219L186.4 219.1L186.9 219L187.3 218.6L187.6 218.2V217.6L187.1 216.4L186.6 215.8L185.6 215.2L183.8 215L183.2 214.8L182.4 214.1L181.6 213L180.9 211.6L180.3 211L178.3 210.4L177.3 209.6L177 210.2L176.5 211.6L176.1 212H175.6L173.8 211.4L173.1 211H172.6L172.1 210.8H170.1L168.5 211.2H167L165.7 211.4L158.3 211.5L157.7 211.1L157 209.7L156.4 209.4L155.5 208.3L151.5 204.3V203.9L152 202.7L151.9 201.5L148.5 197.1L148 196.6L146.9 195.9L146.5 195.8L145.4 196.1L144.4 196.9L143.8 197.1L141.2 196.9L140.5 196.7L138.9 195.8L136.6 195.1L135.9 194.8L134.2 193.3L130 188.7L125.2 183.3L122.1 179.4L121.6 179V179.9L121.3 181.1L121.4 181.7L122.3 182.6V182.9L122.1 183.4L121.8 183.6H121.4L120.8 183.3H120.2L119.7 183.9V184.1L120.4 184.7L120.7 185.1L120.3 187.3L120 187.8L119.5 188.1L118.3 187.7L115.6 188.2L114.5 188.3L113.2 187.7L112 187.5L110.8 186.9L109.3 186.5L106.4 185.9H105.5L104.1 186.5L103.1 187.1L100.8 189L100.2 189.1L99.8 189.5L99.6 190.2L99.9 191L101.8 192.4L104.2 193.7L105.2 194.1L106.5 194.4L106.9 194.9L109.6 201.1L110.9 203.2L111.5 203.9L111.7 204.8V206L112.1 206.4L112.6 206.3L115.8 208.3L116.8 209.1L116.9 209.8L116.4 210.8L116 211.1H115.6L113.5 210.6L111.6 211L111.4 210.3L111.5 208.3L111.4 207.2L110.6 204.3L109.9 203L109 202L107.7 201.2L102.9 199.9L102.1 200L99.9 201.1L98.6 201.6L98.4 201.5L98.2 200.8L97.3 200.2L97 199L96.7 197.8L95.9 197L94.9 196.8L93.5 197.1L92.5 197.8H92L91.7 198.1L91.3 199.9L91 200.7L90.7 200.6L90 199.7L89.6 199.6L88.9 199.8L88.7 200.2L88.4 201.8L88.7 202.6L89.6 203.4L90 204.1L90.3 205.2V205.7L89.9 206.8V208.2L89.7 209.3L89.8 210.9L89.6 212.5L89.4 213.1L89.1 213.5L88.6 213.7H87.8L86.1 213L85.7 213.1L85.4 213.6L85.1 214.8L85.8 216L86.2 217.1L86 217.5L85.1 217.6L82 217.1L79.4 218L77.6 218.9L77 219H76.4L74.8 218L72.9 217.6L70.6 217.4L65.4 217.7L63.4 218.4L60.9 219.6L58.7 221.2L57.4 222.3L56.3 223.9L55.9 224.8L55.2 226.4L54.1 229.7L53.5 230.6L52.4 231.7L51.7 232.1L50.3 232.6L48.1 233.2L47.4 233.6L46.5 234.4L45.6 236.3L45.3 238.3L44.8 240.1V242.9L45.1 245.6L45 248.3L45.6 250.7L46 251.7L46.4 252.2V252.4L46.8 252.6L47.3 253.6L47.5 254.7L47.6 255.5L47.4 256.7V259L47.8 262.1L48.1 263.1L48.5 263.8L50.3 266.4H51.2L53.2 265.8L53.6 266.2V266.7L53.3 267.4L52.9 267.8L52.4 268.1L50.4 268.8L49.6 269.6L49.1 270.5V272L48.8 272.7L48.3 273.2L47.8 273.5H46.5L44.7 273.1L40.7 272.8L36.5 272.2L29.7 271.8L25.9 271.7L20 271L16.5 270.7H14.6L9.4 270.2L0 269.8L0.3 37.7L1.8 37.3L3.2 36.7L33.3 26.8V26.7L35 26.4L35.3 26L36.3 25.7L49.4 21.5L93.2 8.09999L99.9 5.89999L102.1 5.39999L119.1 0.299988Z"
              fill="#a1b9db"
              @click="regionClick(9)"
              :class="{ chosen: chosen_id == 9 }"
              v-b-tooltip.hover
              :title="getRegionName(9)"
            />
            <path
              d="M532.9 390.8L532.8 391.1L531.2 390.8L530.2 391L526.9 392.1L526.7 392.4V392.6L525.7 392.8L524 392.5L520.2 391.3L517.6 390.2L513.1 388.9H512.2L511.8 389.4L511.9 391.2L511.8 391.6L511.4 392.1L510.6 392.3L506.7 392.5L504.8 392.4L503.9 391.9L503.6 391.4L503.5 390.8L504 389.1L504.1 387.8L503.6 386.5L503 385.8L494.4 384.3L493.2 384.4L492.4 384.7L491.6 385.7L490.5 387.5L489.7 388.5L486 390H485.7L485 389.7L483.4 388.6L481.8 387.2L480.6 386.4L480 386.2L472.5 388.1L469.2 389.8L467 391.2H465.5L462.4 390.4L461.7 390.1L461.5 389.9L461.4 388.4L458.6 383.8L455.3 380L451 379.1V379.4L450.8 379.7L449.4 380.8L448.1 381.3L446.6 381.5L429.1 381L428.4 380.8L426 377L425.2 375.2L425 374.4V373.8L426.2 371.5L426.7 370L426.9 369L425.5 363.8L424.6 362.3L423.6 361.5L422.1 360L421.8 359.2L421.9 358.8L422.4 358.4L431 355.5L432 356L434.9 356.9H435.5L436 356.6L436.7 355.3L438.5 349.8L438.9 344V343L439.1 342.3L439.5 341.7L440 341.4L441 341.6L446.5 343.7L447.5 345.2L448 346.2L450.1 347.3L455.5 349.6L456.7 349.8L465.6 347.9L467.2 347.1L470.7 343.8L471.1 343.2L471.2 342.1L471 341.6L470.2 341.5L468.8 342.4L468 342.3L467.8 341.3L470.1 335.2L471 333.9L471.9 327.8L472.1 325.5L471.7 324.8L471.2 324.6L470.9 324.2L471.5 319.3L473.6 314.6L474.5 313.5L475.6 313.3L476.8 313.4L477.8 314.9L478.8 315.7L480.6 316L482 315.9L484.4 314.6L486.5 312.7L487.1 313L488.1 314.1L490 316.8L491.3 320.3L499.1 321.2L503.7 321.3L504.7 323.5V324.6L503.9 326.4L503.8 327.2L503.9 331.1L504.7 335.2L506.6 336.9L508 339.7L507.9 340.5L507.4 341.8L507.2 342L506 342.3L505.9 342.7L506.3 346.4L512.1 350.3L514.2 351.1L519 351.5L530.9 354L531.1 354.2L532.2 360.2L532.3 361.2L531 361.3L529.5 361.7L527.3 362.7L526.6 363.2L525.8 364.1L522.6 369.3L522.5 369.7V373.9L522.7 374.9L523.4 375.9L524.4 376.9L528.9 380.7L531.1 385.4L531.9 387.7L532.8 389.7L533 390.5L532.9 390.8Z"
              fill="#a1b9db"
              @click="regionClick(10)"
              :class="{ chosen: chosen_id == 10 }"
              v-b-tooltip.hover
              :title="getRegionName(10)"
            />
            <path
              d="M596.1 337.8L594.5 338.8L593.2 339.1L590.8 338.4L589.8 338.8L584.4 340.5L585.4 334.1L585.1 333.4L578 335L575.7 335.8L571.7 336.6L567.1 336.8L560.6 336.5H560.3L559.6 335.5L559.3 334.6L559.1 333.6L559.3 332.1L564.3 321.1L565.1 319.1L565.3 318.3L565.1 318.1L564.8 318.2L562.7 319.2L562.5 318.9L563 314L565.1 313.5L567 313.6L567.3 313L567.5 310.2L571.2 313.3L573.1 312.8L575 314.4L574.5 315.5L579.4 316.9L580.2 315.8L582.6 316L586.9 314.3L586.1 312.2L583.7 310.9L582.6 307.6L579.3 303.1L580.2 295.6L579.2 293.1L580.1 292.2L579.2 290.8L575.6 290.6V289.3L580.5 289.6L580.8 290.2L583.2 288.7V288.9L583.5 289L583.7 290.2L584.4 290.5L585.2 290.1L586.1 290.3L586.5 290.7L586.4 291L585 291.5L584.8 291.9V292.5L585.3 293.6L585.7 293.3L590.6 298.8L594.1 302.3L599 306.7L603.7 310.6L604.3 310.7L607.3 314.9L606.8 319.6L605.9 324.9L604.9 329.9V331L605 331.6L605.5 332.6L605.2 337.3L604.1 336.9H601.5L598.1 337.3L596.1 337.8Z"
              fill="#a1b9db"
              @click="regionClick(12)"
              :class="{ chosen: chosen_id == 12 }"
              v-b-tooltip.hover
              :title="getRegionName(12)"
            />
            <path
              d="M573.3 459.5L572.3 463L572.2 464.2L569.9 466.6L568.3 469.7L568.4 471.3L567.9 472.4L568 473.2L567.7 474.1L565.2 475.3L561.2 476L560.4 477.4L557.2 484.2L556 485.9L554.6 486.9L552.3 489.9L551.3 492.3L550 494.7L548.4 496.2L547.2 500.1V502.7L547.5 506.7L546.9 513.4L546.2 515.8L545.5 516.2L544.9 515.1L543.4 513.9L542.7 513.7L541.3 513.9L540.9 513.8L540 513L539 512.4L538.4 512.5L537 513L536.3 513.5L535.9 514L535.2 514.1L534.8 513.4L534.4 512L533.7 511.3L532.9 510.9L532.2 511L531.6 511.4L529.7 513.1L528.4 513.6L527.2 514.3L525.9 514.4L524.1 514.9L523.1 515.9L521.6 516.5L521.1 516.3L520.2 515.5L520 514L519.7 513.5L518.9 513.1L518.5 512.2L518.2 511.9L517.2 511.5L516.7 511.2L516 511.3L515.5 511.2L514 510.3L513.5 509.6L513.9 508.1L513.6 507.3L511.9 506.4L510.5 505L510.1 504.7L508.2 504L506.3 504.1L502.7 505.7L501.1 505.5L500.3 505.6L498.1 506.4L496.1 505.9H495.1L494 506.3L492.4 505.9L490.9 506.1L489.7 506L487.9 506.1L486.6 506.6L486.2 504.6L486.4 503.9L486.8 503.3L487.7 502.7L488.8 502.1L491.8 501.2L492.1 500.5V499.7L491.7 498.6L487.1 493.1L486.8 491.6L487.4 486L487.1 484.5V483.9L487.6 480.8L488.3 479L489 477.9L489.8 477.1L490.3 475.8L490.9 475.1L493.2 473.8L493.6 473.4L493.8 472.6V471.7L493.3 470.7L493 469.8L494 465.5L494.4 464.2L506 452.1L509.5 450.2L511.3 448.9L513.7 446.5L514.2 445.6L514.6 444.2L514.8 442.7L515.5 439.3L524.4 430.4L525.6 428.2L526.4 426.9L527 426.3L527.5 426L528.6 425.7L530 425.8L531 426.1L532.4 427.5L532.9 427.7L534.2 423.4L534.1 419.2L533.9 418.7L533.5 418.2L532.5 416.1L532 413L532.1 412.6L532.6 411.8L533.3 411.2L533.8 410.9L534.7 410.6L538.7 410.4L539.7 409.8L540.5 409L540.9 409.5L541.6 409.8L542.5 409.5L543.1 409.7L544.1 409L546.1 408.8L547.4 409.6L548.9 409.7L549.9 408.3L551.9 408.2L552.9 407.7H553.4L554.5 408.9L555.5 409.2L557.3 408.2L558.6 408.3L559.8 409.1L560.7 410.9L561 411.9L563.7 414L563.8 414.8L563.7 416L563.4 416.2L563.7 418.4L562.4 419L561.8 419.9L560.8 420.2L558.3 420.6L558 421.2L560.5 424.9L560.1 425.6L558.5 425.8L557.2 427L557.6 428.5L558.5 430.4V430.9L558 431.5L557.7 436.8L560.1 440L561.1 440.8L560.7 441.9L559.8 443.4L559.5 444.4H560L561.5 443.8H562L563.7 444.7L565.1 447.1L565.3 447.9L565.4 449.3L565.6 449.5L566.9 450L568.4 450.7L569.4 451.4L571.4 453.9V454.3L572.1 455.6L573.2 457.1V457.9L573.3 459.5Z"
              fill="#a1b9db"
              @click="regionClick(11)"
              :class="{ chosen: chosen_id == 11 }"
              v-b-tooltip.hover
              :title="getRegionName(11)"
            />
            <path
              d="M618.9 266.8V266.2L618.8 266.1H618.6L618.3 266.4L618.2 266.8L617.4 267L616.7 267.8L616 267.7L615.6 268.4L615.1 268.1L614.5 268.2L613 267.3H612.8L612.5 267.6L611.7 268L610.7 267.8L610.6 267.6H610.5L609.3 268.9L609.2 269.8L608.7 271.1L608.6 272L608.5 273.5L608.6 273.8L609.5 274L609.8 274.2L610.1 274L610.6 274.3L610.9 275.1H611.1L611.5 274.9L611.7 275.2L612.4 275.3L613 275.2V274.7L614.1 273.8L615.2 273.9L615.9 274.1L615.7 274.5L616.1 275.4L616.5 275.7L617.1 275.6L618.1 274.6L618.5 273.7L618.4 272.5L618 271.8L617.7 271.5L618.2 270.7L618.5 270.4L618.4 270.1V269.6L618.7 268.9L618.9 268.8H619.3L619.2 268.1L619.5 267.8L619.6 267.3L619.5 267L619.3 266.9L618.9 266.8Z"
              fill="#a1b9db"
              stroke="white"
              @click="regionClick(13)"
              :class="{ chosen: chosen_id == 13 }"
              v-b-tooltip.hover
              :title="getRegionName(13)"
            />
            <path
              d="M705.7 216.1L705.5 215.7L704.8 215.2L704 214.8L700.7 211.8L699.8 211.3L698 211.1L696.8 210.4H696.3L695.4 210.6L694.3 211.1L693 212.3H692.3L691.4 212H691L689.2 214.2L688.2 214.9L687.2 215.3L686 216.2H685.3L684.2 215.2L683.7 215.4L683.1 216L682.4 216.7L681.6 218.1L680.8 218.8L680.3 219.7L679.3 220.5L678.5 221.6L678.3 222.9L677.4 224.7L676.3 227.7V227.9L676.1 228.4L675.4 228.7H675L673.8 227.6L673 227.4L672.8 226.8L672.9 225.2L672.4 224.3L669.9 222.9L667.2 220.5L666.8 220.3L666.1 220.4L665.7 220.9L665.4 223L665.2 223.4L664.2 224.3L663.9 225L662.3 226L662 226.5L662.1 227.7L662.4 229.1L662.3 230.2L661.3 230.9L660.3 231.2L659.8 231.8H659.3L658.1 232.4L657.2 233.7L656.1 234.6L655.7 235.4L655 237.4L654.4 238.4L651.2 240L649.9 241L649.2 243.1L648.9 243.4L648.6 243.5L648.2 243.4L648 243.1V242.5L647.6 241.8L647.2 241.7L646.5 241.9L646.2 242.2L644.5 246.2L641.6 247.4L640.4 246.4L639.7 246.1H639.2L637.5 247.2L635.5 247.5L635.2 247.4L634.4 247.5L634.1 247.7L633.9 248.1L633.4 248.6L632.7 248.9L630 249.5L629.5 249.7L628.3 250.8L628 251.3L627 252L625.7 253.4L625.3 253.9L624.8 255.5L624.6 255.8L623.9 256.2L622.7 256.5L622.3 256.4L622 256.5L620.3 257.9L619.6 259V259.5L619.9 260L621.1 260.8L620.8 261.8L620.4 262L618.2 261.6L617.7 261.8H616.9L615.6 262.2H615.1L614.1 261.6L613.5 261.5L612.4 261.6L612 261.5L610.5 261.8L609.3 262.5L608.7 264.4L608.3 264.9L606.1 266.2L605 269L604.3 269.5L603.8 269.4L603.2 268.8L602.9 268.7L602.4 268.9L600.4 272L600.2 274.7L600 275.1L598.6 276.3L598.3 278.1L598.1 278.2L597.3 278.1L596.6 278.6L595.9 279.5L594.5 280.9L593 282.9L592.3 284L591.8 285.1L590.1 287.2L589.4 288.9L589.2 290.4L589 290.8L587.7 292L585.9 292.7L584.9 293.6L589.8 299.1L593.3 302.6L598.2 307L602.9 310.9L603.5 311L606.5 315.2L606 319.9L605.1 325.2L604.1 330.2V331.3L604.2 331.9L604.7 333L604.4 337.7L606.9 337.9H607.5L608.5 338.3L609.6 338.2L610.4 337.9L611.7 338.2H613.7L614.8 338.8L615.3 338.4L614.5 336.3L614.1 335.9L612.7 335.6L612.3 335.2L612.5 334.3L612.2 333.7L612.4 333.1L614.2 333.3L615 333.2L616.1 332.1V331.2L616.4 330.7V329.5L615.4 328.7L615 328.2V327.4L614.7 326.6L614.3 326.2L614.5 325.3L614 325.1L613.4 323L613 322.5V321.7L613.3 321.3V320.5L612.6 319.9L611.3 318L611.2 317.7L611.5 317.1L613.1 316.1L614.9 315.9L615.8 316.1L616.1 316L616.4 315.7V315.5L616.8 314.7L617.3 314.5L617.6 313.2L617 312L616.7 310.9L616.9 307.4L617 307.1L617.3 306.7L617.5 305.7L619.3 303.1L620.9 302.9L621.6 303.2L624.1 303.9L625.3 304L626.1 304.7L626.9 306.4L627.2 307.6L627.7 308.4L629 309.3L629.7 310.2L630.4 310.3L630.8 310.5L631.3 311.8L631.6 312.2L632.3 312.3L633.9 312.2L634.8 311.6L636.2 308.6L636.7 308.2L637.4 308L638.8 308.4H639.1L640 307.4L641.1 306.7H641.5L643.1 307.7H643.3L644.5 306.6L645.3 306.1L647.3 305.8L648.1 305.4L649.2 304.5L650.6 303.9L653 301.6L653.3 301.2L653.6 300.3L654.1 299.7L654.7 299.6L655.7 300L656.8 300.2L658.3 299.3L659.2 298.9L659.9 297.9L661.5 296.9H662.7L663.4 296.7L663.8 296.3L664.3 295.3V294.9L664 294L664.2 293.3L664.9 292.5V291.7L665.2 291.2L664.9 289.9L665 289.4L665.4 289.1L665.8 288.2L666.3 287.6L667.6 287.1L668.6 287.4L668.4 287L668.6 286.1V284.3L668.4 282L667.7 280.7L665.8 278.1L665.1 270.8L668.1 266.7L668.8 264.8L668.3 263.8L667.8 263.2L667 262.6L665.8 261.1L664.6 261L664.1 260.5L664 259L663.6 258.7L662.3 258.1L661.2 257.9L660.2 258L659.7 258.3L658.9 258.4L658 258.2L656.7 258.3L656.1 257.9L655.9 257.5L655.7 256.3L655.8 254.3L656.1 253.6L656.5 253L657.8 252.5L658.5 252.4L659.8 252.5L661.5 251L662.8 251.1L663.6 250.7L665.1 249.2L665.7 248.3L666 248.1L668.1 247L668.6 246.8L670.3 245.7L671 244.4L671.1 242.2L671.3 241.7L671.9 241.1L673.1 240.5L675.3 239L675.6 237.8L676.7 237L677.1 236.6L677.8 235.1L678.8 234L680 233.4L680.7 233.3L681.6 233.6H682L682.2 233.4L682.4 232.6L682.6 232.4L683.3 232.9L684.3 233.3H685.2L685.6 233.2L686.5 232.3L686.8 231.8L687 230L686.1 228.4L686.4 227.5L687.1 226.8L687.2 226.1L687.4 225.8L688 225.5H688.8L690.7 226.5L691.5 226.7H692.3L693.3 226.2L694.6 225.1L695.3 224.8L697.1 223L697.9 222.7L700.6 220.1L701.7 219.7H702.5L703.8 220L704.2 219.4L704.9 218.9L705.4 218.7L705.6 218.4L705.7 216.8V216.1ZM619.5 267.6L619.1 268.1L619.2 268.8H618.8L618.6 268.9L618.3 269.6V270.1L618.4 270.4L618.1 270.7L617.6 271.5L618.2 272.3L618.4 272.8V273.7L618.2 274.2L617.2 275.3L616.9 275.5L616.3 275.6L615.9 275.3L615.5 274.4L615.7 274L615 273.8L613.9 273.7L612.8 274.6V275.1L612.2 275.2L611.5 275.1L611.3 274.8L610.9 275H610.7L610.4 274.2L609.9 273.9L609.6 274.1L609.3 273.9L608.4 273.7L608.3 273.4L608.4 271.9L608.5 271L609 269.7L609.1 268.9L610.3 267.6H610.4L610.5 267.8L611.5 268L612.3 267.6L612.6 267.3H612.8L614.4 268.1L615 268L615.5 268.3L615.9 267.6L616.6 267.7L617.3 266.9L617.9 266.8L618.3 266.2L618.8 266.1V266.8L619.3 267.3L619.5 267.6Z"
              fill="#a1b9db"
              @click="regionClick(14)"
              :class="{ chosen: chosen_id == 14 }"
              v-b-tooltip.hover
              :title="getRegionName(14)"
            />
            <path
              d="M282.5 312.3L281.2 309.4L280.7 308.6L280 308L279.7 307.2L279.5 304.4L279 303.7L278.7 302.7L277.5 300.7L277.4 299.5L277.6 298.3L277.5 296.3L277.4 295.8L277.1 292.9L277.3 291.3L277.1 290.9L276.6 290.7L276.4 290V289.4L276.1 288.6L275.4 287.7L273.9 286.9L273.3 286.8L272.8 286.5L272.5 285.9L272.7 285L272.3 284L271.8 283.1L270.6 282.4L268.7 280.4L267.6 280.1L266.1 279.1L264.1 276.7L263.6 276.4L262.3 276.3L262 276L261.5 275.7L261.1 275.3L260.8 274.3L260.4 273.6L259.5 273H259L257.7 273.6L255.9 273.5L255.2 273.3L253.6 272.4L251.8 272.1H251.3L250.8 272.4L250 273.9L250.1 276.5L249.7 277.3L249.4 278.9L249 279.8L248.6 280.2L248.1 280.5L247 280.7L246.9 280.8L245.2 281L244.9 280.9H243.6L243.4 280.8L243.1 280.9L242.4 280.7L239.3 279.2L237.2 277L236.9 276.9L234.9 277.1L233.6 275.5L228.7 275.3L228.3 275.5L227.3 275.4L225.1 275.7L222.5 275.6L220.8 275.9H216.9L212.1 276.2H211.2L208.6 276.6L207.7 276.5L207 276.3L203.8 274.4L200.9 271.8L194.8 267.6L191.4 265.7L190.2 264.7L189.6 263.5V262.8L189.8 262V259L190.1 257.1L190.5 256.3L192.6 254.3L192.9 253.7V252.5L192.6 251.6L191.5 249.6L190.4 248.1L188.5 245.2L188.1 243.7L188.6 242.5L189.2 240.2L189.4 240.1H189.7L190.6 240.6H191.6L193.6 241.3L194.7 241.8L196 242.9H197.2L198 243.5L198.8 243.8L199.1 243.4H199.8L200.1 243.2V242.8L199.6 242.1L198.5 241.2L197.3 239.9L196 239.3L194.4 238.9L193 238L192.2 237.1L191.9 236.4L194.6 231.2L196.5 230.3L200.8 228.9L206.1 230L206.5 230.5L206.7 231.1V233.7L207.1 236.1L210.2 241.5L210.6 242L211.3 242.6L212 242.9L217.2 247.7L220.6 251.6L222.2 253.1L230.4 260.4L236.4 264.9L237.8 265.5L240 265.9L240.7 266.2L241.4 266.8L243.4 269.1L243.8 270L244.1 271.2L246.4 272.6H247.9L248.6 271.8L249.1 269.9L250.3 267.6L251.1 266.7L252.5 265.9L253.1 265.7H256.1L265 267.8L268.5 269.7L271.6 271.6L279.6 280.4L281.1 283.2L285.7 290.6L286 290.8L286.6 291L289.1 289.8L292.3 293.1L298.2 299.8L298.9 300.9V302.4L298.1 306.2L293.5 311.3L287.2 318.9L282.5 312.3Z"
              fill="#a1b9db"
              @click="regionClick(6)"
              :class="{ chosen: chosen_id == 6 }"
              v-b-tooltip.hover
              :title="getRegionName(6)"
            />
          </svg>
          <div :class="['cities-icon', { zooming: scaling }]">
            <div
              v-for="item in pointerLoc"
              :key="item.top"
              class="pointer-title"
              :style="[{ top: `${item.top}px`, left: `${item.left}px` }]"
              @click="onPointerClickRedirect(item.regionId)"
            >
              <div class="noo-atributes-hover">
                <div class="noo-atributes-content">
                  <strong>{{ item.name }}</strong>
                </div>
              </div>
              <!-- <Pointer /> -->
            </div>
          </div>
          <div ref="tooltips" class="map-tooltips" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "UzbMap",

  props: {
    cityId: {
      type: Number,
      default: () => null,
    },
    districtId: {
      type: Number,
      default: () => null,
    },
  },
  data() {
    return {
      selectedRegion: "",
      selectedRegionId: null,
      selectedDistrictId: null,
      mapTop: 0,
      mapLeft: 0,
      zooming: false,
      scaling: false,
      mapScale: 1.8,
      scaled: false,
      mapCntRect: null,
      rect: null,
      oblast: null,
      isTashkent: false,
      inTashkent: false,
      loading: false,
      tashkentRegion: [16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
      pointerLoc: [],
      chosen_id: null,
      regions: [],
    };
  },
  async created() {
    this.regions = await this.$store.dispatch("map/getRegionList");
  },
  mounted() {
    this.makePointerLocation();
    window.addEventListener("resize", this.makePointerLocation);
    document.addEventListener("filter:city-input", async (event) => {
      if (event && event.detail && event.detail.city_id) {
        if (this.selectedRegionId) {
          await this.resetZoom();
        }

        this.regionClick(event.detail.city_id);
      } else {
        this.resetZoom();
      }
    });
    document.addEventListener(
      "transitionend",
      function (e) {
        if (
          e &&
          e.target &&
          e.target.classList &&
          e.target.classList.contains("svg-map")
        ) {
          this.makePointerLocation();
        }
      }.bind(this)
    );
    this.cityHandle();
    this.districtHandle();
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.makePointerLocation);
    window.removeEventListener("filter:city-input", () => {});
  },
  methods: {
    getRegionName(id) {
      const data = this.regions.find((i) => i.id == id);
      return data && data.title ? data.title : "";
    },
    onPointerClickRedirect(id) {
      if (this.selectedRegion || this.selectedRegionId) {
        this.districtClick(id);
        return;
      }
      this.regionClick(id);
    },
    makePointerLocation() {
      this.pointerLoc = [];

      if (this.selectedRegion || this.selectedRegionId) {
        let region = document.querySelector(
          `[data-r-id="${this.selectedRegionId}"]`
        );
        let districts = region.querySelectorAll("path._city_");
        let mapRect = document.querySelector(".svg-map-cnt");

        if (districts.length) {
          Array.from(districts).forEach((district) => {
            let rect = district.getBoundingClientRect();
            let parentRect = mapRect.getBoundingClientRect();

            let pos = {
              width: rect.width,
              height: rect.height,
              top: rect.top,
              left: rect.left,
            };
            let pos2 = {
              width: parentRect.width,
              height: parentRect.height,
              top: parentRect.top,
              left: parentRect.left,
            };

            let reg_id = Number(district.dataset.dId);
            let name = district.dataset.tooltip;

            this.pointerLoc.push({
              name: name,
              regionId: reg_id,
              top: pos.top + pos.height / 2 - 40 - pos2.top,
              left: pos.left + pos.width / 2 - 30 - pos2.left,
            });
          });
        }
        return;
      }

      let regions = document.querySelectorAll(".region");
      let mapRect = document.querySelector(".svg-map-cnt");

      if (regions.length) {
        Array.from(regions).forEach((region) => {
          let rect = region.getBoundingClientRect();
          let parentRect = mapRect.getBoundingClientRect();

          let pos = {
            width: rect.width,
            height: rect.height,
            top: rect.top,
            left: rect.left,
          };
          let pos2 = {
            width: parentRect.width,
            height: parentRect.height,
            top: parentRect.top,
            left: parentRect.left,
          };

          let reg_id = Number(region.dataset.rId);

          let name = region.dataset.tooltip || this.oblastOnly(region.id);

          this.pointerLoc.push({
            name: name,
            regionId: reg_id,
            top: pos.top + pos.height / 2 - 40 - pos2.top,
            left: pos.left + pos.width / 2 - 30 - pos2.left,
          });
        });
      }

      this.zooming = false;
    },
    removeTooltipBloacks() {
      const tooltipDivs = document.querySelectorAll(".map-tooltips");
      if (tooltipDivs) {
        Array.from(tooltipDivs).forEach((item) => (item.outerHTML = ""));
      }
    },
    onMouseOver(e) {
      let tooltip = this.$refs.tooltips;
      this.removeTooltipBloacks();
      if (e.type != "mouseover") {
        if (tooltip) {
          tooltip.outerHTML = "";
          tooltip.style = ``;
        }

        return;
      }
      const region = e.target.closest(".region");
      if (!this.zooming || this.selectedRegionId == 2) {
        if (
          region &&
          e.type == "mouseover" &&
          tooltip &&
          (!this.selectedRegion || region.id == "Ташкент")
        ) {
          tooltip.innerHTML =
            region.id == "Ташкент" ? region.id : this.oblastOnly(region.id);

          this.rect = region.getBoundingClientRect();
          document.body.appendChild(tooltip);

          let pos = {
            width: this.rect.width,
            height: this.rect.height,
            top: this.rect.top,
            left: this.rect.left,
          };

          let ttRect = tooltip.getBoundingClientRect();

          let tStyle = `top: ${pos.top - 30}px; left: ${
            pos.left + (pos.width / 2 - ttRect.width / 2)
          }px;`;

          tooltip.style = tStyle;
          return;
        }
      }
      tooltip.innerHTML = "";
      const district = e.target.closest(`._city_`);

      if (district && (this.selectedRegionId != 2 || region.id != "Ташкент")) {
        tooltip.innerHTML = this.oblastOnly(district.dataset.tooltip);

        this.rect = district.getBoundingClientRect();
        document.body.appendChild(tooltip);

        let pos = {
          width: this.rect.width,
          height: this.rect.height,
          top: this.rect.top,
          left: this.rect.left,
        };

        let ttRect = tooltip.getBoundingClientRect();

        let tStyle = `top: ${pos.top - 20}px; left: ${
          pos.left + (pos.width / 2 - ttRect.width / 2)
        }px;`;

        tooltip.style = tStyle;
        return;
      }
    },
    oblastOnly(oblastStr) {
      if (oblastStr.length) {
        return oblastStr.replace(/_/g, " ");
      }
    },
    cityHandle() {
      if (this.cityId) {
        this.regionClick(this.cityId);
      }
    },
    districtHandle() {
      if (this.districtId) this.districtClick(this.districtId);
    },
    accessLevelCheck(id) {
      if (
        this.$store.state.profileData &&
        this.$store.state.profileData.access_level != 1 &&
        this.$store.state.profileData.city != null &&
        this.$store.state.profileData.city.id != id
      )
        return true;
      return false;
    },
    districtClick(id) {
      if (!this.selectedRegionId || !this.selectedRegion) {
        return;
      }
      this.inTashkent = false;
      if (
        !this.selectedRegionId ||
        (this.selectedRegionId == 2 && !this.tashkentRegion.includes(id))
      ) {
        this.inTashkent = true;
        return;
      }
      this.selectedDistrictId = id;
      let tumans = document.querySelectorAll(
        `[data-r-id="${this.selectedRegionId}"] [data-d-id]`
      );
      if (tumans) {
        Array.from(tumans).forEach((tuman) => {
          if (tuman) {
            const distId = tuman.getAttribute("data-d-id");
            if (distId == this.selectedDistrictId) {
              tuman.classList.add("active");
            } else {
              tuman.classList.remove("active");
            }
          }
        });
      }
      this.$emit("district", id);
    },
    resetZoom() {
      return new Promise((resolve) => {
        try {
          this.mapTop = 0;
          this.mapLeft = 0;
          if (this.oblast) this.oblast.classList.remove("active");

          let regions = document.getElementsByClassName("_city_");
          Array.from(regions).forEach((region) => {
            if (region) {
              region.removeAttribute("filter", "url(#border)");
              region.classList.remove("active");
            }
          });

          if (this.$refs.svgMap) {
            this.scaling = true;

            setTimeout(() => {
              this.$refs.svgMap.style = `transform: matrix(${1}, 0, 0, ${1}, ${
                this.mapLeft
              }, ${this.mapTop}); fill: #a1b9db`;

              setTimeout(() => {
                this.zooming = false;
                this.scaling = false;
                this.selectedRegionId = null;
                this.selectedRegion = "";
                this.selectedDistrictId = null;
                this.$emit("main");
                this.makePointerLocation();
                resolve(true);
              }, 800);
            }, 200);
          }

          document.querySelector("#Ташкент").classList.add("capital");
          document.querySelector("#Ташкент").classList.remove("active");
        } catch (err) {
          console.error(err);
        }
      });
    },
    scaleMap(scale) {
      this.zooming = true;

      this.mapScale = scale.toFixed(2);
      this.mapTop = (this.mapTop - 3) * this.mapScale;
      this.mapLeft = this.mapLeft * this.mapScale;

      if (this.$refs.svgMap && this.mapTop && this.mapLeft && this.mapScale) {
        this.$refs.svgMap.classList.add("zooming");
        this.scaling = true;
        setTimeout(() => {
          if (this.$refs.svgMap) {
            this.$refs.svgMap.style = `transform: matrix( ${this.mapScale}, 0, 0, ${this.mapScale}, ${this.mapLeft}, ${this.mapTop} );fill: #7153ba; stroke: 0.5`;
          }

          setTimeout(() => {
            this.makePointerLocation();
            this.scaling = false;
          }, 800);
        }, 200);
      }
    },
    getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min)) + min;
    },
    regionClick(id) {
      this.chosen_id = id;
      this.$emit("change", id);
      this.getDeputiesByRegion(id);
    },
    async getDeputiesByRegion(id) {
      // let deputyList = await this.$store.dispatch(
      //   "map/getDeputiesByRegion",
      //   id
      // );
      this.$emit("getDeputiesByRegion", deputyList);
    },
  },

  // 1-Qoraqalpoq
  // 2-Xorazm
  // 3-buxoro
  // 4-navoiy
  // 5-samarqand
  // 6-qashqadaryo
  // 7-surxondaryo
  // 8-jizzax
  // 9-sirdaryo
  // 10-toshkent
  //11-farg'ona
  // 12-namangan
  // 13-andijon
};
</script>

<style scoped>
.uzbekistan-map {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
  position: relative;
}
.uzbekistan-map-wrapper {
  width: inherit;
  height: 100%;
}
.uzbekistan-map-inner-wrapper {
  height: 100%;
}
.uzbekistan-map-inner-wrapper path {
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  stroke-width: 2px;
  stroke: #ffffff;
}
.uzbekistan-map-inner-wrapper path:hover {
  fill: #0b4aa8;
}
.uzbekistan-map-inner-wrapper .svg-map-cnt {
  display: flex;
  align-items: center;
  height: 100%;
}
.disappear-map {
  opacity: 0;
  pointer-events: none;
}
.svg-map .region.active {
  fill: #a1b9db;
  filter: unset;
}
.svg-map .region.active:hover path {
  fill: unset;
}
.svg-map .region.active path:hover {
  fill: #a1b9db;
}
.svg-map .region.active path {
  stroke: #fff;
  stroke-width: 0.5;
}
svg.svg-map .region {
  filter: url(#border);
}
svg.svg-map {
  transition: transform 0.6s 0.2s;
  animation: fadeIn ease 1s;
}
.map-tooltips {
  position: absolute;
  width: auto;
  background: white;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
._city_ {
  position: relative;
}
._city_.active {
  /* fill: #8270cf; */
  fill: #a1b9db;
}
.svg-map-cnt.active {
  position: relative;
}
.pointer-title {
  display: inline-block;
  position: absolute;
  pointer-events: none;
}
.pointer-title .noo-atributes-hover {
  position: absolute;
  bottom: 100%;
  left: 0;
  padding-bottom: 25px;
  z-index: 99 !important;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  transition: all 0.8s ease 0s;
  pointer-events: none;
}
.pointer-title.active .noo-atributes-hover,
.pointer-title:hover .noo-atributes-hover {
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}
.eff img {
  pointer-events: all;
}
.pointer-title .noo-atributes-content {
  position: relative;
  width: 270px;
  background-color: #fff;
  display: block;
  text-align: center;
  padding: 8px;
  margin-left: -103px;
  pointer-events: none;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
.noo-atributes-content strong {
  font-size: 18px;
  font-weight: 500;
  display: block;
  color: #212121;
}
.cities-icon {
  transition: opacity 0.15s;
  opacity: 1;
}
.cities-icon.zooming {
  opacity: 0;
}
.chosen {
  fill: rgb(161, 185, 219);
}
.svg-map-cnt svg {
  width: 100%;
}
</style>
