<template>
  <section class="pages" v-if="loader">
    <div class="container">
      <div class="pages-wrapper news-view">
        <div class="row">
          <div class="col-lg-9">
            <div class="pages-content news-view-main">
              <div id="printMe">
                <h2>{{ post.title || "" }}</h2>
                <div class="news-view-header">
                  <ul>
                    <li>
                      <span>{{
                        (post && post.pub_date) || "" | dateTime
                      }}</span>
                      <span>{{ (post && post.pub_date) || "" | dateDay }}</span>
                    </li>
                    <li>
                      <span
                        ><i class="icon-eye"></i>
                        {{ (post && post.views) || "" }}</span
                      >
                    </li>
                  </ul>
                  <nuxt-link
                    :to="
                      localePath({
                        path: `/news/category/${
                          post && post.menu && post.menu.slug
                        }`,
                      })
                    "
                    >{{ post && post.menu && post.menu.title }}</nuxt-link
                  >
                </div>
                <client-only>
                  <swiper
                    v-if="items && items.length"
                    :options="swiperOptions"
                    :loadtheme="false"
                  >
                    <swiper-slide
                      v-for="(image, imageIndex) in items"
                      :key="imageIndex"
                    >
                      <div
                        class="news-view-image"
                        :style="{
                          'background-image': 'url(' + image + ')',
                        }"
                        @click.prevent="index = imageIndex"
                      >
                        <img :src="image" alt="not found" />
                      </div>
                    </swiper-slide>
                    <div class="swiper-button-prev" slot="button-prev"></div>
                    <div class="swiper-button-next" slot="button-next"></div>
                    <div class="swiper-pagination" slot="pagination"></div>
                  </swiper>
                </client-only>
                <div class="news-view-content">
                  <div v-html="post.content || ''"></div>
                </div>
              </div>

              <div
                class="tags"
                v-if="(post && post.tags && post.tags.length) || false"
              >
                <nuxt-link
                  v-for="item in (post && post.tags) || []"
                  :key="item.id"
                  :to="localePath('/tags/' + item.slug)"
                  class="tags-item"
                  >#{{ item.title }}</nuxt-link
                >
              </div>

              <AppComments :post="post" />
              <div class="news-view__footer">
                <div class="news-view-share">
                  <span>{{ $t("share") }}:</span>
                  <!-- <ShareNetwork
                    v-for="item in shareData"
                    :key="item.network"
                    :network="item.network"
                    :url="item.url"
                    :title="item.title"
                    :description="item.description"
                    :quote="item.quote"
                    :hashtags="item.hashtags"
                  >
                    <img :src="item.image_url" alt="" />
                  </ShareNetwork> -->
                  <UtilsArticleSocials :postProps="post || {}" />
                </div>
                <div class="news-view__print">
                  <span v-print="'printMe'" href="#">
                    <i class="fa fa-print"></i>
                    <span>{{ $t("print") }}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="sidebar">
              <div class="sidebar-news">
                <h2>{{ $t("similarNews") }}</h2>
                <div class="row">
                  <div
                    class="col-lg-12"
                    v-for="item in post.similar_posts"
                    :key="item.id"
                  >
                    <CardsNews
                      line="vertical2"
                      :slug="item.slug"
                      :image="
                        (item.image &&
                          item.image.length &&
                          item.image[0] &&
                          item.image[0].file) ||
                        require(`~/assets/images/default/article_${$i18n.locale}.jpg`)
                      "
                      :title="item.title"
                      :views="item.views"
                      :date="item.pub_date"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <CoolLightBox :items="items" :index="index" @close="index = null">
    </CoolLightBox>
  </section>
</template>

<script>
import CoolLightBox from "vue-cool-lightbox";
import "vue-cool-lightbox/dist/vue-cool-lightbox.min.css";

export default {
  async asyncData({ route, store }) {
    let data = {
      swiperOptions: {
        slidesPerView: 1,
        spaceBetween: 0,
        speed: 1500,
        autoplay: { delay: 5000 },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        autoplay: {
          delay: 4000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
        },
        // loop: true,
      },
      post: {},
      metaProps: {
        TITLE: "",
        APP_BASE_IMG: {
          PATH: "",
          WIDTH: "600",
          HEIGHT: "400",
        },
        APP_BASE_URL: "",
      },
      items: [],
    };

    try {
      // data.post = await store.dispatch(
      //   "posts/getPostDetail",
      //   route.params.slug
      // )
      // data.post = await axios({
      //   method: 'get',
      //   baseURL: 'https://oliymajlisapi.mdg.uz/api/v1',
      //   url: `/cms/post/${route.params.slug}`
      // });
      data.post = await store.dispatch(
        "posts/getPostDetailCustom",
        route.params.slug
      );
      if (data.post && data.post.images && data.post.images.length) {
        data.post.images.forEach((element) => {
          data.items.push(element && element.file);
        });
      }
      data.metaProps.APP_BASE_URL =
        "https://oliymajlis.mdg.uz" + route.fullPath;
      data.metaProps.APP_BASE_IMG.PATH =
        data.post &&
        data.post.images &&
        data.post.images[0] &&
        data.post.images[0].file;
      data.metaProps.TITLE = data.post.title;
      data.metaProps.DESCRIPTION = data.post.title;

      return data;
    } catch (err) {
      console.log(err);
    }

    return data;
  },
  head() {
    return {
      title: this.metaProps.TITLE,
      meta: [
        {
          hid: "og:image",
          property: "og:image",
          content: this.metaProps.APP_BASE_IMG.PATH,
        },

        {
          hid: "og:image:url",
          property: "og:image:url",
          content: this.metaProps.APP_BASE_IMG.PATH,
        },

        {
          hid: "image",
          property: "image",
          content: this.metaProps.APP_BASE_IMG.PATH,
        },

        {
          hid: "og:description",
          property: "og:description",
          content: this.metaProps.DESCRIPTION,
        },

        {
          hid: "description",
          property: "description",
          content: this.metaProps.DESCRIPTION,
        },

        {
          hid: "og:Description",
          property: "og:Description",
          content: this.metaProps.DESCRIPTION,
        },

        {
          hid: "og:image:secure_url",
          property: "og:image:secure_url",
          content: this.metaProps.APP_BASE_IMG.PATH,
        },

        {
          hid: "og:image:width",
          property: "og:image:width",
          content: this.metaProps.APP_BASE_IMG.WIDTH,
        },
        {
          hid: "og:image:height",
          property: "og:image:height",
          content: this.metaProps.APP_BASE_IMG.HEIGHT,
        },
        {
          hid: "og:type",
          property: "og:type",
          content: "article",
        },
        {
          hid: "og:site_name",
          property: "og:site_name",
          content: this.metaProps.APP_BASE_URL,
        },
      ],
    };
  },

  data() {
    return {
      swiperOptions: {
        slidesPerView: 1,
        spaceBetween: 0,
        speed: 1500,
        autoplay: { delay: 5000 },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        autoplay: {
          delay: 4000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
        },
        // loop: true,
      },
      loader: true,
      post: {},
      shareData: [
        {
          network: "telegram",
          url: "https://oliymajlis.mdg.uz" + this.$route.path,
          title: "Parlament",
          description: "This is parlament web site",
          hashteg: "parlament,deputat",
          quote: "Parlament web site",
          image_url: require("@/assets/images/share/telegram.svg"),
        },
        // {
        //   network: "instagram",
        //   url: "https://parliament1.mdg.uz" + this.$route.path,
        //   title: "Parlament",
        //   description: "This is parlament web site",
        //   hashteg: "parlament,deputat",
        //   quote: "Parlament web site",
        //   image_url: require("@/assets/images/share/instagram.svg")
        // },
        {
          network: "facebook",
          url: "https://oliymajlis.mdg.uz" + this.$route.path,
          title: "Parlament",
          description: "This is parlament web site",
          hashteg: "parlament,deputat",
          quote: "Parlament web site",
          image_url: require("@/assets/images/share/facebook.svg"),
        },
        {
          network: "twitter",
          url: "https://oliymajlis.mdg.uz" + this.$route.path,
          title: "Parlament",
          description: "This is parlament web site",
          hashteg: "parlament,deputat",
          quote: "Parlament web site",
          image_url: require("@/assets/images/share/twitter.svg"),
        },
      ],
      index: null,
      items: [],
      metaProps: {
        TITLE: "",
        APP_BASE_IMG: {
          PATH: "",
          WIDTH: "600",
          HEIGHT: "400",
        },
        APP_BASE_URL: "",
      },
    };
  },
  components: {
    CoolLightBox,
  },
  async mounted() {
    this.loader = false;
    this.post = await this.$store.dispatch(
      "posts/getPostDetail",
      this.$route.params.slug
    );

    // this.metaProps.APP_BASE_URL = 'https://oliymajlis.mdg.uz' + this.$route.fullPath
    // this.metaProps.APP_BASE_IMG.PATH = (
    //   (this.post && this.post.images && this.post.images[0] && this.post.images[0].file)
    // )
    // this.metaProps.TITLE = this.post.title
    // this.metaProps.DESCRIPTION = this.post.title

    // if(this.post && this.post.images && this.post.images && this.post.images.length){
    //   this.post.images.forEach((element) => {
    //     this.items.push(element.file);
    //   });
    // }
    this.loader = true;

    // this.$nextTick(() => {
    //   this.$el.setAttribute("style", "height", `${this.$el.scrollHeight}px`);
    // });
  },

  methods: {
    defineImageArticle(article) {
      return (
        "https://oliymajlis.mdg.uz/" +
        (article &&
          article.images &&
          article.images[0] &&
          article.images[0].file)
      );
    },
  },
};
</script>

<style>
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none;
}
</style>
