<template>
  <div class="pages" v-if="!loading">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main" v-if="data">
      <div class="container">
        <div class="pages-wrapper">
          <div class="title">
            <h2>{{ $t("appeal") }}</h2>
          </div>
          <div class="row">
            <div class="col-xl-9 col-lg-5 order-lg-2 order-1">
              <div class="pages-content">
                <div class="request-answer">
                  <ul>
                    <li
                      v-if="data && data.applicant && data.applicant.first_name"
                    >
                      <span>
                        {{ $t("Firstname") }}
                      </span>
                      <small>{{ data.applicant.first_name }}</small>
                    </li>
                    <li
                      v-if="data && data.applicant && data.applicant.last_name"
                    >
                      <span>
                        {{ $t("Lastname") }}
                      </span>
                      <small>{{ data.applicant.last_name }}</small>
                    </li>
                    <li
                      v-if="
                        data && data.applicant && data.applicant.middle_name
                      "
                    >
                      <span>
                        {{ $t("Middlename") }}
                      </span>
                      <small>{{ data.applicant.middle_name }}</small>
                    </li>
                    <li
                      v-if="data.attachments && data.attachments"
                      class="popup__files"
                    >
                      <span>{{ $t("file") }} : </span>
                      <small
                        ><a
                          v-for="file of data.attachments"
                          :key="file.id"
                          :href="file.file"
                          target="_blank"
                          >{{ spliceName(file.file) }}</a
                        ></small
                      >
                    </li>

                    <!-- <li v-if="data && data.region && data.region.title">
                      <span>{{ $t("Region") }}:</span>
                      <small>{{ data.region.title }}</small>
                    </li> -->
                    <li v-if="getPerson && getPerson.text">
                      <span>{{ $t("to") }}:</span>
                      <small>{{ getPerson.text }}</small>
                    </li>
                    <li
                      v-if="
                        (data && data.whom && data.whom.last_name) ||
                        (data && data.whom && data.whom.first_name) ||
                        (data && data.whom && data.whom.middle_name)
                      "
                    >
                      <span>{{ $t("to") }}:</span>
                      <small>{{
                        data.whom.last_name +
                        " " +
                        data.whom.first_name +
                        " " +
                        data.whom.middle_name
                      }}</small>
                    </li>
                    <li v-if="getStatus && getStatus.title">
                      <span>{{ $t("status") }}:</span>
                      <small>{{ getStatus.title }}</small>
                    </li>
                    <li v-if="data && data.content">
                      <span>{{ $t("content") }}:</span>
                      <small>{{ data.content }}</small>
                    </li>
                  </ul>
                </div>

                <div class="request-answer" v-if="data.status == 3">
                  <div class="request-answer-header title">
                    <h2>{{ $t("Answer") }}</h2>
                  </div>
                  <template v-if="data && data.responses">
                    <ul
                      class="request-answer-list"
                      v-for="item of data.responses"
                      :key="item.id"
                    >
                      <li>
                        <span>{{ $t("title") }}:</span>
                        <small>{{ item.title }}</small>
                      </li>
                      <li>
                        <span>{{ $t("file") }}:</span>
                        <small>
                          <a
                            :href="file.file"
                            v-for="file of item.attachments"
                            :key="file.id"
                            target="_blank"
                            >{{ spliceName(file.file) }}</a
                          >
                        </small>
                      </li>

                      <li>
                        <span>{{ $t("content") }} : </span>
                        <small v-html="item.content"></small>
                      </li>
                    </ul>
                  </template>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 order-lg-3 order-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
    <div v-else class="container">{{ $t("NoDataFound") }}</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sideMenu: {},
      data: null,
      loading: true,

      persons: [
        { value: 1, text: this.$t("toOLiyMajlis") },
        { value: 2, text: this.$t("toSpiker") },
        {
          value: 3,
          text: this.$t("toAssistantSpeaker"),
        },
        { value: 4, text: this.$t("toFraction") },
        { value: 5, text: this.$t("toCommission") },
      ],
      status: [
        { id: 1, title: this.$t("StatusAccepted") },
        { id: 2, title: this.$t("StatusUnder") },
        { id: 3, title: this.$t("StatusClosed") },
      ],
    };
  },

  async created() {
    this.loading = true;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "requests"
    );

    this.data = await this.$store.dispatch(
      "profile/getAppealDetail",
      this.$route.params.id
    );
    this.loading = false;
  },
  methods: {
    spliceName(val) {
      let index = val.lastIndexOf("/");
      return val.slice(++index);
    },
  },
  computed: {
    getPerson() {
      return this.persons.find((i) => i.value === this.data.appeal_type);
    },
    getStatus() {
      return this.status.find((i) => i.id == this.data.status);
    },
  },

  watch: {},
};
</script>

<style scoped>
.request-answer ul li {
  display: flex;
  border-top: 1px solid #eaebec;
  padding: 16px 0;
  flex-wrap: wrap;
}
.request-answer ul li span {
  width: 25%;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #2c2d32;
}
.request-answer ul li small {
  width: 75%;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #33343b;
}
.request-answer ul li small a {
  color: #0a4aa8;
}
.request-answer ul li:last-child span {
  width: 100%;
  margin-bottom: 15px;
}
</style>