<template>
  <div class="pages" v-if="!loading">
    <PopupsResponce v-if="getRequestsPopup" :data="responce" />
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                  ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="title">
            <h2>{{ $t("RequestsTitle") }}</h2>
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-4 order-lg-1 order-2">
              <div class="statistics">
                <div class="sidebar">
<!--                  <div class="statistics__chart">-->
<!--                    <client-only>-->
<!--                      <vue-highcharts-->
<!--                        :options="options"-->
<!--                        ref="pieChart"-->
<!--                      ></vue-highcharts>-->
<!--                    </client-only>-->
<!--                    <div class="statistics__chart__text">-->
<!--                      <p class="accepted">-->
<!--                        {{ $t("accepted") }}:-->
<!--                        {{ statistics && statistics.accepted_count }}-->
<!--                      </p>-->
<!--                      <p class="pending">-->
<!--                        {{ $t("underConsideration") }}:-->
<!--                        {{ statistics && statistics.considering_count }}-->
<!--                      </p>-->
<!--                      <p class="closed">-->
<!--                        {{ $t("closed") }}:-->
<!--                        {{ statistics && statistics.closed_count }}-->
<!--                      </p>-->
<!--                    </div>-->
<!--                  </div>-->
                  <div class="statistics__response">
                    <h6>
                      {{ $t("enterKeyword") }}
                    </h6>
                    <form
                      class="statistics__response__form"
                      @submit.prevent="SubmitCode"
                    >
                      <div class="form__item">
                        <input type="text" v-model="key" required />
                      </div>
                      <div class="form__item">
                        <button class="btn">
                          {{ $t("checkResult") }}
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="statistics__info">
                    <div class="statistics__info-item">
                      <h5>{{ $t("dearVisitor") }}</h5>
                      <p>
                        {{ $t("writeEmail") }}
                      </p>
                    </div>
                    <div class="statistics__info-item">
                      <h5>{{ $t("sendOfficial") }}</h5>
                      <p>
                        {{ $t("requestAddress") }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-5 order-lg-2 order-1">
              <div class="pages-content">
                <b-form
                  :class="{ is_not_auth: !isAuth }"
                  @submit.prevent="submit"
                  @click="formClick"
                >
                  <b-form-group class="request-form">
                    <div class="row">
                      <div class="col-lg-12">
                        <label for="name">{{ $t("FormName") }}</label>
                        <b-form-input
                          v-model="form.full_name"
                          :placeholder="$t('FormNamePlaceholder')"
                          id="name"
                          :class="{
                            invalid:
                              $v.form.full_name.$dirty &&
                              !$v.form.full_name.required
                          }"
                        ></b-form-input>
                        <small
                          v-if="
                            $v.form.full_name.$dirty &&
                              !$v.form.full_name.required
                          "
                          class="text-danger"
                          >{{ $t("enterName") }}</small
                        >
                      </div>
                      <div class="col-lg-12">
                        <label for="region">{{ $t("FormRegion") }}</label>
                        <b-form-select
                          v-model="form.region"
                          :options="allRegions"
                          id="region"
                          :class="{
                            invalid:
                              $v.form.region.$dirty && !$v.form.region.required
                          }"
                        >
                          <template #first>
                            <b-form-select-option :value="null" disabled>{{
                              $t("FormRegionPlaceholder")
                            }}</b-form-select-option>
                          </template></b-form-select
                        >
                        <small
                          v-if="
                            $v.form.region.$dirty && !$v.form.region.required
                          "
                          class="text-danger"
                          >{{ $t("selectRegion") }}</small
                        >
                      </div>
                      <div class="col-lg-12">
                        <label for="district">{{ $t("FormDistrict") }}</label>
                        <b-form-select
                          v-model="form.district"
                          :options="allDistricts"
                          id="district"
                          :class="{
                            invalid:
                              $v.form.district.$dirty &&
                              !$v.form.district.required
                          }"
                        >
                          <template #first>
                            <b-form-select-option :value="null" disabled>{{
                              $t("FormDistrictPlaceholder")
                            }}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <small
                          v-if="
                            $v.form.district.$dirty &&
                              !$v.form.district.required
                          "
                          class="text-danger"
                          >{{ $t("selectArea") }}</small
                        >
                      </div>
                      <!-- <div class="col-lg-6">
                        <label for="passport">{{ $t("FormPassport") }}</label>
                        <b-form-input
                          v-model="form.passport"
                          placeholder="AA XXXXXXXX"
                          id="passport"
                          :class="{
                            invalid:
                              $v.form.passport.$dirty &&
                              !$v.form.passport.required,
                          }"
                        ></b-form-input>
                        <small
                          v-if="
                            $v.form.passport.$dirty &&
                            !$v.form.passport.required
                          "
                          class="text-danger"
                          >{{ $t("enterPasport") }}</small
                        >
                      </div> -->
                      <div class="col-lg-6">
                        <label for="address">{{ $t("FormAddress") }}</label>
                        <b-form-input
                          v-model="form.address"
                          :placeholder="$t('FormAddressPlaceholder')"
                          id="address"
                        ></b-form-input>
                        <small
                          v-if="
                            $v.form.address.$dirty && !$v.form.address.required
                          "
                          class="text-danger"
                          >{{ $t("enterAddress") }}</small
                        >
                      </div>
                      <div class="col-xl-6 col-lg-12">
                        <label for="telephone">{{ $t("FormPhone") }}</label>
                        <b-form-input
                          v-model="form.phone_number"
                          placeholder="+998"
                          v-mask="'+998#########'"
                          id="telephone"
                          :class="{
                            invalid:
                              ($v.form.phone_number.$dirty &&
                                !$v.form.phone_number.required) ||
                              ($v.form.phone_number.$dirty &&
                                !$v.form.phone_number.minLength)
                          }"
                        ></b-form-input>
                        <small
                          v-if="
                            $v.form.phone_number.$dirty &&
                              !$v.form.phone_number.required
                          "
                          class="text-danger"
                          >{{ $t("enterPhone") }}</small
                        >
                        <small
                          v-if="
                            $v.form.phone_number.$dirty &&
                              !$v.form.phone_number.minLength
                          "
                          class="text-danger"
                          >{{ $t("enterPhone") }}</small
                        >
                      </div>
                      <div class="col-xl-6 col-lg-12">
                        <label for="email">{{ $t("FormEmail") }}</label>
                        <b-form-input
                          v-model="form.email"
                          :placeholder="$t('FormEmailPlaceholder')"
                          id="email"
                          :class="{
                            invalid:
                              $v.form.email.$dirty && !$v.form.email.email
                          }"
                        ></b-form-input>
                        <!-- <small
                          v-if="$v.form.email.$dirty && !$v.form.email.required"
                          class="text-danger"
                          >Пожалуйста введите ваш email</small
                        > -->
                        <small
                          class="text-danger"
                          v-if="$v.form.email.$dirty && !$v.form.email.email"
                        >
                          {{ $t("validEmail") }}
                        </small>
                      </div>

                      <!-- <div class="col-lg-6">
                        <label for="birthday">{{ $t("FormBirthday") }}</label>
                        <b-form-input
                          v-model="form.birth_date"
                          placeholder="ДД/ММ/ГГ"
                          id="birthday"
                          :class="{
                            invalid:
                              $v.form.birth_date.$dirty &&
                              !$v.form.birth_date.required,
                          }"
                        ></b-form-input>
                        <small
                          v-if="
                            $v.form.birth_date.$dirty &&
                            !$v.form.birth_date.required
                          "
                          class="text-danger"
                          >Пожалуйста выберите вашу дату рождения</small
                        >
                      </div> -->
                      <!-- <div class="col-lg-6">
                        <label for="status">{{ $t("FormStatus") }}</label>
                        <b-form-select
                          v-model="form.applicant_status"
                          :options="allStatus"
                          id="status"
                          :class="{
                            invalid:
                              $v.form.applicant_status.$dirty &&
                              !$v.form.applicant_status.required,
                          }"
                        >
                          <template #first>
                            <b-form-select-option :value="null" disabled>{{
                              $t("FormStatusPlaceholder")
                            }}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <small
                          v-if="
                            $v.form.applicant_status.$dirty &&
                            !$v.form.applicant_status.required
                          "
                          class="text-danger"
                          >Пожалуйста выберите вашу статус</small
                        >
                      </div> -->

                      <!-- <div class="col-lg-12">
                        <button class="add"><i class="icon-plus"></i></button>
                      </div> -->
                      <div class="col-lg-12">
                        <label for="to">{{ $t("FormTo") }}</label>
                        <b-form-select
                          v-model="form.appeal_type"
                          :placeholder="$t('FormToPlaceholder')"
                          :options="persons"
                          id="to"
                          :class="{
                            invalid:
                              $v.form.appeal_type.$dirty &&
                              !$v.form.appeal_type.required
                          }"
                        >
                          <template #first>
                            <b-form-select-option :value="null" disabled>{{
                              $t("FormTo")
                            }}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <small
                          v-if="
                            $v.form.appeal_type.$dirty &&
                              !$v.form.appeal_type.required
                          "
                          class="text-danger"
                          >{{ $t("requiredField") }}</small
                        >
                      </div>
                      <!-- assistans  -->
                      <div class="col-lg-12" v-if="getWhom == 3">
                        <label for="to">{{ $t("assistantSpeaker") }}</label>
                        <b-form-select
                          v-model="form.whom"
                          :placeholder="$t('FormToPlaceholder')"
                          :options="assistans"
                          id="to"
                        >
                          <template #first>
                            <b-form-select-option :value="null" disabled>{{
                              $t("chooseAssistantSpeaker")
                            }}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <!-- <small
                          v-if="$v.form.whom.$dirty && !$v.form.whom.required"
                          class="text-danger"
                          >{{ $t("requiredField") }}</small
                        > -->
                      </div>
                      <!-- fractions  -->
                      <div class="col-lg-12" v-if="getWhom == 4">
                        <label for="to">{{ $t("fraction") }}</label>
                        <b-form-select
                          v-model="form.whom"
                          :placeholder="$t('FormToPlaceholder')"
                          :options="fractions"
                          id="to"
                        >
                          <template #first>
                            <b-form-select-option :value="null" disabled>{{
                              $t("chooseFraction")
                            }}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <!-- <small
                          v-if="$v.form.whom.$dirty && !$v.form.whom.required"
                          class="text-danger"
                          >{{ $t("requiredField") }}</small
                        > -->
                      </div>
                      <!-- commission  -->
                      <div class="col-lg-12" v-if="getWhom == 5">
                        <label for="to">{{ $t("Commission") }}</label>
                        <b-form-select
                          v-model="form.whom"
                          :placeholder="$t('FormToPlaceholder')"
                          :options="commissions"
                          id="to"
                        >
                          <template #first>
                            <b-form-select-option :value="null" disabled>{{
                              $t("selectCommission")
                            }}</b-form-select-option>
                          </template>
                        </b-form-select>

                        <!-- <small
                          v-if="$v.form.whom.$dirty && !$v.form.whom.required"
                          class="text-danger"
                          >{{ $t("requiredField") }}</small
                        > -->
                      </div>
                      <!-- committee  -->
                      <div class="col-lg-12" v-if="getWhom == 6">
                        <label for="to">{{ $t("committee") }}</label>
                        <b-form-select
                          v-model="form.whom"
                          :placeholder="$t('FormToPlaceholder')"
                          :options="committees"
                          id="to"
                        >
                          <template #first>
                            <b-form-select-option :value="null" disabled>{{
                              $t("selectCommittee")
                            }}</b-form-select-option>
                          </template>
                        </b-form-select>

                        <!-- <small
                          v-if="$v.form.whom.$dirty && !$v.form.whom.required"
                          class="text-danger"
                          >{{ $t("requiredField") }}</small
                        > -->
                      </div>
                      <!-- deputies  -->
                      <div class="col-lg-12" v-if="getWhom == 7">
                        <label for="to">{{ $t("deputy") }}</label>
                        <b-form-select
                          v-model="form.whom"
                          :placeholder="$t('FormToPlaceholder')"
                          :options="deputies"
                          id="to"
                        >
                          <template #first>
                            <b-form-select-option :value="null" disabled>{{
                              $t("chooseDeputy")
                            }}</b-form-select-option>
                          </template>
                        </b-form-select>
                        <!-- <small
                          v-if="$v.form.whom.$dirty && !$v.form.whom.required"
                          class="text-danger"
                          >{{ $t("requiredField") }}</small
                        > -->
                      </div>

                      <div class="col-lg-12">
                        <label for="text">{{ $t("FormText") }}</label>
                        <b-form-textarea
                          v-model="form.content"
                          :placeholder="$t('FormText')"
                          rows="8"
                          :class="{
                            invalid:
                              $v.form.content.$dirty &&
                              !$v.form.content.required
                          }"
                        ></b-form-textarea>
                        <small
                          v-if="
                            $v.form.content.$dirty && !$v.form.content.required
                          "
                          class="text-danger"
                          >{{ $t("requiredField") }}</small
                        >
                      </div>
                      <div class="col-lg-12 form_file">
                        <label for="file">{{ $t("FormFile") }}</label>
                        <b-form-file
                          id="file"
                          v-model="form.attachments"
                          placeholder="Файл не выбран"
                          :browse-text="$t('open')"
                        >
                          <template slot="file-name" slot-scope="{ names }">
                            <b-badge variant="dark">{{ names[0] }}</b-badge>
                            <b-badge
                              v-if="names.length > 1"
                              variant="dark"
                              class="ml-1"
                            >
                              + {{ names.length - 1 }} More files
                            </b-badge>
                          </template>
                        </b-form-file>
                      </div>
                      <div class="col-lg-12">
                        <button class="submit" :disabled="!isAuth">
                          {{ $t("Send") }}
                        </button>
                      </div>
                    </div>
                  </b-form-group>
                </b-form>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 order-lg-3 order-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import { required, email, minLength } from "vuelidate/lib/validators";
import VueHighcharts from "vue2-highcharts";
export default {
  components: {
    VueHighcharts
  },
  data() {
    return {
      options: {
        chart: {
          type: "pie",
          options3d: {
            enabled: true,
            alpha: 45
          },
          backgroundColor: "#fff"
        },
        label: {
          connectorAllowed: false
        },
        credits: {
          enabled: false
        },
        title: {
          text: this.$t("appealsStatistics")
        },

        colors: ["#3469B8", "#43B581", "#F9D500"],

        plotOptions: {
          pie: {
            innerSize: 220,
            depth: 45,
            size: "300"
          }
        },

        series: [
          {
            name: this.$t("TotalNumber"),

            data: [
              [this.$t("accepted"), 8],
              [this.$t("closed"), 3],
              [this.$t("pending"), 1]
            ],
            dataLabels: false
          }
        ]
      },
      form: {
        full_name: "",
        region: null,
        district: null,
        // passport: null,
        address: null,
        email: null,
        // birth_date: null,
        // applicant_status: 1,
        appeal_type: null,
        content: null,
        attachments: null,
        phone_number: "998",
        whom: ""
      },
      allRegions: [],
      allDistricts: [],
      persons: [
        { value: 1, text: this.$t("toOLiyMajlis") },
        { value: 2, text: this.$t("toSpiker") },
        {
          value: 3,
          text: this.$t("toAssistantSpeaker")
        },
        { value: 4, text: this.$t("toFraction") },
        { value: 6, text: this.$t("toCommittee") },
        { value: 7, text: this.$t("toDeputy") },
        { value: 5, text: this.$t("toCommission") }
      ],
      // allStatus: [
      //   { text: "Занят-Работает", value: 1 },
      //   { text: "Безработный", value: 2 },
      //   { text: "Пенсионер", value: 3 },
      //   { text: "Студент", value: 4 },
      // ],
      sideMenu: {},
      chartOptions: {
        series: [
          {
            data: [1, 2, 3] // sample data
          }
        ]
      },
      statistics: null,
      loading: false,
      key: "",
      responce: null,
      assistans: null,
      commissions: null,
      fractions: null,
      committees: null,
      deputies: null
    };
  },
  validations: {
    form: {
      full_name: { required },
      region: { required },
      district: { required },
      email: { email },
      phone_number: { required, minLength: minLength(12) },
      content: { required },
      appeal_type: { required },
      address: { required }
    }
  },
  async created() {
    this.loading = true;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "requests"
    );
    this.statistics = await this.$store.dispatch("requests/fetchStatistics");
    this.options.series[0].data[0] = [
      this.$t("accepted"),
      this.statistics && this.statistics.accepted_count
    ];
    this.options.series[0].data[1] = [
      this.$t("closed"),
      this.statistics && this.statistics.closed_count
    ];
    this.options.series[0].data[2] = [
      this.$t("pending"),
      this.statistics && this.statistics.considering_count
    ];
    const data = await this.$store.dispatch("profile/fetchInformation");
    if (data) {
      this.form.full_name = `${data.last_name} ${data.first_name} ${data.middle_name}`;
      this.form.email = data.email;
      this.form.address = data.address;
      this.form.phone_number = data.phone_number;
    } else {
      this.$toast.error(this.$t("pleaseAuth"));
    }
    console.log(data);
    this.loading = false;
  },
  async mounted() {
    const regions = await this.$store.dispatch("requests/fetchAllRegions");
    regions.forEach(i => {
      this.allRegions.push({ ...i, text: i.title, value: i.id });
    });
    if (this.$route.query.deputy) {
      this.form.appeal_type = 7;
      this.form.whom = this.$route.query.deputy;
    }
  },
  methods: {
    async submit(val) {
      try {
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
        } else {
          if (!this.form.attachments) {
            delete this.form.attachments;
          }
          if (this.form.appeal_type == 4) {
            this.form.fraction = this.form.whom;
            delete this.form.whom;
          } else if (this.form.appeal_type == 5) {
            this.form.commission = this.form.whom;
            delete this.form.whom;
          } else if (this.form.appeal_type == 6) {
            this.form.committee = this.form.whom;
            delete this.form.whom;
          }
          let form = this.form;
          if (this.form.phone) {
            form.phone = this.form.phone.replace("+", "");
          }
          let f = new FormData();
          Object.keys(form).forEach(k => {
            k != "attachments" && f.append(k, form[k]);
            k == "attachments" && f.append(k, form[k], form[k].name);
          });
          const res = await this.$axios.post("/appeals/create/", f);

          if (res.status == 200 || res.status == 201) {
            this.$toast.success(this.$t("successText"));
            this.$v.$reset();
            this.form = {
              full_name: "",
              region: null,
              district: null,
              email: null,
              appeal_type: null,
              content: null,
              attachments: null,
              phone_number: null,
              whom: ""
            };
            this.$router.push("/profile");
          } else {
            const data = res.response.data;
            Object.keys(data).forEach(i => {
              throw new Error(data[i][0]);
            });
          }
          // this.$router.go();
        }
      } catch (error) {
        this.$toast.error(this.$t(error.message));

        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
          return;
        }
      }
    },
    async getAllDistricts(id) {
      const districts = await this.$store.dispatch(
        "requests/fetchRegionDetail",
        id
      );
      this.allDistricts = [];
      districts.districts.forEach(i => {
        this.allDistricts.push({ ...i, text: i.title, value: i.id });
      });
    },
    formClick() {
      if (!this.$store.getters["auth/getAccessToken"]) {
        this.$store.commit("auth/setLoginPopup", {
          value: true,
          isProfile: false
        });
      }
    },
    async SubmitCode() {
      try {
        this.responce = await this.$store.dispatch(
          "requests/fetchResponceCode",
          this.key
        );
        if (this.responce) {
          this.$store.commit("requests/setRequestsPopup", true);
          this.key = null;
        } else {
          this.$toast.error(this.$t("NoDataFound"));
        }
      } catch (e) {
        console.log(e);
      }
    }
  },
  computed: {
    regionId() {
      return this.form.region;
    },
    isAuth() {
      return this.$store.getters["auth/getAccessToken"];
    },
    getRequestsPopup() {
      return this.$store.getters["requests/getRequestsPopup"];
    },
    getWhom() {
      return this.form.appeal_type;
    }
  },

  watch: {
    regionId(val) {
      if (val) {
        this.getAllDistricts(val);
      }
    },
    async getWhom(val) {
      if (val == 3) {
        let assistans = await this.$store.dispatch(
          "requests/fetchSpeakerAssistant"
        );
        // assistans.shift();
        this.assistans = assistans.sub_speakers.map(i => ({
          ...i,
          text: i.first_name + " " + i.last_name + " " + i.middle_name,
          value: i.id
        }));
      } else if (val == 4) {
        const fractions = await this.$store.dispatch(
          "requests/fetchFractionsList"
        );
        this.fractions = fractions.map(i => ({
          ...fractions,
          text: i.title,
          value: i.id
        }));
      } else if (val == 5) {
        const commissions = await this.$store.dispatch(
          "requests/fetchCommissionsList"
        );
        this.commissions = commissions.map(i => ({
          ...i,
          text: i.title,
          value: i.id
        }));
      } else if (val == 6) {
        const committe = await this.$store.dispatch(
          "requests/fetchCommitteList"
        );
        this.committees = committe.map(i => ({
          ...i,
          text: i.title,
          value: i.id
        }));
      } else if (val == 7) {
        const deputies = await this.$store.dispatch("requests/fetchDeputies");
        this.deputies = deputies.map(i => ({
          ...i,
          text: `${i.last_name} ${i.first_name} ${i.middle_name}`,
          value: i.id
        }));
      }
    }
  }
};
</script>

<style scoped>
.request-form > div > .row {
  margin: -16px -20px;
}
.request-form > div > .row > div {
  padding: 16px 20px;
}
.request-form input {
  height: 48px;
  border: 1px solid #dbdde9;
  border-radius: 4px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
}
.request-form select {
  height: 48px;
  border: 1px solid #dbdde9;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background-color: white;
}

.request-form textarea {
  border: 1px solid #dbdde9;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding: 14px 16px;
  font-size: 22px;
  font-weight: 500;
  background-color: white;
}
.request-form textarea::placeholder,
.request-form input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #2c2d32;
}
.request-form label {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #2c2d32;
}
.request-form .custom-file-label {
  background-color: transparent !important;
  border: 1px solid #dbdde9;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  height: calc(1.5em + 0.75rem + 15px);
  cursor: pointer;
}
.request-form .custom-file-label span {
  display: block;
  line-height: 48px;
  padding-left: 56px;
  font-weight: 600;
  font-size: 14px;
  color: #080b22;
}
.custom-file-input:lang(en) ~ .custom-file-label::before {
  content: "\e912";
  font-family: "icomoon";
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #cacbcf;
  width: 40px;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  background: #ffffff;
  border-radius: 4px;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Выбрать файл";
}
.request-form .custom-file-label::after {
  height: calc(1.5em + 0.75rem + 3px);
  padding: 0;
  top: 4px;
  right: 4px;
  bottom: 4px;
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  padding: 0px 32px;
  background: #3469b8;
  border-radius: 4px;
}
.request-form .custom-file {
  height: calc(1.5em + 0.75rem + 12px);
  cursor: pointer;
}
.request-form button.add {
  display: block;
  width: auto;
  background-color: transparent;
  background: #3469b8;
  border-radius: 4px;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.request-form button.add i {
  font-size: 18px;
  color: white;
}
.request-form button.submit {
  background: #3469b8;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 12px 40px;
}

.sidebar {
  width: 100%;
  height: 100%;
}
.is_not_auth textarea,
.is_not_auth select,
.is_not_auth input {
  pointer-events: none;
}
.is_not_auth .form_file {
  display: none;
}

.statistics .sidebar {
  background: #ffffff;
  border-radius: 2px;
  padding: 32px 24px;
}

.statistics__chart__text {
  padding-bottom: 32px;
  border-bottom: 1px solid #dbdde9;
  margin-bottom: 32px;
}
.statistics__chart__text p {
  position: relative;
  padding-left: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2c2d32;
}
.vue-highcharts {
  padding-bottom: 10px;
}
.accepted::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #3469b8;
}
.pending::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #f9d500;
}
.closed::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #43b581;
}
.statistics__response h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #2c2d32;
  margin-bottom: 8px;
}
.statistics__response__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__item {
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
}
.form__item input {
  width: 100%;
  height: 100%;
  background: #f8fbff;
  border: none;
  border: 1px solid #dbdde9;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding-left: 12px;
}
.form__item button {
  background: #3469b8;
  border-radius: 4px;
  color: #fff;
  width: 100%;
}
.form__item button:focus {
  box-shadow: none !important;
}
.form__item:last-child {
  margin-bottom: 0;
}
.statistics__response {
  padding-bottom: 32px;
  border-bottom: 1px solid #dbdde9;
  margin-bottom: 32px;
}
.statistics__info-item:first-child {
  margin-bottom: 40px;
}
.statistics__info-item h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #2c2d32;
  padding-bottom: 12px;
}
.statistics__info-item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2c2d32;
}

textarea {
  resize: none;
}

@media (max-width: 1650px) {
  .request-form > div > .row {
    margin: -10px -15px;
  }
  .request-form > div > .row > div {
    padding: 10px 15px;
  }
}
@media (max-width: 1480px) {
  .statistics__chart__text p {
    font-size: 16px;
  }
  .statistics__chart__text p:last-child {
    margin-bottom: 0;
  }
  .statistics__info-item h5 {
    font-size: 16px;
    line-height: 20px;
  }
  .statistics__info-item p {
    font-size: 14px;
    line-height: 18px;
  }

  .statistics .sidebar {
    padding: 20px;
  }
}
@media (max-width: 575px) {
  .statistics__chart__text {
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  .statistics__chart__text p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
@media (max-width: 450px) {
  .form__item button {
    font-size: 14px;
  }
}
</style>
