<template>
  <section class="pages" v-if="loader">
    <div class="container">
      <div class="pages-wrapper news-view">
        <div class="row">
          <div class="col-lg-9">
            <div class="pages-content news-view-main">
              <h2>{{ post.title || "" }}</h2>
              <div class="news-view-header">
                <ul>
                  <li>
                    <span>{{ (post && post.pub_date) || "" | dateTime }}</span>
                    <span>{{ (post && post.pub_date) || "" | dateDay }}</span>
                  </li>
                  <li>
                    <span
                      ><i class="icon-eye"></i>
                      {{ (post && post.views) || "" }}</span
                    >
                  </li>
                </ul>
                <nuxt-link
                  :to="
                    localePath({
                      path: `/news/category/${
                        post && post.menu && post.menu.slug
                      }`,
                    })
                  "
                  >{{ post && post.menu && post.menu.title }}</nuxt-link
                >
              </div>
              <!-- <div class="news-view-image"> -->
              <client-only>
                <swiper :options="swiperOptions" :loadtheme="false">
                  <swiper-slide
                    class="swiper-slide"
                    v-for="item in post.images"
                    :key="item.id"
                  >
                    <div class="news-view-image-content">
                      <img
                        :src="
                          item.file || '~/assets/images/default/article_uz.jpg'
                        "
                        alt="not found"
                      />
                    </div>
                  </swiper-slide>
                </swiper>
              </client-only>

              <div class="news-view-content">
                <div v-html="post.content || ''"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="sidebar">
              <div class="sidebar-news">
                <h2>{{ $t("similarNews") }}</h2>
                <div class="row">
                  <div
                    class="col-lg-12"
                    v-for="item in post.similar_posts"
                    :key="item.id"
                  >
                    <CardsNews
                      line="vertical2"
                      :slug="item.slug"
                      :image="
                        (item.image && item.image[0] && item.image[0].file) ||
                        require('~/assets/images/default/article_ru.jpg')
                      "
                      :title="item.title"
                      :views="item.views"
                      :date="item.pub_date"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { directive } from "vue-awesome-swiper";
export default {
  directives: {
    swiper: directive,
  },
  data() {
    return {
      loader: true,
      swiperOptions: {
        slidesPerView: 1,
        spaceBetween: 10,
        speed: 1500,
        autoplay: { delay: 5000 },
      },
      post: {},
    };
  },
  async mounted() {
    this.loader = false
    // this.news = this.$store.getters["news/GetHomeNews"];
    this.post = await this.$store.dispatch(
      "posts/getPostDetail",
      this.$route.params.slug
    );
    this.loader = true
  },
  filters: {
    dateDay(value) {
      let day = (value += "").split("T");
      return value ? (day[0] += "").split("-").reverse().join(".") : "";
    },
    dateTime(value) {
      let time = (value += "").split("T");
      return value ? (time[1] += "").split("+")[0] : "";
    },
  },
};
</script>

<style>
.pages-wrapper.news-view {
  padding-top: 60px;
}
.news-view-main h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #2c2d32;
  margin-bottom: 24px;
}
.news-view-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.news-view-header a {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #0b4aa8;
}
.news-view-header ul {
  display: flex;
}
.news-view-header ul li span {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #959ab2;
}
.news-view-header ul li {
  margin-right: 24px;
  display: flex;
  align-items: center;
}
.news-view-header ul li::after {
  content: "";
  display: inline-block;
  height: calc(100% - 7px);
  width: 1px;
  background: #959ab2;
  margin-left: 24px;
}
.news-view-header ul li:last-child::after {
  display: none;
}
.news-view-header ul li:first-child span:first-child {
  margin-right: 5px;
}
.news-view-image-content {
  height: 600px;
  margin-bottom: 24px;
  border-radius: 4px;
  overflow: hidden;
}
.news-view-image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.news-view-image {
  margin-bottom: 24px;
}
.news-view-image-title {
  display: flex;
  margin-top: 8px;
  justify-content: center;
}
.news-view-image-title span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #878b90;
  font-style: italic;
}
.news-view-content p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2c2d32;
  margin-bottom: 24px;
}
.sidebar-news h2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #212121;
  margin-bottom: 24px;
}

/* right */

.news-similar-image {
  height: 194px;
  margin-bottom: 8px;
  border-radius: 8px;
  overflow: hidden;
}
.news-similar-image img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.news-similar-item {
  display: flex;
  flex-direction: column;
}

.sidebar-news .row {
  margin: -12px 0;
}
.sidebar-news .row > div {
  padding: 12px 0;
}
.news-similar-item ul {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.news-similar-item ul li:first-child {
  border-right: 1px solid #959ab2;
  padding-right: 24px;
  margin-right: 24px;
  line-height: 16px;
}
.news-similar-item ul li {
  display: flex;
  align-items: center;
}
.news-similar-item ul li:first-child span:first-child {
  margin-right: 5px;
}
.news-similar-item ul li span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #959ab2;
  display: flex;
  align-items: center;
}
.news-similar-item ul li span i {
  font-size: 16px;
  display: flex;
  margin-right: 6px;
}
.news-similar-item p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #2c2d32;
  margin-bottom: 0;
}
</style>