<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="row">
            <div class="col-lg-9">
              <div class="pages-content news-wrapper">
                <div class="news-main">
                  <CardsNews
                    line="horizontal"
                    v-for="item in news"
                    :key="item.id"
                    :image="
                      (item.image && item.image[0] && item.image[0].file) ||
                      require(`~/assets/images/default/article_${$i18n.locale}.jpg`)
                    "
                    :title="item.title"
                    :content="item.content"
                    :date="item.pub_date"
                    :slug="item.slug"
                  />
                </div>
                <button
                  class="load-more"
                  v-if="count > (news && news.length)"
                  @click="fetchData"
                >
                  {{ $t("LoadMore") }}
                </button>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      news: [],
      limit: 12,
      offset: 0,
      sideMenu: {},
      count: 0,
    };
  },
  async mounted() {
    this.loader = false;
    this.fetchData();
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "normative_concepts"
    );
    this.loader = true;
  },
  methods: {
    async fetchData() {
      let res = await this.$store.dispatch("posts/getPostsListInGroup", {
        params: {
          limit: this.limit,
          offset: this.offset,
        },
        group: "normative_concepts",
      });
      this.news = [...this.news, ...res.results];
      this.offset += this.limit;
      this.count = res.count;
    },
  },
};
</script>

<style scoped>
.news-image {
  margin-right: 50px;
}

.news-info span:first-child {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #2c2d32;
}

.news-info p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #2c2d32;
}

.news-info span:last-child {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #959ab2;
  margin-top: 28px;
  display: block;
}

.news-button {
  width: 100%;
  height: 60px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #2c2d32;
  margin-top: 60px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #dbdde9;
  outline: none;
}
</style>