<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span> {{ $t("SocialSurvey") }} </span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="row">
            <div class="col-lg-9">
              <div class="pages-content survey-page">
                <div class="row">
                  <div
                    class="col-xl-12"
                    v-for="(survey, index) in surveys"
                    :key="survey.id"
                  >
                    <div class="survey-item">
                      <div class="survey-item-header">
                        <h3>{{ $t("Survey") }} {{ index + 1 }}</h3>
                      </div>
                      <div class="survey-item-body" v-if="!survey.voted">
                        <h4>{{ survey.question }}</h4>
                        <ul>
                          <li
                            v-for="variant in survey.variants"
                            :key="variant.id"
                            @click="getId(variant, index)"
                          >
                            <input
                              type="radio"
                              :name="'survey' + survey.id"
                              :id="'variant' + variant.id"
                            />
                            <label :for="'variant' + variant.id">
                              <i></i>
                              {{ variant.text }}
                            </label>
                          </li>
                        </ul>
                        <div class="survey-footer">
                          <button
                            @click="toVote(index)"
                            :class="{ disabled: !survey.selected }"
                          >
                            {{ $t("Vote") }}
                          </button>
                          <button @click="getResult(index)">
                            {{ $t("Results") }}
                          </button>
                        </div>
                      </div>
                      <div class="survey-item-result" v-else>
                        <button
                          @click="survey.voted = false"
                          v-if="
                            survey && survey.results && !survey.voted2
                          "
                        >
                          <i class="icon-arrow-left"></i> {{ $t("Back") }}
                        </button>
                        <ul
                          v-if="
                            survey.results.variants &&
                            survey.results.variants.length
                          "
                        >
                          <li
                            v-for="result in survey.results.variants"
                            :key="result.id"
                          >
                            <span
                              >{{ result.text }} -
                              {{
                              (
                                  (result.voices * 100) /
                                  survey.results.total_voices
                                ).toFixed(3) + '%',
                              }}</span
                            >
                            <div class="survey-item-result-bottom">
                              <i
                                class="icon-done"
                                v-if="
                                  survey.results.selected == result.id &&
                                  survey.voted2 &&
                                  survey.voted
                                "
                              ></i>
                              <div class="degree">
                                <div
                                  class="loading"
                                  :style="{
                                    width:
                                      (
                                        (result.voices * 100) /
                                        survey.results.total_voices
                                      ).toFixed(3) + '%',
                                  }"
                                ></div>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <h5>
                          {{ $t("AllVotes") }}
                          {{
                            (survey.results && survey.results.total_voices) || 0
                          }}
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      surveys: [],
      currentSurvey: null,
      currentVariant: null,
    };
  },
  async created() {},
  computed: {},
  async mounted() {
    this.loader = false;
    let data = await this.$store.dispatch("survey/fetchSurveyList");
    data = data.map((el) => {
      return {
        ...el,
        voted: false,
        selected: false,
        voted2: false,
        choosedVariant: null,
        results: {},
      };
    });
    this.surveys = data;
    this.loader = true;
  },
  methods: {
    async toVote(index) {
      const data = {
        survey: this.surveys[index].id,
        survey_variant: this.surveys[index].choosedVariant,
      };
      this.$store.dispatch("survey/voteSurvey", data);
      const results = await this.$store.dispatch(
        "survey/fetchResults",
        this.surveys[index].id
      );
      results.selected = this.surveys[index].choosedVariant;
      this.surveys[index].results = results;
      this.surveys[index].voted = true;
      this.surveys[index].voted2 = true;
    },
    getId(variant, index) {
      this.surveys[index].choosedVariant = variant.id;
      this.surveys[index].selected = true;
    },
    async getResult(index) {
      let results = await this.$store.dispatch(
        "survey/fetchResults",
        this.surveys[index].id
      );
      results.selected = this.surveys[index].choosedVariant;
      this.surveys[index].results = results;
      this.surveys[index].voted = true;
    },
  },
};
</script>

<style scoped>
</style>