<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-main-wrapper">
          <div class="row">
            <div class="col-lg-9">
              <div class="pages-content">
                <div class="content-dynamic okrugs">
                  <div class="title">
                    <h2>
                      {{
                        (sideMenu &&
                          sideMenu.active_child &&
                          sideMenu.active_child.title) ||
                        ""
                      }}
                    </h2>
                    <div class="okrugs-clear">
                      <button @click="clear()">
                        {{ $t("Clear") }}
                      </button>
                    </div>
                    <div class="okrugs-select">
                      <b-form-select
                        v-model="regionSelected"
                        :options="regionList"
                        ><template #first>
                          <b-form-select-option :value="null" disabled>
                            {{ $t("SelectRegion") }}</b-form-select-option
                          >
                        </template>
                      </b-form-select>
                    </div>

                    <div
                      class="okrugs-select"
                      v-if="districtList && districtList.length"
                    >
                      <b-form-select
                        v-model="districtSelected"
                        :options="districtList"
                        ><template #first>
                          <b-form-select-option :value="null" disabled>
                            {{ $t("SelectDistrict") }}
                          </b-form-select-option>
                        </template>
                      </b-form-select>
                    </div>
                  </div>
                  <div class="okrugs-wrapper">
                    <div class="okrugs-header">
                      <div class="okrugs-item-row">
                        <div class="okrugs-item-col">
                          <span>
                            {{ $t("Okrug") }}
                          </span>
                        </div>
                        <div class="okrugs-item-col">
                          <span>
                            {{ $t("Region") }}
                          </span>
                        </div>
                        <div class="okrugs-item-col">
                          <span>
                            {{ $t("Districts") }}
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="okrugs-main">
                      <b-button
                        v-b-modal.modal-1
                        v-for="item in okrugs"
                        :key="item.id"
                        @click="fetchOkrugDetail(item.id)"
                      >
                        <div class="okrugs-item-row">
                          <div class="okrugs-item-col">
                            <span>
                              {{ item.okrug_number }}-
                              {{ item.title }}
                            </span>
                          </div>
                          <div class="okrugs-item-col">
                            <span>
                              {{ item.region && item.region.title }}
                            </span>
                          </div>
                          <div class="okrugs-item-col">
                            <span
                              v-for="district of item.districts"
                              :key="district.id"
                            >
                              {{ district.title }}
                            </span>
                          </div>
                        </div>
                      </b-button>
                    </div>
                  </div>
                  <br />
                  <button
                    class="load-more"
                    v-if="loadingList && count > (okrugs && okrugs.length)"
                    @click="fetchOkrugList('pagination')"
                  >
                    {{ $t("LoadMore") }}
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
    <b-modal id="modal-1">
      <div class="okrugs-modal" v-if="visible">
        <div v-if="!loadModal">
          <h2 class="modal-title">
            {{ (okrugsDetail && okrugsDetail.okrug_number) || "" }} -
            {{ (okrugsDetail && okrugsDetail.title) || "" }}
          </h2>
          <div class="okrugs-modal-content">
            <div class="okrugs-modal-deputy">
              <nuxt-link
                :to="
                  localePath({
                    path: `/deputies/${
                      (okrugsDetail.deputies &&
                        okrugsDetail.deputies[0] &&
                        okrugsDetail.deputies[0].slug) ||
                      ''
                    }`,
                  })
                "
              >
                <div class="okrugs-deputy-image">
                  <img
                    :src="
                      (okrugsDetail.deputies &&
                        okrugsDetail.deputies[0] &&
                        okrugsDetail.deputies[0].image) ||
                      require('~/assets/images/avatar.png')
                    "
                    alt="not found"
                  />
                </div>
                <div class="okrugs-deputy-info">
                  <h3>
                    {{
                      (okrugsDetail.deputies &&
                        okrugsDetail.deputies[0] &&
                        okrugsDetail.deputies[0].last_name +
                          " " +
                          okrugsDetail.deputies[0].first_name +
                          " " +
                          okrugsDetail.deputies[0].middle_name) ||
                      ""
                    }}
                  </h3>
                  <p>
                    {{
                      (okrugsDetail.deputies &&
                        okrugsDetail.deputies[0] &&
                        okrugsDetail.deputies[0].work_place) ||
                      ""
                    }}
                  </p>
                  <h4>
                    {{ $t("fraction") }}
                  </h4>
                  <p>
                    {{
                      okrugsDetail.deputies &&
                      okrugsDetail.deputies[0] &&
                      okrugsDetail.deputies[0].fraction &&
                      okrugsDetail.deputies[0].fraction.title
                    }}
                  </p>
                  <h4>
                    {{ $t("committee") }}
                  </h4>
                  <p>
                    {{
                      okrugsDetail.deputies &&
                      okrugsDetail.deputies[0] &&
                      okrugsDetail.deputies[0].committee &&
                      okrugsDetail.deputies[0].committee.title
                    }}
                  </p>
                </div>
              </nuxt-link>
            </div>
            <div class="okrug-modal-body">
              <div class="okrug-modal-item">
                <h4>{{ $t("Region") }}:</h4>
                <p>
                  <span>
                    {{
                      okrugsDetail &&
                      okrugsDetail.region &&
                      okrugsDetail.region.title
                    }}</span
                  >
                </p>
              </div>
              <div class="okrug-modal-item">
                <h4>{{ $t("Districts") }}:</h4>
                <p v-if="okrugsDetail.districts.length">
                  <span v-for="item in okrugsDetail.districts" :key="item.id">
                    {{ item.title }},
                  </span>
                </p>
              </div>
              <div class="okrug-modal-item">
                <h4>{{ $t("Streets") }}:</h4>
                <p v-if="okrugsDetail.sub_districts.length">
                  <span
                    v-for="item in okrugsDetail.sub_districts"
                    :key="item.id"
                  >
                    {{ item.title }},
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      sideMenu: {},
      okrugs: [],
      okrugsDetail: null,
      visible: false,
      loadModal: false,
      limit: 20,
      offset: 0,
      count: 0,
      regionSelected: null,
      regionList: null,
      districtSelected: null,
      districtList: null,
      loadingList: true,
    };
  },
  computed: {
    params() {
      let params = {};
      this.limit && (params.limit = this.limit);
      params.offset = this.offset;
      !this.districtSelected &&
        this.regionSelected &&
        (params.region = this.regionSelected);
      this.districtSelected && (params.district = this.districtSelected);
      return params;
    },
  },
  watch: {
    regionSelected(newVal) {
      this.offset = 0;
      this.districtSelected = null;
      this.okrugs = [];
      if (newVal) {
        this.getDistrictById(newVal);
        this.fetchOkrugList();
      }
    },
    districtSelected() {
      this.offset = 0;
      this.okrugs = [];
      if (this.districtSelected) {
        this.fetchOkrugList();
      }
    },
  },
  async mounted() {
    this.loader = false;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "okrug"
    );

    this.fetchOkrugList();
    this.regionList = await this.$store.dispatch("okrug/getRegionList");
    this.regionList.forEach((element) => {
      element.text = element.title;
      element.value = element.id;
      delete element.title;
    });
    this.loader = true;
  },

  methods: {
    async fetchOkrugDetail(id) {
      this.loadModal = true;
      this.okrugsDetail = await this.$store.dispatch(
        "okrug/fetchOkrugDetail",
        id
      );
      this.loadModal = false;
      this.visible = true;
    },
    async fetchOkrugList(type) {
      this.loadingList = false;
      let res = await this.$store.dispatch("okrug/fetchOkrugList", {
        params: this.params,
      });
      // this.okrugs && this.okrugs.length
      //   ? (this.okrugs = [...res.results])
      //   : (this.okrugs = [...this.okrugs, ...res.results])
      type == "pagination"
        ? (this.okrugs = [...this.okrugs, ...res.results])
        : (this.okrugs = [...res.results]);
      this.offset += this.limit;
      this.count = res.count;
      this.loadingList = true;
    },
    async getDistrictById(id) {
      let res = await this.$store.dispatch("okrug/getDistrictByRegion", id);
      if (res.districts && res.districts.length) {
        res.districts.forEach((element) => {
          element.text = element.title;
          element.value = element.id;
          delete element.title;
        });
      }
      this.districtList = res.districts;
    },
    clear() {
      this.regionSelected = null;
      this.districtSelected = null;
      this.offset = 0;
      this.fetchOkrugList();
    },
  },
};
</script>

<style>
.okrugs-item-row {
  display: flex;
  margin: 0 -20px;
}
.okrugs-item-col {
  width: calc(100% / 12 * 4);
  padding: 0 20px;
}
.okrugs .title {
  justify-content: unset;
  align-items: center;
}
.okrugs .title h2 {
  margin-right: auto;
}

.okrugs .title .okrugs-clear button {
  height: 48px;
  padding: 0 16px;
  border: none;
  outline: none;
  background: #0a4aa8;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
}
.okrugs .title .okrugs-select {
  width: calc(100% / 12 * 3);
  margin-left: 10px;
}
.content-dynamic.okrugs ul li a {
  display: block;
  padding: 16px 0;
  border-bottom: 1px solid #f8fbff;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #3469b8;
  margin-bottom: 0;
}
.content-dynamic.okrugs ul li a:hover {
  background-color: #f8fbff;
  padding-left: 16px;
}

.okrugs-main {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.okrugs-wrapper button {
  background-color: transparent;
  text-align: left;
  padding: 24px 0;
  transition: all 0.3s ease-in-out;
  border: none;
  border-bottom: 1px solid #edf1f6;
  border-radius: 0;
}
.okrugs-header {
  padding-bottom: 24px;
  border-bottom: 1px solid #dbdde9;
}
.okrugs-header .okrugs-item-row > div span {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #959ab2;
  display: block;
}
.okrugs-main .okrugs-item-row > div:first-child span {
  font-weight: 500;
  font-size: 18px;
  color: #3469b8;
  display: block;
}
.okrugs-main .okrugs-item-row > div:not(:first-child) span {
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: #6c757d;
  display: block;
}
.okrugs-wrapper button:focus-visible {
  outline: none !important;
}
.okrugs-wrapper button:focus,
.okrugs-wrapper button.focus {
  box-shadow: none;
}
.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: none !important;
  border-color: #edf1f6 !important;
  background-color: #f8fbff;
  color: #26559b;
}
.okrugs-wrapper button:not(:disabled):not(.disabled):active,
.okrugs-wrapper button:not(:disabled):not(.disabled).active,
.show > .okrugs-wrapper button {
  border-color: #edf1f6 !important;
  box-shadow: none !important;
}
.okrugs-wrapper button:hover {
  background-color: #f8fbff;
  padding-left: 16px;
  border-color: #edf1f6;
}
.okrugs-modal i {
  position: absolute;
  right: 32px;
  top: 32px;
  cursor: pointer;
}
.okrug-modal-item:not(:last-child) {
  margin-bottom: 24px;
}
.okrug-modal-item h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000821;
  margin-bottom: 4px;
}
.okrug-modal-item p {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #6c757d;
  margin-bottom: 0;
}
@media (max-width: 1480px) {
  .okrugs .title .okrugs-clear button {
    height: 40px;
  }
}
@media (max-width: 1330px) {
  .okrugs-wrapper button {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 1199px) {
  .okrugs-main .okrugs-item-row > div:first-child span,
  .okrugs-header .okrugs-item-row > div span,
  .okrugs-main .okrugs-item-row > div:not(:first-child) span {
    font-size: 14px;
    line-height: 20px;
  }
  .okrugs-header {
    padding-bottom: 12px;
  }
  .okrugs-wrapper button {
    padding: 12px 0;
  }
}
@media (max-width: 991px) {
  .okrugs .title {
    flex-wrap: wrap;
    margin: -7.5px -7.5px 15px -7.5px;
  }
  .okrugs .title h2 {
    padding: 7.5px;
    width: calc(100% - 100px);
  }
  .okrugs .title .okrugs-select {
    width: calc(100% / 12 * 6);
    margin: 0;
    padding: 7.5px;
  }
}
@media (max-width: 768px) {
  .okrugs-wrapper button {
    font-size: 16px;
  }
  .okrug-modal-item p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 575px) {
  .okrugs-wrapper button {
    font-size: 14px;
    padding: 10px 0;
  }
  .okrugs-item-col {
    width: 100%;
  }
  .okrugs-item-row > div:not(:first-child) {
    display: none;
  }
}
@media (max-width: 480px) {
  .okrugs .title .okrugs-select {
    width: 100%;
  }
}
.modal-title {
  padding-right: 20px;
}
</style>
