<template>
  <div>
    <yandex-share v-bind="options" />
  </div>
</template>

<script>
import YandexShare from "@cookieseater/vue-yandex-share";

export default {
  name: "ShareButtons",
  components: {
    YandexShare,
  },
  props: {
    postProps: {
      type: Object,
      default() {
        return "";
      },
    },
    noText: {
      type: Boolean,
      default() {
        return false;
      },
    },
  },
  computed: {
    options() {
      return {
        // accessToken: null,
        // bare: false,
        // counter: true,
        // copy: 'last',
        image: this.defineImageArticle(this.postProps),
        lang: this.$i18n.locale,
        description: this.postProps.content,
        // hashtags: null,
        // limit: 24,
        // popupDirection: 'bottom',
        // popupPosition: 'inner',
        size: "m",
        title: this.postProps.title,
        url: "https://oliymajlis.mdg.uz" + this.$route.fullPath,
        services: [
          // "vkontakte",
          "facebook",
          "telegram",
          "twitter",
          // "odnoklassniki",
          // 'blogger',
          // 'delicious',
          // 'digg',
          // 'evernote',
          // 'facebook',
          // 'gplus',
          // 'linkedin',
          // 'lj',
          // 'moimir',
          // 'odnoklassniki',
          // 'pinterest',
          // 'pocket',
          // 'qzone',
          // 'reddit',
          // 'renren',
          // 'sinaWeibo',
          // 'skype',
          // 'surfingbird',
          // 'telegram',
          // 'tencentWeibo',
          // 'tumblr',
          // 'twitter',
          // 'viber',
          // 'vkontakte',
          // 'whatsapp',
        ],
      };
    },
  },
  methods: {
    openButton(arg) {
      const w = window.innerWidth;
      const h = window.innerHeight;

      window.open(
        arg,
        "shareWindow_" + Math.random().toString().slice(2),
        "height=450, width=550, top=" +
          (h / 2 - 275) +
          ", left=" +
          (w / 2 - 225) +
          ", toolbar=0, location=0, menubar=0, directories=0, scrollbars=0"
      );
    },
    defineImageArticle(article) {
      return (
        "https://oliymajlis.mdg.uz/" +
        (article && article.images && article.images[0] && article.images[0].file)
      );
    },
  },
};
</script>

<style>
</style>
