<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container"></div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="title">
            <h2>{{ $t("RequestsTitle") }}</h2>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="sidebar-request">
                <h5>{{ $t("Welcome") }}</h5>
                <h4>{{ form.first_name + " " + form.last_name }}</h4>
                <div class="sidebar-left">
                  <ul>
                    <li>
                      <a
                        href="#!"
                        @click.prevent="activeTab = 1"
                        :class="{ active: activeTab == 1 }"
                      >
                        {{ $t("RequestList") }}
                      </a>
                    </li>
                    <li>
                      <a
                        href="#!"
                        @click.prevent="activeTab = 2"
                        :class="{ active: activeTab == 2 }"
                      >
                        {{ $t("RequestSend") }}
                      </a>
                    </li>
                    <li>
                      <a
                        href="#!"
                        @click.prevent="activeTab = 3"
                        :class="{ active: activeTab == 3 }"
                      >
                        {{ $t("PersonalInfo") }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="pages-content">
                <ProfileAppealsList v-if="activeTab === 1" :userId="form.id" />
                <ProfileForm
                  v-if="activeTab === 2"
                  :info="form"
                  @toAppealsList="toAppealsList"
                />
                <ProfilePersonalInformation
                  v-if="activeTab === 3"
                  :info="form"
                />
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  middleware: "auth",
  data() {
    return {
      loader: true,
      deputies: [],
      sideMenu: {},
      activeTab: 1,
      form: null,
    };
  },
  async created() {
    this.loader = false;
    this.form = await this.$store.dispatch("profile/fetchInformation");
    this.loader = true;
  },
  async mounted() {
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "requests"
    );
  },
  methods: {
    toAppealsList() {
      this.activeTab = 1;
    },
  },
};
</script>

<style scoped>
</style>
