<template>
  <div class="popup">
    <div class="popup-main">
      <a href="#" class="popup-x" @click.prevent="close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
        >
          <path
            d="M1 1L17 17M1 17L17 1L1 17Z"
            stroke="#2C2D32"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      <div class="popup-head">
        <h2 class="popup-title">{{ $t("ConfirmCode") }}</h2>
        <p class="popup-subtitle">
          {{ $t("ConfirmCodeSub") }}
        </p>
      </div>
      <div class="popup-body">
        <form action="" class="popup-form">
          <b-form-group :label="$t('EnterCode')" label-for="code">
            <b-form-input
              id="code"
              v-model="code"
              type="text"
              :placeholder="$t('ConfirmCode')"
            ></b-form-input>
            <small
              class="text-danger"
              v-if="$v.code.$dirty && !$v.code.required"
              >{{ $t('EnterCode') }}</small
            >
            <small
              class="text-danger"
              v-else-if="$v.code.$dirty && !$v.code.minLength"
              >{{ $t('EnterCodeDescription') }}</small
            >
          </b-form-group>
          <div class="popup-btns">
            <button class="popup-btn" @click.prevent="onSubmit">
              {{ $t("Confirmation") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      code: null,
    };
  },
  validations: {
    code: { required, minLength: minLength(6) },
  },
  methods: {
    async onSubmit() {
      try {
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
          return;
        } else {
          await this.$store.dispatch("auth/sendSmsCode", this.code);
          this.$store.commit("auth/closePopups");
          this.$v.$reset();
        }
      } catch (e) {
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
          return;
        }
      }
    },

    close() {
      this.$store.commit("auth/closePopups");
    },
  },
};
</script>

<style scoped>
</style>