<template>
  <div class="popup">
    <div class="popup-main">
      <a href="#" class="popup-x" @click.prevent="$emit('close')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
        >
          <path
            d="M1 1L17 17M1 17L17 1L1 17Z"
            stroke="#2C2D32"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      <div class="popup-head">
        <h2 class="popup-title">{{ $t("MistakeTitle") }}</h2>
      </div>
      <div class="popup-body">
        <form action="" class="popup-form">
            <div class="text-url"><span>{{ $t("MistakeUrl") }}:</span> <a :href="url" target="_blank">{{ url }}</a></div>
            <div class="text-error">
                {{ text }}
            </div>
          <b-form-group
            :label="$t('MistakeDesc')"
            label-for="description"
          >
            <b-form-input
              id="description"
              v-model="form.description"
              type="text"
              :placeholder="$t('MistakeDesc')"
            ></b-form-input>
          </b-form-group>
          <div class="popup-btns">
            <button class="popup-btn" @click.prevent="sendMistake">{{ $t('Send') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    props: {
        close: {
            type: Function,
            default() {
                return null;
            }
        },
        text: {
            type: String,
            default() {
                return null;
            },
        },
        url: {
            type: String,
            default() {
                return null;
            }
        },
    },
    data() {
        return {
            form: {
                description: null
            }
        };
    },
    methods: {
        async sendMistake(){
            await this.$axios.post("/cms/spellingmistake/create/", {
                mistake: this.text,
                page_url: this.url,
                description: this.form.description
            });
            this.description = null;
            this.$emit('close');
        }
    }
};
</script>

<style scoped>
</style>