<template>
  <div class="popup">
    <div class="popup-main">
      <a href="#" class="popup-x" @click.prevent="close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
        >
          <path
            d="M1 1L17 17M1 17L17 1L1 17Z"
            stroke="#2C2D32"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      <div class="popup-head">
        <h2 class="popup-title">{{ $t('Login') }}</h2>
        <p class="popup-subtitle">
          {{ $t("LoginSub") }}
        </p>
      </div>
      <div class="popup-body">
        <form action="" class="popup-form">
          <b-form-group :label="$t('EnterNumber')" label-for="phone">
            <b-form-input
              id="phone"
              v-model="form.username"
              type="text"
              placeholder="+998"
              :class="{
                invalid: $v.form.username.$dirty && !$v.form.username.required,
              }"
            ></b-form-input>
            <small
              v-if="$v.form.username.$dirty && !$v.form.username.required"
              class="text-danger"
              >{{ $t('EnterNumber') }}</small
            >
          </b-form-group>
          <b-form-group :label="$t('EnterPassword')" label-for="password">
            <b-form-input
              id="password"
              v-model="form.password"
              type="password"
              :placeholder="$t('EnterPassword')"
              :class="{
                invalid:
                  ($v.form.password.$dirty && !$v.form.password.required) ||
                  ($v.form.password.$dirty && !$v.form.password.minLength),
              }"
            ></b-form-input>
            <small
              class="text-danger"
              v-if="$v.form.password.$dirty && !$v.form.password.required"
              >{{ $t('EnterPassword') }}</small
            >
            <small
              class="text-danger"
              v-else-if="$v.form.password.$dirty && !$v.form.password.minLength"
              >{{ $t('PasswordDescription') }}</small
            >
          </b-form-group>
          <div class="popup-urls">
            <a href="#" class="popup-urls__item" @click.prevent="toForgot"
              >{{ $t("ForgotPassword") }} ?</a
            >
          </div>
          <div class="popup-btns">
            <button class="popup-btn" @click.prevent="onSubmit">{{ $t('Login') }}</button>
            <button class="popup-btn__outline" @click.prevent="toRegistration">
              {{ $t("Registration") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      form: {
        username: null,
        password: null,
      },
    };
  },
  validations: {
    form: {
      username: { required },
      password: { required, minLength: minLength(6) },
    },
  },
  methods: {
    async onSubmit() {
      try {
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
          return;
        } else {
          const token = await this.$store.dispatch("auth/login", {
            ...this.form,
            username: this.form.username.replace("+", ""),
          });
          this.$store.commit("auth/closePopups");
          if (this.$store.getters["auth/getIsProfile"]) {
            this.$router.push("/profile");
          }
          this.$v.$reset();
        }
      } catch (e) {
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
          return;
        }
      }
    },
    close() {
      this.$store.commit("auth/closePopups");
    },
    toRegistration() {
      this.$store.commit("auth/closePopups");
      this.$store.commit("auth/setRegistrationPopup", true);
    },
    toForgot() {
      this.$store.commit("auth/closePopups");
      this.$store.commit("auth/setPhonePopup", true);
    },
  },
};
</script>

<style scoped>
</style>