<template>
  <div class="popup">
    <div class="popup-main">
      <a href="#" class="popup-x" @click.prevent="close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
        >
          <path
            d="M1 1L17 17M1 17L17 1L1 17Z"
            stroke="#2C2D32"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      <div class="popup-head">
        <h2 class="popup-title">{{ $t("RecoveryPassword") }}</h2>
      </div>
      <div class="popup-body">
        <form action="" class="popup-form">
          <b-form-group
            :label="$t('EnterNumber')"
            label-for="phone"
            :description="$t('EnterNumberSub')"
          >
            <b-form-input
              id="phone"
              v-model="username"
              type="text"
              placeholder="+998"
              :class="{
                invalid: $v.username.$dirty && !$v.username.required,
              }"
            ></b-form-input>
          </b-form-group>
          <div class="popup-btns">
            <button class="popup-btn" @click.prevent="onSubmit">
              {{ $t("Next") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      username: null,
    };
  },
  validations: {
    username: { required },
  },
  methods: {
    close() {
      this.$store.commit("auth/closePopups");
    },
    async onSubmit() {
      try {
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
          return;
        } else {
          const res = await this.$store.dispatch(
            "auth/ResetPassword",
            this.username
          );
          if (res.status == 200 || res.status == 201) {
            this.$store.commit("auth/closePopups");
            // this.$store.commit("auth/setConfirmPopup", true);
            this.$store.commit("auth/setConfirmResetCode", true);
          } else {
            const { response } = res;
            Object.values(response.data).forEach((e) => {
              const message = e == "Not found" ? this.$t("userNotFound") : e;
              this.$toast.error(message);
            });
          }
        }
      } catch (e) {
        console.error(e);

        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
          return;
        }
      }
    },
  },
};
</script>

<style scoped>
</style>