<template>
  <div class="popup">
    <div class="popup-main">
      <a href="#" class="popup-x" @click.prevent="$emit('close')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
        >
          <path
            d="M1 1L17 17M1 17L17 1L1 17Z"
            stroke="#2C2D32"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      <div class="popup-head">
        <h2 class="popup-title">{{ $t("RecoveryPassword") }}</h2>
      </div>
      <div class="popup-body">
        <form action="" class="popup-form">
          <b-form-group
            :label="$t('EnterPassword')"
            label-for="password"
            :description="$t('PasswordDescription')"
          >
            <b-form-input
              id="password"
              v-model="form.password"
              type="password"
              :placeholder="$t('EnterPassword')"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            :label="$t('EnterConfirmPassword')"
            label-for="confirm_password"
          >
            <b-form-input
              id="confirm_password"
              v-model="form.confirm_password"
              type="password"
              :placeholder="$t('EnterConfirmPassword')"
            ></b-form-input>
          </b-form-group>
          <div class="popup-btns">
            <button class="popup-btn" @click.prevent="onSubmit">
              {{ $t('ChangePassword') }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        password: null,
        confirm_password: null,
      },
    };
  },
  methods: {
    async onSubmit() {
      try {
        await this.$store.dispatch("auth/ConfirmReset", this.form.password);
        this.$store.commit('auth/closePopups')
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>

<style scoped>
</style>