<template>
  <div class="popup">
    <div class="popup-main popup-main__registration">
      <a href="#" class="popup-x" @click.prevent="close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
        >
          <path
            d="M1 1L17 17M1 17L17 1L1 17Z"
            stroke="#2C2D32"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      <div class="popup-head">
        <h2 class="popup-title">{{ $t('Registration') }}</h2>
      </div>
      <div class="popup-body">
        <form action="" class="popup-form">
          <b-row>
            <b-col md="6">
              <b-form-group :label="$t('EnterFirstname')" label-for="firstname">
                <b-form-input
                  id="firstname"
                  v-model="form.first_name"
                  type="text"
                  :placeholder="$t('EnterFirstname')"
                  :class="{
                    invalid:
                      $v.form.first_name.$dirty && !$v.form.first_name.required,
                  }"
                ></b-form-input>
                <small
                  v-if="
                    $v.form.first_name.$dirty && !$v.form.first_name.required
                  "
                  class="text-danger"
                  >{{ $t("EnterFirstnameDescription") }}</small
                >
              </b-form-group>
            </b-col>
            <b-col md="6">
              <b-form-group :label="$t('EnterLastname')" label-for="lastname">
                <b-form-input
                  id="lastname"
                  v-model="form.last_name"
                  type="text"
                  :placeholder="$t('EnterLastname')"
                  :class="{
                    invalid:
                      $v.form.last_name.$dirty && !$v.form.last_name.required,
                  }"
                ></b-form-input>
                <small
                  v-if="$v.form.last_name.$dirty && !$v.form.last_name.required"
                  class="text-danger"
                  >{{ $t("EnterLastnameDescription") }}</small
                >
              </b-form-group>
            </b-col>
            <b-col md="6">
              <b-form-group :label="$t('EnterMiddlename')" label-for="middlename">
                <b-form-input
                  id="middlename"
                  v-model="form.middle_name"
                  type="text"
                  :placeholder="$t('EnterMiddlename')"
                  :class="{
                    invalid:
                      $v.form.middle_name.$dirty &&
                      !$v.form.middle_name.required,
                  }"
                ></b-form-input>
                <small
                  v-if="
                    $v.form.middle_name.$dirty && !$v.form.middle_name.required
                  "
                  class="text-danger"
                  >{{ $t("EnterMiddlenameDescription") }}</small
                >
              </b-form-group>
            </b-col>
            <b-col md="6">
              <b-form-group :label="$t('EnterEmail')" label-for="email">
                <b-form-input
                  id="email"
                  v-model="form.email"
                  type="email"
                  :placeholder="$t('EnterEmail')"
                  :class="{
                    invalid:
                      ($v.form.email.$dirty && !$v.form.email.required) ||
                      ($v.form.email.$dirty && !$v.form.email.email),
                  }"
                ></b-form-input>
                <small
                  v-if="$v.form.email.$dirty && !$v.form.email.required"
                  class="text-danger"
                  >{{ $t("EnterEmailDescription1") }}</small
                >
                <small
                  class="text-danger"
                  v-else-if="$v.form.email.$dirty && !$v.form.email.email"
                >
                  {{ $t("EnterEmailDescription2") }}
                </small>
              </b-form-group>
            </b-col>
            <b-col md="6">
              <b-form-group :label="$t('EnterAddress')" label-for="address">
                <b-form-input
                  id="address"
                  v-model="form.address"
                  type="text"
                  :placeholder="$t('EnterAddress')"
                  :class="{
                    invalid:
                      $v.form.address.$dirty && !$v.form.address.required,
                  }"
                ></b-form-input>
                <small
                  v-if="$v.form.address.$dirty && !$v.form.address.required"
                  class="text-danger"
                  >{{ $t("EnterAddressDescription") }}</small
                >
              </b-form-group>
            </b-col>
            <b-col md="6">
              <b-form-group
                :label="$t('EnterBirthDate')"
                label-for="birth_date"
              >
                <b-form-input
                  id="birth_date"
                  v-model="form.birth_date"
                  type="date"
                  :placeholder="$t('EnterBirthDate')"
                  :class="{
                    invalid:
                      $v.form.birth_date.$dirty && !$v.form.birth_date.required,
                  }"
                ></b-form-input>
                <small
                  v-if="
                    $v.form.birth_date.$dirty && !$v.form.birth_date.required
                  "
                  class="text-danger"
                  >{{ $t("EnterBirthDateDescription") }}</small
                >
              </b-form-group>
            </b-col>
            <b-col md="6">
              <b-form-group :label="$t('EnterGender')" label-for="gender">
                <b-form-select
                  id="gender"
                  v-model="form.gender"
                  :options="genders"
                  :class="{
                    invalid: $v.form.gender.$dirty && !$v.form.gender.required,
                  }"
                ></b-form-select>
                <small
                  v-if="$v.form.gender.$dirty && !$v.form.gender.required"
                  class="text-danger"
                  >{{ $t("EnterGenderDescription") }}</small
                >
              </b-form-group>
            </b-col>
            <b-col md="6">
              <b-form-group :label="$t('EnterNumber')" label-for="phone">
                <b-form-input
                  id="phone"
                  v-model="form.username"
                  type="text"
                  placeholder="+998"
                  :class="{
                    invalid:
                      $v.form.username.$dirty && !$v.form.username.required,
                  }"
                ></b-form-input>
                <small
                  v-if="$v.form.username.$dirty && !$v.form.username.required"
                  class="text-danger"
                  >{{ $t('EnterNumber') }}</small
                >
              </b-form-group>
            </b-col>
            <b-col md="6">
              <b-form-group :label="$t('EnterPassword')" label-for="password">
                <b-form-input
                  id="password"
                  v-model="form.password"
                  type="password"
                  :placeholder="$t('EnterPassword')"
                  :class="{
                    invalid:
                      ($v.form.password.$dirty && !$v.form.password.required) ||
                      ($v.form.password.$dirty && !$v.form.password.minLength),
                  }"
                ></b-form-input>
                <small
                  class="text-danger"
                  v-if="$v.form.password.$dirty && !$v.form.password.required"
                  >{{ $t('EnterPassword') }}</small
                >
                <small
                  class="text-danger"
                  v-else-if="
                    $v.form.password.$dirty && !$v.form.password.minLength
                  "
                  >{{ $t('PasswordDescription') }}</small
                >
              </b-form-group>
            </b-col>
            <b-col md="6">
              <b-form-group
                :label="$t('EnterConfirmPassword')"
                label-for="confirm_password"
              >
                <b-form-input
                  id="confirm_password"
                  v-model="form.confirm_password"
                  type="password"
                  :placeholder="$t('EnterConfirmPassword')"
                  :class="{
                    invalid:
                      ($v.form.confirm_password.$dirty &&
                        !$v.form.confirm_password.required) ||
                      ($v.form.confirm_password.$dirty &&
                        !$v.form.confirm_password.sameAsPassword),
                  }"
                ></b-form-input>
                <small
                  class="text-danger"
                  v-if="
                    $v.form.confirm_password.$dirty &&
                    !$v.form.confirm_password.required
                  "
                  >{{ $t("EnterConfirmPasswordDescription1") }}</small
                >
                <small
                  class="text-danger"
                  v-else-if="
                    $v.form.confirm_password.$dirty &&
                    !$v.form.confirm_password.sameAsPassword
                  "
                  >{{ $t("EnterConfirmPasswordDescription2") }}</small
                >
              </b-form-group>
            </b-col>
          </b-row>

          <div class="popup-btns">
            <b-row>
              <b-col md="6">
                <button class="popup-btn" @click.prevent="onSubmit">
                  {{ $t("Registration") }}
                </button>
              </b-col>
            </b-row>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required, email, sameAs, minLength } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      form: {
        first_name: "",
        last_name: "",
        middle_name: "",
        birth_date: "",
        gender: "M",
        username: "",
        email: "",
        password: "",
        confirm_password: "",
        address: "",
      },
      genders: [
        { text: this.$t("Man"), value: "M" },
        { text: this.$t("Woman"), value: "F" },
      ],
    };
  },
  validations: {
    form: {
      first_name: { required },
      last_name: { required },
      middle_name: { required },
      birth_date: { required },
      gender: { required },
      username: { required },
      email: { required, email },
      password: { required, minLength: minLength(6) },
      confirm_password: { required, sameAsPassword: sameAs("password") },
      address: { required },
    },
  },
  methods: {
    close() {
      this.$store.commit("auth/closePopups");
    },
    async onSubmit() {
      try {
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
          return;
        } else {
          const token = await this.$store.dispatch("auth/getSmsCode", {
            ...this.form,
            username: this.form.username.replace("+", ""),
          });
          this.$store.commit("auth/closePopups");
          this.$store.commit("auth/setConfirmPopup", true);
          this.$v.$reset();
        }
      } catch (e) {
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$v.$touch();
          return;
        }
      }
    },
  },
};
</script>

<style scoped>
</style>