<template>
  <div class="popup">
    <div class="popup-main">
      <a href="#" class="popup-x" @click.prevent="close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
        >
          <path
            d="M1 1L17 17M1 17L17 1L1 17Z"
            stroke="#2C2D32"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      <div class="popup-body">
        <h2 class="popup-title">{{ $t("appeal") }}</h2>
        <ul>
          <li>
            <span>
              {{ $t("Firstname") }}
            </span>
            <small>{{ data.applicant.first_name }}</small>
          </li>
          <li>
            <span>
              {{ $t("Lastname") }}
            </span>
            <small>{{ data.applicant.last_name }}</small>
          </li>
          <li>
            <span>
              {{ $t("Middlename") }}
            </span>
            <small>{{ data.applicant.middle_name }}</small>
          </li>
          <li v-if="data.attachments" class="popup__files">
            <span>{{ $t("file") }} : </span>
            <small
              ><a
                v-for="file of data.attachments"
                :key="file.id"
                :href="file.file"
                target="_blank"
                >{{ spliceName(file.file) }}</a
              ></small
            >
          </li>
          <li>
            <span>{{ $t("content") }}:</span>
            <small>{{ data.content }}</small>
          </li>
          <li>
            <span>{{ $t("Region") }}:</span>
            <small>{{ data.region.title }}</small>
          </li>
          <li>
            <span>{{ $t("to") }}:</span>
            <small>{{ getPerson.text }}</small>
          </li>
          <li>
            <span>{{ $t("to") }}:</span>
            <small>{{
              data.whom.last_name +
              " " +
              data.whom.first_name +
              " " +
              data.whom.middle_name
            }}</small>
          </li>
          <li>
            <span>{{ $t("status") }}:</span>
            <small>{{ getStatus.title }}</small>
          </li>
        </ul>
      </div>

      <div class="popup-body" v-if="data.status == 3">
        <h2 class="popup-title">{{ $t("Answer") }}</h2>
        <ul
          class="responce__list"
          v-for="item of data.responses"
          :key="item.id"
        >
          <li>
            <span>{{ $t("title") }}:</span>
            <small>{{ item.title }}</small>
          </li>
          <li>
            <span>{{ $t("file") }}:</span>
            <small>
              <a
                :href="file.file"
                v-for="file of item.attachments"
                :key="file.id"
                target="_blank"
                >{{ spliceName(file.file) }}</a
              >
            </small>
          </li>

          <li>
            <span>{{ $t("content") }} : </span>
            <small v-html="item.content"></small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      username: null,
      persons: [
        { value: 1, text: this.$t("toOLiyMajlis") },
        { value: 2, text: this.$t("toSpiker") },
        {
          value: 3,
          text: this.$t("toAssistantSpeaker"),
        },
        { value: 4, text: this.$t("toFraction") },
        { value: 5, text: this.$t("toCommission") },
      ],
      status: [
        { id: 1, title: this.$t("StatusAccepted") },
        { id: 2, title: this.$t("StatusUnder") },
        { id: 3, title: this.$t("StatusClosed") },
      ],
    };
  },
  methods: {
    close() {
      this.$store.commit("requests/closePopup");
    },
    spliceName(val) {
      let index = val.lastIndexOf("/");
      return val.slice(++index);
    },
  },
  computed: {
    getPerson() {
      return this.persons.find((i) => i.value === this.data.appeal_type);
    },
    getStatus() {
      return this.status.find((i) => i.id == this.data.status);
    },
  },
};
</script>

<style scoped>
</style>