<template>
  <div
    class="wrapper"
    ref="wrapper"
    :class="[{ specialNoImage: !specialImage }, specialType]"
  >
    <div v-if="loader">
      <transition name="fade" mode="in-out">
    </transition>
    <LayoutsHeader :wrapper="{ wrapper }" />
    <AppPagesBanner
      v-if="
        $route.path != '/' &&
        $route.path != '/ru' &&
        $route.path != '/uz' &&
        $route.path != '/qr' &&
        $route.path != '/en'
      "
    />
    </div>
    <Nuxt />
    <PopupsErrorText v-if="isPopupErrorText" :text="errorText" :url="errorUrl" @close="closeModal"/>
    <LayoutsFooter v-if="loader" />
  </div>
</template>

<script>
import AOS from "aos";
import "aos/dist/aos.css";
export default {
  data() {
    return {
      isLoader: true,
      loader: true,
      wrapper: null,
      specialType: "",
      specialImage: true,
      isPopupErrorText: false,
      errorText: "",
      errorUrl: ""
    };
  },
  computed: {
    locale() {
      return this.$i18n.locale
    }
  },
  watch: {
    locale() {
      this.loader = false
      this.$nextTick(() => {
        this.loader = true
      })
    }
  },
  async mounted() {
    setTimeout(() => (this.isLoader = false), 1500);
    AOS.init();
    this.$nextTick(() => {
      this.wrapper = this.$refs.wrapper;
    });
    this.$bus.$on("specialType", (data) => {
      this.specialType = data;
    });

    this.$bus.$on("specialImage", (data) => {
      this.specialImage = data;
    });

    document.addEventListener("keydown", this.CtrlEnterHandler, false);

    const access_token = localStorage.getItem("access_token");
    const refresh_token = localStorage.getItem("refresh_token");
    this.$store.commit("auth/setLoginTokens", { access_token, refresh_token });
  },
  beforeDestroy() {
    this.$bus.$off("specialType", () => (this.specialType = null));
    this.$bus.$off("specialImage", () => (this.specialImage = null));

    document.removeEventListener("keydown", this.CtrlEnterHandler, false);
  },
  methods: {
    CtrlEnterHandler(event) {
      if (event.ctrlKey && (event.keyCode === 0xa || event.keyCode === 0xd)) {
        let t = window.getSelection().toString();

        if (t) {
          if (t.length < 3 || t.length > 20) {
            alert("Хатолик тўғрисида хабар юбориш учун 3 дан 20 гача белгидан иборат ўлчамдаги матн блокини ажратинг");
            return;
          } else {
            t = t.slice(0, 20);
            this.errorText = t;
            this.errorUrl = "https://parliament.gov.uz" + this.$route.fullPath;
            this.isPopupErrorText = true;
          }
        }
      }
    },
    closeModal() {
      this.isPopupErrorText = false;
    }
  }
};
</script>

<style>
</style>
