<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="row">
            <div class="col-lg-9">
              <div class="pages-content leadership">
                <!-- <div class="leadership-chamber">
                  <div class="leadership-chamber-header title">
                    <h2>Кенгаш Законодательной палаты</h2>
                  </div>
                  <div class="leadership-chamber-body">
                    <p>
                      В целях эффективной организации деятельности
                      Законодательной палаты, осуществления координации работы
                      комитетов, организации предварительного рассмотрения
                      вопроса о планировании законопроектной работы образуется
                      Кенгаш Законодательной палаты.
                    </p>
                    <p>
                      Кенгаш Законодательной палаты собирается между заседаниями
                      палаты по мере необходимости.
                    </p>
                    <p>
                      В состав Кенгаша Законодательной палаты входят Спикер
                      Законодательной палаты, его заместители, руководители
                      фракций, председатели комитетов Законодательной палаты.
                    </p>
                    <p>
                      Кенгаш Законодательной палаты по вопросам, входящим в его
                      компетенцию, принимает постановления большинством голосов
                      от общего числа его членов.
                    </p>
                  </div>
                </div> -->
                <div class="leadership-wrapper">
                  <!-- <div class="leadership-header title">
                    <h2>Состав Кенгаша:</h2>
                  </div> -->
                  <div class="row">
                    <div class="col-md-12">
                      <nuxt-link
                        :to="
                          localePath({
                            path: `/deputies/${members.speaker.slug}`,
                          })
                        "
                        class="deputies-group-item"
                      >
                        <div
                          class="
                            deputies-group-item-image
                            deputies-group-item-image__managment
                          "
                        >
                          <img
                            :src="
                              members.speaker.image ||
                              require('~/assets/images/avatar.svg')
                            "
                            alt="not found"
                          />
                        </div>
                        <div class="deputies-group-item-info">
                          <h3>
                            {{
                              members.speaker.last_name +
                                " " +
                                members.speaker.first_name +
                                " " +
                                members.speaker.middle_name || ""
                            }}
                          </h3>
                          <p>
                            {{ members.speaker.work_place || "" }}
                          </p>
                        </div>
                      </nuxt-link>
                    </div>
                    <div
                      class="col-md-12"
                      v-for="item in members.sub_speakers"
                      :key="item.id"
                    >
                      <nuxt-link
                        :to="
                          localePath({
                            path: `/deputies/${item.slug}`,
                          })
                        "
                        class="deputies-group-item"
                      >
                        <div
                          class="
                            deputies-group-item-image
                            deputies-group-item-image__managment
                          "
                        >
                          <img
                            :src="
                              item.image ||
                              require('~/assets/images/avatar.svg')
                            "
                            alt="not found"
                          />
                        </div>
                        <div class="deputies-group-item-info">
                          <h3>
                            {{
                              item.last_name +
                                " " +
                                item.first_name +
                                " " +
                                item.middle_name || ""
                            }}
                          </h3>
                          <p>
                            {{ item.work_place || "" }}
                          </p>
                        </div>
                      </nuxt-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      members: [],
      sideMenu: {},
    };
  },
  async created() {
    this.fetchData();
  },
  async mounted() {
    this.loader = false;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "managment"
    );
    this.loader = true;
  },
  methods: {
    async fetchData() {
      this.loader = false;
      let res = await this.$store.dispatch("deputies/GetManagmentList");
      this.members = res;
      this.loader = true;
    },
  },
};
</script>

<style>
</style>