<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="row">
            <div class="col-lg-9">
              <div class="pages-content">
                <div
                  class="content-static"
                  v-html="
                    (posts && posts[0] && posts[0].content) ||
                    `<p>${$t('ListText')}</p>`
                  "
                ></div>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      posts: [],
      sideMenu: {},
    };
  },
  async created() {
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInSlug",
      this.$route.params.slug
    );
  },
  computed: {},
  async mounted() {
    this.loader = false;
    this.posts = await this.$store.dispatch("posts/getPostsListInSlug", {
      slug: this.$route.params.slug,
    });

    this.loader = true;
  },
};
</script>

<style scoped>
</style>