<template>
  <div class="home-wrapper">
    <!-- <AppLoader v-if="isLoading" /> -->
    <AppLoader v-if="isLoader" />
    <div v-show="!isLoader">
      <section class="home-banner">
        <HomeBanner :key="isLoader" />
      </section>
      <section class="home-news">
        <HomeNews :isNews="true" />
      </section>
      <section class="home-anons">
        <HomeAnons />
      </section>
      <section class="home-news">
        <HomeArticle  />
      </section>
      <section class="home-map">
        <HomeMap />
      </section>
      <section class="home-media" :key="isLoader">
        <HomeMedia />
      </section>
      <section class="home-others">
        <HomeOthers />
      </section>
      <section class="home-usefull">
        <HomeUsefull :key="isLoader" />
      </section>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isLoader: true,
    };
  },
  mounted() {
    setTimeout(() => (this.isLoader = false), 1500);
  },
};
</script>


<style scoped>
.home-news {
  padding-top: 100px;
}
.home-usefull,
.home-media,
.home-map,
.home-anons {
  padding-top: 120px;
}

.home-others {
  padding-top: 165px;
}
.home-wrapper {
  background: #ffffff;
  padding-bottom: 100px;
}

@media (max-width: 1650px) {
  .home-news {
    padding-top: 80px;
  }
  .home-usefull,
  .home-media,
  .home-map,
  .home-anons {
    padding-top: 100px;
  }

  .home-others {
    padding-top: 145px;
  }
  .home-wrapper {
    padding-bottom: 100px;
  }
}
@media (max-width: 1480px) {
  .home-news {
    padding-top: 60px;
  }
  .home-usefull,
  .home-media,
  .home-map,
  .home-anons {
    padding-top: 80px;
  }

  .home-others {
    padding-top: 125px;
  }
  .home-wrapper {
    padding-bottom: 80px;
  }
}
@media (max-width: 1330px) {
  .home-news {
    padding-top: 50px;
  }
  .home-usefull,
  .home-media,
  .home-map,
  .home-anons {
    padding-top: 70px;
  }

  .home-others {
    padding-top: 105px;
  }
  .home-wrapper {
    padding-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .home-news {
    padding-top: 30px;
  }
  .home-usefull,
  .home-media,
  .home-map,
  .home-anons {
    padding-top: 50px;
  }

  .home-others {
    padding-top: 75px;
  }
  .home-wrapper {
    padding-bottom: 50px;
  }
}
@media (max-width: 575px) {
  .home-usefull,
  .home-media,
  .home-map,
  .home-anons {
    padding-top: 32px;
  }
  .home-others {
    padding-top: 32px;
  }
}
</style>