<template>
  <section class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <nuxt-link :to="localePath('/regulation')">{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</nuxt-link>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="regulation-info">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>{{ $t("regFilterInitiator") }}</th>
                  <th>{{ $t("regDate1") }}</th>
                  <th>{{ $t("regDate2") }}</th>
                  <th>{{ $t("comments") }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{ (regulation && regulation.id) || "" }}
                  </td>
                  <td>
                    <span v-html="$t('Logo')"></span>
                  </td>
                  <td>
                    {{
                      regulation && regulation.start_date_discussion | dateDay
                    }}
                  </td>
                  <td>
                    {{ regulation && regulation.end_date_discussion | dateDay }}
                  </td>
                  <td>
                    {{ regulation && regulation.count_comments }}
                  </td>
                </tr>
                <tr>
                  <th colspan="2">
                    {{ $t("regBasis") }}
                  </th>
                  <td>{{ $t("regBasisItem") }}</td>
                  <td colspan="2">
                    <a href="https://lex.uz/docs">https://lex.uz/docs</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="title">
            <h2>{{ (regulation && regulation.title) || "" }}</h2>
          </div>
          <div class="content-static">
            <div v-html="(regulation && regulation.content) || ''"></div>
          </div>
        </div>
      </div>
    </main>
    <div
      class="comments"
      v-if="isDuscussion"
      @click="clickComment"
      :class="{ is_not_auth: !accessToken }"
    >
      <div class="container">
        <div class="comments__wrapper">
          <div class="comments-main">
            <div class="row">
              <div class="col-lg-6">
                <div class="comments-left">
                  <h2 class="title">{{ $t("leaveComment") }}</h2>

                  <div class="form__item">
                    <b-form-select
                      v-model="form.type"
                      :options="types"
                      size="sm"
                    >
                      <template #first>
                        <b-form-select-option :value="null" disabled>{{
                          $t("SelectCommentType")
                        }}</b-form-select-option>
                      </template>
                    </b-form-select>
                  </div>
                  <div class="form__item" v-if="form.type == 'state'">
                    <b-form-input
                      v-model="form.states"
                      :placeholder="$t('EnterArticleNumber')"
                    ></b-form-input>
                  </div>
                  <div class="form__item">
                    <b-form-textarea
                      id="textarea"
                      v-model="form.content"
                      :placeholder="$t('enterText')"
                      style="min-height: 240px"
                    ></b-form-textarea>
                  </div>
                  <div class="form__item">
                    <button
                      class="btn"
                      @click.prevent="onSubmit"
                      :disabled="isDisabled"
                    >
                      {{ $t("Send") }}
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="comments-right">
                  <h2 class="title">{{ $t("comments") }}</h2>
                  <div class="comments-right-wrapper">
                    <div
                      class="comments-right-item"
                      v-for="item in regulation.comments"
                      :key="item.id"
                    >
                      <div class="comments-right-item-image">
                        <img src="~/assets/images/avatar.png" alt="avatar" />
                      </div>
                      <div class="comments-right-item-info">
                        <span class="date">
                          {{ item.created_at }}
                          <!-- {{ item.created_at | dateDay }} -->
                        </span>
                        <h4>
                          {{ item.author && item.author.last_name }}
                          {{ item.author && item.author.first_name }}
                          {{ item.author && item.author.middle_name_name }}
                          <!-- {{ item.user.first_name }} -->
                        </h4>
                        <p>{{ item.content }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      regulation: null,
      form: {
        states: null,
        type: null,
        content: null,
      },
      sideMenu: {},
      types: [
        { value: "order", text: this.$t("Law") },
        { value: "state", text: this.$t("state") },
      ],
      comments: [
        {
          id: 1,
          date: "14.03.2002 14:00",
          text: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
          type: "zakon",
          user: {
            id: 1,
            full_name: "Toxirjon Usenov Musa o'g'li",
          },
        },
        {
          id: 2,
          date: "14.03.2002 14:00",
          text: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
          type: "zakon",
          user: {
            id: 1,
            full_name: "Toxirjon Usenov Musa o'g'li",
          },
        },
        {
          id: 3,
          date: "14.03.2002 14:00",
          text: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
          type: "zakon",
          user: {
            id: 1,
            full_name: "Toxirjon Usenov Musa o'g'li",
          },
        },
        {
          id: 4,
          date: "14.03.2002 14:00",
          text: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
          type: "zakon",
          user: {
            id: 1,
            full_name: "Toxirjon Usenov Musa o'g'li",
          },
        },
        {
          id: 5,
          date: "14.03.2002 14:00",
          text: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
          type: "zakon",
          user: {
            id: 1,
            full_name: "Toxirjon Usenov Musa o'g'li",
          },
        },
        {
          id: 6,
          date: "14.03.2002 14:00",
          text: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
          type: "zakon",
          user: {
            id: 1,
            full_name: "Toxirjon Usenov Musa o'g'li",
          },
        },
        {
          id: 7,
          date: "14.03.2002 14:00",
          text: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
          type: "zakon",
          user: {
            id: 1,
            full_name: "Toxirjon Usenov Musa o'g'li",
          },
        },
      ],
    };
  },
  async mounted() {
    this.loader = false;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "regulation"
    );
    this.regulation = await this.$store.dispatch(
      "regulation/getRegulationDetail",
      this.$route.params.id
    );
    this.loader = true;
  },
  methods: {
    async onSubmit() {
      try {
        await this.$axios.post("/structure/orderproject/comment/create/", {
          ...this.form,
          order_project: this.$route.params.id,
        });
        this.form = {
          states: null,
          type: null,
          content: null,
        };
        this.$toast.success(this.$t("successComment"));
      } catch (e) {
        this.$toast.error(this.$t("errorComment"));
        console.log(e);
      }
    },
    clickComment() {
      if (!this.accessToken) {
        this.$store.commit("auth/setLoginPopup", {
          value: true,
          isProfile: false,
        });
      }
    },
  },
  computed: {
    isDuscussion() {
      if (this.regulation && this.regulation.end_date_discussion)
        return new Date() < new Date(this.regulation.end_date_discussion);
    },
    accessToken() {
      return this.$store.getters["auth/getAccessToken"];
    },
    isDisabled() {
      return !(this.form.type && this.form.content && this.accessToken);
    },
  },
};
</script>

<style scoped>
.regulation-info {
  background: #fff;
  padding: 32px;
  box-shadow: 0 4px 8px rgb(10 74 168 / 8%);
  border-radius: 4px;
  margin-bottom: 36px;
}
.regulation-info table {
  width: 100%;
  font-size: 18px;
}
.regulation-info th,
.regulation-info td {
  padding: 16px;
  border: 1px solid #dedede;
}
.regulation-info table th {
  color: #0b4aa8;
  font-weight: 600;
}
.comments__wrapper {
  background: #fff;
  margin-top: 32px;
  padding: 32px;
  box-shadow: 0 4px 8px rgb(10 74 168 / 8%);
  border-radius: 4px;
  margin-bottom: 36px;
}
.form__item button {
  padding: 12px 40px;
  background: #3469b8;
  border-radius: 4px;
  color: #fff;
}
.form__item button:hover {
  color: #fff;
}
.form__item button:focus {
  box-shadow: none;
}
.is_not_auth textarea,
.is_not_auth select,
.is_not_auth input {
  pointer-events: none;
}
@media (max-width: 768px) {
  .regulation-info th,
  .regulation-info td {
    padding: 8px;
  }
  .regulation-info table th,
  .regulation-info tbody td,
  .regulation-info tbody td span {
    font-size: 13px;
    line-height: 17px;
  }
  .regulation-info tbody td span {
    display: block;
  }
  .content-static table td {
    font-size: 12px;
  }
  .regulation-info {
    padding: 15px;
  }
  .regulation-info {
    padding: 10px;
    max-width: 100%;
    overflow-x: auto;
  }
}

/*  */
.comments-right-wrapper {
  max-height: 450px;
  overflow-y: auto;
}

.comments-right-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.comments-right-item-image {
  max-width: 50px;
  flex: 0 0 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}
.comments-right-item-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.comments-right-item-info {
  display: flex;
  flex-direction: column;
}
.comments-right-item-info span {
  font-size: 11px;
  line-height: 1;
  color: #808fa4;
  display: block;
  margin-bottom: 4px;
}
.comments-right-item-info h4 {
  font-size: 16px;
  margin-bottom: 8px;
}
.comments-right-item-info p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0px;
}
</style>