<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-main-wrapper">
          <div class="row">
            <div class="col-lg-9">
              <div class="regulation">
                <div class="regulation-status">
                  <b-row>
                    <b-col md="4">
                      <nuxt-link
                        :to="localePath('/regulation/status/2')"
                        class="regulation-status__item non-active"
                      >
                        <div class="regulation-status__title">
                          <h2>{{ $t("regulationStatus2") }}</h2>
                        </div>
                        <span class="regulation-status__count">{{
                          (counts && counts.non_active) || ""
                        }}</span>
                      </nuxt-link>
                    </b-col>
                    <b-col md="4">
                      <nuxt-link
                        :to="localePath('/regulation/status/1')"
                        class="regulation-status__item active"
                      >
                        <div class="regulation-status__title">
                          <h2>{{ $t("regulationStatus1") }}</h2>
                        </div>
                        <span class="regulation-status__count">{{
                          (counts && counts.active) || ""
                        }}</span>
                      </nuxt-link>
                    </b-col>
                    <b-col md="4">
                      <nuxt-link
                        :to="localePath('/regulation/status/3')"
                        class="regulation-status__item"
                      >
                        <div class="regulation-status__title">
                          <h2>{{ $t("regulationStatusAll") }}</h2>
                        </div>
                        <span class="regulation-status__count">{{
                          (counts && counts.all) || ""
                        }}</span>
                      </nuxt-link>
                    </b-col>
                  </b-row>
                </div>
                <!-- <div class="regulation-categories">
                    <b-row>
                        <b-col md="6" v-for="item in (categories || '')" :key="item.id">
                          <nuxt-link :to="localePath('/regulation/category/' + item.id)" class="regulation-item">
                            <figure class="regulation-item__image">
                              <img :src="item.icon" alt="">
                            </figure>
                            <div class="regulation-item__title">
                              <h3>{{ item.title }}</h3>
                            </div>
                          </nuxt-link>
                        </b-col>
                    </b-row>
                </div> -->
                <div class="regulation-table">
                  <div class="title">
                    <h2>{{ $t("regulationStatus1") }}</h2>
                  </div>
                  <div class="regulation-table-container">
                    <table>
                      <thead>
                        <tr>
                          <th width="320">{{ $t("regFilterTitle") }}</th>
                          <!-- <th width="1%" class="nowrap">
                            {{ $t("regFilterId") }}
                          </th> -->
                          <th width="15%">{{ $t("regDate1") }}</th>
                          <th width="10%">{{ $t("regDate2") }}</th>
                          <th width="1%">{{ $t("comments") }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item in regulations || []" :key="item.id">
                          <td class="table-name">
                            <span
                              v-if="item.status == 'active'"
                              class="active"
                              >{{ $t("regNotCompleted") }}</span
                            >
                            <span v-else>{{ $t("regCompleted") }}</span>
                            <nuxt-link
                              :to="localePath('/regulation/' + item.id)"
                              class="table-url"
                              >{{ item.title }}</nuxt-link
                            >
                          </td>
                          <!-- <td class="nowrap">{{ item.id }}</td> -->
                          <td class="nowrap">
                            {{ item.start_date_discussion | dateDay }}
                          </td>
                          <td>
                            {{ item.end_date_discussion | dateDay }}<br />{{
                              item.end_date_discussion | dateTime
                            }}
                          </td>
                          <td class="nowrap">{{ item.count_comments }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      categories: [],
      regulations: [],
      counts: {},
      sideMenu: {},
    };
  },
  computed: {
    params() {
      let params = {};
      params.status = 1;

      return params;
    },
  },
  async mounted() {
    this.loader = false;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "regulation"
    );
    this.counts = await this.$store.dispatch("regulation/getRegulationCounts");
    this.categories = await this.$store.dispatch("regulation/getCategories");
    this.fetchData();
    this.loader = true;
  },
  methods: {
    async fetchData() {
      let res = await this.$store.dispatch("regulation/getRegulations", {
        params: this.params,
      });
      this.regulations = res;
    },
  },
};
</script>

<style scoped>
</style>