<template>
    <section class="pages" v-if="loader">
        <div class="breadcrumbs">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
                        </li>
                        <li class="breadcrumb-item active">
                            <span>{{(sideMenu && sideMenu.title) || ""}}</span>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <nuxt-link :to="localePath('/regulation')">{{
                                (sideMenu &&
                                sideMenu.active_child &&
                                sideMenu.active_child.title) ||
                                ""
                            }}</nuxt-link>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <main class="pages-main">
            <div class="container">
                <div class="pages-wrapper">
                    <div class="title">
                        <h2>{{ category.title || '' }}</h2>
                    </div>
                    <div class="regulation-title">
                        <div class="regulation-title__type">
                            <a class="active">{{ $t("regulationTitle1") }}</a>
                            <!-- <a href="#">Местные органы власти</a> -->
                        </div>
                        <div class="regulation-title__month">
                            <b-form-group
                                :label="$t('regFilterYear')"
                                label-for="year"
                            >   
                                <b-form-select id="year" v-model="year" :options="years"></b-form-select>
                            </b-form-group>
                            <b-form-group
                                :label="$t('regFilterMonth')"
                                label-for="month"
                            >
                                <b-form-select id="month" v-model="month" :options="months"></b-form-select>
                            </b-form-group>
                        </div>
                    </div>
                    <div class="regulation-filter">
                        <div class="filter-row">
                            <div class="filter-col">
                                <b-form-group
                                    class="filter-title__icontains"
                                    :label="$t('regFilterTitle')"
                                    label-for="title__icontains"
                                >
                                    <b-form-input 
                                        id="title__icontains" 
                                        v-model="title__icontains"
                                        :placeholder="$t('regFilterTitle')"
                                    ></b-form-input>
                                </b-form-group>
                            </div>
                            <div class="filter-col filter-col__id">
                                <b-form-group
                                    :label="$t('regFilterId')"
                                    label-for="regulation_id"                                    
                                >
                                    <b-form-input 
                                        id="regulation_id" 
                                        v-model="regulation_id"
                                        :placeholder="$t('regFilterId')"
                                    ></b-form-input>
                                </b-form-group>
                            </div>
                            <!-- <div class="filter-col">
                                <b-form-group
                                    :label="$t('regFilterInitiator')"
                                    label-for="initiator_id"
                                >
                                    <b-form-select id="initiator_id" v-model="initiator_id">
                                        <b-form-select-option v-for="item in initiators" :key="item.id" :value="item.id">{{ item.title }}</b-form-select-option>
                                    </b-form-select>
                                </b-form-group>
                            </div>
                            <div class="filter-col">
                                <b-form-group
                                    :label="$t('regFilterType')"
                                    label-for="project_type_id"
                                >
                                    <b-form-select id="project_type_id" v-model="project_type_id">
                                        <b-form-select-option v-for="item in project_types" :key="item.id" :value="item.id">{{ item.title }}</b-form-select-option>
                                    </b-form-select>
                                </b-form-group>
                            </div> -->
                            <div class="filter-col filter-col__btn">
                                <button class="filter-btn" @click.prevent="filterRegulations">{{ $t("regSearch") }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="regulation-table">
                        <table>
                            <thead>
                                <tr>
                                    <th width="320">{{ $t('regFilterTitle') }}</th>
                                    <th width="1%" class="nowrap">{{ $t('regFilterId') }}</th>
                                    <th width="15%">{{ $t('regDate1') }}</th>
                                    <th width="10%">{{ $t('regDate2') }}</th>
                                    <th width="1%">{{ $t('comments') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in (regulations || [])" :key="item.id">
                                    <td class="table-name">
                                        <span v-if="item.status == 'active'" class="active">{{ $t('regNotCompleted') }}</span>
                                        <span v-else>{{ $t('regCompleted') }}</span>
                                        <nuxt-link :to="localePath('/regulation/' + item.id)" class="table-url">{{ item.title }}</nuxt-link>
                                    </td>
                                    <td class="nowrap">{{ item.id }}</td>
                                    <td class="nowrap">{{ item.start_date_discussion | dateDay }}</td>
                                    <td>{{ item.end_date_discussion | dateDay}}<br>{{ item.end_date_discussion | dateTime }}</td>
                                    <td class="nowrap">{{ item.count_comments }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button
                        class="load-more"
                        v-if="count > (regulations && regulations.length)"
                        @click="fetchData"
                        >
                        {{ $t("LoadMore") }}
                    </button>
                </div>
            </div>
        </main>
  </section>
</template>

<script>
    export default {
        data() {
            return {
                loader: true,
                category: {},
                regulations: [],
                limit: 12,
                offset: 0,
                count: 0,
                sideMenu: {},
                year: null,
                years: [2018, 2019, 2020, 2021],
                month: null,
                months: [
                    { value: 1, text: "Yanvar" },
                    { value: 2, text: "Fevral" },
                    { value: 3, text: "Mart" },
                    { value: 4, text: "Aprel" },
                    { value: 5, text: "May" },
                    { value: 6, text: "Iyun" },
                    { value: 7, text: "Iyul" },
                    { value: 8, text: "Avgust" },
                    { value: 9, text: "Sentabr" },
                    { value: 10, text: "Oktabr" },
                    { value: 11, text: "Noyabr" },
                    { value: 12, text: "Dekabr" }
                ],
                title__icontains: null,
                regulation_id: null,
                initiator_id: null,
                project_type_id: null,
                initiators: [],
                project_types: []

            };
        },
        computed: {
            params() {
                let params = {};
                this.limit && (params.limit = this.limit);
                params.offset = this.offset;
                params.category_id = this.category.id;
                params.start_date_discussion__year = this.year;
                params.start_date_discussion__month = this.month;

                params.title__icontains = this.title__icontains;
                params.id = this.regulation_id;
                params.initiator_id = this.initiator_id;
                params.project_type_id = this.project_type_id;

                return params
            }
        },
        watch: {
            year(){
                this.offset = 0;
                this.regulations = [];
                this.fetchData();
            },
            month(){
                this.offset = 0;
                this.regulations = [];
                this.fetchData();
            }
        },
        async mounted() {
            this.loader = false            
            this.sideMenu = await this.$store.dispatch(
                "posts/getMenuParentsInGroup",
                "regulation"
            );
            this.category = await this.$store.dispatch(
                "regulation/getCategoryRegulations",
                this.$route.params.id
            );
            this.initiators = await this.$store.dispatch("regulation/getInitiatorsList");
            this.project_types = await this.$store.dispatch("regulation/getProjectTypeList");
            this.fetchData();
            this.loader = true
        },
        methods: {
            async fetchData() {
                let res = await this.$store.dispatch("regulation/getRegulations", {
                    params: this.params
                });
                this.regulations = [...this.regulations, ...res.results];
                this.offset += this.limit;
                this.count = res.count;
            },
            filterRegulations(){
                this.offset = 0;
                this.regulations = [];
                this.fetchData();
            }
        },
        filters: {
            dateDay(value) {
                let day = (value += "").split("T");
                return value ? (day[0] += "").split("-").reverse().join(".") : "";
            },
            dateTime(value) {
                let time = (value += "").split("T");
                return value ? (time[1] += "").split("+")[0] : "";
            },
        }
    }
</script>

<style lang="scss" scoped>

</style>