<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active">
              <span>{{ $t("tags") }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ tag.title || "" }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="row">
            <div class="col-lg-9">
              <div class="pages-content news-wrapper">
                <div class="news-main">
                  <CardsNews
                    line="horizontal"
                    v-for="item in news"
                    :key="item.id"
                    :image="
                      (item.image && item.image[0] && item.image[0].file) ||
                      require('~/assets/images/default/article_ru.jpg')
                    "
                    :title="item.title"
                    :content="item.content"
                    :date="item.pub_date"
                    :slug="item.slug"
                  />
                </div>

                <button
                  class="load-more"
                  v-if="count > (news && news.length)"
                  @click="fetchData"
                >
                  {{ $t("LoadMore") }}
                </button>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu"/> 
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      news: [],
      limit: 12,
      offset: 0,
      sideMenu: {},
      tag: {},
      count: 0,
    };
  },
  async mounted() {
    this.loader = false;
    this.fetchData();
    this.tag = await this.$store.dispatch(
      "posts/getPostTagInfo",
      this.$route.params.slug
    );
    this.loader = true;
  },
  methods: {
    async fetchData() {
      let res = await this.$store.dispatch("posts/getPostsListInTags", {
        params: {
          limit: this.limit,
          offset: this.offset,
        },
        slug: this.$route.params.slug,
      });
      this.news = [...this.news, ...res.results];
      this.offset += this.limit;
      this.count = res.count;
    },
  },
};
</script>

<style scoped>
</style>