<template>
  <footer class="footer">
    <div class="container">
      <div class="footer-wrapper">
        <div class="footer-main">
          <div class="footer-left">
            <div class="footer-logo">
              <nuxt-link
                :to="
                  localePath({
                    path: '',
                  })
                "
              >
                <img src="~/assets/images/logo.png" alt="not found" />
                <span v-html="$t('Logo')"></span>
              </nuxt-link>
            </div>
            <p>
              {{ $t("FooterWarn") }}
            </p>
            <div class="footer-social">
              <span>{{ $t("Socials") }}</span>
              <ul>
                <li>
                  <a :href="contacts.youtube_link" class="icon-youtube"></a>
                </li>
                <li>
                  <a :href="contacts.facebook_link" class="icon-facebook"></a>
                </li>
                <li>
                  <a :href="contacts.telegram_link" class="icon-telegram"></a>
                </li>
                <li>
                  <a :href="contacts.instagram_link" class="icon-instagram"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-mid">
            <div class="footer-mid-item">
              <h4 v-html="$t('Palata')"></h4>
              <ul>
                <li v-for="item in footerMenu" :key="item.id">
                  <nuxt-link
                    :to="
                      localePath({
                        path: defineLink(
                          item && item.children && item.children[0]
                        ),
                      })
                    "
                    v-if="item && item.id < 7"
                  >
                    {{ (item && item.title) || "" }}
                  </nuxt-link>
                </li>
              </ul>
            </div>
            <div class="footer-mid-item">
              <h4>{{ $t("Contacts") }}</h4>
              <ul>
                <li>
                  <span>{{ $t("Adress") }}</span>
                  <a href="#!">{{ contacts.address || "" }}</a>
                </li>
                <li>
                  <span>{{ $t("Chancery") }}</span>
                  <a :href="'tel:' + contacts.office">{{
                    contacts.office || ""
                  }}</a>
                </li>
                <li>
                  <small>{{ $t("ForCitizens") }}</small> <br />
                  <a :href="'tel:' + contacts.phone">{{
                    contacts.phone || ""
                  }}</a>
                  <br />
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-right">
            <form action="">
              <input type="email" :placeholder="$t('Email')" />
              <button type="submit">{{ $t("Subscribe") }}</button>
            </form>
            <span>{{ $t("SiteUpdated") }}: 06:42, 13.07.2021 (GMT+5)</span>
          </div>
        </div>
        <div class="footer-bottom">
          <span>{{ $t("FooterCopyright") }}</span>
          <span
            >{{ $t("FooterDev") }}:
            <a href="https://osg.uz/ru/">Online Service Group</a></span
          >
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      footerMenu: {},
      contacts: {},
    };
  },
  async mounted() {
    this.loader = false;
    // this.footerMenu = await this.$store.dispatch(
    //   "posts/getMenuParentsInGroup",
    //   "kengash"
    // );
    this.footerMenu = await this.$store.dispatch("menu/GetMenu");
    this.contacts = await this.$store.dispatch("contacts/getContactsInfo", 1);
    console.log("contacts", this.contacts);
    this.loader = true;
  },
  methods: {
    defineLink(item) {
      if (item.isCustom) {
        return item.slug;
      } else {
        let path =
          item && item.group && item.has_category
            ? `/${item.group}/category/${item.slug}`
            : item && item.group && !item.has_category
            ? `/${item.group}`
            : `/static/${item.slug}`;
        return path;
      }
    },
  },
};
</script>

<style scoped>
.footer {
  margin-top: auto;
  background: #0b4aa8;
  padding-top: 40px;
}
.footer-main {
  padding-bottom: 80px;
  display: flex;
}
.footer-logo {
  margin-bottom: 43px;
}
.footer-logo a {
  display: flex;
  align-items: flex-end;
}
.footer-logo a img {
  margin-right: 11px;
  height: 61px;
}
.footer-logo a span {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  transform: translateY(3px);
}
.footer-bottom {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #3c6eb9;
}
.footer-bottom span a,
.footer-bottom span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.footer-social {
  display: flex;
  flex-direction: column;
}
.footer-social span {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.footer-social ul {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.footer-social ul li {
  margin-right: 20px;
  display: flex;
}
.footer-social ul li:last-child {
  margin-right: 0;
}
.footer-social ul li a {
  color: #ffffff;
}
.footer-left {
  width: 345px;
}
.footer-left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}
.footer-mid {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.footer-mid-item:first-child {
  margin-right: 120px;
}
.footer-mid-item:last-child small,
.footer-mid-item:last-child span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9db7dc;
}
.footer-mid-item h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
  color: #ffffff;
}
.footer-mid-item ul li {
  margin-bottom: 16px;
}
.footer-mid-item ul li:last-child {
  margin: 0;
}
.footer-mid-item ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9db7dc;
  transition: all 0.2s ease-in-out;
  display: block;
}
.footer-mid-item ul li a:hover {
  color: #ffffff;
}
.footer-right {
  max-width: 284px;
  flex: 0 0 284px;
  display: flex;
  flex-direction: column;
}
.footer-right form {
  display: none;
  margin-bottom: 40px;
}
.footer-right input {
  height: 48px;
  width: 100%;
  border: 1px solid #9db7dc;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 12px;
  margin-bottom: 28px;
  outline: none;
  color: white;
}
.footer-right input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9db7dc;
}
.footer-right button {
  width: 100%;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  background: #5297ff;
  border-radius: 4px;
}
.footer-right span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
@media (max-width: 1480px) {
  /* .footer-mid {
    margin-right: 30px;
    margin-left: 30px;
  } */
  .footer-mid-item:first-child {
    margin-right: 40px;
  }
}
@media (max-width: 1330px) {
  .footer-right span,
  .footer-social span,
  .footer-left p {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-left {
    margin-right: 30px;
  }
  .footer-left {
    width: auto;
    max-width: 300px;
    flex: 0 0 300px;
  }
  .footer-mid-item h4 {
    font-size: 16px;
    line-height: 22px;
  }
  .footer-mid-item ul li a {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-bottom span a,
  .footer-bottom span {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 1199px) {
  .footer-right {
    display: none;
  }
  .footer-mid {
    flex-wrap: wrap;
    padding-left: 0px;
    margin-left: 0;
    width: 100%;
  }
  .footer-mid-item h4 {
    margin-bottom: 8px;
  }

  .footer-mid-item:first-child {
    margin-right: auto;
    margin-left: auto;
  }
  .footer-mid-item {
    margin-right: 0;
    margin-top: 15px;
  }
  .footer-mid-item ul li {
    margin-bottom: 8px;
  }
  .footer-mid-item ul li a {
    line-height: 18px;
    font-size: 16px;
  }
  .footer-main {
    padding-bottom: 30px;
  }
  .footer-mid-item ul li:last-child br {
    display: none;
  }
  .footer-mid-item {
    padding: 0 15px;
  }
  .footer-mid {
    margin: 0;
  }
  .footer-right {
    max-width: 215px;
    flex: 0 0 215px;
  }
}
@media (max-width: 991px) {
  .footer-bottom span:first-child {
    margin-bottom: 8px;
  }
  .footer-main {
    flex-wrap: wrap;
  }
  .footer-left {
    max-width: 60%;
    flex: unset;
    width: 100%;
    margin: 0 auto;
  }
  .footer-left p {
    display: none;
  }
  .footer-logo a {
    justify-content: center;
  }
  .footer-social {
    align-items: center;
  }
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-mid {
    margin: 0 auto 15px auto;
    max-width: 60%;
    width: 100%;
    padding: 0;
    justify-content: center;
  }
  .footer-mid-item:first-child {
    display: none;
  }
  .footer-mid-item ul li,
  .footer-mid-item h4 {
    text-align: center;
  }

  .footer-right {
    max-width: 60%;
    width: 100%;
    flex: unset;
    margin: 0 auto;
  }
  .footer-bottom {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding: 15px 0;
  }
  .footer-bottom span {
    width: 80%;
    text-align: center;
  }
  .footer-right span {
    text-align: center;
  }
  .footer-logo a span {
    font-size: 16px;
    line-height: 22px;
  }
  .footer-logo a img {
    height: 75px;
  }
}
@media (max-width: 768px) {
  .footer-logo a img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .footer-logo a {
    flex-direction: column;
    align-items: center;
  }
  .footer-logo a span {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .footer-left,
  .footer-right,
  .footer-mid {
    max-width: 100%;
  }
  .footer-right span {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-right input::placeholder {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-logo a span {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
}
</style>