<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ $t("LiveStream") }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="row">
            <div
              class="col-xl-3 col-lg-4 col-md-6"
              v-for="(item, index) of liveList"
              :key="index"
            >
              <a
                @click.prevent="activeIndex = index"
                class="gallery-item video"
              >
                <article class="gallery-item__image">
                  <img :src="item.image" :alt="item.title" />
                  <i class="icons icon-video"></i>
                </article>
                <div class="gallery-item__title">
                  <span class="date">{{
                    item.stream_date || "" | dateDay
                  }}</span>
                  <p>{{ item.title }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <client-only>
      <CoolLightBox
        :items="liveList"
        :index="activeIndex"
        @close="activeIndex = null"
      >
      </CoolLightBox>
    </client-only>
  </div>
</template>

<script>
import CoolLightBox from "vue-cool-lightbox";
import "vue-cool-lightbox/dist/vue-cool-lightbox.min.css";
export default {
  components: {
    CoolLightBox,
  },
  data() {
    return {
      index: null,
      activeIndex: null,
      loader: true,
      liveList: [],
    };
  },
  async mounted() {
    this.loader = false;

    let results = await this.$store.dispatch("livestream/fetchLiveStreamList");
    results = results.map((i) => ({
      ...i,
      src: i.url,
    }));

    this.liveList = results;
    this.loader = true;
  },
};
</script>

<style>
</style>