<template>
  <section class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link :to="localePath('/')">{{ $t("Home") }}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <nuxt-link
                :to="
                  localePath({
                    path: '/videos',
                  })
                "
                >{{ $t("VideoLink") }}
              </nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ title || "" }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="row">
            <template v-if="videos && videos.length">
              <div
                class="col-lg-3"
                v-for="(item, index) in videos"
                :key="item.id"
              >
                <div class="gallery-item gallery-item__view">
                  <div
                    class="gallery-item__image video"
                    @click.prevent="videoIndex = index"
                  >
                    <img
                      :src="
                        item.thumb ||
                        require(`~/assets/images/default/article_${$i18n.locale}.jpg`)
                      "
                      alt="Oliy majlis"
                    />
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <!-- <div class="col-lg-3" v-for="item in urls" :key="item.id">
              <a :href="item.url" class="gallery-item gallery-item__view">
                <div class="gallery-item__image">
                  <img
                    :src="
                      poster ||
                      require('~/assets/images/default/article_en.jpg')
                    "
                    alt="not found"
                  />
                </div>
              </a>
            </div> -->
            </template>
            <template v-if="urls && urls.length">
              <div class="col-lg-3" v-for="(item, index) in urls" :key="index">
                <a
                  class="gallery-item gallery-item__view"
                  @click.prevent="urlIndex = index"
                >
                  <div class="gallery-item__image">
                    <img
                      :src="
                        item.thumb ||
                        require(`~/assets/images/default/article_${$i18n.locale}.jpg`)
                      "
                      alt="Oliy majlis"
                    />
                  </div>
                </a>
              </div>
            </template>
          </div>
        </div>
      </div>
    </main>
    <template v-if="urls && urls.length">
      <CoolLightBox :items="urls" :index="urlIndex" @close="urlIndex = null">
      </CoolLightBox>
    </template>
    <template v-if="videos && videos.length">
      <CoolLightBox
        :items="videos"
        :index="videoIndex"
        @close="videoIndex = null"
      >
      </CoolLightBox>
    </template>
  </section>
</template>

<script>
import CoolLightBox from "vue-cool-lightbox";
import "vue-cool-lightbox/dist/vue-cool-lightbox.min.css";

export default {
  data() {
    return {
      loader: true,
      title: "",

      videoIndex: null,
      urlIndex: null,
      videos: [],
      urls: [],
      dataDetail: null,
    };
  },
  components: {
    CoolLightBox,
  },
  async mounted() {
    this.loader = false;
    let res = await this.$store.dispatch(
      "gallery/getAllVideos",
      this.$route.params.id
    );

    this.urls = res.urls.map((element) => {
      let obj = {};
      obj.id = element.id;
      obj.src = element.url;
      obj.thumb = res.poster;
      return obj;
    });
    this.videos = res.videos.map((element) => {
      let obj = {};
      obj.id = element.id;
      obj.src = element.video;
      obj.thumb = res.poster;
      return obj;
    });
    console.log(this.videos, this.urls);

    this.loader = true;
    this.poster = res.poster;
  },
};
</script>

<style>
</style>
