<template>
  <section class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ $t("VideoLink") }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="row">
            <div class="col-lg-3" v-for="item in videos" :key="item.id">
              <CardsGallery
                type="video"

                :photo="
                  item.poster ||
                  require(`~/assets/images/default/article_${$i18n.locale}.jpg`)
                "

                :slug="item.slug"
                :title="item.title"
                :date="item.created_at"
                :id="item.id"
              />
            </div>
          </div>
        </div>
      </div>
    </main>
  </section>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      videos: [],
      limit: 12,
      offset: 0,
      count: 0,
    };
  },
  mounted() {
    this.loader = false;
    this.fetchData();
    this.loader = true;
  },
  methods: {
    async fetchData() {
      let res = await this.$store.dispatch("gallery/getVideosList", {
        params: {
          limit: this.limit,
          offset: this.offset,
        },
      });
      this.videos.length > 0 ? (this.videos = [...this.videos, ...res.results]) : (this.videos = [...res.results])
      this.offset += this.limit;
      this.count = res.count;
    },
  },
};
</script>

<style scoped>
</style>
