<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <nuxt-link
                :to="
                  localePath({
                    path: '/deputies',
                  })
                "
                >{{
                  (sideMenu &&
                    sideMenu.active_child &&
                    sideMenu.active_child.title) ||
                  ""
                }}</nuxt-link
              >
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="row">
            <div class="col-lg-9">
              <div class="pages-content leadership-view">
                <div class="leadership-image-col">
                  <div
                    class="leadership-image"
                    :class="{
                      'no-image': !deputy.image,
                    }"
                  >
                    <!-- activeTop: scrollPosition > 640, -->

                    <img
                      :src="
                        deputy.image || require('~/assets/images/avatar.svg')
                      "
                      alt="not found"
                    />
                  </div>
                  <div
                    class="leadership-image__socials"
                    v-if="
                      deputy.web ||
                      deputy.fb_account ||
                      deputy.tg_account ||
                      deputy.inst_account
                    "
                  >
                    <a
                      v-if="deputy && deputy.web"
                      :href="(deputy && deputy.web) || ''"
                      target="_blank"
                    >
                      <i class="icons icon-earth"></i>
                    </a>
                    <a
                      v-if="deputy && deputy.fb_account"
                      :href="(deputy && deputy.fb_account) || ''"
                      target="_blank"
                    >
                      <i class="icons icon-facebook"></i>
                    </a>
                    <a
                      v-if="deputy && deputy.tg_account"
                      :href="(deputy && deputy.tg_account) || ''"
                      target="_blank"
                    >
                      <i class="icons icon-telegram"></i>
                    </a>
                    <a
                      v-if="deputy && deputy.inst_account"
                      :href="(deputy && deputy.inst_account) || ''"
                      target="_blank"
                    >
                      <i class="icons icon-instagram"></i>
                    </a>
                    <!-- <a
                        v-if="deputy && deputy.tw_account"
                        :href="(deputy && deputy.tw_account) || ''"
                        target="_blank"
                      >
                        <i class="icons icon-twitter"></i>
                      </a> -->
                    <a
                      v-if="deputy && deputy.youtube"
                      :href="(deputy && deputy.youtube) || ''"
                      target="_blank"
                    >
                      <i class="icons icon-youtube"></i>
                    </a>
                  </div>
                  <nuxt-link
                    :to="
                      $route.fullPath.includes('deputies') && $route.params.id
                        ? localePath({
                            path: '/requests?deputy=' + deputy.id,
                          })
                        : localePath({
                            path: '/requests',
                          })
                    "
                    class="leadership-image__vertual"
                  >
                    <svg
                      width="26"
                      height="26"
                      viewBox="0 0 26 26"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0)">
                        <path
                          d="M25.5745 5.28607L17.8105 13L25.5745 20.714C25.7148 20.4206 25.8 20.0963 25.8 19.75V6.25002C25.8 5.90367 25.7148 5.57942 25.5745 5.28607Z"
                          fill="white"
                        />
                        <path
                          d="M23.5503 4H2.45028C2.10393 4 1.77968 4.08515 1.48633 4.2255L11.4095 14.0987C12.2869 14.9761 13.7137 14.9761 14.5911 14.0987L24.5142 4.2255C24.2209 4.08515 23.8966 4 23.5503 4Z"
                          fill="white"
                        />
                        <path
                          d="M0.425695 5.28607C0.285345 5.57942 0.200195 5.90367 0.200195 6.25002V19.75C0.200195 20.0964 0.285345 20.4207 0.425695 20.714L8.18965 13L0.425695 5.28607Z"
                          fill="white"
                        />
                        <path
                          d="M16.7503 14.0605L15.6516 15.1592C14.1897 16.6211 11.8108 16.6211 10.3489 15.1592L9.25028 14.0605L1.48633 21.7745C1.77968 21.9148 2.10393 22 2.45028 22H23.5503C23.8966 22 24.2209 21.9148 24.5142 21.7745L16.7503 14.0605Z"
                          fill="white"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0">
                          <rect
                            width="25.6"
                            height="25.6"
                            fill="white"
                            transform="translate(0.200195 0.200012)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                    <h4>{{ $t("HeaderVirtual") }}</h4>
                  </nuxt-link>
                </div>
                <div class="leadership-content-col">
                  <div class="leadership-content">
                    <div class="leadership-content-header title">
                      <h2>
                        {{
                          (deputy &&
                            deputy.last_name +
                              " " +
                              deputy.first_name +
                              " " +
                              deputy.middle_name) ||
                          ""
                        }}
                      </h2>
                    </div>
                    <ul>
                      <li v-if="deputy && deputy.work_place">
                        <span>{{ $t("DeputyPlaceWork") }}:</span
                        ><small>
                          {{ (deputy && deputy.work_place) || "-" }}
                        </small>
                      </li>
                      <span></span>
                      <li v-if="deputy && deputy.birth_date">
                        <span>{{ $t("DeputyDateOfBirth") }}:</span>
                        <small>
                          {{ (deputy && deputy.birth_date.slice(0,4)) | dateBirthDate }}
                        </small>
                      </li>
                      <li v-if="deputy && deputy.birth_place">
                        <span>{{ $t("DeputyPlaceOfBirth") }}:</span>
                        <small>{{
                          (deputy && deputy.birth_place) || "-"
                        }}</small>
                      </li>
                      <li v-if="deputy && deputy.nationality">
                        <span>{{ $t("DeputyNationality") }}:</span>
                        <small
                          >{{ (deputy && deputy.nationality) || "-" }}
                        </small>
                      </li>
                      <li
                        v-if="
                          (deputy && deputy.education) || deputy.education == 0
                        "
                      >
                        <span>{{ $t("DeputyEducations") }}:</span>
                        <small>
                          {{ getEducation(deputy.education) }}
                        </small>
                      </li>
                      <li v-if="deputy && deputy.university">
                        <span>{{ $t("DeputyPlaceOfStudy") }}:</span>
                        <small>
                          {{ (deputy && deputy.university) || "-" }}
                        </small>
                      </li>
                      <li v-if="deputy && deputy.speciality">
                        <span>{{ $t("DeputySpecialty") }}:</span>
                        <small>{{
                          (deputy && deputy.speciality) || "-"
                        }}</small>
                      </li>
                      <li v-if="deputy && deputy.academic_degree">
                        <span>{{ $t("DeputyAcademicDegree") }}:</span>
                        <small>{{
                          (deputy && deputy.academic_degree) || { isNone: none }
                        }}</small>
                      </li>
                      <li v-if="deputy && deputy.academic_title">
                        <span>{{ $t("DeputyAcademicTitle") }}:</span>
                        <small>
                          {{ (deputy && deputy.academic_title) || "-" }}
                        </small>
                      </li>
                      <li v-if="deputy && deputy.languages">
                        <span>{{ $t("DeputyKnowledgeLang") }}:</span>
                        <small>
                          {{ (deputy && deputy.languages) || "-" }}
                        </small>
                      </li>
                      <li
                        v-if="
                          deputy &&
                          (deputy.phone_number_1 || deputy.phone_number_2) &&
                          (deputy.phone_number_1 != 'null' ||
                            deputy.phone_number_2 != 'null')
                        "
                      >
                        <span>{{ $t("Telephone") }}:</span>
                        <small>
                          <a
                            v-if="deputy.phone_number_1 != 'null'"
                            :href="
                              'tel:' + (deputy && deputy.phone_number_1) || ''
                            "
                            >{{ (deputy && deputy.phone_number_1) || "" }}<br
                          /></a>
                          <a
                            v-if="deputy.phone_number_2 != 'null'"
                            :href="
                              'tel:' + (deputy && deputy.phone_number_2) || ''
                            "
                            >{{ (deputy && deputy.phone_number_2) || "" }}</a
                          >
                        </small>
                      </li>
                      <li v-if="deputy && deputy.email">
                        <span>{{ $t("Email") }}:</span>
                        <small>
                          <a
                            :href="'mailto:' + (deputy && deputy.email) || ''"
                            >{{ (deputy && deputy.email) || "" }}</a
                          >
                        </small>
                      </li>
                    </ul>
                    <h3>{{ $t("DeputyAdditionalInform") }}</h3>
                    <ul>
                      <li v-if="deputy && deputy.okrug">
                        <span> {{ $t("DeputyConstituency") }}: </span>
                        <small>
                          {{
                            (deputy &&
                              deputy.okrug &&
                              deputy.okrug.okrug_number) ||
                            "-"
                          }}
                          -
                          {{
                            (deputy && deputy.okrug && deputy.okrug.title) ||
                            "-"
                          }}
                        </small>
                      </li>
                      <li v-if="deputy && deputy.region">
                        <span> {{ $t("DeputyTerritory") }}: </span>
                        <small>
                          {{ (deputy && deputy.region) || "-" }}
                        </small>
                      </li>
                      <li v-if="deputy && deputy.constituency">
                        <span>{{ $t("DeputyConstituency") }}:</span>
                        <small>
                          {{ (deputy && deputy.constituency) || "-" }}
                        </small>
                      </li>
                      <li v-if="deputy && deputy.committee">
                        <span>{{ $t("DeputyCommitetMembership") }}:</span>
                        <small>
                          {{ (deputy && deputy.committee) || "-" }}
                        </small>
                      </li>
                      <li v-if="deputy && deputy.fraction">
                        <span> {{ $t("DeputyFractionMembership") }}: </span>
                        <small>
                          {{ (deputy && deputy.fraction) || "-" }}
                        </small>
                      </li>
                      <li
                        v-if="
                          deputy &&
                          deputy.commissions &&
                          deputy.commissions.length
                        "
                      >
                        <span>{{ $t("DeputyComissionMembership") }}:</span>
                        <small
                          v-for="(item, index) in deputy.commissions"
                          :key="index"
                        >
                          {{ item.title || "" }}
                        </small>
                      </li>
                      <li v-if="deputy && deputy.party">
                        <span>{{ $t("DeputyPartyAffiliation") }}:</span>
                        <small> {{ (deputy && deputy.party) || "-" }} </small>
                      </li>
                      <li v-if="deputy && deputy.elected_government_bodies">
                        <span>{{ $t("DeputyElected") }}:</span>
                        <small>
                          {{
                            (deputy && deputy.elected_government_bodies) || "-"
                          }}
                        </small>
                      </li>
                      <li v-if="deputy && deputy.state_awards">
                        <span>{{ $t("DeputyStateAwards") }}:</span>
                        <small>
                          {{ (deputy && deputy.state_awards) || "-" }}
                        </small>
                      </li>
                    </ul>
                    <h3>{{ $t("DeputyArticles") }}</h3>
                    <ul>
                      <li v-for="art in deputy.articles" :key="art.id">
                        <a :href="art.file" download>
                          <div class="deputy-detail-article-image">
                            <img
                              :src="
                                art.photo ||
                                require('~/assets/images/default_' +
                                  $i18n.locale +
                                  '.jpg')
                              "
                            />
                          </div>
                          <div class="deputy-detail-article-info">
                            <h4>
                              {{ art.title }}
                            </h4>
                            <small>
                              <i class="fa fa-download" aria-hidden="true"></i>
                              {{ $t("Download") }}</small
                            >
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" :id="deputy.id" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      sideMenu: {},
      deputy: {},
      education: [
        { title: this.$t("higherEducation"), id: 0 },
        { title: this.$t("mediumEducation"), id: 1 },
      ],
      // scrollPosition: null,
    };
  },
  async mounted() {
    this.loader = false;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "deputies"
    );
    this.deputy = await this.$store.dispatch(
      "deputies/GetDeputyDetail",
      this.$route.params.id
    );
    // if (process.client) {
    //   window.addEventListener("scroll", this.updateScroll);
    // }

    this.loader = true;
  },
  methods: {
    getEducation(id) {
      return this.education.find((i) => i.id == id).title;
    },
  },
  // methods: {
  //   updateScroll() {
  //     if (process.client) {
  //       if (window.innerHeight > 930) {
  //         this.scrollPosition = window.scrollY;
  //       }
  //     }
  //   },
  // },
  // beforeDestroy() {
  //   if (process.client) {
  //     window.removeEventListener("scroll", function () {});
  //   }
  // },
};
</script>

<style scoped>
.leadership-view {
  display: flex;
}
.leadership-image-col {
  max-width: 365px;
  flex: 0 0 365px;
  margin-right: 40px;
  position: relative;
  width: 100%;
}
.leadership-image {
  height: 365px;
}
.leadership-image__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  margin-bottom: 12px;
}
.leadership-image__socials a {
  margin: 0 8px;
  font-size: 27px;
  display: flex;
  align-items: center;
  color: #0a4aa8;
}
.leadership-image__socials a i.icons {
}

.no-image {
  padding: 24px 24px 0 24px;
}

.leadership-image {
  margin-bottom: 16px;
}
.leadership-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 4px;
}

.leadership-content-header.title {
  margin-bottom: 24px;
}
.leadership-content ul li {
  display: flex;
  border-top: 1px solid #eaebec;
  padding: 16px 0;
}
.leadership-content ul li > span {
  width: 40%;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #2c2d32;
}
.leadership-content ul li > small {
  width: 60%;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #33343b;
}
.leadership-content ul li a {
  display: flex;
}
.deputy-detail-article-image {
  max-width: 150px;
  flex: 0 0 150px;
  height: 100px;
  margin-right: 16px;
  border-radius: 4px;
  overflow: hidden;
}
.deputy-detail-article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.deputy-detail-article-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.deputy-detail-article-info h4 {
  font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2c2d32;
}
.deputy-detail-article-info > small {
  color: #3469b8;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.leadership-content h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
  color: #2c2d32;
  margin-bottom: 24px;
  margin-top: 56px;
}

.leadership-image__vertual {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0a4aa8;
  border-radius: 4px;
}

.leadership-image__vertual h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  padding: 16px;
}

@media (max-width: 1650px) {
  .leadership-image-col {
    margin-right: 30px;
  }
}
@media (max-width: 1480px) {
  .leadership-image-col {
    margin-right: 30px;
  }
  .leadership-content ul li small {
    font-size: 15px;
    line-height: 21px;
    width: 65%;
  }
  .leadership-content ul li span {
    font-size: 16px;
    line-height: 22px;
    width: 35%;
  }
  .leadership-content-header.title h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .leadership-content h3 {
    font-size: 22px;
    line-height: 28px;
    margin-top: 40px;
  }
}
@media (max-width: 1330px) {
  .leadership-image-col {
    max-width: 300px;
    flex: 0 0 300px;
  }
  .leadership-image {
    height: 300px;
  }
}
@media (max-width: 1199px) {
  .leadership-view {
    flex-wrap: wrap;
  }
  .leadership-image-col {
    max-width: unset;
    flex: unset;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .leadership-image {
    height: auto;
  }
}
@media (max-width: 991px) {
}
@media (max-width: 575px) {
  .leadership-content-header.title h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .leadership-content ul li small,
  .leadership-content ul li span {
    font-size: 14px;
    line-height: 20px;
  }
  .leadership-content ul li span {
    padding-right: 10px;
  }
  .leadership-content h3 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 25px;
  }
}
</style>
