<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-wrapper">
          <div class="row">
            <div class="col-lg-9">
              <div class="pages-content leadership">
                <div class="leadership-wrapper">
                  <div class="leadership-header title">
                    <h2>{{ $t("Deputies") }}</h2>
                    <div class="leadership-header-select">
                      <b-form-select
                        v-model="regionSelected"
                        :options="regionList"
                        ><template #first>
                          <b-form-select-option :value="null" disabled>
                            {{ $t("SelectRegion") }}
                          </b-form-select-option>
                        </template>
                      </b-form-select>
                    </div>

                    <div
                      class="leadership-header-select"
                      v-if="districtList && districtList.length"
                    >
                      <b-form-select
                        v-model="districtSelected"
                        :options="districtList"
                        ><template #first>
                          <b-form-select-option :value="null" disabled>
                            {{ $t("SelectDistrict") }}
                          </b-form-select-option>
                        </template>
                      </b-form-select>
                    </div>
                    <!-- <div class="leadership-header-search">
                      <b-form-input
                        v-model="text"
                        :placeholder="$t('Search')"
                        @change="fetchSearchData"
                      ></b-form-input>
                      <button class="btn" @click.prevent="fetchSearchData">
                        {{ $t("Search") }}
                      </button>
                    </div> -->
                    <div
                      class="leadership-header-clear"
                      v-if="districtList && districtList.length"
                    >
                      <button class="btn" @click.prevent="clearValue">
                        {{ $t("Clear") }}
                      </button>
                    </div>
                  </div>
                  <div class="deputies-header">
                    <div class="deputies-alphabet">
                      <template v-for="(alphabet, name, index) in alphabetical">
                        <div class="deputies-alphabet__item" :key="index">
                          <a
                            href="#"
                            v-if="alphabet && alphabet.length"
                            @click.prevent="scrollTo(alphabet[0].id)"
                            class="active"
                            >{{ name }}</a
                          >
                          <a v-else>{{ name }}</a>
                        </div>
                      </template>
                    </div>
                  </div>
                  <div class="deputies-body">
                    <div class="row">
                      <div
                        class="col-md-6"
                        v-for="item in deputies"
                        :key="item.id"
                        :id="'scrollID_' + item.id"
                      >
                        <CardsDeputy
                          :image="
                            item.image || require('~/assets/images/avatar.png')
                          "
                          :title="
                            item.last_name +
                            ' ' +
                            item.first_name +
                            ' ' +
                            item.middle_name
                          "
                          :slug="item && item.slug"
                          :okrug="item && item.okrug"
                          :fraction="
                            item && item.fraction && item.fraction.title
                          "
                          :committee="
                            item && item.committee && item.committee.title
                          "
                          :web="item && item.web"
                          :fb_account="item && item.fb_account"
                          :tg_account="item && item.tg_account"
                          :inst_account="item && item.inst_account"
                          :youtube="item && item.youtube"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      deputies: [],
      alphabetical: {},
      sideMenu: {},
      regionSelected: null,
      regionList: [],
      districtSelected: null,
      districtList: [],
    };
  },
  computed: {
    params() {
      let params = {};
      !this.districtSelected &&
        this.regionSelected &&
        (params.region = this.regionSelected);
      this.districtSelected && (params.district = this.districtSelected);
      return params;
    },
  },
  async mounted() {
    this.loader = false;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "deputies"
    );
    this.fetchData();
    this.regionList = await this.$store.dispatch("deputies/getRegionList");
    this.regionList.forEach((element) => {
      element.text = element.title;
      element.value = element.id;
      delete element.title;
    });
    this.loader = true;
  },
  methods: {
    clearValue() {
      this.districtList = [];
      this.districtSelected = null;
      this.regionSelected = null;
    },
    async fetchData() {
      let res = await this.$store.dispatch("deputies/GetAlphabeticalList", {
        params: this.params,
      });
      const deputies = [];
      this.alphabetical = res;
      for (const key in this.alphabetical) {
        if (Object.hasOwnProperty.call(this.alphabetical, key)) {
          const element = this.alphabetical[key];

          element.forEach((value) => {
            deputies.push(value);
            this.deputies = deputies;
          });
        }
      }
    },
    async getDistrictById(id) {
      let res = await this.$store.dispatch("deputies/getDistrictByRegion", id);
      res.districts.forEach((element) => {
        element.text = element.title;
        element.value = element.id;
        delete element.title;
      });
      this.districtList = res.districts;
    },
    scrollTo(value) {
      let h = window.innerHeight;
      let element = document.getElementById(`scrollID_${value}`);
      let top = window.innerHeight - element.clientHeight + element.offsetTop;
      window.scrollTo({
        top: top,
        behavior: "smooth",
      });
    },
  },
  watch: {
    regionSelected(newVal) {
      this.districtSelected = null;
      this.deputies = [];
      this.getDistrictById(newVal);
      this.fetchData();
    },
    districtSelected() {
      this.deputies = [];
      this.fetchData();
      console.log(this.deputies);
    },
  },
};
</script>

<style>
.deputies-header {
  margin-bottom: 40px;
}
.deputies-alphabet {
  display: flex;
}
.deputies-alphabet a {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #0a4aa8;
  opacity: 0.2;
}
.deputies-alphabet a.active {
  opacity: 1;
}
.deputies-alphabet__item {
  margin-right: 20px;
}
@media (max-width: 1480px) {
  .deputies-alphabet__item {
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .deputies-alphabet__item {
    margin-right: 7.5px;
  }
  .deputies-alphabet a {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 575px) {
  .deputies-alphabet {
    flex-wrap: wrap;
  }
}
</style>