<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main commission_view">
      <div class="container">
        <div class="pages-main-wrapper">
          <div class="row">
            <div class="col-lg-3">
              <div class="sidebar">
                <div class="row">
                  <div class="col-12">
                    <div class="sidebar-left">
                      <ul>
                        <li v-for="item in commissions" :key="item.id">
                          <nuxt-link
                            :to="
                              localePath({
                                path: `/commissions/${item.id}`,
                              })
                            "
                          >
                            {{ item.title }}
                          </nuxt-link>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="pages-content">
                <div class="content-dynamic deputies-group">
                  <h2>{{ commissionsDetail.title || "" }}</h2>
                  <div class="deputies-group-row">
                    <div class="deputies-group-row-col">
                      <nuxt-link
                        :to="
                          localePath({
                            path: `/deputies/${commissionsDetail.chairman.slug}`,
                          })
                        "
                        class="deputies-group-item"
                      >
                        <div class="deputies-group-item-image">
                          <img
                            :src="
                              commissionsDetail.chairman.image ||
                              require('~/assets/images/avatar.svg')
                            "
                            alt="not found"
                          />
                        </div>
                        <div class="deputies-group-item-info">
                          <h3>
                            {{
                              commissionsDetail.chairman.last_name +
                                " " +
                                commissionsDetail.chairman.first_name +
                                " " +
                                commissionsDetail.chairman.middle_name || ""
                            }}
                          </h3>
                          <h5>{{ $t("chairmanCommission") }}</h5>
                          <p>
                            {{ commissionsDetail.chairman.work_place || "" }}
                          </p>
                        </div>
                      </nuxt-link>
                    </div>
                    <div
                      class="deputies-group-row-col"
                      v-for="item in commissionsDetail.deputies"
                      :key="item.id"
                    >
                      <nuxt-link
                        :to="
                          localePath({
                            path: `/deputies/${item.slug}`,
                          })
                        "
                        class="deputies-group-item"
                      >
                        <div class="deputies-group-item-image">
                          <img
                            :src="
                              item.image ||
                              require('~/assets/images/avatar.svg')
                            "
                            alt="not found"
                          />
                        </div>
                        <div class="deputies-group-item-info">
                          <h3>
                            {{
                              item.last_name +
                                " " +
                                item.first_name +
                                " " +
                                item.middle_name || ""
                            }}
                          </h3>
                          <h5>{{ $t("chemberCommission") }}</h5>
                          <p>
                            {{ item.work_place || "" }}
                          </p>
                        </div>
                      </nuxt-link>
                    </div>
                  </div>
                  <div
                    class="deputies-group-content"
                    v-html="commissionsDetail.content || ''"
                  ></div>
                </div>

                <!-- 
                   <div class="deputies-row">
                    <div
                      class="deputies-col"
                      v-for="item in commissionsDetail.deputies"
                      :key="item.id"
                    >
                      <CardsLeadership
                        :image="
                          item.image || require('~/assets/images/avatar.svg')
                        "
                        :title="
                          item.last_name +
                          ' ' +
                          item.first_name +
                          ' ' +
                          item.middle_name
                        "
                        :text="item.work_place"
                        :slug="item.slug"
                      />
                    </div>
                  </div> -->
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      commission: null,
      sideMenu: null,
      deputies: null,
    };
  },

  async created() {
    this.loader = false;
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "commissions"
    );
    this.commissionsDetail = await this.$store.dispatch(
      "commissions/fetchCommissionDetail",
      this.$route.params.id
    );
    this.commissions = await this.$store.dispatch("posts/getCommissions");
    this.loader = true;
  },
};
</script>

<style scoped>
</style>