<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ (sideMenu && sideMenu.title) || "" }}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{
                (sideMenu &&
                  sideMenu.active_child &&
                  sideMenu.active_child.title) ||
                ""
              }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="pages-main-wrapper">
          <div class="row">
            <div class="col-lg-3">
              <div class="sidebar">
                <div class="row">
                  <div class="col-12">
                    <div class="sidebar-left">
                      <ul>
                        <li v-for="item in commissions" :key="item.id">
                          <nuxt-link
                            :to="
                              localePath({
                                path: `/commissions/${item.id}`,
                              })
                            "
                          >
                            {{ item.title }}
                          </nuxt-link>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="pages-content">
                <div class="content-static commissions">
                  <div class="title">
                    <h2>{{ (posts && posts.title) || "" }}</h2>
                  </div>
                  <div
                    class="content-static-text"
                    v-html="(posts && posts.content) || ''"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <AppSidebar :sideMenu="sideMenu" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      sideMenu: {},
      commissions: null,
      posts: null,
    };
  },
  async mounted() {
    this.loader = false;
    this.fetchData();
    this.sideMenu = await this.$store.dispatch(
      "posts/getMenuParentsInGroup",
      "commissions"
    );

    this.loader = true;
  },
  async created() {
    this.commissions = await this.$store.dispatch("posts/getCommissions");
    const posts = await this.$store.dispatch("posts/getPostsListInSlug", {
      slug: "komissiyalar",
    });
    this.posts = posts[0];
  },

  methods: {
    async fetchData() {},
  },
};
</script>

<style>
</style>