<template>
  <div class="pages" v-if="loader">
    <div class="breadcrumbs">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link
                :to="
                  localePath({
                    path: '/',
                  })
                "
                >{{ $t("Home") }}</nuxt-link
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ $t("Contacts") }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <main class="pages-main">
      <div class="container">
        <div class="contacts">
          <div class="contacts-main">
            <div class="row">
              <div class="col-md-9">
                <div class="contacts-item">
                  <h3>{{ $t("Adress") }}</h3>
                  <span>{{ (info && info.address) || "" }}</span>
                </div>
                <div class="contacts-item">
                  <h3>{{ $t("Chancery") }}</h3>
                  <span>{{ (info && info.office) || "" }}</span>
                </div>
                <div class="contacts-item">
                  <h3>{{ $t("Telephone") }}</h3>
                  <span>{{ (info && info.phone) || "" }}</span>
                </div>
                <div class="contacts-item">
                  <h3>{{ $t("Faks") }}</h3>
                  <span>{{ (info && info.fax) || "" }}</span>
                </div>
                <div class="contacts-item">
                  <h3>{{ $t("Email") }}</h3>
                  <span>{{ (info && info.email) || "" }}</span>
                </div>
                <div class="contacts-item">
                  <h3>{{ $t("Socials") }}</h3>
                  <div class="socials">
                    <a :href="info && info.facebook_link"
                      ><i class="icon-facebook"></i
                    ></a>
                    <a :href="info && info.instagram_link"
                      ><i class="icon-instagram"></i
                    ></a>
                    <a :href="info && info.telegram_link"
                      ><i class="icon-telegram"></i
                    ></a>
                    <a :href="info && info.youtube_link"
                      ><i class="icon-youtube"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="weekend">
                  <h3>{{ $t("WorkingHours") }}</h3>
                  <p v-if="info && info.monday">
                    {{ $t("Monday") }}
                    <span>{{ (info && info.monday) || "" }}</span>
                  </p>
                  <p v-if="info && info.tuesday">
                    {{ $t("Tuesday") }}
                    <span>{{ (info && info.tuesday) || "" }}</span>
                  </p>
                  <p v-if="info && info.wednesday">
                    {{ $t("Wednesday") }}
                    <span>{{ (info && info.wednesday) || "" }}</span>
                  </p>
                  <p v-if="info && info.thursday">
                    {{ $t("Thursday") }}
                    <span>{{ (info && info.thursday) || "" }}</span>
                  </p>
                  <p v-if="info && info.friday">
                    {{ $t("Friday") }}
                    <span>{{ (info && info.friday) || "" }}</span>
                  </p>
                  <p v-if="info && info.saturday">
                    {{ $t("Saturday") }}
                    <span>{{ (info && info.saturday) || "" }}</span>
                  </p>
                  <!-- <p>Воскресенье <span>{{ info && info.sunday || "" }}</span></p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="contacts-map">
            <!-- <img :src="(info && info.photo) || ''" alt="" />
            <br /> -->
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.1540462990506!2d69.23643691566869!3d41.305512309029204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8ba9c72f88f1%3A0xdfd639e1274720ba!2z0JfQsNC60L7QvdC-0LTQsNGC0LXQu9GM0L3QsNGPINC_0LDQu9Cw0YLQsCDQntC70LjQuSDQnNCw0LbQu9C40YHQsA!5e0!3m2!1sru!2s!4v1637822728504!5m2!1sru!2s"
              width="100%"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <div class="contacts-footer">
            <div class="row">
              <div class="col-md-6">
                <h3>{{ $t("Transport") }}</h3>
                <p>
                  {{ $t("Buses") }} <span>{{ (info && info.bus) || "" }}</span>
                </p>
                <p>
                  {{ $t("Minibuses") }}
                  <span>{{ (info && info.mini_bus) || "" }}</span>
                </p>
                <p>
                  {{ $t("Metro") }}
                  <span>{{ (info && info.subway) || "" }}</span>
                </p>
              </div>
              <div class="col-md-6">
                <h3>{{ $t("ReferencePoint") }}</h3>
                <p>{{ (info && info.reference_point) || "" }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      info: null,
    };
  },
  async mounted() {
    this.loader = false;
    this.info = await this.$store.dispatch("contacts/getContactsInfo", 1);
    this.loader = true;
  },
};
</script>

<style scoped>
.contacts {
  padding: 32px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgb(10 74 168 / 8%);
  border-radius: 4px;
}
.contacts-main {
  margin-bottom: 12px;
}
.contacts-item {
  margin-bottom: 16px;
}
.contacts-item h3 {
  font-weight: 500;
  font-size: 21px;
  line-height: 23px;
  color: #0b4aa8;
}
.contacts-item a,
.contacts-item span {
  font-size: 18px;
  color: #2c2d32;
}
.socials {
  display: flex;
  align-items: center;
  padding-top: 12px;
}
.socials a {
  display: flex;
  color: #0b4aa8;
  margin-right: 12px;
}
.weekend {
}
.weekend h3 {
  font-weight: 500;
  font-size: 21px;
  line-height: 23px;
  color: #0b4aa8;
  margin-bottom: 16px;
}
.weekend p {
  font-size: 18px;
  color: #2c2d32;
  margin-bottom: 12px;
}
.weekend p span {
  color: #0b4aa8;
}
.contacts-map {
  margin-bottom: 24px;
}
.contacts-map img {
  width: 100%;
}
.contacts-footer {
}
.contacts-footer h3 {
  font-weight: 500;
  font-size: 21px;
  line-height: 23px;
  color: #0b4aa8;
  margin-bottom: 8px;
}
.contacts-footer p {
  font-size: 18px;
  color: #2c2d32;
  margin-bottom: 8px;
}
.contacts-footer p span {
  color: #0b4aa8;
}
@media (max-width: 1199px) {
  .weekend {
    margin-top: 16px;
  }
  .weekend h3,
  .contacts-footer h3,
  .contacts-item h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .contacts-footer p,
  .weekend p,
  .contacts-item a,
  .contacts-item span {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 991px) {
  .contacts {
    padding: 15px;
  }
}
@media (max-width: 575px) {
  .weekend h3,
  .contacts-footer h3,
  .contacts-item h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .contacts-footer p,
  .weekend p,
  .contacts-item a,
  .contacts-item span {
    font-size: 14px;
    line-height: 18px;
  }
  .contacts-map iframe {
    height: 250px;
  }
}
</style>
